.is-header{background:#fbf8f1}
.m-bannerbg{background:#fff}
.m-banner{padding:48px 0;background:url(../image/bg-banner.png) center bottom no-repeat}
.u-logo img{max-width:100%}
.m-search{width:385px;height:48px}
.u-deep{right:0;top:0;padding:2px 0;width:40px;line-height:22px;color:#c90e24}
.g-search{margin-right:48px}
.g-search .u-searchtext{height:48px;font-size:16px}
.u-searchtit{left:0;top:0;bottom:0;background:url(../image/bg-searchline.png) right center no-repeat}
.u-searchtit input{display:block;padding:0 15px;width:85px;height:48px;line-height:48px;background:none;border:none;outline:none;color:#8b91a0}
.u-searchtit span{position:absolute;right:15px;top:0;bottom:0;display:block;width:8px;background:url(../image/icon-search.png) center no-repeat;cursor:pointer}
.u-searchbtn{right:10px;top:0;width:34px;height:48px;line-height:48px;border:none;cursor:pointer;color:#c90e24;background:none;font-size:22px}
.m-nav{background:#c90e24;z-index:2}
.m-nav .u-webhome{padding:0 15px;line-height:50px;font-size:18px;font-weight:bold;color:#fff}
.m-nav .navbar-collapse{padding:0}
.m-nav button{background:#fff}
.g-nav li.u-yjnav{float:left;width:12.5%;line-height:56px;text-align:center}
.g-nav li.u-yjnav a.u-yja{position:relative;display:block;font-size:20px;font-weight:bold;color:#fff}
.g-nav li.u-yjnav a.u-yja br{display:none}
.g-nav li.u-yjnav a.u-yja:hover,.g-nav li.u-active a.u-yja{background:#b1091d;color:#f7d389}
.g-nav li.u-yjnav a.u-yja i{position:absolute;left:50%;margin-left:-8px;bottom:-8px;display:none;width:16px;height:8px;background:url(../image/bg-yjnav.png) no-repeat;z-index:1}
.g-nav li.u-active a.u-yja i{display:block}
.m-navmenu ul{padding:10px 15px}
.m-navmenu li{float:left;margin:0 10px;line-height:32px}
.m-navmenu li a{font-size:16px}
.u-navul4 ul{padding-left:348px}
.u-navul5 ul{padding-left:560px}
.u-navul6 ul{padding-left:748px}
.u-navul7 ul{padding-left:798px}
.is-main{background:url(../image/bg-main.png) #fbf8f1 center bottom no-repeat}
.m-hmtpbox{padding:15px;background:#fff}
.m-hot h1{padding:4px 0 14px;font-size:32px;font-weight:bold;color:#c90e24}
.m-hot p{text-indent:2em;font-size:14px}
.m-hot p a{margin-left:16px;color:#f00}
.g-flash,.g-flash img{height:415px}
.g-flash img{display:block;width:100%}
.g-flash .owl-item,.g-flash .owl-item a{position:relative}
.g-flash .owl-item a{display:block}
.g-flash .owl-item p{position:absolute;left:0;right:0;bottom:0;padding:0 120px 0 15px;height:46px;line-height:46px;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;background:rgba(0,0,0,.5);color:#fff}
.g-flash .owl-pagination{position:absolute;right:13px;bottom:18px}
.g-flash .owl-pagination .owl-page{float:left;margin-left:9px}
.g-flash .owl-pagination .owl-page span{display:block;width:10px;height:10px;background:#fff;-moz-border-radius:10px;border-radius:10px}
.g-flash .owl-pagination .active span{background:#e15d5b}
.m-news{height:415px}
.m-reprinttit{height:38px;line-height:38px}
.m-reprinttit a{color:#f00;margin-right:10px}
.g-notice{padding:7px 15px 7px 114px;height:90px;background:#f5f5f5}
.g-notice .u-tit{left:0;top:0;padding:13px 26px 13px 16px;width:96px;line-height:32px;font-size:18px;font-weight:bold;color:#fff;background:url(../image/bg-noticetit.png) #c90e24 right center no-repeat}
.g-notice .bd{height:76px}
.g-notice .bd li{height:38px;line-height:38px}
.m-hmbtns{height:90px}
.m-hmbtns ul{margin:-2px}
.m-hmbtns li{padding:2px;line-height:43px;text-align:center}
.m-hmbtns li a{display:block;background:#f5f5f5;font-weight:bold;transition:.3s}
.m-hmbtns li span{margin:-3px 16px 0 0;display:inline-block;width:26px;height:26px;line-height:26px;font-size:24px;color:#c90e24;font-weight:normal;vertical-align:middle;transition:.3s}
.m-hmbtns li a:hover{background:#c90e24;color:#fff}
.m-hmbtns li a:hover span{color:#fff}
.m-ctadv,.m-ctadv img{height:108px}
.m-ctadv img{display:block;width:100%}
.m-ctadv .owl-item{position:relative}
.m-ctadv .owl-pagination{position:absolute;left:50%;bottom:12px;margin-left:-45px}
.m-ctadv .owl-pagination .owl-page{float:left;margin:0 3px}
.m-ctadv .owl-pagination .owl-page span{display:block;width:12px;height:12px;background:#fff;-moz-border-radius:12px;border-radius:12px}
.m-ctadv .owl-pagination .active span{background:#e15d5b}
.g-special{height:108px}
.g-special li{margin-bottom:12px;height:48px;line-height:48px}
.g-special li a{display:block;padding:0 8px;text-align:center;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis}
.g-special li.u-cl1 a{background:#f1dcad}
.g-special li.u-cl2 a{background:#ccc;color:#fff}
.g-special li.u-cl3 a{background:#ff9900;color:#fff}
.m-hmqs{padding:30px 0;background:#f5f5f5}
.m-hmbox{padding:15px;background:#fff}
.m-openlists{height:242px}
.m-openform{margin-bottom:4px}
.u-opshtx{-moz-border-radius:0;border-radius:0}
.u-opshbtn{right:1px;top:1px;width:46px;height:34px;line-height:34px;background:none;font-size:20px;color:#c90e24;border:none;font-weight:bold}
.m-openbtns1 ul{margin:-1px}
.m-openbtns1 li{padding:1px;text-align:center}
.m-openbtns1 li a{display:block;padding:0 6px;height:45px;line-height:45px;background:#f5f5f5;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;-webkit-transition:.3s;-moz-transition:.3s;transition:.3s}
.m-openbtns1 li span{margin-right:14px;font-size:20px;vertical-align:middle;color:#c90e24;-webkit-transition:.3s;-moz-transition:.3s;transition:.3s}
.m-openbtns1 li a:hover{background:#c90e24;color:#fff}
.m-openbtns1 li a:hover span{color:#fff}
.m-openbtns2 ul{margin:-3px -5px}
.m-openbtns2 li{padding:3px 5px;text-align:center}
.m-openbtns2 li a{display:block;padding:0 6px;height:66px;line-height:64px;border:1px solid #f4cacf;background:#fffbf5;color:#c90e24;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;-webkit-transition:.3s;-moz-transition:.3s;transition:.3s}
.m-openbtns2 li span{margin-right:14px;font-size:24px;vertical-align:middle;color:#c90e24;-webkit-transition:.3s;-moz-transition:.3s;transition:.3s}
.m-openbtns2 li a:hover{background:#c90e24;color:#fff;border-color:#c90e24}
.m-openbtns2 li a:hover span{color:#fff}
.m-servicebox{height:230px}
.m-sertype{height:88px}
.m-sertype .bd{left:15px;right:15px}
.m-sertype .bd li{float:left;padding:12px 0 14px;width:110px;height:88px;text-align:center;cursor:pointer}
.m-sertype .bd li span{display:block;margin:0 auto;width:28px;height:28px;line-height:28px;font-size:28px;color:#f28491}
.m-sertype .bd li p{padding:6px 0}
.m-sertype .bd li.u-active,.m-sertype .bd li.u-active span{color:#c90e24}
.m-sertype .bd li.u-active{background:url(../image/bg-serjt.png) center bottom no-repeat}
.m-sertype .hd .prev,.m-sertype .hd .next{position:absolute;top:22px;display:block;width:15px;height:36px;background-color:#e5e5e5;background-image:url(../image/icon-servicebtns.png);background-repeat:no-repeat;-moz-border-radius:2px;border-radius:2px}
.m-sertype .hd .prev{left:0}
.m-sertype .hd .next{right:0;background-position:-15px 0}
.m-serhots{padding:12px;background:#f5f5f5}
.g-serhots{width:100%!important;height:64px}
.m-serhots li{float:left;width:33.33%;line-height:32px;padding-left:12px;background:url(../image/icon-li2.png) left center no-repeat;font-size:14px;color:#808080;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;cursor:pointer}
.m-sertheme li,.m-serdeptment li{padding:14px 5px 0;text-align:center}
.m-sertheme li span,.m-sertheme li a,.m-serdeptment li span,.m-serdeptment li a{display:block;padding:0 5px;line-height:42px;background:#f5f5f5;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;cursor:pointer;-webkit-transition:.3s;-moz-transition:.3s;transition:.3s}
.m-sertheme li span:hover,.m-sertheme li a:hover,.m-serdeptment li span:hover,.m-serdeptment li a:hover{background:#f28491;color:#fff}
.m-msly{height:169px}
.m-msly li{padding:18px 5px 0;text-align:center}
.m-msly li a{display:block;padding:0 8px;height:42px;line-height:42px;background:#f5f5f5;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;-webkit-transition:.3s;-moz-transition:.3s;transition:.3s}
.m-msly li a:hover{background:#f28491;color:#fff}
.m-interlists{height:367px}
.m-interlists .m-titstyle2 li{float:left;margin-left:20px;line-height:48px}
.m-interlists .m-titstyle2 li a{display:block;color:#ff5a00;font-size:14px}
.m-intlive{height:168px}
.g-intlive figure{margin-top:6px;width:145px}
.g-intlive figure img{display:block;width:100%;height:103px}
.g-intlive div{margin:5px 0 0 155px}
.g-intlive div p{line-height:26px;font-size:14px;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis}
.m-intmail{height:85px;background:#efefef}
.m-intmail a{display:block;padding:7px 0}
.m-intmail img{display:block;width:100%}
.m-intbtns{height:104px}
.m-intbtns li{margin-top:10px;height:42px;line-height:42px;text-align:center}
.m-intbtns li a{display:block;background:#eb7180;color:#fff;-moz-border-radius:5px;border-radius:5px;-webkit-transition:.3s;-moz-transition:.3s;transition:.3s}
.m-intbtns li a:hover{background:#c90e24}
.m-btadv img{display:block;width:100%}
.is-btgg{position:fixed;right:1%;bottom:5px;z-index:9999}
.m-btgg{position:relative}
.m-btgg span{display:block;width:26px;height:26px;position:absolute;right:10px;top:10px;background:url(../image/pic-colse.png) no-repeat;cursor:pointer}
.u-jqleft,.u-jqright{top:0;z-index:2}
.u-jqleft{left:50%;margin-left:-960px}
.u-jqright{right:50%;margin-right:-960px}
@media screen and (max-width:1199px){.g-nav li.u-yjnav a.u-yja{font-size:18px}
.u-navul4 ul{padding-left:216px}
.u-navul5 ul{padding-left:393px}
.u-navul6 ul{padding-left:532px}
.u-navul7 ul{padding-left:673px}
.m-hot h1{padding:0 0 10px;font-size:24px}
.m-news .m-tabstyle1 li{width:25%;margin:0;text-align:center}
.m-news .m-tabstyle1 li a{padding:8px 0}
.g-notice{padding:4px 10px 4px 92px;height:84px}
.g-notice .u-tit{padding:10px 20px 10px 10px;width:84px}
.m-hmbtns{height:84px}
.m-hmbtns li{line-height:40px}
.m-openbtns1 li span,.m-openbtns2 li span{margin-right:8px}
.m-tabstyle3 li{margin-left:2px}
}@media screen and (max-width:991px ){.m-banner{background:none}
.m-search{margin-top:25px;width:100%}
.m-nav{height:50px}
.g-nav li.u-yjnav{line-height:50px}
.g-nav li.u-yjnav a.u-yja i{display:none!important}
.m-navmenu{top:50px}
.m-navmenu ul{padding:10px}
.m-navmenu li a{font-size:16px}
.u-navul3 ul{padding-left:102px}
.u-navul4 ul{padding-left:254px}
.u-navul5 ul{padding-left:355px}
.u-navul5 ul{padding-left:456px}
.m-hmtpbox{padding:10px}
.m-hot{padding-top:0}
.m-hot h1{font-size:20px}
.g-flash,.g-flash .owl-item,.g-flash img{height:340px}
.g-flash .owl-item p{padding-left:10px;height:40px;line-height:40px;font-size:14px}
.g-flash .owl-pagination{bottom:15px}
.m-news .m-liststyle1 li{height:30px;line-height:30px}
.g-notice{padding:0 10px 0 90px;height:76px}
.g-notice .u-tit{line-height:28px;font-size:16px}
.m-hmbtns{margin-bottom:5px}
.m-hmbtns ul{margin:-5px}
.m-hmbtns li{padding:5px;line-height:45px}
.m-hmbtns li span{margin-right:8px;font-size:20px}
.g-special li{margin-bottom:0;margin-top:10px}
.g-special li a{background:#f1dcad!important;color:#3d3d3d!important}
.m-hmbox{padding:10px}
.m-hmqs{padding:15px 0}
.m-openbtns2 li a{height:50px;line-height:48px}
.m-openbtns2 li span{font-size:22px;margin-right:8px}
.m-tabstyle3 li{margin-left:8px}
.m-msly .m-titstyle2{margin-bottom:5px}
.m-msly li{padding:5px}
.m-interlists .m-titstyle2 li{line-height:38px}
.m-intmail a{padding:0}
.m-sertheme li,.m-serdeptment li{padding:5px}
#leftad,#rightad,.is-btgg{display:none}
}@media screen and (max-width:767px){.m-banner{padding:35px 0}
.m-search{height:42px}
.g-search{margin:0;height:42px}
.g-search .u-searchtext{height:42px;font-size:14px}
.u-searchbtn{right:8px;height:42px;line-height:42px}
.u-searchtit input{padding:0 10px;width:80px;height:42px;line-height:42px}
.u-searchtit{background:none}
span.setfont.ariafontcontent{top:0;right:15px}
.g-nav li.u-yjnav{float:none;width:100%;line-height:40px}
.g-nav li.u-yjnav a.u-yja{padding:0 15px;font-size:16px;background:#c90e24}
.m-openbtns1 li i{display:none}
}@media screen and (max-width:638px){.g-flash,.g-flash .owl-item,.g-flash img{height:220px}
}