html{webkit-text-size-adjust:none;-webkit-text-size-adjust:none;text-justify:inter-ideograph}
a{text-decoration:none;outline:0;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
*{-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-touch-callout:none;margin:0}
::-webkit-scrollbar{width:8px;height:8px;background-color:#F5F5F5}
::-webkit-scrollbar-track{border-radius:10px;background-color:#E2E2E2}
::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#555}
input,textarea{-webkit-user-select:text}
.pglist{padding:30px 0;width:100%;text-align:center;clear:both}
.pglist a{color:#999;padding:0 15px;margin:0 3px;display:inline-block;vertical-align:middle;line-height:30px;background:#f9f9f9;border:1px solid #f2f2f2}
.pglist a:hover,.pglist .hover{display:inline-block;color:#fff;background:#798088;border-color:#798088;box-shadow:0 0 14px rgba(0,0,0,.2)}
#tip{padding-top:30px;min-height:640px}
#tip b{color:#798088}
.sitemap{overflow:hidden;line-height:30px;padding:10px;border-bottom:1px solid #ddd}
.sitemap dt{float:left;margin-right:2%;width:14.66666667%}
.sitemap dt a{display:block;text-align:center;background:#ececec;font-size:14px;padding:8px 0;font-weight:normal}
.sitemap dt a:hover{color:#fff;background:#798088}
.sitemap dd{float:left;width:83.333333%}
.sitemap dd a{float:left;color:#666;padding-right:35px;line-height:39px;transition:none}
.sitemap dd a:hover{color:#333}
.tags_list{overflow:hidden;line-height:30px;padding:10px;border-bottom:1px solid #ddd}
.tags_list dt{float:left;margin-right:2%;margin-bottom:2%;width:14.66666667%}
.tags_list dt a{display:block;text-align:center;background:#ececec;font-size:14px;padding:8px 0;font-weight:normal}
.tags_list dt a:hover{color:#fff;background:#798088}
.tags{overflow:hidden;margin-bottom:20px}
.tags span{float:left;display:block;line-height:40px}
.tags a{border-radius:4px;-webkit-border-radius:4px;display:inline-block;line-height:28px;padding:0 6px;margin:5px;background:#fff;border:1px solid #dadada}
.tags a:hover{background:#798088;border-color:#798088;color:#fff}
.website a{color:#798088;text-decoration:underline}
.comment-main{width:100%;background:#FFF;border-bottom:3px solid #eee;margin-top:30px;font-size:12px;color:#666;line-height:14px;transition:all .5s}
.comment-main:hover{border-bottom:3px solid #798088;-webkit-box-shadow:0 10px 20px 0 #CCC;-moz-box-shadow:0 10px 20px 0 #CCC;-ms-box-shadow:0 10px 20px 0 #CCC;-o-box-shadow:0 10px 20px 0 #CCC;box-shadow:0 10px 20px 0 #CCC}
.comment-title{width:100%;height:40px;line-height:40px;background:#fafafa;border-bottom:1px solid #CCC}
.comment-title span{float:left;font-size:14px;line-height:40px;display:block;padding:0 30px;background:#798088;color:#FFF}
.comment-show-box{margin:20px 12px}
.comment-show-box .pl-box2{width:100%}
.comment-show-box .pl-box2 dl{float:left;width:100%;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #EEE}
.comment-show-box .pl-box2 dl dt{float:left;width:50px;color:#dedfe0;font-size:50px;background:#f5f5f9;border-radius:50%;margin-right:15px}
.comment-show-box .pl-box2 dl dd{float:right;width:92%}
.comment-show-box .pl-box2 dl dd h1{font-weight:700;font-size:100%}
.comment-show-box .pl-box2 dl dd h1 span{color:#656565;font-weight:400;float:right}
.comment-show-box .pl-box2 dl dd p{margin-top:10px;line-height:20px}
.comment-show-box .pl-box2 dl dd p.xz-fc1{color:#798088}
.comment-show-box .xz-cb{zoom:1}
.comment-show-box .xz-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:"."}
.c-more{text-align:center;line-height:normal}
.c-more a{border-radius:2px;-webkit-border-radius:2px;display:block;background:#798088;color:#ffffff;padding:13px 0}
.c-more a:hover{background:#333}
.comment-show-box .fb-box{background:#FAFAFA;border:1px solid #EEE;margin-top:20px}
.comment-show-box .fb-box dl{float:left;width:100%;padding:12px}
.comment-show-box .fb-box dt{float:left;width:50px;color:#dedfe0;font-size:50px;background:#f5f5f9;border-radius:50%;margin-right:15px}
.comment-show-box .fb-box dd{float:right;width:92%}
.comment-show-box .fb-box dd p{color:#656565}
.comment-show-box .fb-box dd p textarea{width:100%;height:120px;line-height:20px;color:#6C6C6C;padding:12px;border:1px solid #EEE;outline:0;font-family:"microsoft yahei";transition:all .5s}
.comment-show-box .fb-box dd p textarea:focus{border:1px solid #798088;box-shadow:0 0 10px 0 #798088}
.comment-show-box .fb-box-div{margin-top:-1px;background:#FAFAFA;border-radius:0 0 5px 5px;border:1px solid #EEE}
.comment-show-box .fb-box-div dl{padding:12px;position:relative}
.comment-show-box .fb-box-div dd{font-size:12px;line-height:13px;color:#666}
.comment-show-box .fb-box-div input{-webkit-border-radius:0 0 5px 0;-moz-border-radius:0 0 5px 0;-ms-border-radius:0 0 5px 0;-o-border-radius:0 0 5px 0;border-radius:0 0 5px 0;position:absolute;top:-1px;right:-1px;width:80px;height:39px;font-size:12px;line-height:39px;background:#AAA;color:#FFF;border:0;cursor:pointer;transition:all .5s}
.comment-show-box .fb-box-div input:hover{background:#798088;color:#FFF}
#mood{margin-bottom:30px;text-align:center}
#mood p{font-size:16px;color:#555;font-weight:bold;margin-bottom:20px}
#mood a{display:inline-block;margin:0 10px;cursor:pointer;color:#555;background:#fff;border-radius:4px;border:1px solid #ddd;padding:6px 20px;min-width:100px;-webkit-box-sizing:border-box;box-sizing:border-box}
#mood a i{display:inline-block;font-size:18px;margin-right:10px}
#mood a em{font-style:normal;font-size:16px}
#mood a:hover{background:#798088;border-color:#798088;color:#fff}
video{background-color:#000}
.relate-tit{width:100%;height:40px;line-height:40px;background:#fafafa;border-bottom:1px solid #CCC}
.relate-tit h3{float:left;font-size:14px;line-height:40px;display:block;padding:0 30px;background:#798088;color:#FFF}
.relate-pro{margin:20px 0}
.relate-pro ul{margin-top:20px}
.relate-pro ul li{float:left;width:210px;margin-right:10px;transition:all .5s}
.relate-pro ul li:nth-child(4n){margin-right:0}
.relate-pro ul li a{display:block;border:1px solid #eaeaea}
.relate-pro ul li .img{width:100%;padding-top:100%;position:relative;overflow:hidden}
.relate-pro ul li .img img{width:100%;height:100%;position:absolute;left:0;top:0;display:block;transition:all .5s}
.relate-pro ul li h3{color:#555;font-size:14px;text-align:center;display:block;line-height:35px;background:#fff;padding:0 10px;border-top:1px solid #eaeaea;transition:all .5s;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.relate-pro ul li:hover .img img{transform:scale(1.1)}
.relate-pro ul li:hover h3{color:#fff;background:#798088}
.relate-pro .swiper-container-horizontal>.swiper-scrollbar{position:relative;left:0;bottom:0;width:100%;margin-top:15px}
.relate-pro .swiper-scrollbar-drag{background:#798088}
.relate-news ul{padding-top:10px}
.relate-news ul li{float:left;position:relative;width:48%;line-height:35px}
.relate-news ul li:nth-child(even){float:right}
.relate-news ul li a{display:block;color:#666;padding-right:100px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.relate-news ul li a:before{content:'+';font-weight:bold;font-size:16px;line-height:1;margin-right:5px}
.relate-news ul li span{position:absolute;top:0;right:0;color:#999;white-space:nowrap}
.relate-news ul li a:hover{color:#798088}