/*修改颜色*/
.aside li>p,.aside>li>div{background-color: #641B00;}  /*pc右边快速按钮底部颜色*/
.aside>li>div,.aside>li>div a{color: #fff;}  /*pc右边快速按钮字体颜色*/
.aside>li .qq_online .qq_online_title{color: #FBCA33;}/*pc右边快速按钮“在线客服”title字体颜色*/

/*.menu_box,.phone{background-color: #000;}*/

.wrap_menu{background-color: #892500;}/*wrap左边滑出导航*/
.wrap_footer,.wrap_search_input{background-color: #641B00;}/*wrap底部颜色*/


/**通用部分**/
.none{
	display: none;
}
html{font-size: 20px}
dt{
	text-align: center;
}
.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
}
body {
	font: 14px "microsoft yahei", Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
	position: relative;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
    margin:0px;
    padding:0px;
    border:none;
    list-style:none;
}
input {border:none;}
.left  {float:left;}
.right  {float:right;}
.clear  {clear:both;}
div:after,ul:after,li:after,p:after{
	content:"";
	display:block;
	clear:both;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
img{
	max-width: 100%;
}
#myCarousel .carousel-indicators,#myCarousela .carousel-indicators{
	bottom: -5px;
}
/*大图分页位置*/
.owl-theme .owl-controls{
	position: absolute;
    bottom: 4px;
    width: 100%
}
/*banner手机时大图裁剪*/
@media(max-width:640px){
	#banner{
		position: relative;
		height: 200px;
		overflow: hidden;
	}
	#banner img{
		height: 200px;
		position: absolute;
		left: 50%;
		max-width: none;
		transform: translateX(-50%);
		width: auto;
	}
	#owl-demo,.owl-wrapper-outer,.owl-wrapper,.owl-item{
		height: 200px;
		overflow: hidden;
	}
	#owl-demo .item{
		display: block;
		height: 100%;
		width: 100%;
		text-align: center;
		overflow: hidden;
	}
}

/*pc右边快速按钮样式*/
.aside{
	position: fixed;
	right: 0;
	top: 20%;
	z-index: 10000;
}
.aside>li{
	width: 60px;
	line-height: 60px;
	text-align: center;
	margin-bottom:2px; 
	cursor: pointer;
	position: relative;
}
.aside>li>p{
	position: relative;
	z-index: 1005;
	line-height: 60px;
}
.aside>li img{
	vertical-align: middle;
}
.aside>li .img2{
	display: none;
}
.aside>li>div{
	background-image: url(../image/white_bg.png);
	background-repeat:repeat;
	position: absolute;
	display: none;
}
 /*pc右边快捷按钮“电话”*/
.aside>li .phone_meassage{
	right: -240px;
	top: 0;
	width: 300px;
	text-align: center;
	font-size: 25px;
	line-height: 50px;
	padding:5px 0;
}
 /*pc右边快捷按钮“在线客服”*/
.aside>li .qq_online{
	top: 0;
	right: -127px;
	width: 187px;
	padding: 0 20px 0 15px;
}
.aside>li .qq_online .qq_online_title{
	text-align: left;
	font-size: 15px;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.aside>li .qq_online .qq_online_box{
	margin-top: 11px;
}
.aside>li .qq_online .qq_online_box ul li{
	line-height: 35px;
}
.aside>li .qq_online .qq_online_box ul li i{
	float: left;
	margin-top: -17px;
}
.aside>li .qq_online .qq_online_box ul li span{
	float: left;
	margin-top: -16px;
	margin-left: 10px;
}
.aside>li .qq_online .qq_online_box ul li span:hover{
	text-decoration: underline;
}
 /*pc右边快捷按钮“分享”*/
.aside>li .fx{
	position: absolute;
	top: 0;
	right: -127px;
	width: 187px;
}
.aside>li .fx>div{
	margin-left: 24px;
}
 /*pc右边快捷按钮“二维码”*/
.aside>li .ewm{
	top: -20px;
	right: 60px;
	width: 100px;
	height: 100px;
}
 /*pc右边快捷按钮“搜索”*/
.aside>li .search_box{
	position: absolute;
	top: 0;
	right: -205px;
	width: 265px;
	text-align: center;
	height: 100%;
}
.aside>li .search_box .search_input{
	width: 220px;
	height: 36px;
	position: relative;
	margin: 12px auto;
}
.aside>li .search_box .search_input span{
	position: absolute;
	line-height:34px;
	left: 10px;
	z-index:101
}
.aside>li .search_box .search_input input{
	width: 220px;
	border: none;
	background-color: transparent;
	height: 36px;
	padding-left: 10px;
	line-height: 34px;
	position: absolute; line-height:30px;
	z-index: 1;
	top: 0;
	left: 0;
	 background:url(../image/black_bg.png);
}
.aside>li .search_box ::-webkit-input-placeholder{
	color: #fff;
}

/*黑色遮罩*/
.black_cloth{
	position: fixed;
	z-index: 10000000;
	width: 100%;
	height: 100%;
	background: url(../image/black_cloth.png) repeat;
	display: none;
	top: 0;
	left: 0;
}
/*手机左边弹出导航*/
.menu_icon{
	margin: 12px 0 0 4%;
	cursor: pointer;
}
.wrap_menu{
	width: 250px;
    position: fixed;
    top: 0px;
    left: -250px;
	height: 100%;
	text-align: left;
	z-index: 10000001;
	overflow-y: scroll;
}
.wrap_menu li:nth-child(2) a {
    font-size: 18px;
    font-weight: bold;
    background: rgba(255,255,255,0.3);
}
.wrap_menu p {
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}
.wrap_menu li.menu_close {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    border-bottom: none;
    z-index: 1000;
}
.wrap_menu li{
	margin-bottom: 2px;
	font-size: 14px;
	position: relative;
}
.wrap_menu li a {
    display: block;
    line-height: 30px;
    font-size: 16px;
    text-transform: Uppercase;
	color: #fff;
    background: rgba(255,255,255,0.1);
    padding: 10px 15px;
}
.wrap_menu li .wrap_menu_2 a {
    display: block;
    background: none;
    color: rgba(255,255,255,0.8);
    overflow: hidden;
    line-height: 30px;
    font-size: 14px;
    border-bottom: rgba(255,255,255,0.1) solid 1px;
}
.wrap_menu_2{
	display: none;
}
.wrap_menu_2 a{
	display: block;
	color: #fff;
	overflow: hidden;
	line-height: 24px;
	font-size: 12px;
}
.wrap_menu_2 a i{
	float: left;
	width: 4px;
    height: 4px;
    background-color: #fff;
    margin: 13px 10px 0 5px;
}
.wrap_menu_2 a span{
	float: left;
	width: 175px;
}

/*手机底部*/
.wrap_footer{
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px 0;
	z-index: 1000;
}
.wrap_footer dl{
	width: 20%;
	float: left;
	text-align: center;
}
.wrap_footer dt{
	height: 33px;
}
.wrap_footer dd{
	color: #fff;
}
/*手机底部搜索*/
.wrap_search_input{
	position: fixed;
	bottom: 70px;
	left: 100%;
	width: 100%;
	z-index: 1000;
	padding: 8px 2%;
}
.wrap_search_input p{
	float: left;
	height:30px; line-height:30px;
	color: #fff; position:relative; z-index:100;
	margin-left: 2%; width:18%; text-align:center;
	border-radius:5px; 
	background-color: #641B00;
}
.wrap_search_input ::-webkit-input-placeholder{
	color: #fff;
}
/*手机分享弹出*/
.wrap_share{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    display: none;
}
.wrap_share .wrap_share_box{
    overflow-y: auto;
}
.wrap_share .wrap_share_box>div{
    background-color: #F5F5F5;
    padding: 15px 0;
}
.wrap_share .wrap_share_box>div>a{
    float: left;
    text-align: center;
    color: #ADADAD;
	font-size: 0.9rem;
}
.wrap_share .cancel{
    text-align: center;
    background-color: #E9E9E9;
    font-size: 0.8rem;
    line-height: 2rem;
}

/*pc内页左边菜单*/
.inside{
	margin-top: 20px;
}
ul.sidemenu{
	text-align: left;
	padding-top: 20px;
	min-height: 450px;
	border: 1px solid #EFEFEF;
}
/*一级的样式*/
ul.sidemenu>li{
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid #DADADA;
}
ul.sidemenu>li>a{ display:block;
color: #2C2C2C;
padding: 10px;
 }
 ul.sidemenu>li a{
	 display: block;
	 color: #2C2C2C;
 }
 ul.sidemenu>li a:hover{
	 text-decoration: underline;
 }
ul.sidemenu>li.current>a{ color:#f00}

/*二级的样式*/
ul.sidemenu>li>ul{ display:none}

ul.sidemenu>li>ul>li>a{
	padding: 6px 0;
}
ul.sidemenu>li>ul>li i{
	float: left;
	margin: -1px 5px 0 15px;
}
/*三级的样式*/
/*ul.sidemenu>li>ul>li>ul{ display:none}*/
ul.sidemenu>li>ul>li>ul>li>a{
	padding: 5px 0;
}
ul.sidemenu>li>ul>li>ul>li>a span{
	margin: 0 5px 0 25px;
}
/*手机内页分类下拉列表*/

.phone .phone-menuicon{
	float: right;
}
.phone .phone-menuicon span{
	padding: 5px 15px;
	background-color: #641B00;
	color: #fff;
	font-size: 12px;
}
.phone-menulist{
	width: 100%;
	display: none;
}
.phone-menulist li.sub1{
	 width:100%; 
	 margin-top:-2px; 
	 margin-bottom:2px;
}
.phone-menulist li.sub1:first-child{
	margin-top: 1px;
}
.phone-menulist ul.sub2 li{
	
}
.phone-menulist li.sub1 a.sub1_a{
    display:block; 
	line-height:22px;
	padding:5px 0 5px 20px;
	position:relative;  
	font-size:14px;  
	position:relative;
	color: #343434;
}
.phone-menulist li.sub1 a.sub1_a em{ 
	position:absolute; 
	left:9px; top:14px;
	background:rgba(0,0,0,0.5); 
	display:block; 
	width:5px; 
	height:5px;
}
.phone-menulist li.sub1 a.sub1_a i{ 
	float:right; 
	font-style:normal;
	margin-right:8px; 
	font-size:18px;
}
.phone-menulist li.sub1 a.sub1_a i.jian{ 
	display:none;
	margin-right:10px; 
	font-size:20px;
}
.menu_list_body li.sub1 a.sub1_a.cur{  
	background:url(https://demoall.kuaituiyun.cn/7212/template/pc/skin/img/sub1_hover.png) no-repeat right bottom;
}
.phone-menulist li.sub1 ul.sub2{ 
	display:none
}
.phone-menulist li.sub1 ul.sub2 li a.sub2_a{ 
	position:relative;  
	color:#343434; 
	line-height:20px; 
	padding:5px 0 5px 30px; 
	display:block; 
	font-size:14px;
}
.phone-menulist li.sub1 ul.sub2 li a.sub2_a em{
	background:rgba(0,0,0,0.4);
	position:absolute;
	 left:20px; 
	 top:12px;
	 display:block;
	 width:5px;
	 height:5px; 
	 border-radius:50% 
}
.phone-menulist li.sub1 ul.sub3 li a.sub3_a{ 
	background:none; 
	line-height:20px; 
	padding:3px 0 3px 35px;  
	color:#343434; 
	display:block; 
	font-size:12px;
}
.phone-menulist li.sub1 ul.sub3 li:last-child{ 
	margin-bottom:5px;
}
.phone-menulist li a{
	display: block;
	padding-left: 10px;
	line-height: 30px;
	font-size: 14px;
	border-bottom: 1px dashed #ddd;
}
.phone-menulist li.sub1>a{
	border-bottom: 1px solid #ddd;
}
.phone_location{
	font-size: 14px;
	line-height: 30px;
	border-bottom:1px dashed #C1C1C1;
	padding-left: 2%; 
	margin-top: 10px;
}

/*新闻详情页样式*/
.news_detail{
	margin-top:20px; 
}
.news_detail_title>div{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
}
.news_detail_title>p{
	font-size: 14px;
	text-align: center;
	line-height: 24px;
}
.news_detail_title, .product_detail_title {
    padding-bottom: 10px;
    border-bottom: 1px dashed #CACACA;
}
.news_detail_images {
    text-align: center;
    margin-top: 20px;
}
.news_detail_content{
	padding: 0 10px;
	margin-top: 20px;
}
.news_detail_content1,.product_detail_content1{height: 34px;position: relative;margin-bottom: 10px; border-bottom:solid 1px #ddd}
.news_detail_content1 p,.product_detail_content1 p{padding: 4px 6px;font-size: 16px;}
.news_detail_title,.product_detail_title{
	padding-bottom: 10px;
	border-bottom: 1px dashed #CACACA;
}
.pageTurning{
	margin-top: 20px;
}
.prevs{
	font-size: 14px;
}
.nexts{
	margin-top: 5px;
	font-size: 14px;
}
/*产品详情页样式*/
.product_detail{
	margin-top: 20px;
}
.product_detail_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
	line-height: 30px;
}
.product_detail_title {
    padding-bottom: 10px;
    border-bottom: 1px dashed #CACACA;
}
.product_detail_images{
	padding: 15px 0;
	text-align: center;
}
/*留言反馈样式*/
div.feedback,.product_meassage>div.feedback {
    margin-top: 10px;
}
.feedback_list_box {
    padding: 0 10px;
}
.feedback_list_box div {
    padding: 0;
    margin-top: 10px;
}
.feedback_list_box>div>div {
    position: relative;
}
.feedback_list_box input {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    height: 32px;
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
    line-height: 32px;
}
.placeholder_s {
    color: #999;
    position: absolute;
    top: 8px;
    left: 11px;
	/*如果流言反馈有背景色，请把z-index去掉*/
    /*z-index: -1;*/
}
.feedback_list_box textarea {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    height: 100px;
    width: 100%;
    padding-left: 10px;
    padding-top: 8px;
    background-color: transparent;
}
.code{
	position: relative;
}
.code input {
    width: 100px;
}
.feedback_button .feedback_submit {
    background-color: #E00000;
}
.feedback_button .feedback_reset {
    background-color: #1E1E1E;
}
.feedback_button input {
    width: 70px;
    border-radius: 4px;
    border: none;
    text-align: center;
    color: #fff;
}
.feedback_list_box .i1, .feedback_list_box .i2 {
    padding-right: 10px;
}
.wrap_search_input{
	position: fixed;
	bottom: 70px;
	left: 100%;
	width: 100%;
	z-index: 1000;
	background-color: #892500;
	padding: 8px 2%;
}
.wrap_search_input input{
	float: left;
	background-color: #641B00;
	width: 80%;
	border-radius: 4px;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	padding-left: 5px;
	color: #fff;
}
.wrap_search_input ::-webkit-input-placeholder{
	color: #fff;
}
@media(max-width:768px){
	.feedback_list_box .i1, .feedback_list_box .i2{
		padding-right:0; 
	}
}
.pagination_box{
	text-align: center;
	margin-top: 30px;
}
.pagination_box li{
	float: left;
}
#owl-demo2 .owl-stage{
	text-align: center;
}
#owl-demo2 .owl-stage a{
	display: inline-block;
}

/*-----------------------------分页 start--------------------------------*/
.next1{width: 100%;height: auto; margin-top:20px;overflow: hidden;text-align: center;}
.next1 ul{display: inline-block;}
.next1 ul li{display: inline-block;}
.next1 a{display: inline-block;border: 1px solid #ebebeb;color: #999;width: 30px;height: 30px;line-height: 30px;margin: 0 4px;overflow: hidden;}
.next1 a.on1,.next1 a:hover{background: #641B00;color: #fff;border: 1px solid #641B00;}
/*--------------------分页 end----------------------*/