img{height:auto}
;h5{font-weight:600;text-transform:capitalize}
.ey-jc-sb{display:flex;flex-wrap:wrap;justify-content:space-between}
.ey-flex-item2{width:49%;margin:10px 0px}
.ey-flex-item3{width:32%;margin:10px 0px}
.ey-flex-item4{width:24%;margin:10px 0px}
.ey-flex-item5{width:19%;margin:10px 0px}
.ey-flex-item-auto{flex:1;margin:10px 0px}
.ey-flex-item-10{width:10%;margin:10px 0px}
.ey-flex-item-20{width:20%;margin:10px 0px}
.ey-flex-item-30{width:30%;margin:10px 0px}
.ey-flex-item-40{width:40%;margin:10px 0px}
.ey-flex-item-50{width:50%;margin:10px 0px}
.ey-flex-item-60{width:60%;margin:10px 0px}
.ey-flex-item-70{width:70%;margin:10px 0px}
.ey-flex-item-80{width:80%;margin:10px 0px}
.ey-flex-item-90{width:90%;margin:10px 0px}
.ey-flex-item-100{width:100%;margin:10px 0px}
.ey-text-align-c{text-align:center!important}
.ey-pro-9>h5{position:relative;font-size:18px;padding:6px 20px 8px;box-sizing:border-box;margin:0px}
.ey-pro-9>h5::before{content:'';position:absolute;width:100%;height:7px;bottom:-4px;left:0px;background:radial-gradient(circle,#FFF,#FFF 4px,transparent 4px);background-size:9px 10px;margin:0px}
.ey-pro-2>h5{padding:0px 20px;box-sizing:border-box;font-size:18px;margin:0px;position:relative}
.ey-pro-2>h5>span:nth-child(1){display:block;position:absolute;width:100%;height:1px;background-color:#D3D3D3;top:50%;left:0px}
.ey-pro-2>h5>span:nth-child(2){background-color:#FFF;display:inline-block;padding:0px 10px;position:relative}
.ey-pro-7>h5{width:100%;font-size:18px;padding:5px 15px;box-sizing:border-box;box-shadow:0 0 30px rgba(0,0,0,.3) inset;background:rgba(255,255,255,.1);margin:0px;border-radius:4px}
.ey-pro-10>h5{width:100%;font-size:18px;padding:8px 20px 8px 44px;box-sizing:border-box;background-image:url(../image/nine-icon-white.png);background-repeat:no-repeat;background-position:14px center;border-left:3px solid #2371a4;border-radius:0 4px 4px 0;margin:0px;background-size:26px}
.ey-pro-4>h5{width:100%;font-size:18px;padding:5px 15px;box-sizing:border-box;border-bottom:3px solid transparent;border-image:url(../image/sdg-line.png);border-image-slice:6;border-image-repeat:repeat;margin:0px}
.ey-pro-3{position:relative}
.ey-pro-3>h5{width:100%;font-size:18px;padding:3px 20px;box-sizing:border-box;border-bottom:4px solid #CCC;margin:0px}
.ey-pro-3>h5::before{content:'';display:inline-block;position:absolute;bottom:2px;right:0px;width:calc(100% - 20px);height:3px;background-color:#FFF}
.ey-pro-11>h5{width:100%;font-size:18px;border-bottom:2px solid #CCC;margin:0px}
.ey-pro-11>h5>span{display:inline-block;padding:5px 15px;box-sizing:border-box;transform:skew(-20deg) translate(8px,1px)}
.ey-pro-11>h5>span>strong{display:inline-block;transform:skew(20deg)}
.ey-pro-12{position:relative}
.ey-pro-12::before{content:'';display:inline-block;position:absolute;width:6px;height:6px;border-radius:50%;background-color:#FFF;left:14px;top:50%;margin-top:-3px}
.ey-pro-12>span:last-of-type{display:block;width:calc(100% - 20px);height:2px;position:absolute;bottom:0px;right:0px}
.ey-pro-12>h5{position:relative;display:inline-block;font-size:18px;padding:8px 10px 8px 26px;box-sizing:border-box;margin:0px}
.ey-pro-12>h5>span:first-of-type{display:inline-block;position:absolute;width:100%;height:51%;left:10px;top:0px;transform:skew(-45deg)}
.ey-pro-12>h5>span:nth-of-type(2){position:relative;z-index:1}
.ey-pro-12>h5>span:last-of-type{display:inline-block;position:absolute;width:100%;height:51%;left:10px;bottom:0px;transform:skew(45deg)}
.ey-pro-13>h5{width:100%;font-size:18px;padding:5px 15px;box-sizing:border-box;background-image:linear-gradient(to right,#56d1f4,#FFF);border-radius:4px;margin:0px;color:#FFF}
.ey-pro-6>h5{width:100%;font-size:18px;padding:5px 15px;box-sizing:border-box;border:1px solid #CCC;box-shadow:4px 4px 4px #CCC;margin:0px}
.ey-pro-1>h5{position:relative;text-align:center;margin:0px;font-size:18px}
.ey-pro-1>h5>span:first-of-type{display:block;width:100%;height:1px;position:absolute;top:50%;left:0px}
.ey-pro-1>h5>span:last-of-type{display:inline-block;padding:0px 10px;position:relative;background-color:#FFF}
.ey-pro-5>h5{position:relative;font-size:18px;position:relative;padding-bottom:10px;margin:0px}
.ey-pro-5>h5>span{display:block;width:30px;height:3px;position:absolute;bottom:0px;left:0px}
.ey-pro-8>h5{font-size:18px;width:100%;text-align:center;padding:8px 0px;border-radius:4px;margin:0px}
.ey-pro-47>img{max-width:50%;float:left;margin:6px 10px 0px 0px}
.ey-pro-47>p{margin:0px 0px 10px 0px;line-height:1.6}
.ey-item-title{margin:6px 0px}
.ey-item-img{overflow:hidden}
.ey-item-img img{display:block;margin:0px auto}
.ey-pro-51>hr{border:none;border-top:1px solid #CCC;margin:10px 0px}
.ey-pro-52>hr{border:none;border-top:1px dashed;margin:10px 0px}
.ey-pro-53>div>p>a,.ey-pro-54>div>a{color:#000;text-decoration:none}
.ey-pro-53>div>p{margin:0px;flex:1;word-break:break-all}
.ey-pro-53 img,.ey-pro-54 img{margin-right:4px;vertical-align:middle}
.ey-pro-53>div,.ey-pro-54>div{margin:8px 0px}
.ey-pro-54>div{margin-right:10px}
.ey-pro-48{display:flex;align-items:flex-start}
.ey-pro-48 img{margin-top:4px}
.ey-pro-48>div{flex:1;padding-left:10px}
.ey-pro-48>div>p:nth-of-type(1){font-size:16px;margin:0px}
.ey-pro-48>div>p:nth-of-type(2){font-size:14px;color:#555;margin:0px}
.ey-pro-49,.ey-pro-50{display:flex;align-items:flex-start}
.ey-pro-49>p,.ey-pro-50>p{margin:0px;flex:1;padding-left:10px}
.ey-pro-49 img{margin-top:8px}
.ey-pro-50 img{margin-top:6px}
.ey-position-title>.ey-flex-item{position:relative}
.ey-position-title>div>.ey-item-title{position:absolute;bottom:0px;left:0px;width:100%;margin:0px;background:rgba(0,0,0,.5);color:#FFF;padding:6px 0px}
.ey-scale .ey-item-img img{transition:all .3s}
.ey-scale .ey-flex-item:hover .ey-item-img img{transform:scale(1.2)}
.ey-pro-14>h5{border:1px solid #6272d6;border-radius:30px;font-size:18px;margin:0px;padding:4px;color:#FFF}
.ey-pro-14>h5>span{display:inline-block;background-color:#6272d6;border-radius:30px;padding:6px 20px}
.ey-pro-16>h5{border:1px solid #999;border-radius:30px;font-size:18px;margin:0px;padding:6px 0px;width:calc(100% - 10px);margin-left:auto}
.ey-pro-16>h5>span{display:inline-block;background-color:#EEE;border-radius:6px;padding:4px 20px;border:1px solid #999;margin-left:-10px}
.ey-pro-15>h5{margin:0px;font-size:18px;display:flex;position:relative;align-items:center}
.ey-pro-15>h5::before{content:'';display:block;position:absolute;width:100%;height:1px;background-color:#999;top:48%;left:0px;z-index:-1}
.ey-pro-15>h5>span:nth-of-type(1){display:block;background-color:#b7d6e6;text-align:center;position:relative;z-index:1;padding:2px 4px;border-radius:30px;width:50px}
.ey-pro-15>h5>span:nth-of-type(1)::before{content:'';display:block;position:absolute;width:calc(100% - 8px);height:calc(100% - 4px);background-color:#FFF;top:2px;left:4px;z-index:-1;border-radius:30px}
.ey-pro-15>h5>span:nth-of-type(2){background-color:#b7d6e6;border-radius:4px;display:block;flex:1;margin-left:10px;padding:4px 16px;border:1px solid #999}
.ey-pro-box-title{font-size:30px;text-align:center;color:#0c48a7;margin:20px 0;text-transform:capitalize}
.ey-pro-box-title>strong{display:inline-block;margin:0px 10px}
.ey-pro-box-title>span{display:inline-block;background:#0c48a7;transform:rotate(45deg);margin:0px 4px}
.ey-pro-box-title>span:nth-of-type(1),.ey-pro-box-title>span:nth-of-type(6){width:4px;height:4px;opacity:.4}
.ey-pro-box-title>span:nth-of-type(2),.ey-pro-box-title>span:nth-of-type(5){width:6px;height:6px;opacity:.6}
.ey-pro-box-title>span:nth-of-type(3),.ey-pro-box-title>span:nth-of-type(4){width:8px;height:8px}
@media(max-width:541px){.ey-pro-box-title{font-size:20px}
}.ey-pro-32>div{position:relative;max-width:1600px;margin:15px 0px}
.ey-pro-32>div>.ey-item-img{width:40%;border-radius:50%;border:5px solid #DDD;position:relative;z-index:1;background-color:#FFF;box-sizing:border-box}
@media(max-width:768px){.ey-pro-32>div>.ey-item-img{width:200px}
}@media(max-width:481px){.ey-pro-32>div>.ey-item-img{width:160px}
}.ey-pro-17>h5{margin:0px;display:flex;background-color:#AAA;color:#FFF;font-size:18px}
.ey-pro-17>h5>span:nth-of-type(1){display:inline-block;background-color:red;color:#FFF;padding:6px 30px 6px 20px;position:relative}
.ey-pro-17>h5>span:nth-of-type(1)::before{content:'';display:block;width:12px;height:102%;background-color:#FFF;position:absolute;right:-6px;top:0px;transform:skewX(-18deg)}
.ey-pro-17>h5>span:nth-of-type(2){flex:1;padding:0px 10px;text-transform:capitalize;font-weight:400;display:flex;align-items:center;justify-content:flex-end;font-size:12px}
@media(max-width:481px){.ey-pro-17>h5>span:nth-of-type(1){font-size:16px;padding:4px 20px 4px 10px}
}.ey-pro-33>div{background-color:#EEE}
.ey-pro-33>div>div{width:50%}
.ey-pro-33 .ey-item-img .cke_widget_inline.cke_widget_wrapper{display:block}
.ey-pro-33 .ey-item-img img{max-height:350px;object-fit:cover}
@media(max-width:540px){.ey-pro-33>div>div{width:100%}
.ey-pro-33>div>.ey-item-img{padding:25% 0}
}@media(max-width:768px){.ey-flex-item4{width:49%}
.ey-flex-item5{width:49%}
}@media(max-width:540px){.ey-flex-item-auto{width:100%;flex:auto;padding:0px}
.ey-flex-item-auto+div{width:100%;text-align:left}
}@media(max-width:415px){.ey-flex-item3{width:100%}
}.float-left{float:left;margin-right:10px}
.ey-pro-56{max-width:1600px;color:#333}
.ey-pro-56>p{line-height:1.6;margin:0px;padding:5px 0px}
.ey-pro-56>img,.ey-pro-56>p>img{max-width:100%;height:auto}
.ey-pro-56>.ey-pro-3{margin:15px 0px 5px}
.ey-pro-56>.ey-pro-33{margin:15px 0px 5px}
.ey-pro-56>.ey-pro-33>div>.ey-item-img>img,.ey-pro-56>.ey-pro-33>div>.ey-item-img>p>img{height:100%;object-fit:cover}
.ey-pro-57{max-width:1600px}
.ey-pro-57>.ey-pro-7{margin:20px 0px}
.ey-pro-57>p{line-height:1.6;margin:0px}
.ey-pro-57>img,.ey-pro-57>p>img{max-width:100%;height:auto}
.ey-pro-57>h3{font-size:32px;margin:10px 0px}
.ey-pro-57>h4{font-size:20px;margin:0px}
.ey-pro-57>.list-circle{margin:20px 0px}
.ey-pro-57>.list-circle>p{width:40%;position:relative;padding:0px 16px;margin:4px 0px;box-sizing:border-box}
.ey-pro-57>.list-circle>p::before{content:"";display:block;width:7px;height:7px;border-radius:50%;background-color:#000;position:absolute;left:0px;top:7px}
.ey-pro-57>.ey-pro-42>div>.ey-flex-item{text-align:left}
.ey-pro-57>.ey-pro-42>div>.ey-flex-item>.ey-item-title{font-size:18px;font-weight:600}
.ey-pro-58{max-width:1600px}
.ey-pro-58>.ey-pro-11{margin:20px 0px}
.ey-pro-58>.ey-pro-46{margin:20px 0px}
.ey-pro-58>p{margin:0px;line-height:1.6}
.ey-pro-58>img,.ey-pro-58>p>img{max-width:100%;height:auto}
.ey-pro-58>.ey-pro-47>div img{display:block;margin-top:6px;margin-bottom:12px}
.ey-pro-58>.ey-pro-47>p{color:#333;line-height:1.875}
.ey-pro-58>.ey-pro-33{margin:20px 0px}
.ey-pro-59{max-width:1600px}
.ey-pro-59>.ey-pro-17{margin:20px 0px}
.ey-pro-59>img,.ey-pro-59>p>img{max-width:100%;height:auto}
.ey-pro-59>p{margin:0px;color:#555;line-height:1.875}
@media (max-width:500px){.float-left{float:none;max-width:100%;margin-right:0px}
.ey-pro-58>.ey-pro-11{margin:15px 0px}
.ey-pro-57>.list-circle>p{width:100%}
.ey-pro-57>h3{font-size:20px}
.ey-pro-57>h4{font-size:16px}
}.ey-pro-32 .ey-item-img .cke_widget_inline.cke_widget_wrapper,.ey-pro-42 .cke_widget_inline.cke_widget_wrapper,.ey-pro-43 .cke_widget_inline.cke_widget_wrapper{display:block}
.ey-pro-47>.cke_widget_inline.cke_widget_wrapper,.ey-pro-47>div,.ey-pro-47>figure,.ey-pro-47>p:first-child{float:left;margin-right:10px}
.ey-pro-47 .float-left .cke_widget_inline.cke_widget_wrapper{display:block}
.ey-pro-47 .cke_widget_inline.cke_widget_wrapper img{max-width:100%}
.ey-pro-32 .ey-item-img img,.ey-pro-33 .ey-item-img img,.ey-pro-39 .ey-item-img img,.ey-pro-40 .ey-item-img img{width:100%}
.ey-pro-41 .ey-item-img img,.ey-pro-42 .ey-item-img img,.ey-pro-43 .ey-item-img img{max-width:100%}
.ey-pro-47 figure{display:block}
.ey-pro-47>figure{margin:10px 10px 10px 0px}
.ey-pro-47 div figure{margin:10px 0px}
figure{text-align:center;outline:solid 1px #EEE;margin:10px;display:inline-block}
figure>figcaption{text-align:center;display:block}
@media(max-width:480px){.ey-pro-12>h5,.ey-pro-2>h5,.ey-pro-1>h5,.ey-pro-3>h5,.ey-pro-4>h5,.ey-pro-5>h5,.ey-pro-6>h5,.ey-pro-7>h5,.ey-pro-8>h5,.ey-pro-9>h5,.ey-pro-10>h5,.ey-pro-11>h5,.ey-pro-12>h5,.ey-pro-13>h5,.ey-pro-14>h5,.ey-pro-15>h5,.ey-pro-16>h5,.ey-pro-17>h5{font-size:16px}
.ey-flex-item-10,.ey-flex-item-20,.ey-flex-item-30{width:48%}
}.ey-pro-41>div>.ey-flex-item{border:1px solid transparent;border-radius:4px;overflow:hidden}
.ey-flex-item5{width:19%;margin:10px 0px}
@media(max-width:768px){.ey-flex-item5{width:49%}
}.ey-pro-62>div>.ey-flex-item{flex-wrap:nowrap}
.ey-pro-62>div>.ey-flex-item>div{height:300px}
@media(max-width:1200px){.ey-pro-62>div>.ey-flex-item>div{height:200px}
}@media(max-width:541px){.ey-pro-62>div>.ey-flex-item{width:100%}
.ey-pro-62>div>.ey-flex-item:nth-child(2n){flex-direction:column}
.ey-pro-62>div>.ey-flex-item>div{height:auto}
}.ey-pro-62>div>.ey-flex-item>div .cke_widget_inline.cke_widget_wrapper{display:block}
.ey-pro-62>div>.ey-flex-item>div img{width:100%;height:100%;object-fit:cover}
.ey-pro-40>.ey-jc-sb>.ey-flex-item{border:1px solid #FFF}
.ey-pro-66>.ey-jc-sb>.ey-flex-item{border:1px solid #FFF}
.ey-pro-1>h5,.ey-pro-2>h5>span:nth-child(2),.ey-pro-3>h5,.ey-pro-4>h5,.ey-pro-6>h5,.ey-pro-7>h5,.ey-pro-8>h5,.ey-pro-9>h5,.ey-pro-10>h5,.ey-pro-11>h5>span>strong,.ey-pro-12>h5>span:nth-of-type(2),.ey-pro-5>h5,.ey-pro-13>h5,.ey-pro-14>h5>span,.ey-pro-15>h5>span:nth-of-type(2),.ey-pro-16>h5>span,.ey-pro-17>h5>span:nth-of-type(1){font-weight:bold}
.ey-pro-67>.ey-item-title{margin:0px;font-size:18px;font-weight:600;display:flex;position:relative;align-items:center}
.ey-pro-67>.ey-item-title::before{content:'';display:block;position:absolute;width:100%;height:1px;background-color:#999;top:48%;left:0px;z-index:-1}
.ey-pro-67>.ey-item-title>span{display:block;background-color:#b7d6e6;text-align:center;position:relative;z-index:1;padding:2px 4px;border-radius:30px;width:50px}
.ey-pro-67>.ey-item-title>span::before{content:'';display:block;position:absolute;width:calc(100% - 8px);height:calc(100% - 4px);background-color:#FFF;top:2px;left:4px;z-index:-1;border-radius:30px}
.ey-pro-67>.ey-item-title>h5{background-color:#b7d6e6;border-radius:4px;display:block;flex:1;margin:0px;margin-left:10px;padding:4px 16px;border:1px solid #999;font-size:18px}
.ey-pro-68>.ey-pro-title{border:1px solid #6272d6;border-radius:30px;margin:0px;padding:4px;color:#FFF}
.ey-pro-68>.ey-pro-title>h5{display:inline-block;background-color:#6272d6;border-radius:30px;padding:3px 15px;margin:0px;font-size:18px}
.ey-pro-69>.ey-pro-title{border:1px solid #999;border-radius:30px;padding:6px 0px;width:calc(100% - 10px);margin-left:auto}
.ey-pro-69>.ey-pro-title>h5{display:inline-block;background-color:#EEE;border-radius:6px;padding:4px 20px;border:1px solid #999;margin:0px;margin-left:-10px;font-size:18px}
.ey-pro-70>.ey-pro-title{margin:0px;display:flex;background-color:#AAA;color:#FFF}
.ey-pro-70>.ey-pro-title>h5{display:inline-block;background-color:red;color:#FFF;margin:0px;padding:6px 30px 6px 20px;font-size:18px;position:relative}
.ey-pro-70>.ey-pro-title>h5::before{content:'';display:block;width:12px;height:102%;background-color:#FFF;position:absolute;right:-6px;top:0px;transform:skewX(-18deg)}
.ey-pro-70>.ey-pro-title>span{flex:1;padding:0px 10px;text-transform:capitalize;font-weight:400;display:flex;align-items:center;justify-content:flex-end;font-size:12px}
@media(max-width:481px){.ey-pro-70>.ey-pro-title>h5{font-size:16px;padding:4px 20px 4px 10px}
}.ey-pro-71>.ey-pro-item{position:relative;text-align:center}
.ey-pro-71>.ey-pro-item>span{display:block;width:100%;height:1px;position:absolute;top:50%;left:0px}
.ey-pro-71>.ey-pro-item>h5{margin:0px;display:inline-block;padding:0px 10px;position:relative;background-color:#FFF;font-size:18px;font-weight:600}
.ey-pro-72>.ey-pro-item{padding:0px 20px;box-sizing:border-box;font-size:18px;margin:0px;position:relative}
.ey-pro-72>.ey-pro-item>span{display:block;position:absolute;width:100%;height:1px;background-color:#D3D3D3;top:50%;left:0px}
.ey-pro-72>.ey-pro-item>h5{margin:0px;background-color:#FFF;display:inline-block;padding:0px 10px;position:relative;font-size:18px}
.ey-pro-73>.ey-pro-item{width:100%;font-size:18px;border-bottom:2px solid #CCC;margin:0px}
.ey-pro-73>.ey-pro-item>.ey-pro-title{display:inline-block;padding:5px 15px;box-sizing:border-box;transform:skew(-20deg) translate(8px,1px)}
.ey-pro-73>.ey-pro-item>.ey-pro-title>h5{margin:0px;display:inline-block;transform:skew(20deg);font-size:18px}
.ey-pro-74{position:relative}
.ey-pro-74>.ey-pro-item{position:relative;display:inline-block;font-size:18px;padding:8px 10px 8px 26px;box-sizing:border-box;margin:0px}
.ey-pro-74>span:last-of-type{display:block;width:calc(100% - 20px);height:2px;position:absolute;bottom:0px;right:0px}
.ey-pro-74>.ey-pro-item>span:first-of-type{display:inline-block;position:absolute;width:100%;height:51%;left:10px;top:0px;transform:skew(-45deg)}
.ey-pro-74>.ey-pro-item>span:last-of-type{display:inline-block;position:absolute;width:100%;height:51%;left:10px;bottom:0px;transform:skew(45deg)}
.ey-pro-74>.ey-pro-item>h5{margin:0px;position:relative;z-index:1;font-size:18px}