/* eyoucms.com 易优CMS -- 好用,免费,安全 */

.topLogBox a:hover,.w-languege a.cur{color:#3E802E;}
.topLogBox .w-search .search-btn-w{ background-color:#3E802E;}
.topLogBox .w-search .input-search-w{ border-color:#3E802E;}
.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{background:#3E802E; color:#fff;}
.w-nav .nav_simpline_cur{ background:#3E802E;}
.bx-wrapper .bx-prev:hover,.bx-wrapper .bx-next:hover{ background-color:#3E802E !important;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{ border-color:#3E802E;}
.w-text a:hover,.newsDetail .news-others a:hover{color:#3E802E;}
/*--------------------组件-------------------------*/
.btn-default-w{ background:#FFAA00;}
.btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{background-color:#FFBE37; color:#fff; }
.search-defaut-w .search-btn-w{ background-color:#FFAA00;}
.search-defaut-w .search-btn-w:hover{background-color:#FFBE37;}
.color_s_default{ color:#3E802E;}
.bg_s_default{ background:#3E802E;}
.w-service-fixed .color_s_default:hover{color:#FFAA00;}
.w-service-fixed .bg_s_default:hover{ background:#FFAA00;}
.w-service-fixed .service-popc{background:#FFAA00; }
.w-lantern-h .lantern_pre:hover{ background-image:url('../image/slide_lhover.png');}
.w-lantern-h .lantern_next:hover{ background-image:url('../image/slide_rhover.png');}
.captionbgFadeOutScale .caption .captionbg,.captionbgFadeInLeft.imgLeftBig .caption .captionbg,.captionbgFadeInRight.imgRightBig .caption .captionbg{background-color:#3E802E;}
.w-slide-page-num .slide-page a.active{ background-color:#3E802E;}
.prd_pageState span.active{ border-color:#3E802E;}

/*-----------------footer-------------------------*/

/*--------------------系统------------------------*/
.crumbs a,.w-breadcrumbs a{ }
.crumbs a:hover,.w-breadcrumbs a:hover{color:#3E802E;}
.w-pages a:hover,.w-pages a.cur{color:#fff; background:#3E802E; }
.w-pages a:hover:after,.w-pages a.cur:after{ border-color:rgba(62,128,46,0.2);}
.w-prd-list-cell:hover a{ color:#3E802E; }
.w-prd-list-cell .w-prd-btns a.btn-buy{background:#3E802E; border-color:#3E802E; }
.w-prd-list-cell .w-prd-btns a.btn-buy:hover{ background:#58B641; border-color:#58B641; }
.w-prd-list-cell .w-prd-btns a.btn-addCart:hover{ color:#3E802E; border-color:#3E802E; }
.w-productList .prd_pre:hover,.w-productList .prd_next:hover{ background-color:#3E802E; }
.rotatePicbox-tel .navSlide .active{ background:#3E802E;}
/*-------------新闻--------------------*/
.w-News-list .news-com .news-h a:hover,.w-adNews .news-h a:hover,.w-adNews1 li .news-item .news-com .news-h a:hover{color:#3E802E;}
.w-News-list .news-h a.news-kind:hover,.w-adNews .news-h a.news-kind:hover{ color:#3E802E;}
.w-News-list1 li:hover,.w-News-list2 li .news-item:hover{ background:#3E802E;}
.w-News-list1 .news-com .news-h a:hover,.w-News-list2 .news-com .news-h a:hover{ color:#fff;}
.w-News-list5 li .news-item .data-day,.w-adNews1 li .news-item .data-day{ background:#3E802E;}
.w-News-list7 li .date .date-day,.w-News-list7 li .date .date-yearMonth{ background:#3E802E; color:#fff;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#222;}
.w-adNews3{background:#3E802E;}
.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{background-color:#3E802E;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a,.w-adNews3 .w-adNews-texts li .w-adNews-textH h3{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover,.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover h3{ color:#FDEA02;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH p,.w-adNews3 .w-adNews-texts li .w-adNews-textH .news-sum{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#fff; color:#fff;opacity:0.9; *filter:alpha(opacity=90); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);}
.w-adNews3 .w-adNews-texts li{border-color:#fff;}
.w-adNews3 .w-adNews-imgs .adNews3prev{background-image:url("../image/adnews3prev_white.png");}
.w-adNews3 .w-adNews-imgs .adNews3next{background-image:url("../image/adnews3next_white.png");}
.w-adNews4 li:hover{ background:#3E802E;}
.w-adNews4 li:hover a,.w-adNews4 li:hover .news-item .news-h a.news-kind,.w-adNews4 li:hover .date{ color:#fff;}
.w-adNews4 .news-h a:hover{ color:#fff;}
.w-adNews5 li .news-h:after{background:#3E802E;}
.w-adNews10 li .news-item .news-com .more a{ background:#3E802E;}
.w-adNews10 li .news-item .news-com .more a:hover{ background:#58B641;}
.w-adNews11 li .news-btn::after{ background:#3E802E;}

.w-faq-list3 li .faq_tit .icon_adore{  background-image:url('../image/icon1_0.png');}
.w-faq-list3 li.open .faq_tit{ background:#3E802E;}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#3E802E;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../image/progress_complete.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.btn-greenC,.btn-greenA{background-color:#3E802E;}
.checkbox_tel input[type="checkbox"]:checked + label{background-color:#3E802E;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#3E802E;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#FFDE9B;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecur.png'); }
/*----------------------标题------------------------*/
.color_main,.w-title37 h2,.w-title2 .title-h-in h2{color:#0e0e0e;}
.color_vice,.w-title2{color:#8f8f8f;}
.color_vice_light{}
.color_h{}
.color_span{}
.colorbg_main{color:#3E802E;}
.bg_main{background-color:#3E802E;}
.bg_main_light{background-color:#f6f6f6;}
.bg_simpline{background-color:#3E802E;}
.border_colorall_main{border-color:#3E802E;}
.aHoverborder_main:hover{border-color:#3E802E;}
.border_colorleft_main{border-left-color:#3E802E;}
.border_colortop_main{border-top-color:#3E802E;}
.border_colorright_main{border-right-color:#3E802E;}
.border_colorbottom_main{border-bottom-color:#3E802E;}
.aHovercolor_main:hover{color:#3E802E;}
.aHoverbg_main:hover{background-color:#3E802E;}
.border_colorall_main_deepen{border-color:#58B641;}
.aHovercolor_deepen:hover{ color:#58B641;}
.aHoverbg_deepen:hover{ background-color:#58B641;}
.aHoverborder_deepen:hover{border-color:#58B641;}
.colorChange{background-color:#3E802E;
    background-image: -webkit-linear-gradient(bottom, #3E802E, #58B641);
	background-image: -moz-linear-gradient(bottom, #3E802E, #58B641);
	background-image: -o-linear-gradient(bottom, #3E802E, #58B641);
	background-image: -ms-linear-gradient(bottom, #3E802E,#58B641);
	background-image: linear-gradient(to top, #3E802E, #58B641);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#58B641, endColorStr=#3E802E);}
.colorChange_deepen{background-color:#3E802E;
    background-image: -webkit-linear-gradient(bottom, #58B641,#3E802E);
	background-image: -moz-linear-gradient(bottom, #58B641, #3E802E);
	background-image: -o-linear-gradient(bottom, #58B641, #3E802E);
	background-image: -ms-linear-gradient(bottom, #58B641, #3E802E);
	background-image: linear-gradient(to top, #58B641, #3E802E);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#3E802E, endColorStr=#58B641);}
.bg_main_change{background-color:#3E802E;
    background-image: -webkit-linear-gradient(bottom, #ffffff, #3E802E);
	background-image: -moz-linear-gradient(bottom, #ffffff, #3E802E);
	background-image: -o-linear-gradient(bottom, #ffffff, #3E802E);
	background-image: -ms-linear-gradient(bottom, #ffffff,#3E802E);
	background-image: linear-gradient(to top, #ffffff, #3E802E);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#3E802E, endColorStr=#ffffff);}
.bg_main_changeDeepen{background-color:#3E802E;
    background-image: -webkit-linear-gradient(bottom, #3E802E, #ffffff);
	background-image: -moz-linear-gradient(bottom, #3E802E, #ffffff);
	background-image: -o-linear-gradient(bottom, #3E802E, #ffffff);
	background-image: -ms-linear-gradient(bottom, #3E802E,#ffffff);
	background-image: linear-gradient(to top, #3E802E, #ffffff);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#3E802E);}
.bg_main_change_left{background-color:#3E802E;
    background-image: -webkit-linear-gradient(right, #ffffff, #3E802E);
	background-image: -moz-linear-gradient(right, #ffffff, #3E802E);
	background-image: -o-linear-gradient(right, #ffffff, #3E802E);
	background-image: -ms-linear-gradient(right, #ffffff,#3E802E);
	background-image: linear-gradient(to left, #ffffff, #3E802E);}
.bg_main_changeDeepen_left{background-color:#3E802E;
    background-image: -webkit-linear-gradient(right, #3E802E, #ffffff);
	background-image: -moz-linear-gradient(right, #3E802E, #ffffff);
	background-image: -o-linear-gradient(right, #3E802E, #ffffff);
	background-image: -ms-linear-gradient(right, #3E802E,#ffffff);
	background-image: linear-gradient(to left, #3E802E, #ffffff);}
.w-title17 .title-h-in{ background:#363636;}
.w-title17 .title-text-in{ background:#3E802E;}
.w-title17 .w-title-inner{background-image:url("../image/tit17bg_0.png");}
.w-title17 .more:hover{ background-image:url("../image/tit17_morehover_0.png");}
.w-title19 .more .icon_more,.icon_more19bg{ background-image:url("../image/icon_more_0.png");}
.w-title23 .simpline{ background:#3E802E;}
.w-title34 .tith .line{ background:#ccc;}
@media (min-width:768px){
	.w-com-menu-V .systitle{ background:#3E802E; color:#fff;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent a,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent a{ color:#3E802E; background:#E9F4F7;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent:after{background:#3E802E;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent .fa,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent .fa{ color:#3E802E;}
	.w-com-menu-V .ul-submenu li:hover >.div-parent a,.w-com-menu .ul-submenu li:hover >.div-parent .fa,.w-com-menu-V .ul-submenu li.cur >.div-parent a,.w-com-menu .ul-submenu li.cur >.div-parent .fa{ color:#3E802E;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ background:#3E802E;  color:#fff;}
	.w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ color:#3E802E; }
}
@media (min-width:961px){
	.w-nav .submenu{}
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ color:#fff;}
}
@media (max-width:960px){
	.w-admin-header,.body-login .w-admin-header,.w-header{color:#333;}
	.topLogBox a:hover,.w-languege a.cur{color:#3E802E;}
	
}
@media (max-width:767px){
	.w-com-menu{ border-bottom:2px solid #3E802E; background:#3E802E;}
	.w-com-menu .ul-parent{background-color:#ebebeb;}
	.w-com-menu .ul-submenu ul{ background-color:#fafafa;}
	.w-com-menu .ul-submenu .ul-submenu ul{ background-color:#fdfdfd;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a{text-align:left;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a,.w-com-menu .fa{color:#666; }
	.w-com-menu li, .w-com-menu .ul-submenu li{border:none; border-bottom:1px solid #fff;}
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:none; }
	.w-com-menu li > .div-parent:hover > a, .w-com-menu li.cur > .div-parent > a, .w-com-menu li > .div-parent:hover > .fa, .w-com-menu li.cur > .div-parent > .fa{color:#3E802E; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:none;}
	.systitle{color:#fff; text-align:center;}
	/*-----------------------会员中心和购物车--------------------*/
	.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecurtel.png');}
}