body,html,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,th,td,form,object,iframe,blockquote,pre,a,abbr,address,code,img,fieldset,form,label,figure,input,textarea{margin:0;padding:0}
html,body,.ch_form_wrap,.content-wrap{width:100%;height:100%}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;outline:0}
.content-wrap.form .ch_form_wrap{width:100%;font-family:Arial,Helvetica,sans-serif;margin:0;padding:0;font-size:13px}
.content-wrap.form .ch_form_wrap .title{background:#cb451b;width:100%;height:55px;line-height:55px;color:#fff;margin:0;padding:0;font-size:16px;padding:0 20px;font-weight:normal}
.content-wrap.form .ch_form_wrap .title em{font-style:normal}
.content-wrap.form .ch_form_wrap .title svg{display:none}
.content-wrap.form .ch_form_wrap form{position:relative}
.content-wrap.form .ch_form_wrap ul{padding:20px 20px 5px}
.content-wrap.form .ch_form_wrap ul li{position:relative;list-style:none;margin:0 0 14px;display:flex;min-height:auto;line-height:40px}
.content-wrap.form .ch_form_wrap ul li label{float:left;min-width:80px}
.content-wrap.form .ch_form_wrap ul,.content-wrap.form .ch_form_wrap ul li,.content-wrap.form .ch_form_wrap ul input,.content-wrap.form .ch_form_wrap ul textarea,.content-wrap.form .ch_form_wrap ul select{position:relative;width:100%}
.content-wrap.form .ch_form_wrap ul input,.content-wrap.form .ch_form_wrap ul textarea,.content-wrap.form .ch_form_wrap ul select{border:1px solid #eee;border-left:3px solid #cb451b;height:39px;padding:0 10px;font-family:Arial,Helvetica,sans-serif;font-size:13px}
.content-wrap.form .ch_form_wrap ul textarea{height:95px;padding:10px;resize:none}
.content-wrap.form .ch_form_wrap .item_submit{padding:0 20px}
.content-wrap.form .ch_form_wrap .item_submit input{width:100%;height:33px;color:#fff;background:#ff6f00;border:none;cursor:pointer;-moz-transition-duration:.3s;-webkit-transition-duration:.3s;-o-transition-duration:.3s;-ms-transition-duration:.3s;transition-duration:.3s}
.content-wrap.form .ch_form_wrap .item_submit input:hover{background:#cb451b}
.content-wrap.form .ch_form_wrap .Validform_checktip.Validform_wrong{position:absolute;right:7px;top:0;display:block;line-height:39px;color:red;pointer-events:none}
.content-wrap.form .ch_form_wrap .Validform_error{border-color:red !important;border-left-color:#cb451b !important}
.content-wrap.form .ch_form_wrap .form_tip{position:relative;color:red;padding:0 0 10px}
.content-wrap.form .ch_form_wrap .email_point{display:none}
.content-wrap.form .ch_form_wrap ul li input[type=image],input[type=reset],input[type=button]{width:60px;height:30px;margin:5px 10px}
.content-wrap.form #gif-show{top:0 !important;height:100%;display:flex;align-items:center;text-align:center;justify-content:center}
.content-wrap.form #gif-show img{margin-top:0 !important}
.content-wrap.livechat{width:100%;font-family:Arial,Helvetica,sans-serif;margin:0;padding:0;font-size:12px;border-top:none;border-radius:15px 15px 0 0;overflow:hidden;background:#FFFFFF}
.content-wrap.livechat .ch_form_wrap{width:100%;font-family:Arial,Helvetica,sans-serif;margin:0;padding:0;font-size:12px}
.content-wrap.livechat .ch_form_wrap .title{position:relative;display:flex;justify-content:space-between;align-items:center;background:#36A9E1;width:101%;height:45px;line-height:45px;color:#fff;margin-left:-2px;font-size:15px;padding:0 20px;font-weight:normal;cursor:pointer}
.content-wrap.livechat .ch_form_wrap .title em{font-style:normal}
.content-wrap.livechat .ch_form_wrap .title svg{position:relative;display:block;-moz-transition-duration:.3s;-webkit-transition-duration:.3s;-o-transition-duration:.3s;-ms-transition-duration:.3s;transition-duration:.3s}
.content-wrap .ch_form_wrap form{position:relative;background:#fff;height:390px;overflow-y:scroll;padding-bottom:20px}
.content-wrap.livechat .ch_form_wrap ul{padding:20px 20px 5px}
.content-wrap.livechat .ch_form_wrap ul li{position:relative;list-style:none;margin:0 0 18px;display:flex;min-height:auto;line-height:40px}
.content-wrap.livechat .ch_form_wrap ul li label{float:left;min-width:80px}
.content-wrap.livechat .ch_form_wrap ul,.content-wrap.livechat .ch_form_wrap ul li,.content-wrap.livechat .ch_form_wrap ul input,.content-wrap.livechat .ch_form_wrap ul textarea,.content-wrap.livechat .ch_form_wrap ul select{position:relative;width:100%}
.content-wrap.livechat .ch_form_wrap ul input,.content-wrap.livechat .ch_form_wrap ul textarea,.content-wrap.livechat .ch_form_wrap ul select{border:1px solid #e5e5e5;height:39px;padding:0 13px;font-family:Arial,Helvetica,sans-serif;font-size:12px;border-radius:25px}
.content-wrap.livechat .ch_form_wrap ul textarea{height:95px;padding:10px 13px;resize:none}
.content-wrap.livechat .ch_form_wrap .item_submit{padding:0 20px}
.content-wrap.livechat .ch_form_wrap .item_submit input{width:100%;height:33px;color:#fff;background:#86C953;border:none;cursor:pointer;border-radius:25px;-moz-transition-duration:.3s;-webkit-transition-duration:.3s;-o-transition-duration:.3s;-ms-transition-duration:.3s;transition-duration:.3s}
.content-wrap.livechat .ch_form_wrap .item_submit input:hover{background:#94D662}
.content-wrap.livechat .ch_form_wrap .Validform_checktip.Validform_wrong{position:absolute;left:0;bottom:-16px;display:block;line-height:initial;color:red;pointer-events:none}
.content-wrap.livechat .ch_form_wrap .Validform_error{border-color:red !important}
.content-wrap.livechat .ch_form_wrap ul li input[type=image],input[type=reset],input[type=button]{width:60px;height:30px;margin:5px 10px}
.content-wrap.livechat .ch_form_wrap .form_tip{position:relative;color:red;padding:0 0 10px}
.content-wrap.livechat .ch_form_wrap .email_point{display:none;position:absolute;width:45px;height:45px;text-align:center;padding:15px 0 0;right:0;top:0;z-index:1;background:#36A9E1;color:#fff;cursor:pointer}
.content-wrap .ch_form_wrap form{background:#fff}
.content-wrap.livechat .ch_form_wrap form{border:1px solid #36a9e1}
.content-wrap .ch_form_wrap .input-radio-checkbox{display:flex;white-space:nowrap}
.content-wrap .ch_form_wrap ul li input[type=radio],.content-wrap .ch_form_wrap ul li input[type=checkbox]{width:20px;-webkit-appearance:radio}
.content-wrap .ch_form_wrap .input-radio-checkbox input{margin:0px 10px 0px 5px}
.item-input-checkbox,.item-input-radio{overflow-y:auto}
.main .fs-wrap{width:50%;height:30px;background:#FFFFFF;margin:initial}
.main .fs-wrap .fs-label-wrap{width:100%;height:100%;border:initial}
.main .fs-wrap .fs-label-wrap .fs-search{background:gainsboro !important}
.main .fs-wrap .fs-label-wrap .fs-search input{background:#eee !important}
/*li:has(+ div.input-radio-checkbox) {overflow-y :auto}*/
 .content-wrap .ch_form_wrap li label{display: none}
/* 设置滚动条的样式 */
.inquiry-pop-bd ::-webkit-scrollbar{width:0px;height:0px}
.inquiry-form-wrap ::-webkit-scrollbar{width:0px;height:0px}
/* 滚动槽 */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow:inset006pxrgba(0,0,0,0.3);*/
    /*border-radius:10px;*/
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb{border-radius:10px;background:#8d9498;-webkit-box-shadow:inset006pxrgba(0,0,0,0.5)}
::-webkit-scrollbar-thumb:window-inactive{background:#8d9498}
::-webkit-scrollbar-thumb:hover{background:#0e76a8}
::-webkit-scrollbar-thumb:window-inactive:hover{background:#0e76a8}
@media only screen and (max-width:600px){.content-wrap.form .ch_form_wrap ul li{margin-bottom:20px}
.content-wrap.form .ch_form_wrap .Validform_checktip.Validform_wrong{right:auto;top:auto;left:0;bottom:-28px}
}
.inquiry-pop-bd{position:fixed;left:50%;top:50%;margin:-300px 0 0 -275px;width:550px;height:500px;background:#FFF;box-shadow:0 0 10px rgba(255,255,255,.5);display:none;z-index:200000;}
.inquiry-pop-bd:before{content:"";position:fixed;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,.7);z-index:-1}
.inquiry-pop-bd .inquiry-pop{position:absolute;width:100%;height:100%;left:0;top:0;padding:22px;z-index:1;background:#FFF}
.inquiry-pop-bd .inquiry-pop .ico-close-pop{position:absolute;right:-10px;top:-10px;width:30px;height:30px;background:url(../image/fancy_close.png) no-repeat center center;cursor:pointer;z-index:1}
@media screen and (max-width:550px){.inquiry-pop-bd{width:auto;left:10px;right:10px;top:10px;bottom:10px;margin:auto}
.inquiry-pop-bd .inquiry-pop{padding:10px}
.scrollsidebar{display:none}
}
/* 右下角留言弹窗 */
.ey_message{max-width:320px;position:fixed;bottom:0;right:10px;z-index:100}
.ey_message .message-header{height:36px;line-height:36px;font-size:14px;color:#fff;background-color:#cb451b;cursor:pointer;overflow:hidden;-moz-box-shadow:0 0 1.5em rgba(0,0,0,.3);-webkit-box-shadow:0 0 1.5em rgba(0,0,0,.3);box-shadow:0 0 1.5em rgba(0,0,0,.3)}
.ey_message .message-header i{width:36px;height:36px;line-height:36px; }
.ey_message .message-header .label{float:left;padding:0px;}
.ey_message .message-header .label i{font-size:20px;text-align:center;background:rgba(0,0,0,.12);-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px}
.ey_message .message-header b{margin:0 12px;font-weight:400}
.ey_message .message-header .arrow-toggle{float:right;text-align:center;font-size:20px;opacity:.75}
.ey_message .message-form{padding:15px;background:#fff;display:none;-moz-box-shadow:rgba(0,0,0,.15) 0 0 1.5em;-webkit-box-shadow:rgba(0,0,0,.15) 0 0 1.5em;box-shadow:rgba(0,0,0,.15) 0 0 1.5em}
.ey_message .message-form p{margin:0 auto 6px}
.ey_message .ey_input p{margin:12px auto 0}
.ey_message .ey_input .ey_input-text{width:100%;box-sizing:border-box}
.ey_message .ey_input .ey_input-textarea{width:100%;box-sizing:border-box}
.ey_message .ey_input .ey_input-submit{width:100%;box-sizing:border-box;background-color: #cb451b;color: #fff;}
.ey_message input, .ey_message textarea {padding: 6px;line-height: 20px;border: 1px solid #ddd;box-sizing: border-box;-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
/* 右下角留言弹窗 END*/