@font-face{font-family:iconfont;font-display:swap;src:url(../font/iconfont.woff2) format('woff2'),url(../font/iconfont.woff) format('woff'),url(../font/iconfont.ttf) format('truetype')}
.iconfont{font-family:iconfont!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-home:before{content:"\e674";}
.icon-daiban:before{content:"\e64b"}
.icon-exchange:before{content:"\e8fa"}
.icon-invoice:before{content:"\e85a"}
.icon-hottitle:before{content:"\e604"}
.icon-weixin:before{content:"\e603"}
.icon-QQ:before{content:"\e882"}
.icon-pinterest:before{content:"\e640"}
.icon-fax:before{content:"\e602"}
.icon-phone:before{content:"\e601"}
.icon-tiktok:before{content:"\e9e5"}
.icon-gongwenbao:before{content:"\e60e"}
.icon-kefu:before{content:"\e61b"}
.icon-anquan:before{content:"\e8ab"}
.icon-huoyun:before{content:"\e670"}
.icon-guanbi:before{content:"\eaf2"}
.icon-download:before{content:"\e66c"}
.icon-email:before{content:"\e66f"}
.icon-message:before{content:"\e78a"}
.icon-skype:before{content:"\e87d"}
.icon-whatsapp:before{content:"\e8ea"}
.icon-date:before{content:"\e62a"}
.icon-message-fill:before{content:"\e84a"}
.icon-video-play:before{content:"\ed52"}
.icon-cart:before{content:"\e600"}
.icon-xiangyoujiantou:before{content:"\e65f"}
.icon-xiangzuojiantou:before{content:"\e660"}
.icon-xiangxia2:before{content:"\e772"}
.icon-xiangshang:before{content:"\e6b1"}
.icon-youtube:before{content:"\e87c"}
.icon-linkedin:before{content:"\e6bf"}
.icon-youtube1:before{content:"\e6bd"}
.icon-facebook:before{content:"\e685"}
.icon-jiantou_xiangyou:before{content:"\eb08"}
.icon-jiantou_xiangzuo:before{content:"\eb09"}
.icon-twitter:before{content:"\e63d"}
.icon-search:before{content:"\e6e1"}
.icon-instagram:before{content:"\e664"}
.icon-email1:before{content:"\e638"}
.icon-adress:before{content:"\e622"}
.icon-tel:before{content:"\e642"}
.icon-telephone:before{content:"\e680";}