.ey-border-orange {
	border-color: #ff511f!important
}
.ey-orange {
	color: #ff511f!important
}
.ey-flex-jc-sb {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}
.ey-position-title>.ey-flex-item {
	position: relative
}
.ey-position-title>div>.ey-item-title {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	margin: 0px;
	background: rgba(0,0,0,.5);
	color: #FFF;
	padding: 6px 0px
}
.ey-scale .ey-item-img img {
	transition: all .3s
}
.ey-scale .ey-flex-item:hover .ey-item-img img {
	transform: scale(1.2)
}
.ey-text-align-c {
	text-align: center!important
}
.ey-template-40 .ey-item-img img {
	width: 100%
}
.ey-template-40>.ey-flex-jc-sb>.ey-flex-item {
	border: 1px solid #FFF
}
.ey-template-3 {
	position: relative
}
.ey-template-3>h5 {
	width: 100%;
	font-size: 18px;
	padding: 3px 20px;
	box-sizing: border-box;
	border-bottom: 4px solid #CCC;
	margin: 0px
}
.ey-template-3>h5::before {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 2px;
	right: 0px;
	width: calc(100% - 20px);
	height: 3px;
	background-color: #FFF
}
.ey-item-img {
	overflow: hidden
}
.ey-item-img img {
	display: block;
	margin: 0px auto
}
.ey-item-title {
	margin: 6px 0px
}
.ey-template-56 {
	max-width: 1600px;
	color: #333
}
.ey-template-56>p {
	line-height: 1.6;
	margin: 0px;
	padding: 5px 0px
}
.ey-template-56>img, .ey-template-56>p>img {
	max-width: 100%;
	height: auto
}
.ey-template-56>.ey-template-3 {
	margin: 15px 0px 5px
}
.ey-template-56>.ey-table-container {
	padding: 10px 0px
}
.ey-flex-item4 {
	width: 24%;
	margin: 10px 0px
}
@media(max-width:480px) {
.ey-template-3>h5 {
	font-size: 16px
}
}
@media(max-width:768px) {
.ey-flex-item4 {
	width: 49%
}
}
