.eng-type {
	padding-top: 26px;
}
.eng-type > ul {
	font-size: 0;
}
.eng-type > ul > li {
	display: inline-block;
	width: 33.33%;
	line-height: 16px;
	font-size: 16px;
	color: #333;
	text-align: center;
	vertical-align: top;
}
.eng-type > ul > li a {
	display: block;
	transition: .3s;
}
.eng-type-rect {
	margin-top: 15px;
	opacity: 0;
	-o-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}
.eng-type > ul > li:hover .eng-type-rect,
.eng-type > ul > li.cur .eng-type-rect {
	opacity: 1;
}
.eng-type > ul > li:hover a,
.eng-type > ul > li.cur a {
	color: #00653C;
}

.room-list {
	padding-top: 50px;
	border-top: 1px solid #cacaca;
	margin-top: -7px;
	min-height: 579px;
}
.room-list > ul {
	font-size: 0;
	opacity: 0;
	-o-transition: .2s;
	-moz-transition: .2s;
	transition: .2s;
}
.room-list > ul > li {
	display: inline-block;
	/*margin-right: 29px;*/
	width: 33.33%;
	margin-bottom: 50px;
	vertical-align: top;
	text-align: center;
}
/*.room-list > ul > li:nth-child(3n+0) {
	margin-right: 0;
}*/
.room-list > ul > li > a {
	display: block;
	width: 100%;
	height: 100%;
}
.room-one {
	/*width: 514px;*/
	width: 96.375%;
	display: inline-block;
}
.room-one-img {
	position: relative;
	display: inline-block;
	/*width: 514px;*/
	/*height: 398px;*/
	width: 100%;
	overflow: hidden;
}
.room-one-img span {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	-o-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}
.room-list > ul > li:hover .room-one-img span {
	opacity: .3;
}
.room-one-img-img {
	position: relative;
	z-index: -1;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	/*width: 100%;*/
	/*width: auto;*/
	height: 100%;
}
.room-one-desc i {
	position: absolute;
	z-index: -1;
	left: 0;
	top: -100%;
	width: 20.1%;
	height: 100%;
	background: #00693e;
	-o-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}
.room-list > ul > li:hover .room-one-desc i {
	top: 0;
}
.room-one-desc .col-go-2 {
	left: 20%;
	-o-transition: .3s .1s;
	-moz-transition: .3s .1s;
	transition: .3s .1s;
}
.room-one-desc .col-go-3 {
	left: 40%;
	-o-transition: .3s .2s;
	-moz-transition: .3s .2s;
	transition: .3s .2s;
}
.room-one-desc .col-go-4 {
	left: 60%;
	-o-transition: .3s .3s;
	-moz-transition: .3s .3s;
	transition: .3s .3s;
}
.room-one-desc .col-go-5 {
	left: 80%;
	-o-transition: .3s .4s;
	-moz-transition: .3s .4s;
	transition: .3s .4s;
}
.room-one-img-more {
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
	font-size: 24px;
	color: #fff;
	opacity: 0;
	-o-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}
.room-list > ul > li:hover .room-one-img-more {
	top: 35%;
	opacity: 1;
}
.room-share-down {
	position: absolute;
	bottom: -5%;
	width: 100%;
	color: #fff;
	font-size: 0;
	opacity: 0;
	-o-transition: .5s .15s;
	-moz-transition: .5s .15s;
	transition: .5s .15s;
}
.room-list > ul > li:hover .room-share-down {
	bottom: 0;
	opacity: 1;
}
.room-share-down img {
	margin-top: -3px;
	margin-right: 20px;
}
.room-share,
.room-down {
	display: inline-block;
	width: 50%;
	line-height: 80px;
	vertical-align: top;
	font-size: 16px;
	color: #fff;
}
.room-share img,
.room-down img {
	-o-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}
.room-share:hover img,
.room-down:hover img {
	-webkit-transform: translateY(-5px);
	   -moz-transform: translateY(-5px);
	    -ms-transform: translateY(-5px);
	     -o-transform: translateY(-5px);
	        transform: translateY(-5px);
}
.share-down-line-I,
.share-down-line-II {
	position: absolute;
	background: #fff;
	opacity: .41;
}
.share-down-line-I {
	width: 100%;
	height: 1px;
}
.share-down-line-II {
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
	width: 1px;
	height: 100%;
}
.room-one-desc {
	position: relative;
	padding-top: 18px;
	height: 80px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
.room-one-desc h3 {
	margin-bottom: 15px;
	line-height: 18px;
	font-size: 18px;
	color: #333;
	-o-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}
.room-one-desc p {
	line-height: 14px;
	font-size: 14px;
	color: #333;
	-o-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}
.room-list > ul > li:hover .room-one-desc h3,
.room-list > ul > li:hover .room-one-desc p {
	color: #fff;
}

/*@media (min-width: 75em) {
  .container {
    max-width: none;
  }
}*/

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

@media (max-width: 1200px) {
	.room-share, 
	.room-down {
	    line-height: 70px;
	    font-size: 16px;
	}
	.room-one-img-more {
	    font-size: 20px;
	}
	.eng-type {
		padding-top: 20px;
	}
	.eng-type-rect {
		margin-top: 10px;
	}
}

@media (max-width: 1200px) {
}
@media (max-width: 62em) {
	.room-list > ul > li {
	    width: 50%;
	    margin-bottom: 30px;
	}
	.room-one-desc h3 {
	    margin-bottom: 10px;
	    line-height: 16px;
	    font-size: 16px;
	}
	.room-one-desc {
	    padding-top: 10px;
	    height: 60px;
	}
	.room-share-down img {
	    margin-top: -3px;
	    margin-right: 10px;
	}
	.room-share, .room-down {
	    line-height: 50px;
	    font-size: 14px;
	}
	.room-share img, 
	.room-down img {
		width: 18px;
	}
	.room-one-img-more {
	    font-size: 18px;
	}
	.room-list {
		padding-top: 40px;
	}
}
@media (max-width: 48em) {
	.room-list > ul > li {
	    margin-bottom: 20px;
	}
}
@media (max-width: 34em) {
	.room-list {
		padding-top: 30px;
	}
	.room-list > ul > li {
	    width: 100%;
	    margin-bottom: 26px;
	}
	.eng-type > ul > li {
	    line-height: 14px;
	    font-size: 14px;
	}
}