
body {
    background: #f2f2f2;
}

/*.fix*/
/*.fix-logo-all,
.fix-nav-all,
.fix-qq-all,
.fix-lang-all {
    background: #f2f2f2;
}

.fix-logo-all,
.fix-nav-all {
}
.fix-nav-all {
    padding-bottom: 14px; 
}
.fix-nav-all > ul > li:first-child {
    margin-left: 0;
}*/
.fix-qq-all {
/*    top: auto;
    bottom: 50%;
    transform: translateY(0%);*/
    background: rgba(242, 242, 242, .66);
}
.fix-share-all {
/*    top: 65%;
    -webkit-transform: translateY(-65%);
    -ms-transform: translateY(-65%);
    -o-transform: translateY(-65%);
    transform: translateY(-65%);*/
}
.fix-bg-inside {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 110px;*/
    height: 11.3%;
    min-height: 82px;
    background: rgba(242, 242, 242, .97);
}
.fix-bg-inside i {
    position: absolute;
    display: block;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background: -moz-linear-gradient(bottom, transparent, #d9d8d9);
    background: -o-linear-gradient(bottom, transparent, #d9d8d9);
    background: linear-gradient(0deg, transparent, #d9d8d9);
    opacity: 0;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

/*.inside-all*/
.inside-all {
    margin-top: 180px;
}

/*内页锚点*/
.nav-inside {
    position: fixed;
    z-index: 13;
    padding-top: 6px;
    padding-bottom: 6px;
    /*right: 2.6%;*/
    left: 4.5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
         transform: translateY(-50%);
}
.nav-inside > ul > li {
    margin-bottom: 24px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}
.nav-inside > ul > li a{
    color: #999;
}
.nav-inside > ul > li.on a{
    color: #00693e;
}
.nav-inside > ul > li.on {
    color: #00693e;
}
.nav-inside > ul > li.font-white {
    color: #fff;
}
.nav-inside-arrow.img-white img {
    -webkit-filter: saturate(300%);
    filter: saturate(300%);
}
.nav-inside > ul > li:last-child {
    margin-bottom: 0;
}
.nav-inside-line {
    position: absolute;
    left: -30px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #cacaca;
}
.nav-inside-top {
    position: absolute;
    left: -5px;
    top: -17px;
}
.nav-inside-btm {
    position: absolute;
    left: -5px;
    bottom: -14px;
}
.nav-inside-arrow {
    position: absolute;
    top: 2px;
}


/*.inside-title*/
.inside-title-all {
    text-align: center;
}
.inside-title-all {
    padding-bottom: 60px;
    border-bottom: 1px solid #cacaca;
}
.inside-title-all.nomain {
    position: relative;
    z-index: 10;
    border-bottom: 0;
}
.inside-title-I {
    margin-bottom: 14px;
}
.inside-title-I span.zhong{
    font-size: 48px;
    color: #00693e;
}
.inside-title-II span.en{
    font-size: 18px;
	color: #999;
}
.inside-title-all.nomain .inside-title-I {
    margin-bottom: 4px;
}

/*.footer*/
.footer-all {
    margin-top: 60px;
    overflow: hidden;
}

/*.edit-all*/
.edit-all img {
    max-width: 100%;
    height: auto !important;
}
.edit-p-1 {
    line-height: 29px;
    font-size: 16px;
    color: #333;
}
.edit-p-2 {
    line-height: 29px;
    font-size: 16px;
    color: #727171;
    letter-spacing: .1em;
}
.edit-space-1 {
    height: 28px
}
.edit-space-2 {
    height: 75px
}
.edit-space-3 {
    height: 48px
}

/*内页控制按钮*/
.page-ctrl {
    margin: 60px auto 0;
    text-align: center;
}

.page-back
 {
    display: inline-block;
    width: 104px;
    height: 42px;
    line-height: 42px;
    background-color: #00693e;
    cursor: pointer;
    color: #fff;
    transition: .3s;
    vertical-align: top;
}
.page-prev,
.page-next {
    display: inline-block;
    width: 380px;
    height: 42px;
    line-height: 42px;
    background-color: #00693e;
    cursor: pointer;
    color: #fff;
    transition: .3s;
    vertical-align: top;
}
.page-prev {
    position: absolute;
    left: 0;
    float: left;
    background-color: transparent;
}
.page-next {
    position: absolute;
    right: 0;
    float: right;
    background-color: transparent;
}
.page-prev:hover,
.page-next:hover {
    color: ##00693e;
}
.page-back a {
    color: #fff;
}
.page-back:hover {
    background-color: #008850;
}
.page-back > img {
    position: relative;
    top: -2px;
    margin-right: 9px;
}

/*下单表单*/
.eng-form-all {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    visibility: hidden;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}
.eng-form-all.show {
    opacity: 1;
    visibility: visible;
}
.eng-form {
    position: absolute;
    left: 50%;
    top: 44%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 910px;
    height: 470px;
    background: #fff;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}
.show .eng-form {
    top: 50%;
}
.eng-form input,
.eng-form textarea {
    font-family: "microsoft yahei";
}
.eng-form-close {
    position: absolute;
    top: 10px   ;
    right: -50px;
    cursor: pointer;
}
.eng-form h3 {
    padding-left: 40px;
    line-height: 60px;
    background: #00693e;
    color: #fff;
}
.eng-form h3 img {
    margin-top: -5px;
    margin-right: 10px;
}
.eng-form > ul {
    padding: 47px 40px;
    font-size: 0;
}
.eng-form > ul > li {
    display: inline-block;
    margin-bottom: 50px;
    width: 50%;
    vertical-align: top;
}
.eng-form > ul > li.textarea {
    width: 100%;
    margin-bottom: 30px;
}
.eng-form > ul > li input,
.eng-form > ul > li textarea {
    padding-bottom: 24px;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    width: 90%;
    font-size: 16px;
    outline: 0;
}
.eng-form > ul > li:nth-child(2) input {
    float: right;
}
.eng-form > ul > li textarea {
    width: 100%;
    height: 130px;
    resize: none;
}
.eng-form > ul > li.submit {
    float: right;
    height: 40px;
    line-height: 40px;
    text-align: right;
}
.eng-form > ul > li.submit input {
    width: 110px;
    height: 40px;
    line-height: 40px;
    background: #00693e;
    color: #fff;
    cursor: pointer;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.eng-form > ul > li.submit input:hover {
    background: #00834d;
}

@media (min-width: 1400px) {
    .container {
        max-width: none;
    }
} 


@media (min-width: 75em) {
    .container {
        max-width: 75rem;
    }
}

@media (max-width: 1450px) {
    .nav-inside {
        left: 45px;
    }
}    

@media (max-width: 1370px) {
    .nav-inside-arrow {
        display: none;
    }
    .nav-inside > ul > li {
        margin-bottom: 15px;
        font-size: 12px;
    }
    .nav-inside-line {
        left: -8px;
    }
    .nav-inside {
        left: 23px;
    }
}    

@media (max-width: 1350px) {
    .nav-inside {
        display: none;
    }
}    

@media (max-width: 75em) {
    .fix-bg-inside {
        display: none;
    }
    .fix-share-all {
        display: none;
    }
    .nav-inside {
        display: none;
    }

    .eng-form {
        width: 600px;
        height: 470px;
    }
}
@media (max-width: 62em) {
    .inside-all {
        margin-top: 140px;
    }
    .inside-title-all {
        padding-bottom: 40px;
    }
    .inside-title-I {
        margin-bottom: 10px;
    }
    .inside-title-I > img {
        height: 34px;
    }
    .inside-title-II > img {
        height: 12px;
    }
    
    .fix-qq-all {
        right: auto;
        left: 15px;
        top: auto;
        bottom: 15px;
        -webkit-transform: translateY(0);
           -moz-transform: translateY(0);
            -ms-transform: translateY(0);
             -o-transform: translateY(0);
                transform: translateY(0);
        padding-top: 6px;
        width: 60px;
        height: 60px;
    }
}


@media (max-width: 700px) {
    .eng-form > ul > li {
        margin-bottom: 20px;
        width: 100%;
    }
    .eng-form {
        width: 250px;
        height: 370px;
    }
    .eng-form > ul {
        padding: 30px 20px;
    }
    .eng-form > ul > li input, 
    .eng-form > ul > li textarea {
        padding-bottom: 10px;
        width: 100%;
        font-size: 14px;
    }
    .eng-form > ul > li.textarea {
        margin-bottom: 16px;
    }
    .eng-form > ul > li textarea {
        height: 120px;
    }
    .eng-form > ul > li.submit input {
        width: 80px;
        height: 30px;
        line-height: 30px;
    }
    .eng-form h3 {
        padding-left: 16px;
        line-height: 40px;
        font-size: 14px;
    }
    .eng-form-close {
        top: 6px;
        right: -26px;
    }
    .eng-form-close img {
        width: 20px;
    }

}

@media (max-width: 48em) {
    .inside-all {
        margin-top: 120px;
    }
    .inside-title-all {
        padding-bottom: 30px;
    }
    .inside-title-I {
        margin-bottom: 6px;
    }
    .inside-title-I > img {
        height: 30px;
    }
    .edit-space-1 {
        height: 18px;
    }
    .edit-space-2 {
        height: 30px;
    }

    /*内页控制按钮*/
    .page-ctrl {
        margin: 40px auto 0;
    }
    .page-prev,
    .page-back,
    .page-next {
        width: 80px;
        height: 34px;
        line-height: 34px;
        font-size: 14px;
    }

}

@media (max-width: 34em) {
    .inside-all {
        margin-top: 96px;
    }
    .inside-title-all {
        padding-bottom: 26px;
    }
    .inside-title-I {
        margin-bottom: 2px;
    }
    .inside-title-I > img {
        height: 24px;
    }
    .edit-p-1 {
        line-height: 24px;
        font-size: 14px;
    }
    .edit-space-1 {
        height: 18px;
    }
    .edit-space-2 {
    }
    .edit-space-3 {
        height: 30px;
    }
    .edit-p-2 {
        line-height: 24px;
        font-size: 14px;
        color: #727171;
    }
}