/* eyoucms.com 易优CMS -- 好用,免费,安全 */
a:hover {text-decoration: none;}
a {transition: all .4s;-webkit-transition: all .4s;-moz-transition: all .4s;}

/*头部样式*/
#header {position: relative;}
#header .logo {}
#header .tel {}
#header .menu_icon {position: absolute;top: 35%;right: 5%;width: 8%;}
@media all and (max-width: 992px) {
	#header .logo{ height:70px;}
	.logo img{ max-height:100%;max-width:none}
}

/*pc导航*/
.pc_menu .menu .nLi {float: left;width: 14%;position: relative;}
.pc_menu .menu .nLi h3 {padding: 30px 0 20px; font-size:16px;}
.pc_menu .menu .nLi h3 a {display: block;text-align: center;color: #181818;line-height: 30px;}
.pc_menu .menu .nLi .menu_2 {display: none;background: #4e2d0e;position: absolute;width: 100%;z-index: 10;padding:10px 0}
.pc_menu .menu .nLi .menu_2 li a {display: block;color: #fff;line-height:24px;text-align: center;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}


/*大图样式*/
#banner {position: relative; overflow: hidden;}
#banner .owl-theme .owl-controls .owl-dots {position: absolute;bottom: 2%;width: 100%;}/*大图下方点点的位置*/
#banner .owl-theme .owl-controls .owl-nav .owl-prev,#banner .owl-theme .owl-controls .owl-nav .owl-next{ position:absolute; bottom:50%;padding:15px 10px}/*箭头的设置*/
#banner .owl-theme .owl-controls .owl-nav .owl-prev{ left:5%;}
#banner .owl-theme .owl-controls .owl-nav .owl-next{ right:5%;}
#banner #owl-demo a.item { display:block; background-position:top center; background-repeat:no-repeat;height: 100%;width: 100%; background-size:auto 100%}
#owl-demo,#owl-demo .owl-wrapper-outer,#owl-demo .owl-wrapper,#owl-demo .owl-item,#banner {height: 735px;}/*大图记得修改高度*/

@media all and (max-width: 992px) {
  #owl-demo,#owl-demo .owl-wrapper-outer,#owl-demo .owl-wrapper,#owl-demo .owl-item,#banner {height: 400px;}
}
@media all and (max-width: 640px) {
  #owl-demo,#owl-demo .owl-wrapper-outer,#owl-demo .owl-wrapper,#owl-demo .owl-item,#banner {height: 200px;}
}


/*pc右侧快捷按钮*/
.right_nav {}
.right_nav .aside li > p,.right_nav .aside > li > div {background-color: #6a757c;color: #fff;}
.right_nav .aside {position: fixed;right: 0;top: 20%;z-index: 10000;}
.right_nav .aside > li {width: 60px;line-height: 60px;text-align: center;margin-bottom: 2px;cursor: pointer;position: relative;}
.right_nav .aside > li > p {position: relative;z-index: 1005;line-height: 60px;}
.right_nav .aside > li img {vertical-align: middle;}
.right_nav .aside > li p img {width: 80%;}
.right_nav .aside > li p:hover img {width: 85%;}
.right_nav .aside > li .img2 {display: none;}
.right_nav .aside > li > div {background-image: url(../image/white_bg.png);background-repeat: repeat;position: absolute;display: none;}
.right_nav .aside > li .phone_meassage {right: -240px;top: 0;width: 300px;text-align: center;font-size: 25px;line-height: 50px;padding: 5px 0;}
.right_nav .aside > li .qq_online {top: 0;right: -127px;width: 187px;padding: 0 20px 0 15px;}
.right_nav .aside > li .qq_online .qq_online_title {text-align: left;font-size: 15px;line-height: 30px;border-bottom: 1px solid #fff;}
.right_nav .aside > li .qq_online .qq_online_box {margin-top: 11px;}
.right_nav .aside > li .qq_online .qq_online_box ul li {line-height: 35px;}
.right_nav .aside > li .qq_online .qq_online_box ul li a{ color:#fff}
.right_nav .aside > li .qq_online .qq_online_box ul li i {float: left;margin-top: -17px;}
.right_nav .aside > li .qq_online .qq_online_box ul li span {float: left;margin-top: -16px;margin-left: 10px;}
.right_nav .aside > li .qq_online .qq_online_box ul li span:hover {text-decoration: underline;}
.right_nav .aside > li .ewm {top: -20px;right: 60px;width: 100px;height: 100px;}
.right_nav .aside > li .search_box {position: absolute;top: 0;right: -205px;width: 265px;text-align: center;height: 100%;}
.right_nav .aside > li .search_box .search_input {width: 220px;height: 36px;position: relative;margin: 12px auto;}
.right_nav .aside > li .search_box .search_input span {position: absolute;line-height: 34px;left: 10px;z-index: 101;}
.right_nav .aside > li .search_box .search_input input {width: 220px;border: none;background-color: transparent;height: 36px;padding-left: 10px;position: absolute;line-height: 30px;z-index: 1;top: 0;left: 0;background: url(../image/black_bg.png);}
.right_nav .aside > li .search_box ::-webkit-input-placeholder {color: #fff;}


/*底部样式*/
#footer .friendship {margin: 20px 0;}
#footer .friendship h4 {color: #84632e;}
#footer .friendship a {padding: 0 30px;}
#footer .copyright {background: #9e845a;text-align: center;padding-bottom: 10px;position: relative;}
#footer .copyright .footer_nav {display: inline-block;margin: 15px 0;}
#footer .copyright .footer_nav li {float: left;}
#footer .copyright .footer_nav li a {display: block;padding: 0 5px;color: #ffffff;}
#footer .copyright .copyright_con {color: #fff;padding: 0 15px;}
#footer .copyright .copyright_con a{ color:#fff}

#footer .copyright .top {position: absolute;right: 10px;top: -15px;width: 30px;height: 30px;border-radius: 50%;z-index: 10;}
#footer .copyright .top img {width: 80%;top: 2px;z-index: 100;position: absolute;left: 3px;}
#footer .copyright .top:before {background-image: url(../image/black_bg.png);display: block;content: " ";border-radius: 50%;z-index: 99;position: absolute;top: 0;left: 0;width: 30px;height: 30px;}

/*wap底部快捷按钮*/
.wap_footer {width: 100%;position: fixed;left: 0;bottom: 0;padding: 7px 0;z-index: 1000;background: #9e845a;}
.wap_footer dl {width: 20%;float: left;text-align: center; margin-bottom:0;}
.wap_footer dt {height: 33px;}
.wap_footer dd {color: #fff;}
.wap_footer dl dt img {width: 40%;}

/*手机底部搜索*/
.wap_search_input {position: fixed;bottom: 65px;left: 100%;width: 100%;z-index: 1000;padding: 8px 2%;background: #9e845a;}
.wap_search_input:after {background-color: rgba(0, 0, 0, 0.1);display: block;content: " ";position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 10;}
.wap_search_input input {float: left;width: 80%;border-radius: 4px;height: 30px;line-height: 30px;padding-left: 2%;color: #333;position: relative;z-index: 100;box-sizing: border-box;}
.wap_search_input p {float: left;height: 30px;line-height: 30px;color: #fff;position: relative;z-index: 100;margin-left: 2%;width: 18%;text-align: center;border-radius: 5px;background: rgba(255, 255, 255, 0.2);}

/*黑色遮罩*/
.black_cloth {position: fixed;z-index: 10000000;width: 100%;height: 100%;background: url(../image/black_cloth.png) repeat;display: none;top: 0;left: 0;}

/*手机左边弹出导航*/
.wap_menu {width: 250px;position: fixed;top: 0px;left: -250px;height: 100%;text-align: left;z-index: 10000001;background: #9e845a;}
.wap_menu li.menu_tit {font-size: 18px;font-weight: bold;background: rgba(255, 255, 255, 0.3);position: relative;padding: 15px 10px;color: #fff;}
.wap_menu li.menu_tit span {font-size: 20px;position: absolute;top: 12px;right: 15px;border-bottom: none;z-index: 1000;}
.wap_menu li {margin-bottom: 2px;font-size: 14px;position: relative;}
.wap_menu li .wap_menu1 {line-height: 24px;font-size: 16px;text-transform: Uppercase;background: rgba(255, 255, 255, 0.1);position: relative;}
.wap_menu li p {padding: 10px 10px; margin-bottom:0;}
.wap_menu li .wap_menu1 a {display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;padding-right: 25px;color: #ffffff;}
.wap_menu li .wap_menu1 p.left {float: none;}
.wap_menu li .wap_menu1 p.right {width: 15%;text-align: center;color: #fff;position: absolute;top: 0;right: 0;float: none;z-index: 1000;}
.wap_menu li .wap_menu2 {display: none;}
.wap_menu li .wap_menu2 a {display: block;background: none;color: rgba(255, 255, 255, 0.8);overflow: hidden;font-size: 14px;border-bottom: rgba(255, 255, 255, 0.1) solid 1px;padding: 10px;}
.wap_menu li .wap_menu2 a i {float: left;width: 4px;height: 4px;background-color: #fff;margin: 8px 10px 0 5px;}
.wap_menu li .wap_menu2 a span {float: left;width: 85%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}


/*pc侧边栏分类样式*/
._aside {padding-right: 0;}
._aside > h2 {}
/*一级的样式*/
._aside ul.sidemenu > li.sub1 ul {display: none;}
._aside ul.sidemenu > li.sub1 > a.sub1_a {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
._aside ul.sidemenu > li.current > a.sub1_a,._aside ul.sidemenu > li:hover > a.sub1_a {color: #ff0000;}
/*二级的样式*/
._aside ul.sidemenu > li.sub1 > ul > li.sub2 > a.sub2_a {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
/*三级的样式*/
._aside ul.sidemenu > li.sub1 > ul > li.sub2 > ul > li.sub3 > a.sub3_a {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.article{ padding-top:15px;}
@media (max-width: 640px) {
  ._aside {padding: 0;}
  /*手机内页crumb*/
  ._aside > h2 { font-size:16px; background:#aaa; height:30px; line-height:30px;}
  ._aside h2 .phone-menuicon {float: right;cursor: pointer;height:27px;}
  ._aside h2 .phone-menuicon img {-webkit-transition: all .4s;transition: all .4s;}
  /*手机内页分类下拉列表*/
  ._aside ul.sidemenu {width: 100%;display: none;}
  
  /*一级的样式*/
  ._aside ul.sidemenu > li.sub1 ul {display: none;}
  ._aside ul.sidemenu > li.sub1 > a.sub1_a {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap; background:#CCC}
  ._aside ul.sidemenu > li.current > a.sub1_a,._aside ul.sidemenu > li:hover > a.sub1_a {color: #ff0000;}
  /*二级的样式*/
  ._aside ul.sidemenu > li.sub1 > ul > li.sub2 > a.sub2_a {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
  /*三级的样式*/
  ._aside ul.sidemenu > li.sub1 > ul > li.sub2 > ul > li.sub3 > a.sub3_a {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
  #header .menu_icon img {width: 100%;}
}

/*新闻详情页样式，若不需要请删除*/
.news_detail .title {padding-bottom: 10px;border-bottom: dashed 1px #aaa;text-align: center;}
.news_detail .title h3 {font-size:16px;font-weight: bold;text-align: center;margin-bottom: 5px;line-height:35px}
.news_detail .title .box {display: inline-block;text-align: center;}
.news_detail .title .box img {width: 15px;height: 15px;display: inline-block;margin: 0 5px;vertical-align: middle;}
.news_detail .title .box div {margin-right: 5px;}
.news_detail .title .box .time {float: left;text-align: center;}
.news_detail .title .box .eye {float: left;text-align: center;}
.news_detail .title .box .back {float: left;}
.news_detail .news_detail_content {margin-top: 15px;}
.news_detail .pageTurning {margin-top: 15px;}
.news_detail .pageTurning .prevs,
.news_detail .pageTurning .nexts {background: #ddd;line-height:250%;padding:0 10px;}
.news_detail .pageTurning .prevs {margin-bottom: 5px;}


/*产品详情页样式，若不需要请删除*/
.product_detail .title {padding-bottom: 10px;border-bottom: dashed 1px #aaa;text-align: center;}
.product_detail .title h3 {font-size:120%;font-weight: bold;text-align: center;margin-bottom: 5px;line-height:35px;}
.product_detail .title .box {display: inline-block;text-align: center;}
.product_detail .title .box img {width: 15px;height: 15px;display: inline-block;margin: 0 5px;vertical-align: middle;}
.product_detail .title .box .back {float: left;}
.product_detail .product_detail_images {padding-top: 15px;text-align: center;position: relative;}
.product_detail .product_detail_images .product_detail_btn2 {position: absolute;right: 2%;top: 48%;background:url(../image/rgb0.3.png);z-index: 100;font-size:0;}
.product_detail .product_detail_images .product_detail_btn1 {position: absolute;left: 2%;top: 48%;background:url(../image/rgb0.3.png);z-index: 100;font-size:0}
.product_detail .product_detail_images .product_detail_btn1 a img,.product_detail .product_detail_images .product_detail_btn2 a img{  margin: 10px 5px;}
.product_detail .product_detail_images .owl-carousel .owl-item img {width:auto;  margin: auto;cursor: pointer;max-width:100%;}
.product_detail .product_detail_images .owl-theme .owl-controls {position: absolute;bottom: 2%;width: 100%;}
.product_detail .product_detail_images .product_detail_img {width: 80%;margin: 0 auto;}
.product_detail .product_detail_content {margin-top: 20px;margin-bottom: 20px;}
.product_detail .pageTurning {margin-top: 15px;}
.product_detail .pageTurning .prevs,
.product_detail .pageTurning .nexts {background: #ddd;line-height:250%;padding:0 10px;}
.product_detail .pageTurning .prevs {margin-bottom: 5px;}
 .pswp__bg{ background:url(../image/rgb0.8.png)}

