.eyou_history {
	overflow: hidden;
}
.eyoucms_product {
	background: rgb(249,249,249);
}
.eyoucms_gallery {
	overflow: hidden;
}
.blog_section {
	overflow: hidden;
}
.eyoucms_reservation {
	overflow: hidden;
}
.eyoucms_menu {
	overflow: hidden;
}
.partner {
	overflow: hidden;
}
.eyou_location {
	background: rgb(255,255,255);
}
.about-section .about-content {
	padding: 50px 60px;
}
@media(max-width: 767px) {
.about-section .about-content {
	padding: 0px 20px;
}
}
.eyoucms_team {
	padding-top: 30px;
	overflow: hidden;
}
.blog_section {
	overflow: hidden;
}
.contact-form-area {
	overflow: hidden;
}
.contact-form-area .info-box li .reply {
	border: 1px solid #f0f0f0;
	background: rgba(0, 0, 0, .008);
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
}
.contact-form-area .info-box li .reply>b {
	font-weight: inherit;
	padding: 5px 0;
	display: block;
	opacity: .8;
}
.contact-form-area .contact-form dl dt {
	display: none;
}
.contact-form-area .contact-form dl dd span {
	display: block;
}
.contact-form-area .contact-form dl dd span.captcha {
	position: relative;
}
.contact-form-area .contact-form dl dd span.captcha i {
	position: absolute;
	top: 10px;
	right: 1px;
	bottom: 1px;
	border: 3px;
	padding: 5px;
	padding-bottom: 0;
}
.contact-form-area .contact-form dl dd span.captcha img {
	display: block;
	max-height: 100%;
	cursor: pointer;
}
.contact-form-area .contact-form button {
	width: 100%;
	padding: 0;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s;
	font-size: 18px;
	font-weight: 600;
	line-height: 60px;
	background-color: transparent;
	color: rgb(0,0,0)
}
.contact-form-area .contact-form button:hover {
	opacity: .8;
}
@media(min-width:992px) {
.contact-form-area .info-box li .reply {
	padding: 10px 12px;
}
}
 @media(max-width:991px) {
.contact-form-area .info-box li .reply {
	padding: 5px 10px;
}
.contact-form-area .contact-form button {
	font-size: 16px;
}
}
 @media(max-width:767px) {
.contact-form-area .info-box li .reply {
	margin-top: 10px;
	margin-bottom: 5px;
}
}
.eyoucms_team {
	padding-top: 30px;
	overflow: hidden;
}
.searchform form {
	position: relative;
}
.searchform button {
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 18px;
	width: 50px;
}
 @media(min-width:992px) {
.searchform {
	padding: 30px 0;
}
}
 @media(max-width:991px) {
.searchform {
	padding: 20px 0;
}
}
.searchlist {
	border-top: 1px solid #f0f0f0;
}
.searchlist ul {
	padding-bottom: 18px;
}
.searchlist ul li {
	border-bottom: 1px dashed #f0f0f0;
	padding: 20px 0;
	display: flex;
}
.searchlist ul li:first-child {
	padding-top: 0;
}
.searchlist ul li:after {
	display: block;
	content: '';
	clear: both;
}
.searchlist ul li img {
	float: left;
}
.searchlist ul li span {
	display: block;
}
.searchlist ul li img+span {
	padding: 20px;
}
.searchlist ul li span i {
	display: block;
	opacity: .8;
	font-style: inherit;
}
.searchlist .null-box {
	text-align: center;
}
 @media(min-width:992px) {
.searchform form {
	width: 888px;
}
.searchlist {
	padding: 30px 0;
}
.searchlist ul li h3 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 10px;
}
}
 @media(max-width:991px) {
.searchlist {
	padding: 20px 0;
}
.searchlist ul li h3 {
	font-size: 18px;
	margin: 0 0 10px;
	padding: 10px 0 0;
}
}
 @media(max-width:767px) {
.searchlist ul li {
	padding: 15px;
	display: block;
}
.searchlist ul li img {
	width: 100%;
}
.searchlist ul li img+span {
	padding: 0;
}
}
.tags {
	padding: 48px 0;
}
.tags .list-box ul {
	margin: -8px;
}
.tags .list-box ul:after {
	display: block;
	content: '';
	clear: both;
}
.tags .list-box ul li {
	float: left;
	padding: 8px;
	width: 16.66666%;
}
.tags .list-box ul li a {
	padding: 8px 18px;
	background: #f8f8f8;
	font-size: 15px;
	display: block;
}
.tags .list-box ul li a i {
	font-style: normal;
	float: right;
	opacity: .8;
}
.tags .list-box ul li a b {
	font-weight: inherit;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media(max-width:1199px) {
.tags {
	padding: 28px 0;
}
.tags .list-box ul {
	margin: -6px;
}
.tags .list-box ul li {
	width: 20%;
	padding: 6px;
}
}
@media(max-width:992px) {
.tags .list-box ul li {
	width: 25%;
}
}
@media(max-width:767px) {
.tags {
	padding: 18px 0;
}
.tags .list-box ul {
	margin: -4px;
}
.tags .list-box ul li {
	width: 50%;
	padding: 4px;
}
.tags .list-box ul li a {
	padding: 6px 8px;
	font-size: 14px;
}
}
