/* eyoucms.com 易优CMS -- 好用,免费,安全 */

/*■■■■■■■■　共同设定 ■■■■■■■■*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, tr, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}
ul, ul li, input, dl, dd {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
img, a img {
	border: 0;
	margin: 0;
	padding: 0;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
a {
	text-decoration: none;
	color: #444;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
a:hover {
	text-decoration: none;
}
.clear {
	clear: both;
}
/* HTY Common Atom*/
.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clear-fix:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.c_b {
	clear: both;
}
textarea {
	resize: none;
	overflow: auto;
}
/*■■■■■■■■　基本设定　■■■■■■■■*/
body {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #535353;
	overflow-x: hidden;
	margin: 0 auto;
}
.theme_color {
	background: #00945a;
}
.theme_color1 {
	background: #ee0062;
}
.theme_color2 {
	background: #222;
}
.wl_1004 {
	width: 1004px;
	margin: 0 auto;
	position: relative;
}
/*----------------- ■ common -------------------*/
.rollover:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	zoom: 1;
}
.main {
	width: 1004px;
	margin: 0 auto;
	position: relative;
}
/*----------------- ■ header -------------------*/
.header {
	width: 100%;
	height: 96px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	background: rgba(255,255,255,0.6);
}
.header .main {
	width: 1004px;
	margin: 0 auto;
}
.header .logo {
	float: left;
	margin-top: 0;
}
.header .logo a {
	float: left;
}
.header .tel {
	float: right;
	background-image: url(../image/index_icon01.png);
	background-position: left center;
	background-repeat: no-repeat;
	height: 25px;
	line-height: 25px;
	padding-left: 60px;
	font-size: 21px;
	color: #ff4800;
	margin-top: 37px;
}
.header .tel span {
	font-size: 30px;
}
.header .share_b {
	float: right;
	margin-top: 17px;
}
/*------search-------*/
.isearch {
	float: right;
	width: 30px;
	height: 30px;
	margin: 16px 0 0;
	position: relative;
}
.isearch span {
	display: block;
	height: 30px;
	background: url(https://demoall.kuaituiyun.cn/516/template/pc/skin/images/search.png) center top no-repeat;
}
.search01 {
	float: right;
	width: 130px;
	height: 26px;
	border: 1px solid #c0d5d2;
	background-color: #e0f5f3;
	border-radius: 15px;
	margin-right: 44px;
	margin-top: 36px;
	z-index: 100;
	position: relative;
}
.search02 {
	float: left;
	margin-left: 8px;
}
.search02 input.search03 {
	width: 90px;
	font-size: 14px;
	color: #888888;
	height: 26px;
	line-height: 26px;
	border: none;
	outline: none;
	float: left;
	font-size: 12px;
	font-family: "微软雅黑";
	background: none;
}
.search02 input.search04 {
	width: 15px;
	height: 26px;
	float: left;
	background-image: url(../image/index_icon02.png);
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	outline: none;
	background-color: #e1f5f3;
	cursor: pointer;
}
.search05 {
	float: left;
	width: 60px;
	height: 26px;
	line-height: 26px;
	margin: 0px 0 0 6px;
	border-right: 1px solid #cadcda;
	background: url(../image/nav_now1.png) 56px center no-repeat;
	padding: 0 7px 0 0
}
.jslct {
	color: #333;
	font-family: "微软雅黑";
	display: inline-block;
*display:inline;
	zoom: 1;
	font-size: 12px;
	position: relative;
	vertical-align: middle;
	cursor: default;
	width: 60px;
	height: 26px;
	line-height: 26px;
	z-index: 0;
}
.jslct div.jslct_t {
	position: relative;
	padding-left: 5px;
	z-index: 2;
*display:block!important;
*display:inline;
	zoom: 1;
}
.jslct em {
	font-style: normal;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #727272
}
.jslct dl, .jslct dl dd {
	padding: 0;
	margin: 0;
	list-style: none
}
.jslct dl {
	background: #00945a;
	position: absolute;
	top: 26px;
	left: 0;
	cursor: default;
	width: 60px;
	padding: 0 2px 8px;
	overflow: hidden;
	z-index: 1;
	display: none;
	font-size: 12px;
}
.jslct dl dd {
	box-sizing: border-box;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
border-/bottom:#ccc solid 1px;
	white-space: nowrap;
	cursor: pointer;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	color: #fff;
}
.jslct dl dd:hover {
	color: #fff;
	background: #21a28a;
}
.jslct dl dd.hover {
	color: #fff;
	background: #21a28a;
}
/*********nav*********/
.g_nav {
	height: 53px;
	border-bottom: 1px solid #91d7c2;
	border-top: 1px solid #91d7c2;
	width: 100%;
	position: absolute;
	left: 0;
	top: 96px;
	z-index: 9;
	background-color: #eefaf8;
}
.g_nav01 {
	width: 1004px;
	margin: 0 auto;
}
.g_nav01 table {
	float: left;
	width: 100%;
}
.g_nav01 table tr td {
	text-align: center;
	height: 53px;
	position: relative;
}
.g_nav01 table td {
	text-align: left;
}
.g_nav01 a {
	display: block;
	color: #333333;
	font-size: 16px;
	position: relative;
	text-align: center;
	height: 53px;
	line-height: 53px;
}
.g_nav01 a:hover {
	display: block;
	background-color: #00945a;
	color: #fff;
}
.g_nav01 a.now {
	display: block;
	background-color: #00945a;
	color: #fff;
}
.g_nav01 a span {
	font-size: 12px;
	color: #baa58c;
}
.g_nav01 table tr td .nav_tan {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	top: 54px;
	padding: 5px 0 10px 0;
	background-color: #00945a;
	opacity: 0.95;
	z-index: 100;
}
.g_nav01 table tr td .nav_tan a {
	width: 90%;
	margin: 0 auto;
	line-height: 30px;
	height: 30px;
	font-size: 12px;
	color: #fff;
}
/*********footer*********/
.footer {
	height: 158px;
	width: 100%;
	clear: both;
}
.footer .friend_links {
	float: left;
	width: 100%;
	height: 56px;
	padding-top: 30px;
	line-height: 28px;
}
.footer .friend_links span {
	font-size: 14px;
	color: #ffffff;
	float: left;
	padding-bottom: 25px;
}
.footer .friend_links a {
	float: left;
	color: #ffffff;
	margin-left: 15px;
	font-size: 14px;
}
.footer .friend_links a:hover {
	color: #ffffff;
}
.footer .rbb {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.footer .rb {
	float: left;
	font-size: 14px;
	line-height: 36px;
}
.footer .rb a {
	color: #ffffff;
}
.footer .rb a:hover {
	color: #ffffff;
}
.footer01 {
	background: url(../image/ph2.gif) left top repeat-x;
	height: 65px;
	line-height: 65px;
}
.footer01 table {
	float: left;
	width: 100%;
}
.footer01 table tr td {
	text-align: center;
	height: 65px;
	position: relative;
}
.footer01 table td {
	text-align: left;
}
.footer01 a {
	display: block;
	color: #fff;
	font-size: 16px;
	position: relative;
	text-align: center;
	height: 65px;
	line-height: 65px;
}
.footer02 {
	background: #454545;
	height: 167px;
	border-bottom: 12px solid #222222
}
.footer02 .fl {
	color: #8a8a8a;
	width: 600px;
	padding: 0 0 0 20px;
}
.footer02 .tel {
	color: #fefefe;
	font-size: 36px;
	font-weight: normal;
	padding: 20px 0 0
}
.footer02 .addr {
	display: block;
	line-height: 35px;
	margin-top: 5px;
}
.footer02 .addr a {
	color: #8a8a8a;
}
.footer02 .fr {
	width: 365px;
	color: #ffffff;
}
.bdsharebuttonbox {
	float: left;
	margin-left: 18px;
}
/*pub*/
.wl_1120 {
	width: 1120px;
	margin: 0 auto;
	position: relative;
}
