
* {
	border: 0;
	padding: 0;
	margin: 0
}
body {
	font-size: 12px;
	font-family: "微软雅黑";
	color: #000
}
li {
	list-style: none
}
.ov {
	overflow: hidden
}
.clear {
	clear: both
}
em {
	font-style: normal
}
.fl {
	float: left
}
.fr {
	float: right
}
.clr {
	clear: both;
}
A:link {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #000;
	text-decoration: none
}
A:visited {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #000;
	text-decoration: none
}
A:hover {
	font-family: "微软雅黑";
	font-size: 12px;
	color: red;
	text-decoration: none
}
A:active {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #2c5403;
	text-decoration: none
}
a:link, a:visited {
	text-decoration: none;
	transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-webkit-transition: all 300ms ease 0s;
	-o-transition: all .2s ease-in-out 0s
}
a:link, a:visited {
	text-decoration: none;
	transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-webkit-transition: all 300ms ease 0s;
	-o-transition: all .2s ease-in-out 0s
}
a {
	text-decoration: none;
blr:expression(this.onFocus=this.blur());
	cursor: pointer
}
#wrap {
	width: 100%;
	margin: auto;
	overflow: hidden
}
#mainWrap {
	width: 1200px;
	margin: auto;
	overflow: hidden
}
#topWrap {
	width: 100%;
	margin: auto;
	overflow: hidden;
	background: url(../image/topbg.jpg) repeat-x;
	padding-top: 2px
}
.topNav {
	width: 100%;
	float: left;
	line-height: 33px;
	color: #666
}
.topNav span {
	float: right
}
.topNav span a {
	color: #666
}
.topNav span a:hover {
	color: #246cd7
}
.logoWrap {
	width: 100%;
	float: left;
	overflow: hidden;
	padding: 30px 0
}
.logoWrapLeft {
	width: 900px;
	float: left
}
.logo {
	width: 228px;
	float: left
}
.description {
	float: left;
	border-left: #ccc 1px solid;
	margin: 10px 0 0 20px;
	padding-left: 20px
}
.description h1 {
	color: #246cd7
}
.description h1 em {
	font-style: normal;
	font-size: 20px;
	font-weight: 400
}
.description i {
	font-style: normal;
	font-size: 20px;
	font-weight: 700;
	color: #666
}
.logoWrapRight {
	width: 270px;
	float: right;
	text-align: right
}
.logoWrapRight span {
	width: 100%;
	float: left;
	font-size: 20px;
	color: #666;
	font-weight: 700
}
.logoWrapRight em {
	font-style: normal;
	font-size: 34px;
	font-weight: 700;
	color: #246cd7
}
#navWrap {
	width: 100%;
	height: 43px;
	margin: auto;
	background: #246cd7
}
.nav {
	width: 1200px;
	margin: auto
}
.nav li {
	width: 121px;
	height: 43px;
	float: left;
	line-height: 43px;
	text-align: center
}
.nav li a {
	display: block;
	font-size: 14px;
	color: #fff
}
.nav li a:hover {
	display: block;
	background: url(../image/hover.jpg) no-repeat
}
.nav li.cur {
	display: block;
	background: url(../image/hover.jpg) no-repeat
}
.wapMenu a {
	width: 30px;
	height: 23px;
	float: right;
	background: url(../image/wapmenu.png) no-repeat;
	display: none;
}
.swiper-container {
	width: 100%;
	margin: auto
}
.swiper-slide li.banner01 {
	height: 500px;
}
#productWrap {
	width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 15px 0
}
.categoryWrap {
	width: 224px;
	float: left
}
.categoryWrap h2 {
	width: 224px;
	height: 60px;
	float: left;
	background: url(../image/categorytitle.png) no-repeat;
	color: #fff;
	text-align: center;
	padding-top: 14px
}
.categoryWrap h2 i {
	font-style: normal;
	display: block
}
.categoryWrap h2 em {
	font-style: normal;
	font-size: 12px;
	font-weight: 400
}
.categoryList {
	width: 200px;
	float: left;
	border: #ccc 1px solid;
	border-width: 0 1px 1px 1px;
	padding: 10px 11px
}
.categoryList li {
	width: 185px;
	float: left;
	line-height: 32px;
	background: #246cd7;
	padding-left: 15px;
	margin-bottom: 10px
}
.categoryList li a {
	color: #fff;
	display: block;
	background: url(../image/arrow02.png) left center no-repeat;
	padding-left: 12px
}
.categoryList li a:hover {
	display: block;
	background: url(../image/arrow02red.png) right 20px center no-repeat;
	padding-left: 12px;
	color: #Ff0
}
.categoryRight {
	width: 960px;
	float: right
}
.recommendPro {
	width: 100%;
	float: left;
	margin-bottom: 15px
}
.recommendPro a {
	width: 220px;
	display: inline-block;
	text-align: center;
	margin-right: 20px
}
.recommendPro a dl dd {
	line-height: 37px
}
.recommendPro a dl dt img {
	width: 220px;
	height: 220px;
}
.categoryBanner {
	width: 100%;
	float: left;
	position: relative
}
.categoryBanner li {
	width: 960px
}
.categoryBanner li img {
	border-bottom: 0;
	display: block;
	width: 960px;
	height: 310px;
}
.categoryBanner li p {
	width: 920px;
	height: 50px;
	background: #246cd7;
	font: 14px;
	line-height: 50px;
	overflow: hidden;
	padding: 0 20px
}
.categoryBanner li p a {
	color: #fff;
	display: inline-block;
	background: url(../image/pro_jt.gif) no-repeat left center;
	padding-left: 32px
}
.categoryBanner li p span a {
	display: inline-block;
	width: 92px;
	height: 29px;
	background: #fff;
	font: 16px;
	text-align: center;
	color: #246cd7;
	line-height: 29px;
	overflow: hidden;
	margin-top: 10px;
	font-weight: 700;
	padding: 0
}
.categoryBanner .arr1 {
	width: 49px;
	height: 79px;
	overflow: hidden;
	position: absolute;
	top: 112px;
	left: 0
}
.categoryBanner .arr2 {
	width: 49px;
	height: 79px;
	overflow: hidden;
	position: absolute;
	top: 112px;
	right: 0
}
.threeWrap {
	background: url(../image/threebg.jpg) #0087e8 center top no-repeat;
	height: 553px
}
.three {
	width: 960px;
	margin: 0 auto;
	padding-top: 30px
}
.tr_tit {
	text-align: center;
	color: #fff;
	font-size: 48px
}
.tr_tit b {
	font-size: 68px
}
.tr_tit strong {
	margin-right: 50px
}
.tr_tit em {
	display: block;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #aaa;
	margin-top: -10px
}
.tr_tit span {
	font-weight: 400;
	color: #00567c;
	font-size: 18px;
	display: block;
	margin-bottom: 21px
}
.tr_list li {
	float: left;
	width: 280px;
	display: inline;
	margin-right: 53px
}
.tr_list .tr_lst {
	margin-right: 0
}
.tr_list img {
	width: 208px;
	height: 208px;
	margin: 0 auto;
	display: block
}
.tr_list b {
	display: block;
	text-align: center;
	color: #003147;
	font-size: 18px;
	margin: 12px 0 12px
}
.tr_list span {
	display: block;
	margin: 0 0 10px 26px;
	background: url(../image/t_li.gif) left 3px no-repeat;
	padding-left: 22px;
	color: #003147;
	font-size: 14px
}
.feedBg {
	background: url(../image/feedbg.jpg) center center no-repeat;
	height: 308px
}
.feed {
	width: 960px;
	margin: 0 auto;
	padding-top: 24px
}
.feedTitle {
	background: url(../image/line3.gif) left bottom no-repeat;
	padding-bottom: 8px;
	margin-bottom: 18px;
	color: #00a1e9;
	font-size: 18px
}
.feedTitle em {
	margin-left: 6px
}
.fd_con ul {
	width: 370px;
	float: left
}
.fd_con li {
	height: 28px;
	line-height: 28px;
	margin-bottom: 12px
}
.fd_con .txt {
	display: inline-block;
	width: 86px;
	text-align: center;
	color: #555;
	font-weight: 700;
	font-size: 14px
}
.fd_con .ipt1 {
	background: url(../image/ipt.gif) left center repeat-x;
	border: 1px solid #ccc;
	width: 248px;
	padding: 0 5px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle
}
.fd_con .star {
	color: #f60;
	margin-left: 5px;
	font-size: 16px
}
.fd_con .ipt2 {
	background: url(../image/ipt.gif) left center repeat-x;
	border: 1px solid #ccc;
	width: 78px;
	padding: 0 5px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle
}
.fd_con .fd_txt {
	width: 190px;
	float: left;
	padding: 58px 0 0 60px
}
.fd_txt span {
	display: block;
	background: url(../image/feedli.png) left 8px no-repeat;
	padding-left: 20px;
	color: #00a1e9;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	font-weight: 700
}
.cancelBtn {
	padding: 10px 40px;
	background: #e2e2e2;
	font-size: 14px;
	font-family: "微软雅黑"
}
.enterBtn {
	padding: 10px 40px;
	background: #00a1e9;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	margin-left: 20px;
}
/*优势*/
.ys_bg1 {
	background: url(../image/ys_bg1.jpg) center top no-repeat;
}
.ys_bg2 {
	background: url(../image/ys_bg2.jpg) center 1032px no-repeat;
	height: 1762px;
}
.ys {
	width: 960px;
	margin: 0 auto;
	padding-top: 64px;
}
.y_tit {
	text-align: center;
	margin-bottom: 103px;
}
.y_tit em {
	display: block;
	color: #aaa;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 12px;
}
.y_tit span {
	color: #222;
	font-size: 20px;
	font-weight: normal;
	display: block;
	margin-top: 10px;
}
.ys_part {
	overflow: hidden;
	zoom: 1;
	position: relative;
	height: 1440px;
}
.ys_part dt {
	color: #00a1e9;
	font-size: 28px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 18px;
}
.ys_part dd {
	margin-left: 35px;
	line-height: 20px;
	color: #555;
	font-size: 14px;
	margin-bottom: 12px;
	background: url(../image/ys_li.gif) left 6px no-repeat;
	padding-left: 20px;
}
.ys_part dd em {
	color: #ff6600;
	font-weight: bold;
}
.ys_part dl {
	position: absolute;
}
.ys_part .y_dl1 {
	width: 456px;
	left: 0px;
	top: 50px;
}
.ys_part .y_dl2 {
	width: 480px;
	right: 1px;
	top: 410px;
}
.ys_part .y_dl3 {
	width: 470px;
	left: 0px;
	top: 816px;
}
.ys_part .y_dl4 {
	width: 458px;
	right: 0px;
	top: 1146px;
}
.y_dl1 dt {
	margin-left: 5px;
	background: url(../image/one.gif) left center no-repeat;
	padding-left: 42px;
}
.y_dl2 dt {
	background: url(../image/two.gif) left center no-repeat;
	padding-left: 56px;
}
.y_dl3 dt {
	background: url(../image/three.gif) left center no-repeat;
	padding-left: 49px;
	height: 67px;
}
.y_dl4 dt {
	background: url(../image/four.gif) left center no-repeat;
	padding-left: 58px;
}
#aboutUs {
	width: 1200px;
	margin: auto;
	overflow: hidden;
}
.aboutUsTitle {
	width: 100%;
	float: left;
	background: url(../image/line5.gif) left bottom repeat-x;
	padding-bottom: 15px;
}
.aboutUsTitle h3 {
	float: left;
	display: block;
	border-left: #246cd7 6px solid;
	padding-left: 10px;
	font-weight: normal;
}
.aboutUsTitle h3 em {
	font-size: 18px;
	color: #246cd7;
	font-weight: bold;
}
.aboutUsTitle span {
	float: right;
	margin-top: 17px;
}
.aboutUsCon {
	width: 100%;
	float: left;
	padding: 15px 0;
	line-height: 30px;
}
.aboutUsCon img {
	float: left;
	margin-right: 20px;
}
a.moreBtn {
	padding: 5px 10px;
	background: #246cd7;
	border-radius: 3px;
	color: #fff;
}
#lineWrap {
	width: 100%;
	height: 6px;
	margin: auto;
	overflow: hidden;
	background: url(../image/line5.gif) repeat-x;
	margin-top: 15px;
}
/*inf*/
.info {
	width: 1200px;
	margin: auto;
	padding: 33px 0 0;
	clear: both;
	height: 340px;
	overflow: hidden;
	background: url(../image/rowline.gif) no-repeat 765px 40px;
}
.infoLeft {
	width: 740px;
	float: left;
	overflow: hidden;
}
.infoLeftNav {
	width: 100%;
	float: left;
	border-bottom: #a8a8a8 1px solid;
	margin-bottom: 20px;
}
.infoLeftNav span {
	float: right;
	margin-top: 15px;
}
.infoLeftNav li {
	width: 100px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.infoLeftNav li.curr {
	border-bottom: #246cd7 2px solid;
	font-size: 18px;
	font-weight: bold;
	display: block;
}
.infoLeftNav li a {
	font-size: 18px;
	font-weight: bold;
	display: block;
	border-bottom: #fff 2px solid;
	color: #333;
	line-height: 40px;
}
.infoLeftNav li a:hover {
	border-bottom: #246cd7 2px solid;
	font-size: 18px;
	font-weight: bold;
}
.infoLeftCon {
	width: 740px;
	float: left;
}
.infoLeftCon dl {
	float: left;
	display: none;
}
.infoLeftCon dl dt {
	width: 220px;
	float: left;
	margin-right: 20px;
}
.infoLeftCon dl dd {
	width: 480px;
	float: left;
	background: url(../image/item5.gif) left center no-repeat;
	padding-left: 20px;
	border-bottom: #999 1px dashed;
	line-height: 32px;
}
.infoLeftCon dl dd span {
	float: right;
}
.infoRight {
	width: 400px;
	float: right;
	overflow: hidden;
}
.infoRightTitle {
	width: 100%;
	float: left;
	border-bottom: #a8a8a8 1px solid;
	margin-bottom: 20px;
	line-height: 44px;
	font-size: 18px;
	font-weight: bold;
}
.infoRightTitle span {
	float: right;
}
.infoRightTitle span a {
	font-weight: normal;
}
.infoRightCon {
	width: 100%;
	float: left;
	height: 245px;
	overflow: hidden;
}
.infoRightCon li {
	width: 100%;
	float: left;
}
.infoRightCon li h3 a {
	background: url(../image/faq_q.gif) no-repeat;
	padding-left: 30px;
	color: #034091;
	font-size: 14px;
}
.infoRightCon li h3 a:hover {
	text-decoration: underline;
}
.infoRightCon li p {
	background: url(../image/faq_a.gif) no-repeat;
	padding-left: 30px;
	color: #666;
	margin: 10px 0;
	line-height: 24px;
}
#footer {
	width: 100%;
	margin: auto;
	overflow: hidden
}
.footNav {
	width: 100%;
	margin: auto;
	background: #246cd7;
	text-align: center;
	line-height: 40px;
	color: #fff
}
.footNav a {
	color: #fff;
	font-size: 14px;
	padding: 0 10px
}
.footNav a:hover {
	color: #ff0
}
.footCon {
	width: 780px;
	margin: auto;
	padding-top: 15px
}
.footLogo {
	width: 320px;
	height: 120px;
	float: left;
	background: url(../image/linebg.png) right 40px center no-repeat
}
/*.footLogo img {
	width: 280px;
	height: 120px;
}*/
.Copyright {
	width: 360px;
	float: left;
	line-height: 20px;
	background: url(../image/linebg.png) right 40px center no-repeat
}
.Copyright a {
	color: #F00;
}
.weixin {
	width: 100px;
	float: left;
	text-align: center
}
#link {
	width: 1200px;
	margin: auto;
	overflow: hidden;
}
#link a {
	margin-right: 15px;
}
#bannerWrap {
	width: 100%;
	height: 300px;
	margin: auto;
	background: url(../image/topbanner.jpg) center top no-repeat;
}
#contentWrap {
	width: 1200px;
	margin: auto;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}
.contentLeft {
	width: 220px;
	float: left;
}
.categoryTitle {
	width: 190px;
	float: left;
	height: 54px;
	float: left;
	background: url(../image/title2.png) no-repeat;
	line-height: 54px;
	color: #fff;
	font-size: 16px;
	padding-left: 30px;
}
.categoryTitle2 {
	width: 190px;
	float: left;
	height: 54px;
	float: left;
	background: url(../image/title2.png) no-repeat;
	line-height: 54px;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	padding-left: 30px;
}
.categoryCon {
	width: 180px;
	float: left;
	border: #dfdfdf 1px solid;
	border-width: 0 1px 1px 1px;
	padding: 10px 19px;
}
.categoryCon li {
	background: url(../image/arrow01.gif) left center no-repeat;
	border-bottom: #ccc 1px dashed;
	padding-left: 15px;
	line-height: 30px;
}
.dianhua {
	background: url(../image/tel.png) no-repeat scroll 0 18px transparent;
	color: #666;
	line-height: 20px;
	padding: 10px 0 10px 55px;
}
.dianhua span {
	display: block;
	font: 18px "Impact";
	color: #034091;
}
.categoryCon p {
	line-height: 24px;
}
.contentRight {
	width: 970px;
	float: right;
}
.contentRightTitle {
	width: 950px;
	float: left;
	background: #246cd7;
	line-height: 51px;
	padding-left: 20px;
	color: #fff;
	font-size: 14px;
	border-bottom: #328ae4 3px solid;
	border-radius: 3px;
}
.contentRightTitle a {
	color: #fff;
	font-size: 14px;
}
.contentRightCon {
	width: 928px;
	float: left;
	padding: 20px;
	border: #d5d5d5 1px solid;
	border-radius: 3px;
	margin-top: 10px;
	min-height: 700px;
	line-height: 30px;
}
.newsTitle {
	width: 100%;
	float: left;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
}
.newsConTitle {
	text-align: center;
	border-bottom: 1px solid #dfdfdf;
}
.mm img {
	max-width: 100%;
	height: auto !important;
}
.news2 {
	width: 920px;
	margin: auto;
	border-bottom: #c2c2c2 1px dotted;
	overflow: hidden;
	padding: 10px;
	margin-bottom: 10px;
}
.news2:hover {
	background: #efefef;
}
.news2Left {
	width: 140px;
	float: left;
}
.news2Left img {
	border: 1px solid #ccc;
	padding: 4px;
}
.news2Left img:hover {
	border: #999 1px solid;
}
.news2Right {
	width: 770px;
	float: left;
	padding-left: 10px;
}
.news2Title {
	width: 100%;
	float: left;
	line-height: 30px;
}
.news2Title li {
	width: 100%;
	float: left;
	line-height: 30px;
}
.news2Title a {
	font-weight: bold;
}
.news2Title li span {
	float: right;
}
.news2Title .addTime {
	float: right;
}
.news2Content {
	width: 100%;
	float: left;
	line-height: 24px;
	color: #aaa;
}
.pages {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
/*pages*/
div.black2 {
	padding-right: 7px;
	padding-left: 7px;
	padding-bottom: 7px;
	margin: 3px;
	padding-top: 7px;
	text-align: center
}
div.black2 a {
	border-right: #000000 1px solid;
	padding-right: 5px;
	border-top: #000000 1px solid;
	padding-left: 5px;
	padding-bottom: 2px;
	margin: 2px;
	border-left: #000000 1px solid;
	color: #000000;
	padding-top: 2px;
	border-bottom: #000000 1px solid;
	text-decoration: none
}
div.black2 a:hover {
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	color: #fff;
	border-bottom: #000000 1px solid;
	background-color: #000
}
div.black2 a:active {
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	color: #fff;
	border-bottom: #000000 1px solid;
	background-color: #000
}
div.black2 span.current {
	border-right: #000000 1px solid;
	padding-right: 5px;
	border-top: #000000 1px solid;
	padding-left: 5px;
	font-weight: bold;
	padding-bottom: 2px;
	margin: 2px;
	border-left: #000000 1px solid;
	color: #fff;
	padding-top: 2px;
	border-bottom: #000000 1px solid;
	background-color: #000000
}
div.black2 span.disabled {
	border-right: #eee 1px solid;
	padding-right: 5px;
	border-top: #eee 1px solid;
	padding-left: 5px;
	padding-bottom: 2px;
	margin: 2px;
	border-left: #eee 1px solid;
	color: #ddd;
	padding-top: 2px;
	border-bottom: #eee 1px solid
}
.productList {
	width: 100%;
	float: left;
}
.productList li {
	width: 290px;
	float: left;
	margin-left: 15px;
	text-align: center;
	margin-bottom: 30px;
	position: relative;
}
.productList li span {
	width: 290px;
	line-height: 36px;
	float: left;
	text-align: center;
	background: rgba(0,0,0,.5);
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
}
.productList li p {
	width: 290px;
	height: 290px;
	overflow: hidden;
}
.productList li img {
	width: 290px;
	height: 290px;
	display: block;
	-webkit-transition: all 1s ease-out 0s;
	-moz-transition: all 1s ease-out 0s;
	-o-transition: all 1s ease-out 0s;
	transition: all 1s ease-out 0s;
}
.productList li img {
	overflow: hidden;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 1s ease-out 0s;
	-moz-transition: all 1s ease-out 0s;
	-o-transition: all 1s ease-out 0s;
	transition: all 1s ease-out 0s;
}
.productList li img:hover {
	transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-webkit-transition: all 1s ease-out 0s;
	-moz-transition: all 1s ease-out 0s;
	-o-transition: all 1s ease-out 0s;
	transition: all 1s ease-out 0s;
}
#ppp {
	text-align: center;
}
.contentRightCon input {
	border: #999 1px solid;
	line-height: 30px;
}
.contentRightCon textarea {
	border: #999 1px solid;
}
.contentRightCon .cartButton {
	padding: 2px 30px;
	background: #246cd7;
	color: #fff;
	border: none;
}
 @media only screen and (max-width:767px) {
#wrap {
	width: 100%;
	margin: auto;
	overflow: hidden
}
#mainWrap {
	width: 100%;
	margin: auto;
	overflow: hidden;
}
#topWrap {
	width: 100%;
	margin: auto;
	overflow: hidden;
	background: url(../image/topbg.jpg) #fff repeat-x;
	padding-top: 2px;
	box-shadow: 0 3px 5px 0px rgba(0,0,0,.5);
	position: fixed;
	z-index: 6;
}
.topNav {
	width: 96%;
	float: left;
	line-height: 33px;
	color: #666;
	padding: 0 2%;
}
.topNav span {
	float: right;
	display: none;
}
.topNav span a {
	color: #666
}
.topNav span a:hover {
	color: #246cd7
}
.logoWrap {
	width: 100%;
	float: left;
	overflow: hidden;
	padding: 10px 0
}
.logoWrapLeft {
	width: 900px;
	float: left
}
.logo {
	width: 228px;
	float: left;
	padding-left: 20px;
}
.logo img {
	width: 180px;
	height: 58px;
}
.description {
	float: left;
	border-left: #ccc 1px solid;
	margin: 10px 0 0 20px;
	padding-left: 20px;
	display: none;
}
.description h1 {
	color: #246cd7
}
.description h1 em {
	font-style: normal;
	font-size: 20px;
	font-weight: 400
}
.description i {
	font-style: normal;
	font-size: 20px;
	font-weight: 700;
	color: #666
}
.logoWrapRight {
	width: 270px;
	float: right;
	text-align: right;
	display: none;
}
.logoWrapRight span {
	width: 100%;
	float: left;
	font-size: 20px;
	color: #666;
	font-weight: 700
}
.logoWrapRight em {
	font-style: normal;
	font-size: 34px;
	font-weight: 700;
	color: #246cd7
}
#navWrap {
	width: 100%;
	margin: auto;
	background: rgba(0,0,0,.8);
	display: none;
	position: absolute;
	top: 114px;
	z-index: 9;
}
.nav {
	width: 100%;
}
.nav li {
	width: 50%;
	float: left;
	line-height: 70px;
	text-align: center;
	border-bottom: #7c7c7c 1px solid;
}
.nav li:nth-child(9) {
	display: none;
}
.nav li a {
	display: block;
	font-size: 14px;
	color: #fff;
	line-height: 43px;
}
.nav li a:hover {
	color: #fff;
	background: #246cd7;
	cursor: pointer;
	-webkit-transition: none;
	-moz-transition: none;
	transition: color .3s linear, background-color .3s linear, background-image .3s linear;
	-moz-transition: color .3s linear, background-color .3s linear, background-image .3s linear;
	-webkit-transition: color .3s linear, background-color .3s linear, background-image .3s linear;
	-o-transition: color .3s linear, background-color .3s linear, background-image .3s linear;
}
.nav li.cur {
	display: block;
	background: #246cd7;
}
.wapMenu {
	width: 30px;
	height: 23px;
	float: right;
	background: url(../image/wapmenu.png) no-repeat;
	position: absolute;
	right: 20px;
	top: 65px;
}
.swiper-container {
	width: 100%;
	margin: auto;
	overflow: hidden;
	top: 112px;
}
.swiper-slide li.banner01 {
	max-width: 100%;
	height: auto;
}
.swiper-slide li.banner01 img {
	max-width: 100%;
	height: auto;
}
.swiper-slide li.banner02 {
	height: 160px;
	background: url(https://demoall.5fa.cn/28540/template/pc/skin/img/banner02.jpg) center top no-repeat;
	background-size: 614px 160px;
}
.swiper-slide li.banner03 {
	height: 160px;
	background: url(https://demoall.5fa.cn/28540/template/pc/skin/img/banner03.jpg) center top no-repeat;
	background-size: 614px 160px;
}
#productWrap {
	width: 100%;
	margin: auto;
	overflow: hidden;
	padding: 0 0 15px 0;
	margin-top: 110px;
}
.categoryWrap {
	width: 100%;
	float: left;
}
.categoryWrap h2 {
	width: 100%;
	height: 60px;
	float: left;
	background: #246cd7;
	color: #fff;
	text-align: center;
	padding-top: 14px;
}
.categoryWrap h2 i {
	font-style: normal;
	display: block
}
.categoryWrap h2 em {
	font-style: normal;
	font-size: 12px;
	font-weight: 400
}
.categoryList {
	width: 98%;
	float: left;
	border: none;
	border-width: 0;
	padding: 1%
}
.categoryList li {
	width: 46%;
	float: left;
	line-height: 34px;
	background: #246cd7;
	padding-left: 3%;
	margin-left: 1%;
	margin-bottom: 2%
}
.categoryList li a {
	color: #fff;
	display: block;
	background: url(../image/arrow02.png) left center no-repeat;
	padding-left: 12px
}
.categoryList li a:hover {
	display: block;
	background: url(../image/arrow02red.png) right 20px center no-repeat;
	padding-left: 12px;
	color: #Ff0
}
.categoryRight {
	width: 98%;
	margin: auto;
	padding: 0 1%
}
.recommendPro {
	width: 98%;
	float: left;
	margin-bottom: 15px;
	padding: 0 1%
}
.recommendPro a {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-right: 0
}
.recommendPro a dl dd {
	line-height: 37px
}
.recommendPro a dl dt img {
	width: 100%;
	height: auto;
}
.categoryBanner {
	width: 100%;
	float: left;
	position: relative;
	display: none;
}
.categoryBanner li {
	width: 920px;
}
.categoryBanner li img {
	border-bottom: 0;
	display: block;
	width: 315.5px;
	height: auto !important;
}
.categoryBanner li p {
	width: 920px;
	height: 50px;
	background: #246cd7;
	font: 14px;
	line-height: 50px;
	overflow: hidden;
	padding: 0 20px
}
.categoryBanner li p a {
	color: #fff;
	display: inline-block;
	background: url(../image/pro_jt.gif) no-repeat left center;
	padding-left: 32px
}
.categoryBanner li p span a {
	display: inline-block;
	width: 92px;
	height: 29px;
	background: #fff;
	font: 16px;
	text-align: center;
	color: #246cd7;
	line-height: 29px;
	overflow: hidden;
	margin-top: 10px;
	font-weight: 700;
	padding: 0
}
.categoryBanner .arr1 {
	width: 49px;
	height: 79px;
	overflow: hidden;
	position: absolute;
	top: 112px;
	left: 0
}
.categoryBanner .arr2 {
	width: 49px;
	height: 79px;
	overflow: hidden;
	position: absolute;
	top: 112px;
	right: 0
}
.threeWrap {
	background: url(../image/threebg.jpg) #0087e8 center top no-repeat;
	height: 553px;
	display: none;
}
.three {
	width: 960px;
	margin: 0 auto;
	padding-top: 30px
}
.tr_tit {
	text-align: center;
	color: #fff;
	font-size: 48px
}
.tr_tit b {
	font-size: 68px
}
.tr_tit strong {
	margin-right: 50px
}
.tr_tit em {
	display: block;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #aaa;
	margin-top: -10px
}
.tr_tit span {
	font-weight: 400;
	color: #00567c;
	font-size: 18px;
	display: block;
	margin-bottom: 21px
}
.tr_list li {
	float: left;
	width: 280px;
	display: inline;
	margin-right: 53px
}
.tr_list .tr_lst {
	margin-right: 0
}
.tr_list img {
	width: 208px;
	height: 208px;
	margin: 0 auto;
	display: block
}
.tr_list b {
	display: block;
	text-align: center;
	color: #003147;
	font-size: 18px;
	margin: 12px 0 12px
}
.tr_list span {
	display: block;
	margin: 0 0 10px 26px;
	background: url(../image/t_li.gif) left 3px no-repeat;
	padding-left: 22px;
	color: #003147;
	font-size: 14px
}
.feedBg {
	background: url(../image/feedbg.jpg) center center no-repeat;
	height: 308px;
	display: none;
}
.feed {
	width: 960px;
	margin: 0 auto;
	padding-top: 24px
}
.feedTitle {
	background: url(../image/line3.gif) left bottom no-repeat;
	padding-bottom: 8px;
	margin-bottom: 18px;
	color: #00a1e9;
	font-size: 18px
}
.feedTitle em {
	margin-left: 6px
}
.fd_con ul {
	width: 370px;
	float: left
}
.fd_con li {
	height: 28px;
	line-height: 28px;
	margin-bottom: 12px
}
.fd_con .txt {
	display: inline-block;
	width: 86px;
	text-align: center;
	color: #555;
	font-weight: 700;
	font-size: 14px
}
.fd_con .ipt1 {
	background: url(../image/ipt.gif) left center repeat-x;
	border: 1px solid #ccc;
	width: 248px;
	padding: 0 5px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle
}
.fd_con .star {
	color: #f60;
	margin-left: 5px;
	font-size: 16px
}
.fd_con .ipt2 {
	background: url(../image/ipt.gif) left center repeat-x;
	border: 1px solid #ccc;
	width: 78px;
	padding: 0 5px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle
}
.fd_con .fd_txt {
	width: 190px;
	float: left;
	padding: 58px 0 0 60px
}
.fd_txt span {
	display: block;
	background: url(../image/feedli.png) left 8px no-repeat;
	padding-left: 20px;
	color: #00a1e9;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	font-weight: 700
}
.cancelBtn {
	padding: 10px 40px;
	background: #e2e2e2;
	font-size: 14px;
	font-family: "微软雅黑"
}
.enterBtn {
	padding: 10px 40px;
	background: #00a1e9;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	margin-left: 20px;
}
/*优势*/
.ys_bg1 {
	background: url(../image/ys_bg1.jpg) center top no-repeat;
	display: none;
}
.ys_bg2 {
	background: url(../image/ys_bg2.jpg) center 1032px no-repeat;
	height: 1762px;
}
.ys {
	width: 960px;
	margin: 0 auto;
	padding-top: 64px;
}
.y_tit {
	text-align: center;
	margin-bottom: 103px;
}
.y_tit em {
	display: block;
	color: #aaa;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 12px;
}
.y_tit span {
	color: #222;
	font-size: 20px;
	font-weight: normal;
	display: block;
	margin-top: 10px;
}
.ys_part {
	overflow: hidden;
	zoom: 1;
	position: relative;
	height: 1440px;
}
.ys_part dt {
	color: #00a1e9;
	font-size: 28px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 18px;
}
.ys_part dd {
	margin-left: 35px;
	line-height: 20px;
	color: #555;
	font-size: 14px;
	margin-bottom: 12px;
	background: url(../image/ys_li.gif) left 6px no-repeat;
	padding-left: 20px;
}
.ys_part dd em {
	color: #ff6600;
	font-weight: bold;
}
.ys_part dl {
	position: absolute;
}
.ys_part .y_dl1 {
	width: 456px;
	left: 0px;
	top: 50px;
}
.ys_part .y_dl2 {
	width: 480px;
	right: 1px;
	top: 410px;
}
.ys_part .y_dl3 {
	width: 470px;
	left: 0px;
	top: 816px;
}
.ys_part .y_dl4 {
	width: 458px;
	right: 0px;
	top: 1146px;
}
.y_dl1 dt {
	margin-left: 5px;
	background: url(../image/one.gif) left center no-repeat;
	padding-left: 42px;
}
.y_dl2 dt {
	background: url(../image/two.gif) left center no-repeat;
	padding-left: 56px;
}
.y_dl3 dt {
	background: url(../image/three.gif) left center no-repeat;
	padding-left: 49px;
	height: 67px;
}
.y_dl4 dt {
	background: url(../image/four.gif) left center no-repeat;
	padding-left: 58px;
}
#aboutUs {
	width: 98%;
	margin: auto;
	overflow: hidden;
	padding: 0 1%;
}
.aboutUsTitle {
	width: 100%;
	float: left;
	background: url(../image/line5.gif) left bottom repeat-x;
	padding-bottom: 15px;
}
.aboutUsTitle h3 {
	float: left;
	display: block;
	border-left: #246cd7 6px solid;
	padding-left: 10px;
	font-weight: normal;
}
.aboutUsTitle h3 em {
	font-size: 18px;
	color: #246cd7;
	font-weight: bold;
}
.aboutUsTitle span {
	float: right;
	margin-top: 17px;
}
.aboutUsCon {
	width: 100%;
	float: left;
	padding: 15px 0;
	line-height: 30px;
}
.aboutUsCon img {
	width: 100%;
}
a.moreBtn {
	padding: 5px 10px;
	background: #246cd7;
	border-radius: 3px;
	color: #fff;
}
#lineWrap {
	width: 100%;
	height: 6px;
	margin: auto;
	overflow: hidden;
	background: url(../image/line5.gif) repeat-x;
	margin-top: 15px;
}
/*inf*/
.info {
	width: 98%;
	margin: auto;
	padding: 0 1%;
	clear: both;
	height: 600px;
	overflow: hidden;
	background: url(../image/rowline.gif) no-repeat 765px 40px;
}
.infoLeft {
	width: 740px;
	float: left;
	overflow: hidden;
}
.infoLeftNav {
	width: 100%;
	float: left;
	border-bottom: #a8a8a8 1px solid;
	margin-bottom: 10px;
}
.infoLeftNav span {
	float: right;
	margin-top: 15px;
}
.infoLeftNav li {
	width: 100px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.infoLeftNav li.curr {
	border-bottom: #246cd7 2px solid;
	font-size: 18px;
	font-weight: bold;
	display: block;
}
.infoLeftNav li a {
	font-size: 18px;
	font-weight: bold;
	display: block;
	border-bottom: #fff 2px solid;
	color: #333;
	line-height: 40px;
}
.infoLeftNav li a:hover {
	border-bottom: #246cd7 2px solid;
	font-size: 18px;
	font-weight: bold;
}
.infoLeftCon {
	width: 100%;
	float: left;
}
.infoLeftCon dl {
	float: left;
	display: none;
}
.infoLeftCon dl dt {
	width: 220px;
	float: left;
	margin-right: 20px;
	display: none;
}
.infoLeftCon dl dd {
	float: left;
	background: url(../image/item5.gif) left center no-repeat;
	padding-left: 20px;
	border-bottom: #999 1px dashed;
	line-height: 32px;
}
.infoLeftCon dl dd span {
	float: right;
}
.infoRight {
	width: 100%;
	float: left;
	overflow: hidden;
}
.infoRightTitle {
	width: 100%;
	float: left;
	border-bottom: #a8a8a8 1px solid;
	margin-bottom: 5px;
	line-height: 44px;
	font-size: 18px;
	font-weight: bold;
}
.infoRightTitle span {
	float: right;
}
.infoRightTitle span a {
	font-weight: normal;
}
.infoRightCon {
	width: 100%;
	float: left;
	height: 245px;
	overflow: hidden;
}
.infoRightCon li {
	width: 100%;
	float: left;
}
.infoRightCon li h3 a {
	background: url(../image/faq_q.gif) no-repeat;
	padding-left: 30px;
	color: #034091;
	font-size: 14px;
}
.infoRightCon li h3 a:hover {
	text-decoration: underline;
}
.infoRightCon li p {
	background: url(../image/faq_a.gif) no-repeat;
	padding-left: 30px;
	color: #666;
	margin: 10px 0;
	line-height: 24px;
}
#footer {
	width: 100%;
	margin: auto;
	overflow: hidden;
	background: #f5f5f5;
}
.footNav {
	width: 100%;
	margin: auto;
	background: #246cd7;
	text-align: center;
	line-height: 40px;
	color: #fff;
	display: none;
}
.footNav a {
	color: #fff;
	font-size: 14px;
	padding: 0 10px
}
.footNav a:hover {
	color: #ff0
}
.footCon {
	width: 100%;
	margin: auto;
	padding: 5px 0;
	border-top: #999 1px solid;
}
.footLogo {
	width: 320px;
	height: 120px;
	float: left;
	background: url(../image/linebg.png) right 40px center no-repeat;
	display: none;
}
.Copyright {
	width: 98%;
	float: left;
	line-height: 20px;
	background: none;
	padding: 0 1%;
}
.Copyright a {
	color: #F00;
}
.weixin {
	width: 100px;
	float: left;
	text-align: center;
	display: none;
}
#link {
	width: 1200px;
	margin: auto;
	overflow: hidden;
	display: none;
}
#link a {
	margin-right: 15px;
}
#bannerWrap {
	width: 100%;
	height: 100px;
	margin: auto;
	background: url(../image/topbanner.jpg) center top no-repeat;
	background-size: 640px 100px;
}
#contentWrap {
	width: 98%;
	margin: auto;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0 1%;
}
.contentLeft {
	width: 100%;
	float: left;
	display: none;
}
.categoryTitle {
	width: 190px;
	float: left;
	height: 54px;
	float: left;
	background: url(../image/title2.png) no-repeat;
	line-height: 54px;
	color: #fff;
	font-size: 16px;
	padding-left: 30px;
}
.categoryTitle2 {
	width: 190px;
	float: left;
	height: 54px;
	float: left;
	background: url(../image/title2.png) no-repeat;
	line-height: 54px;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	padding-left: 30px;
}
.categoryCon {
	width: 180px;
	float: left;
	border: #dfdfdf 1px solid;
	border-width: 0 1px 1px 1px;
	padding: 10px 19px;
}
.categoryCon li {
	background: url(../image/arrow01.gif) left center no-repeat;
	border-bottom: #ccc 1px dashed;
	padding-left: 15px;
	line-height: 30px;
}
.dianhua {
	background: url(../image/tel.png) no-repeat scroll 0 18px transparent;
	color: #666;
	line-height: 20px;
	padding: 10px 0 10px 55px;
}
.dianhua span {
	display: block;
	font: 18px "Impact";
	color: #034091;
}
.categoryCon p {
	line-height: 24px;
}
.contentRight {
	width: 100%;
	float: right;
}
.contentRightTitle {
	width: 96%;
	float: left;
	background: #246cd7;
	line-height: 51px;
	padding-left: 4%;
	color: #fff;
	font-size: 14px;
	border-bottom: #328ae4 3px solid;
	border-radius: 3px;
}
.contentRightCon {
	width: 96%;
	float: left;
	padding: 2%;
	border: #d5d5d5 1px solid;
	border-radius: 3px;
	margin-top: 10px;
	min-height: inherit;
	line-height: 30px;
}
.contentRightCon img {
	max-width: 100%;
	height: auto !important;
}
.newsTitle {
	width: 100%;
	float: left;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
}
.newsConTitle {
	text-align: center;
	border-bottom: 1px solid #dfdfdf;
}
.news2 {
	width: 100%;
	margin: auto;
	border-bottom: #c2c2c2 1px dotted;
	overflow: hidden;
	padding: 0;
	margin-bottom: 10px;
}
.news2:hover {
	background: #efefef;
}
.news2Left {
	width: 100px;
	float: left;
}
.news2Left img {
	width: 80px;
	height: 60px;
	border: 1px solid #ccc;
	padding: 4px;
}
.news2Left img:hover {
	border: #999 1px solid;
}
.news2Right {
	min-width: 220px;
	width: 230px;
	float: left;
	height: 105px;
	overflow: hidden;
}
.news2Title {
	width: 100%;
	float: left;
	line-height: 30px;
}
.news2Title li {
	width: 100%;
	float: left;
	line-height: 30px;
}
.news2Title a {
	font-weight: bold;
}
.news2Title li span {
	float: right;
}
.news2Title .addTime {
	float: right;
}
.news2Content {
	width: 100%;
	float: left;
	line-height: 24px;
	color: #aaa;
}
.pages {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
/*pages*/
div.black2 {
	padding-right: 7px;
	padding-left: 7px;
	padding-bottom: 7px;
	margin: 3px;
	padding-top: 7px;
	text-align: center
}
div.black2 a {
	border-right: #000000 1px solid;
	padding-right: 5px;
	border-top: #000000 1px solid;
	padding-left: 5px;
	padding-bottom: 2px;
	margin: 2px;
	border-left: #000000 1px solid;
	color: #000000;
	padding-top: 2px;
	border-bottom: #000000 1px solid;
	text-decoration: none
}
div.black2 a:hover {
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	color: #fff;
	border-bottom: #000000 1px solid;
	background-color: #000
}
div.black2 a:active {
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	color: #fff;
	border-bottom: #000000 1px solid;
	background-color: #000
}
div.black2 span.current {
	border-right: #000000 1px solid;
	padding-right: 5px;
	border-top: #000000 1px solid;
	padding-left: 5px;
	font-weight: bold;
	padding-bottom: 2px;
	margin: 2px;
	border-left: #000000 1px solid;
	color: #fff;
	padding-top: 2px;
	border-bottom: #000000 1px solid;
	background-color: #000000
}
div.black2 span.disabled {
	border-right: #eee 1px solid;
	padding-right: 5px;
	border-top: #eee 1px solid;
	padding-left: 5px;
	padding-bottom: 2px;
	margin: 2px;
	border-left: #eee 1px solid;
	color: #ddd;
	padding-top: 2px;
	border-bottom: #eee 1px solid
}
.productList {
	width: 100%;
	float: left;
}
.productList li {
	width: 100%;
	float: left;
	margin-left: 0;
	text-align: center;
	margin-bottom: 30px;
	position: relative;
}
.productList li span {
	width: 100%;
	line-height: 36px;
	float: left;
	text-align: center;
	background: rgba(0,0,0,.5);
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
}
.productList li p {
	width: 100%;
	height: 290px;
	overflow: hidden;
}
.productList li img {
	width: 100%;
	height: auto;
	display: block;
}
#ppp {
	text-align: center;
}
.contentRightCon input {
	border: #999 1px solid;
	line-height: 30px;
}
.contentRightCon textarea {
	border: #999 1px solid;
}
.contentRightCon .cartButton {
	padding: 2px 30px;
	background: #246cd7;
	color: #fff;
	border: none;
}
}
