
.topLogBox .w-search .search-btn-w{ background-color:#A31315;}
.topLogBox a:hover,.w-languege a.cur{color:#A31315;}
.nav_simpline_cur{ background:url(../image/navcurbg.png) no-repeat center; background-size:100% 100%;}
.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{color:#A31315;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#A31315 !important;}
.w-text a:hover,.newsDetail .news-others a:hover{color:#A31315;}
/*--------------------组件-------------------------*/
.btn-default-w{ border-color:#A31315; color:#A31315;}
.btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{ color:#fff; background-color:#A31315; transition: all 0.2s;-moz-transition: all 0.2s;-webkit-transition: all 0.2s; -o-transition: all 0.2s; }
.w-social .social-item{ background-color:#ccc;}
.w-social .social-item:hover{ background-color:#A31315;}
.search-defaut-w .search-btn-w{ background-color:#A31315;}
.search-defaut-w .search-btn-w:hover{background-color:#E20117;}
.color_s_default{ color:#454545;}
.bg_s_default{ background:#454545;}
.w-service-fixed .color_s_default:hover{color:#A31315;}
.w-service-fixed .bg_s_default:hover{ background:#A31315;}
.w-service-fixed .service-popc{background:#A31315; }
.w-lantern .lantern_pre,.w-lantern .lantern_next{background-color:#A31315;}
.w-lantern .lantern_pre:hover,.w-lantern .lantern_next:hover{background-color:#E20117;}
.captionbgFadeOutScale .caption .captionbg,.captionbgFadeInLeft.imgLeftBig .caption .captionbg,.captionbgFadeInRight.imgRightBig .caption .captionbg{background-color:#A31315;}
.w-slide-page-num .slide-page a.active{ background-color:#A31315;}
/*-----------------footer-------------------------*/
.w-footer a:hover{ color:#fff;}
.w-footer .w-social .social-item{ background-color:#666;}
.w-footer .w-social .social-item:hover{ background-color:#A31315;}
/*--------------------系统------------------------*/
.systitle{ background:url(../image/systitlebg.jpg) no-repeat center;}
.crumbs a:hover,.w-breadcrumbs a:hover{color:#A31315;}
.w-pages a:hover,.w-pages a.cur{}
.info_tab li.cur_tab a{ color:#A31315;}
.w-prd-list-cell .w-prd-infobox h2 a:hover,.w-prd-list-cell .w-prd-infobox .w-prd-more a:hover{color:#A31315;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background:#A31315; border-color:#A31315; }
.w-prd-list-cell .w-prd-btns a.btn-buy:hover{ background:#E20117; border-color:#E20117;}
.w-prd-list-cell .w-prd-btns a.btn-addCart:hover{  border-color:#A31315;  color:#A31315;}
/*-------------新闻--------------------*/
.w-adNews .news-kind,.w-News-list .news-kind{ color:#A31315;}
.w-News-list .news-com .news-h a:hover,.w-adNews .news-h a:hover,.w-adNews1 li .news-item .news-com .news-h a:hover{color:#A31315;}
.w-adNews .news-h .news-kind:hover,.w-News-list .news-com .news-h .news-kind:hover{color:#FF8000;}
.w-News-list5 li .news-item .data-day,.w-adNews1 li .news-item .data-day{ background:#A31315;}
.w-News-list7 li .date .date-day,.w-News-list7 li .date .date-yearMonth{ background:#A31315; color:#fff;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#222;}
.w-adNews3{background:#A31315;}
.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{background-color:#A31315;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a,.w-adNews3 .w-adNews-texts li .w-adNews-textH h3{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover,.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover h3{ color:#FBE904;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH p,.w-adNews3 .w-adNews-texts li .w-adNews-textH .news-sum{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#fff; color:#fff;opacity:0.9; *filter:alpha(opacity=90); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);}
.w-adNews3 .w-adNews-texts li{border-color:#fff;}
.w-adNews3 .w-adNews-imgs .adNews3prev{background-image:url("../image/adnews3prev_white.png");}
.w-adNews3 .w-adNews-imgs .adNews3next{background-image:url("../image/adnews3next_white.png");}
.w-adNews10 li .news-item .news-com .more a{ background:#A31315;}
.w-adNews10 li .news-item .news-com .more a:hover{ background:#E20117;}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#A31315;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../image/progress_complete.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.btn-greenC,.btn-greenA{background-color:#A31315;}
.checkbox_tel input[type="checkbox"]:checked + label{background-color:#A31315;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#A31315;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#FEDED3;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecur.png');}
/*----------------------标题------------------------*/
.color_main{}
.color_vice{ }
.color_h{}
.color_span{}
.bg_vice_light{ background-color:#A31315;}
.colorbg_main{color:#A31315;}
.bg_main{background-color:#A31315;}
.bg_main_light{background-color:#FDF2F2;}
.bg_simpline{background-color:#A31315;}
.border_colorall_main{border-color:#A31315;}
.aHoverborder_main:hover{border-color:#A31315;}
.border_colorleft_main{border-left-color:#A31315;}
.border_colortop_main{border-top-color:#A31315;}
.border_colorright_main{border-right-color:#A31315;}
.border_colorbottom_main{border-bottom-color:#A31315;}
.aHovercolor_main:hover{color:#A31315;}
.aHoverbg_main:hover{background-color:#A31315;}
.border_colorall_main_deepen{border-color:#E20117;}
.aHovercolor_deepen:hover{ color:#E20117;}
.aHoverbg_deepen:hover{ background-color:#E20117;}
.aHoverborder_deepen:hover{border-color:#E20117;}
.colorChange{background-color:#A31315;
    background-image: -webkit-linear-gradient(bottom, #A31315, #E20117);
	background-image: -moz-linear-gradient(bottom, #A31315, #E20117);
	background-image: -o-linear-gradient(bottom, #A31315, #E20117);
	background-image: -ms-linear-gradient(bottom, #A31315,#E20117);
	background-image: linear-gradient(to top, #A31315, #E20117);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#E20117, endColorStr=#A31315);}
.colorChange_deepen{background-color:#A31315;
    background-image: -webkit-linear-gradient(bottom, #E20117,#A31315);
	background-image: -moz-linear-gradient(bottom, #E20117, #A31315);
	background-image: -o-linear-gradient(bottom, #E20117, #A31315);
	background-image: -ms-linear-gradient(bottom, #E20117, #A31315);
	background-image: linear-gradient(to top, #E20117, #A31315);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#A31315, endColorStr=#E20117);}
.bg_main_change{background-color:#A31315;
    background-image: -webkit-linear-gradient(bottom, #ffffff, #A31315);
	background-image: -moz-linear-gradient(bottom, #ffffff, #A31315);
	background-image: -o-linear-gradient(bottom, #ffffff, #A31315);
	background-image: -ms-linear-gradient(bottom, #ffffff,#A31315);
	background-image: linear-gradient(to top, #ffffff, #A31315);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#A31315, endColorStr=#ffffff);}
.bg_main_changeDeepen{background-color:#A31315;
    background-image: -webkit-linear-gradient(bottom, #A31315, #ffffff);
	background-image: -moz-linear-gradient(bottom, #A31315, #ffffff);
	background-image: -o-linear-gradient(bottom, #A31315, #ffffff);
	background-image: -ms-linear-gradient(bottom, #A31315,#ffffff);
	background-image: linear-gradient(to top, #A31315, #ffffff);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#A31315);}
.bg_main_change_left{background-color:#A31315;
    background-image: -webkit-linear-gradient(right, #ffffff, #A31315);
	background-image: -moz-linear-gradient(right, #ffffff, #A31315);
	background-image: -o-linear-gradient(right, #ffffff, #A31315);
	background-image: -ms-linear-gradient(right, #ffffff,#A31315);
	background-image: linear-gradient(to left, #ffffff, #A31315);}
.bg_main_changeDeepen_left{background-color:#A31315;
    background-image: -webkit-linear-gradient(right, #A31315, #ffffff);
	background-image: -moz-linear-gradient(right, #A31315, #ffffff);
	background-image: -o-linear-gradient(right, #A31315, #ffffff);
	background-image: -ms-linear-gradient(right, #A31315,#ffffff);
	background-image: linear-gradient(to left, #A31315, #ffffff);}
.w-title2{ background:#A31315;}
.w-title2,.w-title2 .title-h-in h2,.w-title2 .more{color:#fff;}
.w-title2 .more:hover{ color:#FBE904;}
.w-title17 .title-text-in{ background:#A31315;}
.w-title17 .w-title-inner{background-image:url("../image/tit17bg_0.png");}
.w-title17 .more:hover{ background-image:url("../image/tit17_morehover_0.png");}
.w-title19 .more .icon_more,.icon_more19bg{ background-image:url("../image/icon_more_0.png");}
.w-title34 .tith .line{ background:#161616;}
@media (min-width:768px){
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent a,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent a{ background:url(../image/menu0.png) no-repeat center right #A31315; color:#fff;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent .fa,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent .fa{ color:#A31315;}
	.w-com-menu-V .ul-submenu li:hover >.div-parent a,.w-com-menu .ul-submenu li:hover >.div-parent .fa,.w-com-menu-V .ul-submenu li.cur >.div-parent a,.w-com-menu .ul-submenu li.cur >.div-parent .fa{ color:#A31315;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ color:#A31315; }
	.w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ color:#A31315; }
}
@media (min-width:961px){
	.w-nav .submenu{ background:#A31315; }
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ background:#E20117; color:#fff;}
}
@media (max-width:960px){
	.mobile-nav-toggle{ background:#A31315;}
	.w-admin-header,.body-login .w-admin-header,.w-header{color:#333;}
	.topLogBox a:hover,.w-languege a.cur{color:#A31315;}
}
@media (max-width:767px){
	.w-com-menu{ border-bottom:2px solid #A31315;}
	.w-com-menu .ul-parent{background-color:#f0f0f0;}
	.w-com-menu .ul-submenu ul{ background-color:#fafafa;}
	.w-com-menu .ul-submenu .ul-submenu ul{ background-color:#fdfdfd;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a{text-align:left;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a,.w-com-menu .fa{color:#212121; }
	.w-com-menu li, .w-com-menu .ul-submenu li{border:none; border-bottom:1px solid #fff;}
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:none; }
	.w-com-menu li > .div-parent:hover > a, .w-com-menu li.cur > .div-parent > a, .w-com-menu li > .div-parent:hover > .fa, .w-com-menu li.cur > .div-parent > .fa{color:#A31315; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:none;}
	.systitle{ background:#A31315;color:#fff; text-align:center;}
	/*-----------------------会员中心和购物车--------------------*/
	.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecurtel.png');}
}