/* 0427qy.com 易优CMS -- 好用,免费,安全 */

/*■■■■■■■■　共同设定 ■■■■■■■■*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, tr, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}
ul, ul li, input, dl, dd {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
img, a img {
	border: 0;
	margin: 0;
	padding: 0;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
a {
	text-decoration: none;
	color: #444;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
a:hover {
	text-decoration: none;
}
.clear {
	clear: both;
}
/*■■■■■■■■　基本设定　■■■■■■■■*/
body {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #535353;
	overflow-x: hidden;
	background: #f5f5f5
}
.theme_color {
	background: #000;
}
.theme_color1 {
	background: #ee0062;
}
.theme_color2 {
	background: #222;
}
/*----------------- ■ common -------------------*/
.rollover:hover img {
	opacity: .7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: .7;
/zoom: 1;
}
.main {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
/*----------------- ■ header -------------------*/
.header {
	width: 100%;
	height: 92px;
}
.logo {
	float: left;
}
.header .tel {
	float: right;
	background: url(../image/tel.png) left center no-repeat;
	height: 92px;
	line-height: 92px;
	padding: 0 0 0 45px;
	color: #fff;
	font-size: 24px
}
/*------search-------*/
.isearch {
	float: right;
	width: 30px;
	height: 30px;
	margin: 16px 0 0;
	position: relative;
}
.isearch span {
	display: block;
	height: 30px;
	background: url(../image/search.png) center top no-repeat;
}
.search01 {
	position: absolute;
	right: 0;
	top: 44px;
	width: 160px;
	background: #ee0062;
	display: none;
}
.search02 {
	float: left;
}
.search02 input.search03 {
	background: #ee0062;
	width: 110px;
	font-size: 12px;
	color: #fff !important;
	font-family: '微软雅黑';
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border: none;
	border: 0;
}
.search02 input.search04 {
	width: 30px;
	font-size: 14px;
	color: #fff;
	font-family: '微软雅黑';
	height: 40px;
	border: none;
	border: 0;
	background: url(../image/k2.png) no-repeat center center;
	cursor: pointer;
}
.search05 {
	float: left;
	width: 80px;
}
.jslct {
	color: #fff;
	font-family: "微软雅黑";
	display: inline-block;
*display:inline;
	zoom: 1;
	font-size: 12px;
	position: relative;
	vertical-align: middle;
	cursor: default;
	width: 80px;
	height: 40px;
	line-height: 40px;
	background: url(../image/k1.png) no-repeat 60px center;
	z-index: 0;
}
.jslct_hover {
}
.jslct div.jslct_t {
	position: relative;
	padding-left: 5px;
	z-index: 2;
*display:block!important;
*display:inline;
	zoom: 1;
}
.jslct em {
	font-style: normal;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jslct dl, .jslct dl dd {
	padding: 0;
	margin: 0;
	list-style: none
}
.jslct dl {
	background: #ee0062;
	position: absolute;
	top: 40px;
	left: 0;
	cursor: default;
	width: 80px;
	padding: 0 2px 8px;
	overflow: hidden;
	z-index: 1;
	display: none;
	font-size: 12px;
}
.jslct_hover dl {
}
.jslct dl dd {
	box-sizing: border-box;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
border-/bottom:#ccc solid 1px;
	white-space: nowrap;
	cursor: pointer;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.jslct dl dd:hover {
	color: #fff;
	background: #ee0062;
}
.jslct dl dd.hover {
	color: #fff;
	background: #ee0062;
}
.jslct .jslcted {
}
.jslct dl dd.noborder {
}
/*********nav*********/
.g_nav {
	height: 58px;
	background: #fff;
	border-bottom: 5px solid #ee0062;
	position: relative;
	z-index: 1
}
.g_nav01 {
	width: 1000px;
	margin: 0 auto;
}
.g_nav01 table tr td {
	text-align: center;
	height: 58px;
	line-height: 58px;
	position: relative;
}
.g_nav01 a {
	height: 58px;
	line-height: 58px;
	display: block;
	color: #000000;
	font-size: 15px;
}
.g_nav01 a:hover {
}
.g_nav01 a.g_nav01_on {
}
.g_nav01 table tr td .nav_tan {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	top: 58px;
	padding: 5px 0 10px 0;
	background: #fff;
	border-bottom: 5px solid #ee0062;
}
.g_nav01 table tr td .nav_tan a {
	width: 90%;
	margin: 0 auto;
	line-height: 30px;
	height: 30px;
	font-size: 12px;
}
/*********footer*********/
.footer {
	height: 210px;
	font-size: 14px;
	color: #777777;
	background: url(../image/k6.gif) left top repeat-x;
	margin: 100px 0 0;
}
.footer a {
	color: #939393;
}
.footer a:hover {
	color: #fff;
}
.footer00 {
	width: 880px;
	margin: 0 auto;
	position: relative;
}
.footer01 {
	float: left;
	width: 155px;
	background: url(../image/f02.png) no-repeat 0 46px;
	padding: 38px 0 0 106px;
	min-height: 55px;
	_height: 55px;
}
.footer01 span {
	padding: 0 16px;
}
.footer01 a {
	color: #fff;
	display: block;
	float: left;
	width: 72px;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
}
.footer01 a:hover {
	color: #fff;
}
.footer02 {
	float: left;
	background: url(../image/f03.png) no-repeat 0 46px;
	width: 270px;
	padding: 38px 0 0 106px;
	min-height: 55px;
	_height: 55px;
	margin-left: 50px;
}
.footer02 a {
	color: #fff;
	display: block;
	float: left;
	width: 134px;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
}
.footer02 a:hover {
	color: #fff;
}
.footer03 {
	position: absolute;
	top: 148px;
	right: 0;
	background: url(https://demoall.kuaituiyun.cn/544/template/pc/skin/images/f01.jpg) left center no-repeat;
	padding-left: 32px;
}
.ier {
	float: right;
	padding-top: 36px;
}
.footer04 {
	color: #666;
	text-align: center;
	height: 50px;
	line-height: 50px;
	background: #222222;
	font-size: 14px;
}
.footer04 a {
	color: #666;
}
.footer04 a:hover {
	color: #fff;
}
.g_nav01 td.now, .g_nav01 td:hover {
	background-color: #ee0062;
}
