/* 0427qy.com 易优CMS -- 好用,免费,安全 */

/*------------------------------- index 首页---------------------------------*/
/*-----首页 about-----*/
.iabout {
	height: 441px;
	background: url(../image/k3.png) center top no-repeat;
	margin-top: 20px !important;
	box-sizing: border-box;
	padding-left: 349px;
}
.iabout h4 {
	width: 600px;
	padding: 94px 0 0;
	color: #000;
	font-size: 18px;
	font-weight: bold;
}
.iabout h6 {
	width: 600px;
	padding: 0 0 0;
	color: #000;
	font-size: 14px;
}
.icontent {
	width: 600px;
	color: #fff;
	line-height: 35px;
	font-size: 14px;
	padding: 30px 0 0
}
/****首页公告****/
.index_gonggao {
	padding: 10px 0;
}
.index_gonggao01 {
	width: 1000px;
	margin: 0 auto;
	height: 35px;
	color: #333;
	font-size: 14px;
}
.index_gonggao01 marquee {
	float: left;
	width: 900px;
	color: #4c4c4c;
	font-size: 16px;
	line-height: 35px;
}
.index_gonggao01 span {
	float: left;
	width: 100px;
	color: #ee0062;
	font: 700 18px/35px "Microsoft YaHei";
}
/*班级设置 index*/
.banji {
}
.iname {
	text-align: center;
	font-size: 24px;
	color: #000;
	padding: 60px 0 10px;
	background: url(../image/k1.gif) center bottom no-repeat;
}
.iname a {
	color: #000;
}
.ibul {
	width: 106%;
	padding: 12px 0 0
}
.ibul li {
	float: left;
	width: 320px;
	height: 240px;
	overflow: hidden;
	position: relative;
	margin: 19px 20px 0 0
}
.ibul li img {
	width: 320px;
	height: 240px;
}
.ibul li a:hover img {
	transform: scale(1.1, 1.1);
	transition: 0.5s
}
.ibul li a .zhe {
	position: absolute;
	left: 0;
	top: 0;
	width: 260px;
	height: 240px;
	background: rgba(27,28,23,0.5);
	padding: 0 30px;
}
.ibul li a .zhe h4 {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 32px 0 0
}
.ibul li a .zhe span {
	display: block;
	color: #fff;
	font-size: 14px;
	padding: 5px 0 0
}
/*---造型index-----*/
.izao {
	background: url(../image/k4.png) center bottom no-repeat;
	height: 576px
}
.slideBox02 {
	width: 1000px;
	height: 427px;
	overflow: hidden;
	position: relative;
	padding: 48px 0 0
}
.slideBox02 .hd {
	height: 15px;
	overflow: hidden;
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 1;
}
.slideBox02 .hd ul {
	overflow: hidden;
	zoom: 1;
	float: left;
}
.slideBox02 .hd ul li {
	float: left;
	margin-right: 2px;
	width: 15px;
	height: 15px;
	line-height: 14px;
	text-align: center;
	background: #fff;
	cursor: pointer;
}
.slideBox02 .hd ul li.on {
	background: #f00;
	color: #fff;
}
.slideBox02 .bd02 {
	position: relative;
	height: 427px;
	z-index: 0;
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.slideBox02 .bd02 li {
	zoom: 1;
	vertical-align: middle;
	height: 427px;
}
.slideBox02 .bd02 li .img {
	float: left;
	width: 306px;
	height: 427px;
}
.slideBox02 .prev, .slideBox02 .next {
	position: absolute;
	right: 58px;
	bottom: 50px;
	margin-top: -37px;
	display: block;
	width: 63px;
	height: 38px;
	background: url(../image/k2.gif) no-repeat;
}
.slideBox02 .next {
	width: 58px;
	left: auto;
	right: 0;
	background: url(../image/k3.gif) no-repeat;
}
.slideBox02 .prev:hover, .slideBox02 .next:hover {
	opacity: .7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: .7;
}
.slideBox02 .prevStop {
	display: none;
}
.slideBox02 .nextStop {
	display: none;
}
.izright {
	float: left;
	width: 648px;
	padding: 0 0 0 40px;
}
.izright h2 {
	font-size: 24px;
	color: #fff;
	padding: 50px 0 0
}
.izright h4 {
	font-size: 16px;
	color: #fff;
	padding: 5px 0 0
}
.izright span {
	display: block;
	line-height: 33px;
	font-size: 14px;
	color: #fff;
	padding: 40px 0 0
}
.izao_amore {
	position: absolute;
	right: 0;
	top: 195px;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	z-index: 22;
}
/*---成果----*/
.icheng h2 {
	background: url(../image/k4.gif) left top no-repeat;
	height: 66px;
	color: #666666;
	font-size: 14px;
	padding: 45px 0 0 88px;
}
.icheng h2 label {
	font-size: 24px;
	color: #000;
}
.accordion {
	width: 1180px;
	overflow: hidden;
	height: 330px;
	margin: 44px auto 0;
}
.accordion ul li {
	margin: 0 1px 0 0;
	overflow: hidden;
	background-repeat: no-repeat;
	float: left;
	width: 180px;
	height: 330px;
	cursor: pointer;
	position: relative;
	background-size: cover;
}
.accordion ul li.active {
	width: 460px;
	background-size: cover;
}
.accordion ul li a {
	display: block;
	width: 180px;
	height: 330px;
	cursor: pointer;
}
.accordion ul li a span {
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	width: 460px;
	transition: 0;
	height: 330px;
}
.accordion ul li.active span {
	display: none;
}
.accordion ul li .iccon {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	padding: 0 32px;
	width: 396px;
	height: 330px;
	display: none;
}
.accordion ul li.active .iccon {
	display: block;
}
.accordion ul li .iccon h4 {
	font-size: 14px;
	color: #fff;
	padding: 230px 0 0;
	height: 30px;
}
.accordion ul li .iccon h4 b {
	font-size: 24px;
}
.accordion ul li .iccon p {
	font-size: 16px;
	color: #fff;
	padding: 10px 0 0
}
.ic_more {
	display: block;
	width: 100%;
	color: #fff;
	font-size: 20px;
	line-height: 48px;
	text-align: center;
	margin: 29px 0 0
}
/*---行业动态-----*/
.inew {
	height: 501px;
	margin-top: 83px
}
.in_fl {
	float: left;
	width: 466px;
	padding: 0 0 0 28px
}
.in_name {
	display: block;
	font-size: 24px;
	color: #fff;
	padding: 52px 0 16px;
	background: url(../image/k5.gif) left bottom no-repeat;
}
.in_name a {
	color: #fff;
}
.inew_ul {
	display: block;
	padding: 6px 0 0
}
.inew_ul li {
	float: left;
	width: 100%;
	margin: 30px 0 0 0;
}
.inew_ul li img {
	float: left;
}
.inew_ul li .irr {
	float: right;
	width: 312px;
}
.inew_ul li .irr h4 {
	font-size: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #fff;
	padding: 5px 0 0
}
.inew_ul li .irr span {
	display: block;
	font-size: 14px;
	line-height: 21px;
	height: 42px;
	overflow: hidden;
	color: #fff;
	padding: 7px 0 0
}
.inew_ul li a:hover h4 {
	color: #ee0049
}
/*---风采----*/
.ifeng_fr {
	float: right;
	width: 467px;
	background: url(../image/k5.png) right bottom no-repeat;
	height: 452px;
}
.if_con {
	padding: 65px 0 0 37px;
}
.if_con img {
	float: left;
}
.if_crr {
	float: right;
	width: 188px;
	padding: 0 25px 0 0
}
.if_crr h4 {
	font-weight: bold;
	font-size: 24px;
	color: #fff;
	display: block;
	padding: 100px 0 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.if_crr span {
	display: block;
	font-size: 16px;
	color: #fff;
	padding: 5px 0 0;
	line-height: 20px;
	height: 80px;
	overflow: hidden;
}
.if_crr .icc {
	color: #fff;
	font-size: 16px;
}
/*book*/
.ibook h2 {
	text-align: center;
	padding: 70px 0 0
}
.message {
	float: left;
	padding: 45px 0 0
}
.message input, .message textarea {
	float: left;
	margin-bottom: 11px;
	border: 1px solid #000;
	line-height: 40px;
	height: 40px;
	text-indent: 20px;
	color: #999999;
	font-size: 14px;
	font-family: 微软雅黑;
}
.message textarea {
	height: 144px;
}
.inp_fl {
	float: left;
	width: 362px;
	padding-right: 16px;
}
.yzm {
	width: 100%;
	margin: 20px 0 0
}
.message .subbut {
	border: 0;
	width: 100%;
	height: 46px;
	line-height: 46px;
	color: #fff;
	font-size: 16px;
	font-family: "Microsoft Yahei"
}
.viewcon {
	overflow: hidden;
ma/rgin:0 12px 36px;
	width: 940px;
	display: inline;
	word-break: break-all;
	color: #6c4c30;
	font-size: 14px;
	float: left;
	padding: 0 20px 20px;
	line-height: 30px;
	font-size: 14px
}
.focus {
	width: 358px !important;
	height: 38px !important;
	border: 2px solid #ee0049 !important;
}
.focus1 {
	width: 618px !important;
	height: 142px !important;
	border: 2px solid #ee0049 !important;
}
