/* eyoucms.com 易优CMS -- 好用,免费,安全 */

.w-logo h1, .w-logo a{ color:#b0a27b;}
.topLogBoxPc,.topCustom{ background:#b0a27b;}
.topLogBox a:hover,.w-languege a.cur{color:#422902;}
.nav_simpline_cur{ background:#b0a27b;}
.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{ color:#422902;}
.body-login-special .login-navPc .w-admin-nav .nav_inner > li.active > a, .body-login-special .login-navPc .w-admin-nav .nav_inner > li.active > .li-parent-div > a,.body-login-special .login-navPc .w-admin-nav .nav_inner > li:hover > a, .body-login-special .login-navPc .w-admin-nav .nav_inner > li:hover > .li-parent-div > a{ color:#fff;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#b0a27b !important;}
.w-text a:hover,.newsDetail .news-others a:hover{color:#b0a27b;}
/*--------------------组件-------------------------*/
.btn-default-w{background-color:#b0a27b; color:#f0ece1;}
.btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{ color:#fff; background-color:#918157; }
.w-social .social-item:hover{ border-color:#b0a27b; background-color:#b0a27b;}
.search-defaut-w .search-btn-w{ background-color:#b0a27b; }
.search-defaut-w .search-btn-w:hover{background-color:#A29164;}
.w-lantern-h .lantern_pre:hover, .w-lantern-h .lantern_next:hover{background-color:#b0a27b;}
.color_s_default{ color:#C0B698;}
.bg_s_default{ background:#C0B698;}
.w-service-fixed .color_s_default:hover{color:#A29164;}
.w-service-fixed .bg_s_default:hover{ background:#A29164;}
.w-service-fixed .service-popc{background:#A29164; }
.w-lantern .lantern_pre,.w-lantern .lantern_next{background-color:#b0a27b;}
.w-lantern .lantern_pre:hover,.w-lantern .lantern_next:hover{background-color:#A29164;}
.captionbgFadeOutScale .caption .captionbg,.captionbgFadeInLeft.imgLeftBig .caption .captionbg,.captionbgFadeInRight.imgRightBig .caption .captionbg{background-color:#b0a27b;}
.w-slide-page-num .slide-page a.active{ background-color:#b0a27b;}
/*-----------------footer-------------------------*/
.w-footer{ background:#B0A27B;}
.w-footer a:hover{ color:#736644;}
.w-footer .search-defaut-w .search-btn-w span{ background-color:#C0B698;}
.w-footer .w-social .social-item:hover{ border-color:#9C8D5F; background-color:#9C8D5F;}
.w-footer .btn-default-w{background-color:#C0B698;}
.w-footer .btn-default-w:hover,.w-footer .btn-default-w:focus{background-color:#918157; }
/*--------------------系统------------------------*/
.systitle{ background:#b0a27b;}
.crumbs a:hover,.w-breadcrumbs a:hover{color:#b0a27b;}
.info_tab li.cur_tab a{ color:#b0a27b;}
.w-prd-list-cell .w-prd-con:hover{ border-color:#b0a27b;}
.w-prd-list-cell .w-prd-infobox h2 a:hover,.w-prd-list-cell .w-prd-infobox .w-prd-more a:hover{color:#b0a27b;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background:#b0a27b; border-color:#b0a27b; }
.w-prd-list-cell .w-prd-btns a.btn-buy:hover{ background:#A29164; border-color:#A29164; }
.w-prd-list-cell .w-prd-btns a.btn-addCart:hover{  border-color:#b0a27b;  color:#b0a27b;}
/*-------------新闻--------------------*/
.w-News-list1 li,.w-News-list2 li .news-item,.w-News-list3 li,.w-News-list4 li,.w-adNews5 li,.w-News-list6 li,.w-News-list7 li,.w-adNews4 li,.w-adNews6 .adNewsTL li,.w-adNews8 li,.w-adNews9 li,.w-adNews11 li .news-sum{ border-color:#b0a27b; }
.w-News-list .news-com .news-h a:hover,.w-adNews .news-h a:hover,.w-adNews1 li .news-item .news-com .news-h a:hover{color:#b0a27b;}
.w-News-list5 li .news-item .data-day,.w-adNews1 li .news-item .data-day{ background:#b0a27b;}
.w-News-list7 li .date .date-day,.w-News-list7 li .date .date-yearMonth{ background:#b0a27b; color:#fff;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#222;}
.w-adNews3{background:#A29164;}
.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{background-color:#b0a27b;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a,.w-adNews3 .w-adNews-texts li .w-adNews-textH h3{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover,.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover h3{ color:#FFFF00;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH p,.w-adNews3 .w-adNews-texts li .w-adNews-textH .news-sum{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#fff; color:#fff;opacity:0.9; *filter:alpha(opacity=90); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);}
.w-adNews3 .w-adNews-texts li{border-color:#fff;}
.w-adNews3 .w-adNews-imgs .adNews3prev{background-image:url("../image/adnews3prev_white.png");}
.w-adNews3 .w-adNews-imgs .adNews3next{background-image:url("../image/adnews3next_white.png");}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#b0a27b;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../image/progress_complete.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.btn-greenC,.btn-greenA{background-color:#b0a27b;}
.checkbox_tel input[type="checkbox"]:checked + label{background-color:#b0a27b;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#b0a27b;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#D8D0BE;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecur.png');}
/*----------------------标题------------------------*/
.color_main{ color:#b0a27b;}
.color_vice{}
.color_vice_light{}
.color_h{}
.color_span{ color:#b0a27b;}
.colorbg_main{color:#b0a27b;}
.bg_main{background-color:#b0a27b;}
.bg_main_light{background-color:#F7F5F1;}
.bg_simpline{background-color:#b0a27b;}
.border_colorall_main{border-color:#b0a27b;}
.aHoverborder_main:hover{border-color:#b0a27b;}
.border_colorleft_main{border-left-color:#b0a27b;}
.border_colortop_main{border-top-color:#b0a27b;}
.border_colorright_main{border-right-color:#b0a27b;}
.border_colorbottom_main{border-bottom-color:#b0a27b;}
.aHovercolor_main:hover{color:#b0a27b;}
.aHoverbg_main:hover{background-color:#b0a27b;}
.border_colorall_main_deepen{border-color:#A29164;}
.aHovercolor_deepen:hover{ color:#A29164;}
.aHoverbg_deepen:hover{ background-color:#A29164;}
.aHoverborder_deepen:hover{border-color:#A29164;}
.colorChange{background-color:#b0a27b;
    background-image: -webkit-linear-gradient(bottom, #b0a27b, #A29164);
	background-image: -moz-linear-gradient(bottom, #b0a27b, #A29164);
	background-image: -o-linear-gradient(bottom, #b0a27b, #A29164);
	background-image: -ms-linear-gradient(bottom, #b0a27b,#A29164);
	background-image: linear-gradient(to top, #b0a27b, #A29164);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#A29164, endColorStr=#b0a27b);}
.colorChange_deepen{background-color:#b0a27b;
    background-image: -webkit-linear-gradient(bottom, #A29164,#b0a27b);
	background-image: -moz-linear-gradient(bottom, #A29164, #b0a27b);
	background-image: -o-linear-gradient(bottom, #A29164, #b0a27b);
	background-image: -ms-linear-gradient(bottom, #A29164, #b0a27b);
	background-image: linear-gradient(to top, #A29164, #b0a27b);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#b0a27b, endColorStr=#A29164);}
.bg_main_change{background-color:#b0a27b;
    background-image: -webkit-linear-gradient(bottom, #ffffff, #b0a27b);
	background-image: -moz-linear-gradient(bottom, #ffffff, #b0a27b);
	background-image: -o-linear-gradient(bottom, #ffffff, #b0a27b);
	background-image: -ms-linear-gradient(bottom, #ffffff,#b0a27b);
	background-image: linear-gradient(to top, #ffffff, #b0a27b);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#b0a27b, endColorStr=#ffffff);}
.bg_main_changeDeepen{background-color:#b0a27b;
    background-image: -webkit-linear-gradient(bottom, #b0a27b, #ffffff);
	background-image: -moz-linear-gradient(bottom, #b0a27b, #ffffff);
	background-image: -o-linear-gradient(bottom, #b0a27b, #ffffff);
	background-image: -ms-linear-gradient(bottom, #b0a27b,#ffffff);
	background-image: linear-gradient(to top, #b0a27b, #ffffff);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#b0a27b);}
.bg_main_change_left{background-color:#b0a27b;
    background-image: -webkit-linear-gradient(right, #ffffff, #b0a27b);
	background-image: -moz-linear-gradient(right, #ffffff, #b0a27b);
	background-image: -o-linear-gradient(right, #ffffff, #b0a27b);
	background-image: -ms-linear-gradient(right, #ffffff,#b0a27b);
	background-image: linear-gradient(to left, #ffffff, #b0a27b);}
.bg_main_changeDeepen_left{background-color:#b0a27b;
    background-image: -webkit-linear-gradient(right, #b0a27b, #ffffff);
	background-image: -moz-linear-gradient(right, #b0a27b, #ffffff);
	background-image: -o-linear-gradient(right, #b0a27b, #ffffff);
	background-image: -ms-linear-gradient(right, #b0a27b,#ffffff);
	background-image: linear-gradient(to left, #b0a27b, #ffffff);}
.w-title2{ background:#b0a27b;}
.w-title2,.w-title2 .title-h-in h2,.w-title2 .more{color:#fff;}
.w-title2 .more:hover{ color:#FFFF00;}
.w-title17 .title-text-in{ background:#b0a27b;}
.w-title17 .w-title-inner{background-image:url("../image/tit17bg_0.png");}
.w-title17 .more:hover{ background-image:url("../image/tit17_morehover_0.png");}
.w-title19 .more .icon_more,.icon_more19bg{ background-image:url("../image/icon_more_0.png");}
@media (min-width:768px){
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent a,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent a{ background:#F0ECE1;}
	.w-com-menu-V .ul-submenu li:hover >.div-parent a,.w-com-menu .ul-submenu li:hover >.div-parent .fa{ color:#b0a27b;}
	.w-com-menu-V .ul-submenu{ background:#F9F8F4;}
	.w-com-menu-V .ul-submenu .ul-submenu{ background:#fff;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{  background:#b0a27b;transition: all 0.2s;-moz-transition: all 0.2s;-webkit-transition: all 0.2s; -o-transition: all 0.2s;  }
	.w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ color:#b0a27b; }
}
@media (min-width:961px){
	.w-nav .submenu{ background:#b0a27b; background:rgba(176,162,123,0.95);}
	.w-nav .submenu li a{ color:#fff;}
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ color:#fff; background:#A29164;}
}
@media (max-width:960px){
	.w-admin-header, .body-login .w-admin-header, .w-header{ background:#F0ECE1;}
	.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{color:#b0a27b;}
}
@media (max-width:767px){
	.w-com-menu .ul-parent{background-color:#f6f6f6; border-bottom:2px solid #b0a27b;}
	.w-com-menu .ul-submenu ul{ background-color:#fafafa;}
	.w-com-menu .ul-submenu .ul-submenu ul{ background-color:#fdfdfd;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a{text-align:left;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a,.w-com-menu .fa{color:#333; }
	.w-com-menu li, .w-com-menu .ul-submenu li{border:none; border-bottom:1px solid #fff;}
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:none; }
	.w-com-menu li > .div-parent:hover > a, .w-com-menu li.cur > .div-parent > a, .w-com-menu li > .div-parent:hover > .fa, .w-com-menu li.cur > .div-parent > .fa{color:#b0a27b; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:none;}
	.systitle{background:#b0a27b; color:#fff; }
	/*-----------------------会员中心和购物车--------------------*/
	.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecurtel.png');}
}