/* eyoucms.com 易优CMS -- 好用,免费,安全 */

/*默认页面主体样式定义*/
body{ color:#28251e; }
a{ color:#28251e;}
.topLogBox .topLogBox-in,.w-main .row,.w-footer-in{ max-width:1200px; margin:0 auto;}
.w-admin-header .w-admin-row{ width:100%;}
.body{overflow:hidden;font-size:14px;}
.col-right{ display:none;}
.w-foot-content{ padding-top:10px; padding-bottom:10px;}
/*---------------------header-----------------------*/
.col-logo{text-align:center; padding:10px 0;}
.w-admin-header{ background:#fff;}
.w-header,.body-login .w-admin-header{ background:#F0ECE1; color:#212121;  }
.w-logo h1{ font-size:32px; }
.w-logo h1,.w-logo a{color:#212121;}
.menuPc{ background:#F0ECE1;}
.w-nav{ text-align:center;}
.w-admin-header .w-admin-nav{ float:none; margin-left:0;}
.w-nav .w-nav-in{max-width:1200px; margin:0 auto; display:inline-block; *display:inline; *zoom:1; vertical-align:bottom;}
.w-nav .nav_inner{ display:block; }
.w-nav .nav_inner > li{ float:left; text-align:center; }
.w-nav li a{ text-decoration:none;color:#422902;padding:0 10px;}
.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{line-height:54px; display:block;padding:0 20px;font-size:18px;}
.w-nav .nav_inner > li:hover > a,.w-nav .nav_inner > li:hover > .li-parent-div > a{transition: all 0.2s;-moz-transition: all 0.2s;-webkit-transition: all 0.2s; -o-transition: all 0.2s;}
.nav_simpline_cur{ display:block;position:absolute;bottom:0; left:50%; width:0; height:4px;}
.w-nav .nav_inner > li.active >.nav_simpline_cur,.w-nav .nav_inner > li:hover >.nav_simpline_cur{ width:100%; left:0;transition: all 0.2s;-moz-transition: all 0.2s;-webkit-transition: all 0.2s; -o-transition: all 0.2s; }
.w-nav .nav_inner > li > .submenu{ top:54px; left:50%; margin-left:-85px; }
.w-nav .nav_inner > li:hover > .submenu,.w-nav .submenu li:hover > .submenu{ display:none;}
.w-nav .submenu a{ font-size:14px; }
.w-nav .submenu li a{padding:8px 10px;}
.w-admin-header .w-admin-nav a{ color:#422902;}
.topLogBox,.topLogBox a{ font-size:12px;color:#fff;}
.topLogBox a{ margin:0 6px; text-decoration:none;   }
.topLogBox a:hover{ text-decoration:underline;}
.w-loginRegister,.w-shopCart{  margin-top:6px;float:left; margin-bottom:5px;}
.w-languege{ margin-top:6px;float:right; margin-bottom:5px;  }
.w-shopCart i{ background:url(../image/shopcart.png) no-repeat center; width:19px; height:19px; vertical-align:middle; display:inline-block; *zoom:1; margin-right:2px;}
.topLogBox .w-search{ position:relative;margin-top:3px; margin-bottom:5px; overflow:hidden; float:right; }
.topLogBox .w-search .input-search-w{ background:none;width:175px; *width:140px;  height:26px; line-height:26px;  padding: 0 30px 0 5px; border:1px solid #fff; }
.topLogBox .w-search .search-btn-w{ position:absolute;width:30px; right:0; top:0; bottom:0; background:url(../image/header_search.png) no-repeat center #fff; cursor:pointer;}
.topLogBox .w-search .search-btn-w span{ display:none;}
.nav_right_mask{display:none; position:fixed; left:0; right:0; top:0; bottom:0; z-index:5; background:#000;opacity:0.3; *filter:alpha(opacity=30); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);}
.topCustom{ font-size:90%; color:#fff;}
.w-custom{ padding-top:5px; max-width:1200px; margin:0 auto;}

/*-----------------------banner------------------*/
.bx-controls-direction{opacity:0; *filter:alpha(opacity=0); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.bx-wrapper:hover .bx-controls-direction{opacity:1; *filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
.banner .bx-wrapper .bx-prev{background-image:url("../image/banner_pre.png") !important; left:0 !important; background-position:left center !important;}
.banner .bx-wrapper .bx-next{background-image:url("../image/banner_next.png") !important; right:0 !important; background-position:right center !important;}
.banner .bx-wrapper .bx-pager.bx-default-pager a{  background:#fff !important;opacity:0.5; *filter:alpha(opacity=50); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);}

/*---------------footer------------------*/
.w-footer{ font-size:90%; background:#212121;color:#fff;  }
.w-footer a{color:#fff;}
.w-footer .icon-social{background-image:url('../image/icon-social-foot-w-white.png');}
/*----------------------------组件-----------------------*/
.w-text{line-height:1.5;}
.btn-default-w{ padding:0.7em 1.5em;text-align:center;}
.gallery-border{ border:1px solid #CCDADD;}
.w-social .social-item{ border:1px solid #e0e0e0; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; padding:2px; line-height:1; margin:3px 15px 3px 0;}
.icon-social{background-image:url('../image/icon-social-w.png');}
.w-social .social-item:hover .icon-social{background-image:url('../image/icon-social-wh.png');}
.search-defaut-w{ max-width:100%;}
.search-defaut-w .input-search-w{background:#fff; border:1px solid #D3D3D3; line-height:2.6em; height:2.6em; padding-right:55px; color:#41494f;}
.search-defaut-w .search-btn-w{ width:50px; height:100%; border:none; border-left:1px solid #D3D3D3; }
.search-defaut-w .search-btn-w:hover{}
.search-defaut-w .search-btn-w span{ display:block; position:absolute; width:100%; height:100%; font-size:0;   text-indent:-999px; background:url(../image/input-search-1.png) no-repeat center;}
.w-lantern-h .w-lantern-in{padding:0 32px;}
.w-lantern-marquee .w-lantern-in{padding:0;}
.w-lantern-h .lantern_pre, .w-lantern-h .lantern_next{ width:30px; height:48px; margin-top:-24px; background-color:#CCCCCC;}
.w-lantern-h .lantern_pre{ background-image:url(../image/lantern_pre.png);}
.w-lantern-h .lantern_next{ background-image:url(../image/lantern_next.png);}
/*title*/
.color_main{}
.color_vice{}
.color_vice_light{}
.w-title{ }
.w-title .title-h-in > span{font-family:"微软雅黑",microsoft yahei;}
.w-title16,.w-title16 h2{ line-height:1.3;}
.w-title16 h2,.w-title16 .title-h-in > span{ font-size:30px;}
/*--------------------系统------------------------*/
.systitle{color:#fff; font-size:24px;  text-align:center; background:#CE434A; padding:0.7em 10px; }
.crumbs{ border-bottom:1px solid #F0ECE1; padding-bottom:0; background:none;}
.crumbs,.crumbs a{ color:#666;}}
.crumbs .separate_span{color:#d0d0d0;}
.w-pages a{border-color:#d5d5d5; color:#5a5a5a; font-size:90%; }
.w-pages{text-align:center;}
.w-pages a:hover,.w-pages a.cur{color:#dd0000; }
.w-pages a.disabled,.w-pages a.disabled:hover{color:#999; background:none; border-color:#d5d5d5;}

/*-----------------------------产品----------------------*/
.w-prd-list1 .w-prd-list-cell .w-prd-infobox{padding-top:0.5em; padding-left:0.5em; padding-right:0.5em;}
.w-product1 .w-prd-list-cell .w-prd-infobox{padding-left:0.5em; padding-right:0.5em;}
.w-prd-list .w-prd-list-cell .w-prd-infobox h2,.w-product .w-prd-infobox h2{ margin-bottom:0;}
.w-prd-list-cell .w-prd-price-groups{margin-bottom:0; }
.w-prd-list-cell .w-prd-price-groups > div{margin-bottom:0; font-size:100%;}
.w-prd-list-cell .w-prd-price-groups .product-price-prefix{font-weight:normal; color:#FF3C00;}
.w-prd-list-cell .w-prd-sum{ font-size:95%; line-height:1.2; color:#909090;}
.w-prd-list-cell .w-prd-btns a{line-height:1.2;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background:#628A82; border-color:#628A82; color:#fff;}
.w-prd-list-cell .w-prd-infobox h2 a{  font-size:16px; color:#5a5a5a; }
.w-prd-list-cell .w-prd-infobox h2 a:hover{ text-decoration:none;}
.w-prd-list-cell .w-prd-price-groups .w-prd-price-sale{ font-size:110%;}
.w-prd-list-cell .w-prd-price-groups .w-prd-price-sale .product-price-amount{  color:#FF3C00; }
.w-prd-list-cell .w-prd-price-groups .w-prd-price-markit .product-price-prefix{ color:#999;}
.w-prd-list-cell .w-prd-price-groups .w-prd-price-markit .product-price-amount{color:#333;}
.product-detail-info .product-grayBox .product-prices{line-height:1.2;}
.product-detail-info .product-grayBox{background:none; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.info_tab ul{ padding:0;}
.info_tab_in{border-color:#ebebeb;}
.info_tab li{border:0; background:none; margin-bottom:0;}
.info_tab li a{color:#212121; background:url(../image/tabli.png) no-repeat right center;padding-top:0.5em; padding-bottom:0.5em; display:block;}
.info_tab li:last-child a{ background:none; }
.info_tab li.cur_tab a{color:#8A8A8A;}
/*----------------------------新闻-------------------------*/
.w-News-list{}
.w-News-list1 li,.w-News-list2 li .news-item,.w-News-list3 li,.w-News-list4 li,.w-adNews5 li,.w-News-list6 li,.w-News-list7 li,.w-adNews4 li,.w-adNews6 .adNewsTL li,.w-adNews8 li,.w-adNews9 li,.w-adNews11 li .news-sum{ border-color:#e0e0e0; }
.w-News-list .news-com .news-h a{}
.w-News-list1 .news-com .date,.w-News-list1 .news-com .news-sum{margin-top:0;}
.w-News-list8 .news-item .news-com .news-h a:hover{color:#fff;}
.w-adNews{line-height:1.8;}
.w-adNews .date{ color:#aaa;}
.w-adNews .news-sum{ font-size:95%;}
.w-adNews1 li .news-item .news-com .news-h a{color:#373d4b;}
.w-adNews1 li .news-item .news-com .news-sum{color:#535864; font-size:100%;}
.w-adNews2 li .news-item{border:none;}
.w-adNews2 li .viewDetail{ display:none;}
.w-adNews2 li .news-item .news-com{ padding-left:2px; padding-right:2px; padding-bottom:0;}
.w-adNews2 li .news-item .news-com .news-com-top{margin-bottom:0;}
.w-adNews2 li .news-item .news-com .news-h{ font-weight:normal;}
.w-adNews2 li .news-item .news-com .news-sum{margin-top:5px; line-height:1.5; height:4.5em;}
.w-adNews2 li .news-item .news-com .news-com-top .date{ font-size:13px;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH h3{ font-size:115%;}
.w-adNews5 li{ padding:0.7em 0;}
.w-adNews5 li .news-com{margin-left:27%;}
.w-adNews5 li .date{opacity:1; *filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
.w-adNews5 li .news-sum{font-size:95%;}
.w-adNews6 .adNewsF .news-h{font-size:115%;}
.w-adNews6 .adNewsF .news-sum{ font-size:95%;}
.w-adNews7 .adNewsL li .news-com .news-h a:hover{ text-decoration:underline;}
.w-adNews7 .adNewsL li .news-com .news-sum{ font-size:100%;}
.w-adNews8 li{ padding:0.5em 0; margin-bottom:0.7em;}
.w-adNews8 li .news-together{ line-height:1.7;}
.w-adNews8 li .news-h{ float:none; width:100%; font-weight:normal;}
.w-adNews8 li .date{float:none; width:100%; text-align:left;}
.w-adNews9 li{ padding:20px 0;}
.w-adNews li .news-btn{ padding:0.5em 1.5em;}
.newsDetail .newsTitle{color:#000;}
.newsDetail .newsST{color:#777;}
/*----------------------菜单----------------------------*/
.w-com-menu li > .div-parent > .fa-plus::before{content: "\f107";}
.w-com-menu li.open > .div-parent > .fa-plus::before{ content: "\f106";}
/*-----------------------会员中心和购物车--------------------*/
/*---------------------登录注册--------------------------*/
.body-login{background:#fff;}
.signbox-A .login-h2A,.login-input-A,.register-A a, .password-forget-A a,.login-button-A,.signfoot,.login-checkA span{color:#666;}
input[class*='login-input-A']::-webkit-input-placeholder{ color:#666;}
input[class*='login-input-A']:-moz-placeholder{ color:#666;}
input[class*='login-input-A']::-moz-placeholder{ color:#666;}
input[class*='login-input-A']:-ms-input-placeholder{ color:#666;}
.sign-content-A{ background-image:url("../image/signboxbg.png");}
.login-button-A{background-image:url("../image/signbtnbg.png");}
.login-checkA input.checked[type="checkbox"] + label{background-image:url("../image/login-checked.png");}
.login-input-A,.login-button-A,.login-checkA label{border-color:#999;}
@media (min-width:478px){
}
@media (min-width:768px){
	/*---------------------------菜单-------------------------*/
	.side_bar{width:237px;}
	.side_left{ margin-left:260px;}
	.w-com-menu-V{ text-align:center;}
    .w-com-menu-V .fa{ font-size:100%; font-weight:normal;right:0; top:5px; bottom:auto; color:#3b3b3b;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent{border:1px solid #E8E8E8;border-top:0; }
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent{}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:last-child{border-bottom:0;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent{background:none; border:0;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent a{font-size:16px; line-height:34px;color:#3b3b3b; padding:12px 10px 0;}
	.w-com-menu-V li a{padding:0 10px; font-size:100%; line-height:1.8;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent{ box-sizing:content-box;}
	.w-com-menu-V .ul-submenu{ background:none; padding:5px 0; }
	.w-com-menu-V .ul-submenu .div-parent{ padding:5px 0;}
	.w-com-menu-V .ul-submenu a{color:#3b3b3b; *position:relative; }
	.w-com-menu-V .ul-submenu .li-parent .div-parent{border-bottom:0; }
	.w-com-menu-V .ul-submenu .li-parent .div-parent .fa{line-height:1.8;}
	.w-com-menu-V .ul-submenu .ul-submenu{background:none;}
	.w-com-menu-V .ul-submenu .ul-submenu .div-parent{ padding:0;}
	.w-com-menu-V .ul-submenu .ul-submenu a{}
    .w-com-menu-H{ margin-bottom:40px; text-align:center;}
	.w-com-menu-H >.w-com-menu-in{ display:inline-block; *display:inline; *zoom:1; background:#2F2F2F;}
	.w-com-menu-H >.w-com-menu-in> ul:after{ content:""; display:block; clear:both; height:0; visibility:hidden;}
	.w-com-menu-H >.w-com-menu-in > ul > li{  position:relative;  }
    .w-com-menu-H li{margin:0; }
    .w-com-menu-H li a{  color:#434343;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li >.div-parent a{ padding:0 15px; line-height:48px; display:block; font-size:16px; color:#fff; }
    .w-com-menu-H .ul-submenu{  top:48px;}
	.w-com-menu-H .ul-submenu .ul-submenu{ top:28px; background:#fff;}
    .w-com-menu-H .ul-submenu li .div-parent{margin:0 5px;}
    .w-com-menu-H .ul-submenu li a{ line-height:2; color:#454545;}
    .w-com-menu-H .ul-submenu .ul-submenu-up{display:none;}
	
	.order-progress .order-progress-line .order-progress-line-sec .line{width:111px;}
	
	
}
@media (min-width:961px){
	.w-logo{ min-height:50px; min-width:40px;}
	.w-logo h1{ line-height:78px;}
	.w-nav .li-parentOne-div .fa{ display:none;}
	.w-nav .submenu{ background:#000; }
	.w-nav .submenu li{width:171px; }
	.w-nav .submenu li:last-child{border-bottom:0;}
	.w-nav .submenu li .submenu{left:171px;}
	.w-admin-shopCart{ position:absolute; right:10px; margin-right:0; padding-top:12px; z-index:2; top:10px;}
	.w-admin-shopCart a{background:#F5F5F5; padding:7px 15px;}
	.w-admin-shopCart a span, .w-admin-shopCart a .fa-angle-right{ display:inline-block; *display:inline; *zoom:1;}
	.w-admin-shopCart a .num{left:111px;}
	.w-nav .li-parent-div .fa-plus:before{content: "\f105";}
	/*---------------------------topLogBox--------------------------*/
	
	
	
}
@media (min-width:1201px){
	.bx-controls-direction{width:1170px; position:absolute; height:1.66rem; top:50%; margin-top:-0.83rem; left:50%; margin-left:-585px;}
	.w-nav .nav_inner > li{ min-width:133px;}
	.w-com-menu-H >.w-com-menu-in>.ul-parent> li{  min-width:145px; }
	.w-admin-shopCart{ right:50%; margin-right:-590px;}
}
@media (max-width:1200px){
	.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{ font-size:16px;}
	.col-table{margin:0;}
	.w-com-menu-H{margin-left:0;}
	.w-adNews9 li{ padding:15px 0;}
	
	.w-title16 h2,.w-title16 .title-h-in > span{ font-size:24px;}
}
@media (min-width:768px) and (max-width:1300px) {
	/*---------------------头部--------------------------------*/
	.w-admin-shopCart a{padding:7px 5px;}
	.w-admin-shopCart a span,.w-admin-shopCart a .fa-angle-right{display:none;}
	.w-admin-shopCart a .num{left:20px;}
}
@media (max-width:960px) {
	html{width:100%; height:100%; overflow-x:hidden;}
	body{ height:100%;min-width:100%;}
	.body{ padding-top:1.4rem;}
	/*--------------------header---------------------*/
	.w-admin-header,.body-login .w-admin-header,.w-header{position:fixed; top:0; left:0; width:100%; padding-top:0; height:1.4rem;  z-index:999; color:#333; box-shadow:0 1px 1px rgba(0,0,0,0.1); -moz-box-shadow:0 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1); background:#fff;}
	.menuPc{ display:none;}
	.col-logo,.w-admin-header .col-logo{float:none; text-align:center; padding:0;}
	.w-logo{ padding:0 1.2rem; height:auto; min-height:0; min-width:0;}
	.w-logo h1{ font-size:0.7rem; margin-top:0.25rem; margin-bottom:0;}
	.w-logo-img{ display:block; padding:0.17rem 0.25rem;line-height:1.06rem;}
	.w-logo-img img{max-height:1.06rem;}
	.col-right{position:fixed;left:-70%; width:70%; background:#fff;top:0; bottom:0;padding:0;margin-top:0px; z-index:10; display:block;}
	.w-nav{ background:none; overflow-y:auto; height:100%; margin:0; padding:0;}
	.w-nav .w-nav-in{ display:block;}
	.w-admin-header .w-admin-nav{margin-left:0; margin-right:0;}
    .w-nav ul{list-style:none; padding-left:0;}
	.w-nav .nav_inner{ display:block;}
	.w-nav .nav_inner > li{ display:block; float:none; text-align:left; margin:0; }
	.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{line-height:2.5; padding:0 10px; font-size:14px;}
	.w-nav li{border-bottom:0; border-top:0; float:none;}
    .w-nav li a, .w-nav .submenu li a,.w-admin-header .w-admin-nav a{ display:block;  color:#434343; text-align:left;border-bottom:1px solid #f0f0f0; font-size:14px;}
	.w-nav .nav_inner > li:hover > .submenu,.w-nav .submenu li:hover > .submenu{display:none;}
	.w-nav .nav_inner > li > .submenu{top:0; left:0; margin-left:0;}	
	.w-nav .submenu{ position:relative; font-size:14px; box-shadow:0; -moz-box-shadow:0; -webkit-box-shadow:0;}
	.w-nav .submenu li{ width:auto;}
    .w-nav .submenu li .submenu{ left:0; top:0;}
	.w-nav .submenu ul,.w-nav .submenu .submenu ul{background:none;}
	.w-nav .li-parent-div .fa{ position:absolute; top:50%; margin-top:-1em; right:0; width:2em; height:2em; line-height:2em; text-align:center; font-size:150%; }
	.w-nav .li-parent-div .fa-plus::before{content: "\f107";}
	.w-nav .li-parent-div.open .fa-plus::before{content: "\f106";}
	.w-nav .submenu li a{padding:0.5em 0.5em 0.5em 1.5em; text-align:left;}
	.w-nav .submenu .submenu li a{ padding-left:2.5em;}
	.mobile-nav-toggle{display:block;}
	.w-nav .nav_simpline_cur{ display:none;}
	.topLogBoxPc{ display:none;}
	.topLogBox{position:absolute; bottom:0; left:0; right:0; }
	.topLogBox, .topLogBox a{color:#6a6a6a;}
	.w-languege,.w-loginRegister, .w-shopCart{float:none; margin:0;padding: 0.5em;border-bottom:1px solid #e1e1e1;}
	.topLogBox .w-search{ float:none; margin:0.5em;}
	.topLogBox .w-search .input-search-w{border-color:#e0e0e0; width:100%;}
	.topLogBox .w-search .search-btn-w{ background:url(../image/header_search_tel.png) no-repeat center #565656;}
	 /*-----------------------会员中心和购物车--------------------*/
	 .w-admin-shopCart, .w-admin-top{display:none;}
	 .mobile-nav-toggle{top:0.35rem;}
	 .signTel, .shopCartTel, .signQuitTel{display:block; top:0.35rem;}
	.w-admin-header .w-admin-nav{position:fixed;left:-70%; width:70%; background:#fff;top:0; bottom:0;padding:0; margin-top:0px; z-index:10; display:block; float:none;}
	.w-admin-nav .w-nav-in{height:100%;}
	.order-progress{display:none;}
	
	/*---------------------系统-------------------------*/
	.crumbs{ margin-bottom:20px;}
}
@media (max-width:767px) {
	.w-foot-content{ padding-top:0.5em; padding-bottom:0.5em;}
	/*----------------------系统页-------------------*/
	.systitle{ font-size:125%; padding:0.5em;}
	.product-detail-info .product-grayBox{ border:0;}
	/*----------------------新闻---------------------------*/
	
	/*----------------------组件--------------------*/
	.w-lantern-h .w-lantern-in{padding:0 1.5em;}
	.w-lantern-marquee .w-lantern-in{padding:0;}
    .w-lantern-h .lantern_pre, .w-lantern-h .lantern_next{ width:1.5em; height:2.4em; margin-top:-1.2em; background-size:1em auto;}
	
}	
@media only screen and (max-width:479px){
	.body{font-size:0.35rem;}
	
	.crumbs{ margin-bottom:0.8em;}
	.w-prd-list-cell .w-prd-infobox h2 a{ font-size:100%;}
	.w-adNews9 li{ padding:0.7em 0;}
	
	.w-title16 h2,.w-title16 .title-h-in > span{ font-size:110%;}
}

