/* eyoucms.com 易优CMS -- 好用,免费,安全 */
html { background: #ffffff; font-size: 14px; color: #999; font-family: "Arial", "微软雅黑", "Helvetica", "sans-serif"; }

body { min-width: 1220px; }

.g_cw { width: 1220px; padding: 0 10px; margin: 0 auto; }
.g_cw::before,
.g_cw::after { content: ''; display: block; clear: both; }

.g_mt { margin-top: 80px; }
.g_mt::before,
.g_mt::after { content: ''; display: block; clear: both; }

.g_mb { margin-bottom: 80px; }
.g_mb::before,
.g_mb::after { content: ''; display: block; clear: both; }

@media (max-width: 1240px) {
	.g_cw { width: 100%; }
}

@media (max-width: 1024px) {
	body { min-width: 0; }
	.g_cw { width: 100%; }
}

@media (max-width: 700px) {
	.g_mt { margin-top: 40px; }
	.g_mb { margin-bottom: 40px; }
}


.g_page { clear: both; text-align: center; font-size: 12px; color: #626262; }
.g_page > ul { display: inline-block; }
.g_page > ul > li { float: left; line-height: 34px; margin: 0 5px; }
.g_page > ul > li a { display: block; background: #fff; width: 34px; height: 34px; text-align: center; border: 1px solid #A4A4A4; border-radius: 17px; }
.g_page > ul > li a.dis { color: #ccc; cursor: not-allowed; }
.g_page > ul > li a:hover:not(.dis),
.g_page > ul > li a.on { background: #ff4b64; color: #fff; border: 1px solid #ff4b64; }
.g_page > ul > li a.prev,
.g_page > ul > li a.next { width: 80px; }


.g_title { clear: both; text-align: center; margin-bottom: 20px; }
.g_title .l1 { font-size: 30px; font-weight: bold; color: #ff4b64; margin-bottom: 5px; }
.g_title .l2 { font-size: 14px; color: #b3b3b3; }

.g_title .l3 { width: 42px; height: 6px; margin-left: auto; margin-right: auto; margin-top: 10px; }
.g_title .l3 .left { width: 12px; height: 6px; background: #ffcb2a; border-radius: 10px; }
.g_title .l3 .right { width: 24px; height: 6px; background: #ffcb2a; border-radius: 10px; }

@media (max-width: 700px) {
}

.g_header { clear: both; }
.g_header .top { background: #f1f1f1; height: 38px; line-height: 38px; }
.g_header .top .left { color: #999; }
.g_header .top .right { color: #999; }
.g_header .top .right b { color: #ff4b64; }

.g_header .bar { display: none; }

.g_header .main { height: 100px; }
.g_header .main .logo { float: left; line-height: 100px; }
.g_header .main .logo img { vertical-align: middle; }

.g_header .main .nav { float: right; }
.g_header .main .nav > li { float: left; }
.g_header .main .nav > li > a { display: block; margin: 0 30px; padding: 40px 0 0px; font-size: 14px; }
.g_header .main .nav > li:last-child > a { margin-right: 0; }
.g_header .main .nav > li > a > p { transition: ease .3s; }
.g_header .main .nav > li > a > p > b { display: block; color: #282828; font-weight: normal; line-height: 1; transition: ease .3s; }
.g_header .main .nav > li > a > p .en { display: block; color: #A4A4A4; font-size: 12px; margin-left: -10%; transform: scale(.8); transition: ease .3s; }
.g_header .main .nav > li > a > p .line { display: block; width: 36px; height: 6px; background: #ff4b64; border-radius: 10px; margin-top: 10px; opacity: 0; transition: ease .3s; }
.g_header .main .nav > li > a.on,
.g_header .main .nav > li > a:hover { color: #ff4b64; }
.g_header .main .nav > li > a.on > p > b { font-weight: bold; color: #ff4b64; }
.g_header .main .nav > li > a:hover > p > b { color: #ff4b64; }
.g_header .main .nav > li > a.on > p .en,
.g_header .main .nav > li > a:hover > p .en { color: #ff4b64; }
.g_header .main .nav > li > a.on > p .line,
.g_header .main .nav > li > a:hover > p .line { opacity: 1; }


@media (max-width: 1024px) {
	body { padding-top: 60px; }

	.g_header { background: transparent; }
	.g_header .top { display: none; }
	.g_header .bar { position: relative; display: block; position: fixed; z-index: 100; left: 0; top: 0; right: 0; height: 60px; background: #fff; color: #875F23; border-bottom: 1px solid #ff4b64; }
	.g_header .bar .menu { position: absolute; right: 0; top: 0; display: inline-block; padding: 0 10px; line-height: 60px; }
	.g_header .bar .menu img { vertical-align: middle; height: 32px; }
	.g_header .bar .logo { font-size: 0; line-height: 60px; }
	.g_header .bar .logo img { max-height: 40px; vertical-align: middle; }

	.g_header .main { height: auto; }
	.g_header .main .logo { display: none; }

	.g_header .main .nav { float: none; height: auto; padding: 20px 0; margin-top: 0; line-height: 1; visibility: hidden; opacity: 0; position: fixed; z-index: 99; left: 0; top: -100%; bottom: 100%; right: 0; background: #fff; border-top: 0; transition: ease .4s; }
	.g_header .main .nav > li { float: none; }
	.g_header .main .nav > li > a { width: auto; padding: 10px 50px; }
	.g_header .main .nav > li > a > p > b { margin-bottom: 5px; }
	.g_header .main .nav > li > a > p .en { font-size: 8px; margin-left: 0; transform: none; }
	.g_header .main .nav > li > a > p .line { margin-top: 5px; }

	.g_header .main .nav.show { visibility: visible; opacity: 1; top: 60px; bottom: 0; }
}


.g_footer { clear: both; background: #ff4b64; padding: 22px 0; color: #fff; }
.g_footer .p1 { text-align: center; }

/*--子页banner--*/
.child_banner { clear: both; height: 340px; border-top: 1px solid #eae7f4; }
.child_banner .frame { height: 340px; background: no-repeat center center; background-size: cover; }

.child_banner_m { display: none; clear: both; height: 700px; }
.child_banner_m .frame { height: 100%; background: no-repeat center center; background-size: cover; }

@media (max-width: 1024px) {
	.child_banner { display: none; }
	.child_banner_m { display: block; }
}
/*--教室教具列表--*/
.tab-content .list { margin-left: -32px; margin-bottom: -30px; }
.tab-content .list > li { float: left; width: 25%; padding-left: 32px; padding-bottom: 30px; }
.tab-content .list > li .box { position: relative; display: block; }
.tab-content .list > li .box .ico:before { content: ''; position: absolute; top: 20px; left: 20px; right: 20px; bottom: 20px; border: 3px dashed #fff; z-index: 1; border-radius: 20px; opacity: 0; transition: ease .3s; }
.tab-content .list > li .box .pic img { border-radius: 20px; }
.tab-content .list > li .box .ico { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255,75,100,.8); border-radius: 20px; text-align: center; padding-top: 25%; opacity: 0; transition: ease .3s; }
.tab-content .list > li .box:hover .ico:before { opacity: 1; }
.tab-content .list > li .box:hover .ico { opacity: 1; }
.tab-content .list > li .box .ico img { width: 40px; }
.tab-content .btn { text-align: center; padding-top: 30px; }
.tab-content .btn a { display: inline-block; padding: 0 82px; height: 56px; line-height: 56px; color: #fff; font-size: 18px; border-radius: 50px; background: #ff4b64; box-shadow: 0 6px 0 rgba(241,43,70,1); position: relative; }
.tab-content .btn a .ico_l { position: absolute; top: -10px; left: 10px; }
.tab-content .btn a .ico_r { position: absolute; bottom: -10px; right: 10px; }

@media (max-width: 1024px) {
	.room .tab-list .n_tab > li { }
	.tab-content .list > li { width: 33.33%; }
	.tab-content .list > li .box .pic img { width: 100%; }
	.tab-content .btn a .ico_l, .tab-content .btn a .ico_r { display: none; }
}

@media (max-width: 750px) {
	.tab-content .list > li { width: 50%; }
}
/*--内页导航--*/
.brand { margin-top: 50px; margin-bottom: 140px; }
.brand .left { }
.brand .left .child_list { border: 1px solid #f2f2f2; border-radius: 10px; }
.brand .left .child_list .h1 { font-size: 24px; font-weight: bold; padding: 22px 84px; background: #ff4b64; text-align: center; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; }
.brand .left .child_list .nav > li { padding: 0 32px; }
.brand .left .child_list .nav > li .box { display: block; border-bottom: 1px solid #f2f2f2; line-height: 60px; text-align: center; font-size: 16px; color: #585858; }
.brand .left .child_list .nav > li .box:hover { color: #ff4b64; font-weight: bold; }
.brand .left .child_list .nav > li .on { color: #ff4b64; font-weight: bold; }
.brand .left .hot { width: 100%; text-align: left; padding: 30px 0 30px 33px; border: 1px solid #f2f2f2; border-radius: 10px; margin-top: 32px; }
.brand .left .hot .p1 .ico { vertical-align: middle; display: inline-block; }
.brand .left .hot .p1 .ico img { width: 23px; }
.brand .left .hot .p2 { color: #ff4b64; font-size: 30px; font-weight: bold; padding-top: 6px; }
.brand .con { width: 892px; margin-left: 32px; }
.brand .con .page { width: 100%; border-bottom: 1px solid #f2f2f2; padding: 20px 0 32px 0; margin-bottom: 30px; }

@media (max-width: 1024px) {
	.brand .left { float: none; }
	.brand .con { float: none; width: auto !important; margin-left: 0; }
	
}

@media (max-width:767px) {
.link { 
	display: none;
}
}
.link{padding:10px 15px;text-align: center;}
.link li  {color:#fff;font-size: 14px;display: inline-block;vertical-align: top;margin:0 10px;}
.link li a{color:#fff;font-size: 14px;}
.link li a:hover{opacity: 1;}