*{scrollbar-width:0;margin:0;padding:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;transition:all 0.5s;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s}
body{color:#333}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{margin:0;padding:0;font:14px/1.5 Microsoft Yahei,Arial,\5FAE\8F6F\96C5\9ED1,Helvetica,sans-serif}
table,td,tr,th{border-collapse:collapse;border-spacing:0;font-size:14px}
ol,ul{list-style:none}
li{list-style-type:none}
img{vertical-align:middle;border:0}
address,cite,code,em,th,i{font-weight:normal;font-style:normal}
.clear{clear:both;*zoom:1}
.clear:after{display:block;overflow:hidden;clear:both;height:0;visibility:hidden;content:"."}
a{text-decoration:none;color:#333;cursor:pointer}
a:visited{text-decoration:none}
a:hover{text-decoration:none}
a:active{text-decoration:none}
.fl{float:left}
.fr{float:right}
@font-face{font-family:"pangmen";src:url('../font/pangmen.ttf')}
@font-face{font-family:"ANTON-REGULAR";src:url('../font/anton-regular.ttf')}
@font-face{font-family:"Nice Regular";src:url('../font/nice regular.ttf')}
@font-face{font-family:"LEXENDDECA-SEMIBOLD";src:url('../font/lexenddeca-semibold.ttf')}
@font-face{font-family:"BEBASKAI";src:url('../font/bebaskai.ttf')}
body,html{overflow-x:hidden}
::-webkit-scrollbar{width:0}
::-webkit-scrollbar-track{background-color:#e6e6e6;border-radius:0px}
::-webkit-scrollbar-thumb{background-color:#c10326;border-radius:4px}
::-webkit-scrollbar-thumb:window-inactive{background-color:#c10326;border-radius:4px}
input[type="button"],input[type="submit"],input[type="reset"]{-webkit-appearance:none}
textarea{-webkit-appearance:none}
input{border-radius:0}
.w1400{width:1400px;margin:0 auto}
@media screen and (max-width:1499px){.w1400{width:94%}
}.web_head{width:100%;height:90px;margin:0;padding:0;background-color:#fff}
.web_head .eytb_main{width:100%;height:100%;margin:0 auto;padding:0 0 0 50px;position:relative}
.eytb_main .web_logo{width:300px;height:90px;overflow:hidden;float:left}
.web_logo a{display:table-cell;vertical-align:middle;width:100%;height:100%;overflow:hidden;margin:0;padding:0}
.web_logo a img{display:inline-block;max-width:100%;height:auto;max-height:100%;margin:0;padding:0}
.eytb_main .eytb_tel{width:auto;max-width:235px;height:100%;overflow:hidden;color:#fff;font-size:20px;font-weight:bold;white-space:nowrap;text-overflow:ellipsis;padding:29px 20px;float:right;background:#c10326;min-width:200px}
.eytb_tel i{display:inline-block;width:18px;height:18px;overflow:hidden;margin:0 10px -2px 0}
.eytb_tel i svg{display:block;width:100%;height:100%}
.eytb_tel i svg path{fill:#ffffff}
@media (max-width:1880px){.web_head .eytb_main{padding:0 0 0 42px}
}@media (max-width:1680px){.web_head{height:85px}
.eytb_main .web_logo{width:auto;height:85px}
.web_logo a{height:85px}
.web_head .eytb_main{padding:0 0 0 35px}
.eytb_main .eytb_tel{font-size:18px}
}
@media (max-width:1560px){.web_head{height:80px}
.web_head .eytb_main{padding:0 0 0 30px}
.eytb_main .web_logo,.web_logo a{height:80px}
.eytb_main .eytb_tel{font-size:17px;padding:27px 20px}
.eytb_tel i{margin:0 10px -3px 0 0}
}
@media (max-width:1366px){.web_head{height:75px}
.web_head .eytb_main{padding:0 0 0 25px}
.eytb_main .web_logo,.web_logo a{height:75px}
.eytb_main .eytb_tel{font-size:16px;padding:24px 20px}
.eytb_tel i{margin:0 10px -3px 0 0}
}
@media (max-width:1200px){.web_head .eytb_main{padding:0 0 0 20px}
.web_head{height:70px}
.eytb_main .web_logo,.web_logo a{height:70px}
}
@media (max-width:820px){.web_head .eytb_main{padding:0 0 0 20px}
.eytb_main .web_logo,.web_logo a{height:65px}
.eytb_main .eytb_tel{display:none}
}@media (max-width:767px){.web_head{width:100%;height:auto;margin:0;padding:0 12px}
.web_head .eytb_main{padding:0}
.eytb_main .web_logo,.web_logo a{height:60px}

}.web_nav{max-width:55%;height:auto;float:right;position:relative;z-index:100;margin:0 2.5% 0 0}
.web_nav li,.web_nav a{text-decoration:none;list-style:none}
.web_nav::-webkit-scrollbar{display:none}
.web_nav .nav_list{width:100%;margin:0 auto;-webkit-box-sizing:border-box;box-sizing:border-box}
.web_nav .nav_list > ul > li{display:block;width:auto;position:relative;list-style:none;float:left;position:relative}
.web_nav .nav_list > ul > li:last-child{background:none}
.web_nav .nav_list > ul > li > a{display:block;width:100%;line-height:55px;color:#222;font-size:18px;text-align:center;padding:20px 31px;margin:0;text-decoration:none;position:relative;z-index:2}
.web_nav .nav_list > ul > li:hover > a,.web_nav .nav_list > ul > li.active > a{color:#fff}
.web_nav .nav_list > ul > li > em{display:block;width:0;height:100%;overflow:hidden;background-color:#c10326;margin:0;padding:0;position:absolute;top:0px;left:0;transition:all 0.5s;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s}
.web_nav .nav_list > ul > li:hover > em,.web_nav .nav_list > ul > li.active > em{width:100%}
.web_nav .nav_list > ul > li i{display:inline-block;width:20px;height:20px;background:url(https://demoall.5fa.cn/31768/template/pc/skin/images/down.png) center center no-repeat;background-size:10px 10px;vertical-align:middle;cursor:pointer;margin:0;display:none}
.web_nav .nav_list > ul > li i.cur{background:url(https://demoall.5fa.cn/31768/template/pc/skin/images/up.png) center center no-repeat;background-size:10px 10px;text-decoration:none}
.web_nav .nav_list > ul > li ul{display:none;position:absolute;left:-17%;top:80px;z-index:9;width:134%;overflow:hidden;background-color:#fff;border-top:2px solid #c10326;box-shadow:0 4px 6px rgba(0,0,0,0.1);border-radius:0 0 2px 2px}
.web_nav .nav_list > ul > li:hover ul{display:block}
.web_nav .nav_list > ul > li ul li{width:100%;overflow:hidden;margin:0 auto;padding:0;border-bottom:1px solid rgba(85,87,89,0.1)}
.web_nav .nav_list > ul > li ul li:last-child{border:0}
.web_nav .nav_list > ul > li ul li a{display:block;width:100%;height:40px;overflow:hidden;line-height:40px;color:#555;font-size:14px;text-align:center;white-space:nowrap;text-overflow:ellipsis;margin:0 auto;padding:0 8px}
.web_nav .nav_list > ul > li ul li a:hover{color:#c10326}
.web_nav .nav_menu{display:none}
@media (max-width:1880px){.web_nav .nav_list > ul > li > a{padding:0 28px}
}@media (max-width:1680px){.web_nav .nav_list > ul > li > a{padding:17px 25px 18px}
}
@media (max-width:1560px){.web_nav{max-width:57%;margin:0 2% 0 0}
.web_nav .nav_list > ul > li > a{font-size:17px;padding:15px 25px}
}@media (max-width:1440px){.web_nav .nav_list > ul > li > a{padding:15px 20px}
}@media (max-width:1366px){.web_nav .nav_list > ul > li > a{padding:12px 20px 13px;font-size:16px}
}@media (max-width:1280px){.web_nav .nav_list > ul > li > a{font-size:15px;padding:10px 20px}
}@media (max-width:1200px){.web_nav .nav_list > ul > li > a{padding:10px 15px}
}@media (max-width:1080px){.web_nav{height:0;margin:0;width:auto}
.web_nav .nav_list{width:60%;height:100%;margin:0;padding:0;position:fixed;top:0;left:-100%;z-index:9999;transition:0.5s;-webkit-transition:0.5s}
.web_nav .nav_list ul{width:60%;height:100%;background-color:#fff;position:relative;z-index:9999}
.web_nav .nav_list .nav_mask{width:100%;height:100%;background-color:rgba(0,0,0,0.6);position:absolute;left:0;top:0;z-index:9998}
.web_nav .nav_list ul > li{width:100%;overflow:hidden;margin:0 auto;padding:0;background:none;box-sizing:border-box;position:relative}
.web_nav .nav_list ul > li a{display:block;width:100%;line-height:60px;color:#333;font-size:16px;text-align:left;padding:0 60px 0 20px;border-bottom:1px solid rgba(85,87,89,0.1)}
.web_nav .nav_list > ul > li:hover,.web_nav .nav_list > ul > li.active{background-color:#c10326}
.web_nav .nav_list > ul > li:hover > a,.web_nav .nav_list > ul > li.active > a{color:#fff;border-bottom:1px solid #c10326}
.web_nav .nav_list > ul > li > em{margin:0;left:20px}
.web_nav .nav_list > ul > li i{display:block;width:60px;height:60px;background-size:14px 9px;position:absolute;top:0;right:0}
.web_nav .nav_list > ul > li i.cur{background-size:14px 9px}
.web_nav .nav_list > ul > li ul{width:100%;overflow:hidden;position:inherit;left:inherit;top:inherit;background-color:#f8f8f8;box-shadow:none;border:0;border-radius:0;border-bottom:1px solid rgba(85,87,89,0.1)}
.web_nav .nav_list > ul > li:hover > em,.web_nav .nav_list > ul > li.active > em{display:none}
.web_nav .nav_list > ul > li ul li a{height:48px;line-height:48px;color:#888;text-align:left;border:0;padding:0 40px}
.web_nav .nav_menu{display:block;width:40px;padding:11px 9px;background-color:#c10326;border-radius:0;margin:0;position:absolute;top:15px;right:20px}
.web_nav .nav_menu span{display:block;width:100%;height:2px;background-color:#fff;border-radius:1px}
.web_nav .nav_menu span + span{margin-top:6px}
.web_nav .open{width:100%;overflow:auto;left:0%}
.web_nav .nav_menu:active{background-color:#c10326}
}
@media (max-width:800px){.web_nav .nav_menu{right:20px}
}@media (max-width:767px){.web_nav{height:0;margin:0}
.web_nav .nav_list{width:60%;height:100%;margin:0;padding:0;position:fixed;top:0;left:-100%;z-index:9999;transition:0.5s;-webkit-transition:0.5s}
.web_nav .nav_list ul{width:60%;height:100%;background-color:#fff;position:relative;z-index:9999}
.web_nav .nav_list .nav_mask{width:100%;height:100%;background-color:rgba(0,0,0,0.6);position:absolute;left:0;top:0;z-index:9998}
.web_nav .nav_list ul > li{width:100%;overflow:hidden;margin:0 auto;padding:0;background:none;box-sizing:border-box;position:relative}
.web_nav .nav_list ul > li a{display:block;width:100%;line-height:48px;color:#555;font-size:15px;text-align:left;padding:0 48px 0 20px;border-bottom:1px solid rgba(85,87,89,0.1)}
.web_nav .nav_list > ul > li:hover,.web_nav .nav_list > ul > li.active{background-color:#c10326}
.web_nav .nav_list > ul > li:hover > a,.web_nav .nav_list > ul > li.active > a{color:#fff;border-bottom:1px solid #c10326}
.web_nav .nav_list > ul > li > em{margin:0;left:20px}
.web_nav .nav_list > ul > li i{display:block;width:48px;height:48px;background-size:14px 9px;position:absolute;top:0;right:0}
.web_nav .nav_list > ul > li i.cur{background-size:14px 9px}
.web_nav .nav_list > ul > li ul{width:100%;overflow:hidden;position:inherit;left:inherit;top:inherit;background-color:#f8f8f8;box-shadow:none;border:0;border-radius:0;border-bottom:1px solid rgba(85,87,89,0.1)}
.web_nav .nav_list > ul > li:hover > em,.web_nav .nav_list > ul > li.active > em{display:none}
.web_nav .nav_list > ul > li ul li a{height:48px;line-height:48px;color:#888;text-align:left;border:0;padding:0 20px 0 40px}
.web_nav .nav_menu{display:block;width:40px;padding:11px 9px;background-color:#c10326;border-radius:0;margin:0;position:absolute;top:10px;right:0}
.web_nav .nav_menu span{display:block;width:100%;height:2px;background-color:#fff;border-radius:1px}
.web_nav .nav_menu span + span{margin-top:6px}
.web_nav .open{width:100%;overflow:auto;left:0%}
.web_nav .nav_menu:active{background-color:#c10326}
}@media (max-width:375px){.web_nav .nav_list ul > li a{font-size:14px}
}.web_foot{width:100%;padding:65px 0 0;background:#202020;border-top:5px solid #c10326}
.web_foot .w1400{position:relative}
.web_foot .eyoufoot_main{padding:0 0 65px}
.web_foot .eyoufoot_l{width:45%;float:left}
.web_foot .eyoufoot_l b{display:block;font-size:40px;color:#fff;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-family:Arial,Helvetica,sans-serif;margin:35px 0 15px}
.eyoufoot_copy p{line-height:30px;color:rgba(255,255,255,.35);font-size:16px}
.eyoufoot_copy p a{color:rgba(255,255,255,.35);font-size:16px}
.eyoufoot_copy p a:hover{color:#fff}
.web_foot .eyoufoot_nav{width:30%;float:left}
.web_foot .eyoufoot_nav ul li{width:45%;float:left;margin-right:10%}
.web_foot .eyoufoot_nav ul li:last-child{margin-right:0}
.web_foot .eyoufoot_nav ul li b{display:block;font-size:18px;color:#fff;margin-bottom:15px}
.web_foot .eyoufoot_nav ul li a{display:block;color:rgba(255,255,255,.35);font-size:16px;height:46px;line-height:46px;border-bottom:1px solid rgba(255,255,255,.1);overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.web_foot .eyoufoot_nav ul li a img{display:inline-block;margin:-2px 10px 0 0;vertical-align:middle}
.web_foot .eyoufoot_nav ul li a:hover{color:#c10326;border-bottom:1px solid #c10326}
.web_foot .eyoufoot_ewm{width:195px;float:right;text-align:center}
.web_foot .eyoufoot_ewm p{font-size:16px;color:#fff;margin-bottom:25px}
.web_foot .eyoufoot_ewm img{display:inline-block;width:160px;height:160px}
.web_foot .eyoufoot_back{position:absolute;top:-108px;right:50px}
.webdx_links{height:80px;overflow:hidden;position:relative;display:flex;align-items:center;background:url(../image/yqlj_bg.png) repeat;padding:0 20px}
.webdx_links .eyink_title{width:140px;height:80px;overflow:hidden;line-height:50px;color:#fff;font-size:16px;padding:16px 0;float:left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;font-weight:bold}
.webdx_links .eyink_title img{display:inline-block;margin:-2px 15px 0 0}
.webdx_links .eyink_list{width:calc(100% - 130px);float:right;max-height:70px;overflow:hidden;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;word-break:break-all;color:rgba(255,255,255,0.25)}
.eyink_list a{display:inline-block;height:35px;line-height:35px;color:rgba(255,255,255,0.35);font-size:16px;vertical-align:top;margin:0 12px}
.eyink_list a:hover{color:#fff}
@media (max-width:1680px){.eyoufoot_copy p,.eyoufoot_copy p a{font-size:15px}
.web_foot .eyoufoot_l b{font-size:38px;margin:32px 0 14px}
}
@media (max-width:1560px){.eyink_list a{font-size:15px;height:30px;line-height:30px}
.webdx_links .eyink_list{max-height:60px}
.web_foot .eyoufoot_ewm img{width:150px;height:150px}
.web_foot .eyoufoot_l b{font-size:34px;margin:30px 0 13px}
}@media (max-width:1440px){.web_foot{padding:55px 0 0}
.web_foot .eyoufoot_main{padding:0 0 55px}
.eyoufoot_copy p,.eyoufoot_copy p a{font-size:14px}
.lyFootlxfs_l ul li p,.lyFootlxfs_l ul li:nth-child(1) span{font-size:15px}
.eyoufoot_lxfs .lyFootlxfs_tit{font-size:26px;margin-bottom:30px}
.web_foot .eyoufoot_nav ul li b{font-size:16px;margin-bottom:8px}
.web_foot .eyoufoot_nav ul li a{font-size:14px;line-height:40px;height:40px}
.web_foot .eyoufoot_l b{font-size:30px;margin:25px 0 12px}
.web_foot .eyoufoot_back{top:-97px;right:40px}
}@media (max-width:1366px){.web_foot .eyoufoot_main{padding:0 0 45px}
}@media (max-width:1280px){.eyoufoot_ewm p{font-size:15px}
.webdx_links{height:70px}
.webdx_links .eyink_title{width:130px;height:70px;font-size:15px;padding:16px 0;line-height:40px}
.webdx_links .eyink_title img{margin:-2px 10px 0 0}
.web_foot .eyoufoot_ewm img{width:140px;height:140px}
}@media (max-width:1200px){.web_foot .eyoufoot_ewm p{font-size:15px;margin-bottom:15px}
.web_foot .eyoufoot_l .eyoufoot_logo img{height:55px}
.web_foot .eyoufoot_l b{font-size:28px;margin:25px 0 10px}
.web_foot .eyoufoot_l{width:43%}
.web_foot .eyoufoot_nav{width:33%}
}@media (max-width:1080px){.eyoufoot_copy p{line-height:30px;float:none !important}
}
@media (max-width:920px){.web_foot{padding:50px 0 0}
.web_foot .eyoufoot_main{padding:0 0 30px}
.webdx_links{height:60px}
.webdx_links .eyink_title{height:60px;line-height:40px;padding:10px 0}
.eyink_list a{font-size:14px;height:25px;line-height:25px}
.webdx_links .eyink_list{max-height:50px}
.eyoufoot_nav{display:none}
.web_foot .eyoufoot_ewm img{width:130px;height:130px}
.web_foot .eyoufoot_back{top:-91px;right:30px}
.web_foot .eyoufoot_l .eyoufoot_logo img{height:50px}
.web_foot .eyoufoot_l b{font-size:24px;margin:20px 0 10px}
}@media (max-width:820px){.eyoufoot_copy p,.eyoufoot_copy p a{font-size:14px}
}@media (max-width:767px){.web_foot .eyoufoot_main{padding:0 0 20px}
.web_foot .eyoufoot_l{width:100%}
.web_foot .eyoufoot_l .eyoufoot_logo,.web_foot .eyoufoot_l b{display:none}

.web_foot .eyoufoot_ewm{width:100%;float:none;margin-bottom:20px}
.web_foot .eyoufoot_back{right:inherit;left:50%;transform:translate(-50%,0)}
.eyoufoot_copy{text-align:center}
.eyoufoot_copy p span.icp,.eyoufoot_copy p span.login,.eyoufoot_copy p span.sitemap,.eyoufoot_copy p span.support,.webdx_links{display:none}
}