/* eyoucms.com 易优CMS -- 好用,免费,安全 */

/*■■■■■■■■　共同设定 ■■■■■■■■*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, tr, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}
ul, ul li, input, dl, dd {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
img, a img {
	border: 0;
	margin: 0;
	padding: 0;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
a {
	text-decoration: none;
	color: #444;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
a:hover {
	text-decoration: none;
}
.clear {
	clear: both;
}
/*■■■■■■■■　基本设定　■■■■■■■■*/
body {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #535353;
	overflow-x: hidden;
backgr/ound:#f3eee8
}
/*.theme_color{background:#fff;}
.theme_color1{background:#ee0062;}
.theme_color2{background:#222;}*/
/*----------------- ■ common -------------------*/
.rollover:hover img {
	opacity: .7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: .7;
/zoom: 1;
}
.main {
	width: 1004px;
	margin: 0 auto;
	position: relative;
over/flow:hidden;
	z-index: 999;
}
/*----------------- ■ header -------------------*/
.header {
	width: 100%;
	height: 109px;
	background: url(../image/header01.jpg) repeat;
	position: relative;
}
.logo {
	float: left;
	height: 109px;
	overflow: hidden;
}
.header .tel {
	float: right;
	background: url(../image/tel.png) left 0 no-repeat;
	line-height: 22px;
	padding: 0 0 2px 53px;
	color: #424242;
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 32px;
}
.header .tel span {
	display: block;
	font-size: 14px;
	font-weight: normal;
	font-family: '微软雅黑';
	color: #606060;
}
/*------search-------*/
.isearch {
	float: right;
	width: 30px;
	height: 30px;
	margin: 16px 0 0;
	position: relative;
}
.isearch span {
	display: block;
	height: 30px;
	background: url(https://demoall.kuaituiyun.cn/525/template/pc/skin/images/search.png) center top no-repeat;
}
.search01 {
dis/play:none;
posit/ion:absolute;
to/p:30px;
ri/ght:290px;
	width: 242px;
	height: 39px;
	background: url(../image/ss01.png) repeat;
	z-index: 999;
}
.search02 {
	float: left;
}
.search02 input.search03 {
	background: none;
	width: 135px;
	padding-left: 7px;
	font-size: 13px;
	font-family: '微软雅黑';
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	border: #f09b48 solid 1px;
	color: #cc8138;
	background: #fff;
	margin-top: 15px;
}
.search02 input.search04 {
	width: 29px;
	font-size: 14px;
	color: #fff;
	font-family: '微软雅黑';
	height: 27px;
	line-height: 27px;
	border: none;
	border: 0;
	background: #9c541a;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	background: url(../image/ss02.jpg) no-repeat center center;
	margin-top: 15px;
}
.search05 {
	float: left;
	width: 93px;
	padding: 15px 0 0 1px;
}
.search_btn {
pos/ition:absolute;
to/p:30px;
rig/ht:250px;
cur/sor:pointer;
}
.jslct {
	color: #cc8138;
	font-family: "微软雅黑";
	display: inline-block;
*display:inline;
	zoom: 1;
	font-size: 14px;
	position: relative;
	vertical-align: middle;
	cursor: default;
	width: 90px;
	height: 25px;
	line-height: 25px;
	background: #fff url(../image/k1.png) no-repeat 70px center;
	z-index: 0;
	border: #f09b48 solid 1px;
}
.jslct_hover {
}
.jslct div.jslct_t {
	position: relative;
	padding-left: 5px;
	z-index: 2;
*display:block!important;
*display:inline;
	zoom: 1;
}
.jslct em {
	font-style: normal;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jslct dl, .jslct dl dd {
	padding: 0;
	margin: 0;
	list-style: none
}
.jslct dl {
	background: #fff;
	position: absolute;
	top: 25px;
	left: 0;
	cursor: default;
	width: 88px;
	padding: 0 0 0;
	overflow: hidden;
	z-index: 1;
	display: none;
	font-size: 14px;
	border: #737373 solid 1px;
}
.jslct_hover dl {
}
.jslct dl dd {
	box-sizing: border-box;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
border-/bottom:#ccc solid 1px;
	white-space: nowrap;
	cursor: pointer;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.jslct dl dd:hover {
	color: #737373;
	background: #e4e4e4;
}
.jslct dl dd.hover {
	color: #737373;
	background: #e4e4e4;
}
.jslct .jslcted {
}
.jslct dl dd.noborder {
}
/*********nav*********/
.g_nav {
posi/tion:absolute;
t/op:97px;
lef/t:0;
wid/th:100%;
	height: 45px;
	background: #2a2929;
	z-index: 9;
bor/der-top:#974305 solid 4px;
}
.g_nav01 {
	width: 1004px;
	margin: 0 auto;
	position: relative;
}
.g_nav01 table tr td {
	text-align: center;
	height: 45px;
	line-height: 45px;
	position: relative;
}
.g_nav01 a {
	height: 45px;
	line-height: 45px;
	display: block;
	color: #fff;
	font-size: 15px;
	background: url(../image/nav03.png) top center no-repeat;
}
.g_nav01 a:hover {
	background: #ff9700;
	color: #fff;
fo/nt-weight:bold;
}
.g_nav01 a.cur {
	background: #ff9700;
	color: #fff;
}
.g_nav01 a.g_nav01_on {
	background: #ff9700;
	color: #fff;
}
.g_nav01 table {
}
.g_nav01 table tr td .nav_tan {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	top: 45px;
	z-index: 99999;
}
.g_nav01 table tr td .nav_tan a {
	background: #2a2929;
	line-height: 38px;
	height: 38px;
	font-size: 14px;
	color: #fff;
	display: block;
	overflow: hidden;
	border-bottom: #3a3a3a solid 1px;
}
.g_nav01 table tr td .nav_tan a:hover {
	color: #fff;
	background: #ff9700;
}
.index_nav {
	display: none;
	width: 150px;
	padding: 10px 0;
	min-height: 457px;
	_height: 457px;
	background: #333;
	position: absolute;
	top: 145px;
	left: 50%;
	margin-left: -550px;
}
.index_nav ul li {
	position: relative;
	line-height: 42px;
	height: 42px;
}
.index_nav ul li a {
	display: block;
	color: #fff;
	font-size: 15px;
	text-align: center;
}
.index_nav a:hover {
	background: #4d4d4d;
}
.index_nav a.cur {
	background: #4d4d4d;
}
.index_nav ul li .nav_tan {
	display: none;
	width: 100%;
	position: absolute;
	left: 150px;
	top: 0;
	background: #333;
	border-top: #333 solid 1px;
}
.index_nav ul li .nav_tan a {
	line-height: 41px;
	height: 41px;
	font-size: 14px;
	color: #fff;
	display: block;
	overflow: hidden;
	border-bottom: #4d4d4d solid 1px;
}
/*********footer*********/
.footer {
	height: 170px;
	background: url(../image/f01.jpg) repeat;
	color: #949494;
	text-align: center;
}
.footer00 {
	width: 1004px;
	margin: 0 auto;
	position: relative;
	font-size: 14px;
}
.footer01 {
	font-size: 13px;
	padding-top: 41px;
}
.footer01 a {
	color: #989797;
	margin: 0 14px;
}
.footer01 a:hover {
	color: #989797;
}
.footer02 {
	text-align: center;
	font-size: 12px;
	color: #767676;
	padding-top: 22px;
}
.footer02 a {
	color: #767676;
}
.footer02 a:hover {
	color: #fff;
}
.footer03 {
	font-size: 14px;
	color: #7d7d7d;
	padding-top: 15px;
	overflow: hidden;
}
.footer03 span {
	display: block;
	float: left;
	padding: 9px 7px 0 420px;
}
.f_link {
	height: 40px;
	line-height: 40px;
	background: #1c1c1c;
	font-size: 13px;
}
.f_link01 {
	width: 1004px;
	margin: 0 auto;
}
.f_link02 {
	float: left;
	color: #fff;
}
.f_link02 a {
	color: #fff;
	margin-right: 32px;
}
.f_link02 a:hover {
	color: #bebebe;
}
.f_link03 {
	float: right;
	width: 166px;
	color: #989797;
}
.f_link03 a {
	color: #989797;
}
.f_link03 a:hover {
	color: #fff;
}
.totop {
	float: right;
	cursor: pointer;
}
.f_bq {
	text-align: center;
	height: 46px;
	line-height: 46px;
	background: #000;
	color: #666;
}
.f_bq a {
	color: #666;
}
.f_bq a:hover {
	color: #bebebe;
}
::-webkit-input-placeholder {/* WebKit, Blink, Edge */
color: #cc8138;
}
:-moz-placeholder {/* Mozilla Firefox 4-18 */
color: #cc8138;
}
::-moz-placeholder {/* Mozilla Firefox 19+ */
color: #cc8138;
}
:-ms-input-placeholder {/* Internet Explorer 10-11 */
color: #cc8138;
}
