/* eyoucms.com 易优CMS -- 好用,免费,安全 */

.w-logo h1, .w-logo a{ color:#003542;}
.topCustom{ background:#003542; color:#b0a27b;}
.topCustom a{color:#b0a27b;}
.topCustom .w-text a:hover{ color:#fff;}
.topLogBoxPc{background:#003542; color:#b0a27b;}
.topLogBoxPc a{color:#b0a27b;}
.topLogBox a:hover,.w-languege a.cur{color:#fff;}
.topLogBox .w-search .input-search-w{ border-color:#b0a27b;}
.topLogBox .w-search .search-btn-w{ background-color:#b0a27b;}
.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{color:#003542;}
.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{ background:#003542; color:#b0a27b;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#003542 !important;}
.w-text a:hover,.newsDetail .news-others a:hover{color:#003542;}
/*--------------------组件-------------------------*/
.btn-default-w{ background-color:#003542; color:#b0a27b; }
.btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{ color:#fff; background-color:#B48F4E; transition: all 0.2s;-moz-transition: all 0.2s;-webkit-transition: all 0.2s; -o-transition: all 0.2s; }
.w-social .social-item{ background-color:#095366;}
.w-social .social-item:hover{ background-color:#b0a27b;}
.icon-social{background-image:url('../image/icon-social-w0.png');}
.w-social .social-item:hover .icon-social{background-image:url('../image/icon-social-w.png');}
.search-defaut-w .search-btn-w{ background-color:#003542;}
.search-defaut-w .search-btn-w:hover{background-color:#B48F4E;}
.w-fileNew-btn .w-file-opt a{ color:#b0a27b;}
.w-fileNew-btn .w-file-opt a:hover{ color:#fff;}
.color_s_default{ color:#003542;}
.bg_s_default{ background:#003542;}
.w-service-fixed .color_s_default:hover{color:#b0a27b;}
.w-service-fixed .bg_s_default:hover{ background:#b0a27b;}
.w-service-fixed .service-popc{background:#b0a27b; }
.w-lantern .lantern_pre,.w-lantern .lantern_next{background-color:#003542;}
.w-lantern .lantern_pre:hover,.w-lantern .lantern_next:hover{background-color:#B48F4E;}
.captionbgFadeOutScale .caption .captionbg,.captionbgFadeInLeft.imgLeftBig .caption .captionbg,.captionbgFadeInRight.imgRightBig .caption .captionbg{background-color:#003542;}
.w-slide-page-num .slide-page a.active{ background-color:#003542;}
/*-----------------footer-------------------------*/
.w-footer{ color:#b0a27b; background:#003542; border-top:1px solid #063d4a;  }
.w-footer a{ color:#b0a27b;}
.w-footer a:hover{ color:#fff;}
.w-footer .search-defaut-w .search-btn-w{ background-color:#095366;}
.w-footer .search-defaut-w .search-btn-w:hover{background-color:#B48F4E;}
.w-footer .btn-default-w{ background-color:#095366; }
.w-footer .btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{ background-color:#B48F4E;}
/*--------------------系统------------------------*/
.systitle{ background:#013543; color:#b0a27b;}
.crumbs a:hover,.w-breadcrumbs a:hover{color:#003542;}
.w-pages a:hover,.w-pages a.cur{color:#fff; background:#003542; border:1px solid #003542;}
.info_tab li.cur_tab a{ color:#003542;}
.w-prd-list-cell .w-prd-infobox h2 a:hover,.w-prd-list-cell .w-prd-infobox .w-prd-more a:hover{color:#003542;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background:#003542; border-color:#003542;color:#b0a27b; }
.w-prd-list-cell .w-prd-btns a.btn-buy:hover{ background:#B48F4E; border-color:#B48F4E; color:#fff;}
.w-prd-list-cell .w-prd-btns a.btn-addCart:hover{  border-color:#666;  color:#333;}
/*-------------新闻--------------------*/
.w-News-list .news-com .news-h a:hover,.w-adNews .news-h a:hover,.w-adNews1 li .news-item .news-com .news-h a:hover{color:#003542;}
.w-News-list5 li .news-item .data-day,.w-adNews1 li .news-item .data-day{ background:#003542;}
.w-News-list7 li .date .date-day,.w-News-list7 li .date .date-yearMonth{ background:#003542; color:#b0a27b;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#222;}
.w-adNews3{background:#003542;}
.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{background-color:#003542;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a,.w-adNews3 .w-adNews-texts li .w-adNews-textH h3{ color:#b0a27b;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover,.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover h3{ color:#fff;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH p,.w-adNews3 .w-adNews-texts li .w-adNews-textH .news-sum{ color:#b0a27b;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#b0a27b; color:#b0a27b;opacity:0.9; *filter:alpha(opacity=90); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);}
.w-adNews3 .w-adNews-texts li{border-color:#b0a27b;}
.w-adNews3 .w-adNews-imgs .adNews3prev{background-image:url("../image/adnews3prev_white.png");}
.w-adNews3 .w-adNews-imgs .adNews3next{background-image:url("../image/adnews3next_white.png");}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#003542;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../image/progress_complete.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.btn-greenC,.btn-greenA{background-color:#003542;}
.checkbox_tel input[type="checkbox"]:checked + label{background-color:#003542;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#003542;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#DBCAAA;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecur.png');}
/*----------------------标题------------------------*/
.color_main{color:#003542;}
.color_vice{}
.color_vice_light{}
.color_h{}
.color_span{}
.colorbg_main{color:#003542;}
.bg_main{background-color:#003542;}
.bg_main_light{background-color:#ECF0F1;}
.bg_simpline{background-color:#003542;}
.border_colorall_main{border-color:#003542;}
.aHoverborder_main:hover{border-color:#003542;}
.border_colorleft_main{border-left-color:#003542;}
.border_colortop_main{border-top-color:#003542;}
.border_colorright_main{border-right-color:#003542;}
.border_colorbottom_main{border-bottom-color:#003542;}
.aHovercolor_main:hover{color:#003542;}
.aHoverbg_main:hover{background-color:#003542;}
.border_colorall_main_deepen{border-color:#B48F4E;}
.aHovercolor_deepen:hover{ color:#B48F4E;}
.aHoverbg_deepen:hover{ background-color:#B48F4E;}
.aHoverborder_deepen:hover{border-color:#B48F4E;}
.colorChange{background-color:#003542;
    background-image: -webkit-linear-gradient(bottom, #003542, #006179);
	background-image: -moz-linear-gradient(bottom, #003542, #006179);
	background-image: -o-linear-gradient(bottom, #003542, #006179);
	background-image: -ms-linear-gradient(bottom, #003542,#006179);
	background-image: linear-gradient(to top, #003542, #006179);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#006179, endColorStr=#003542);}
.colorChange_deepen{background-color:#003542;
    background-image: -webkit-linear-gradient(bottom, #006179,#003542);
	background-image: -moz-linear-gradient(bottom, #006179, #003542);
	background-image: -o-linear-gradient(bottom, #006179, #003542);
	background-image: -ms-linear-gradient(bottom, #006179, #003542);
	background-image: linear-gradient(to top, #006179, #003542);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#003542, endColorStr=#006179);}
.bg_main_change{background-color:#003542;
    background-image: -webkit-linear-gradient(bottom, #ffffff, #003542);
	background-image: -moz-linear-gradient(bottom, #ffffff, #003542);
	background-image: -o-linear-gradient(bottom, #ffffff, #003542);
	background-image: -ms-linear-gradient(bottom, #ffffff,#003542);
	background-image: linear-gradient(to top, #ffffff, #003542);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#003542, endColorStr=#ffffff);}
.bg_main_changeDeepen{background-color:#003542;
    background-image: -webkit-linear-gradient(bottom, #003542, #ffffff);
	background-image: -moz-linear-gradient(bottom, #003542, #ffffff);
	background-image: -o-linear-gradient(bottom, #003542, #ffffff);
	background-image: -ms-linear-gradient(bottom, #003542,#ffffff);
	background-image: linear-gradient(to top, #003542, #ffffff);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#003542);}
.bg_main_change_left{background-color:#003542;
    background-image: -webkit-linear-gradient(right, #ffffff, #003542);
	background-image: -moz-linear-gradient(right, #ffffff, #003542);
	background-image: -o-linear-gradient(right, #ffffff, #003542);
	background-image: -ms-linear-gradient(right, #ffffff,#003542);
	background-image: linear-gradient(to left, #ffffff, #003542);}
.bg_main_changeDeepen_left{background-color:#003542;
    background-image: -webkit-linear-gradient(right, #003542, #ffffff);
	background-image: -moz-linear-gradient(right, #003542, #ffffff);
	background-image: -o-linear-gradient(right, #003542, #ffffff);
	background-image: -ms-linear-gradient(right, #003542,#ffffff);
	background-image: linear-gradient(to left, #003542, #ffffff);}
.w-title2{ background:#003542;}
.w-title2,.w-title2 .title-h-in h2,.w-title2 .more{color:#b0a27b;}
.w-title2 .more:hover{ color:#fff;}
.w-title8 .title-h-in h2,.w-title17 .title-text-in h2,.w-title17 .title-text-in > span,.w-title21 h2,.w-title27 h2,.w-title35 .w-title-inner .title-h-in h2, .w-title35 .w-title-inner .title-h-in span{color:#b0a27b;}
.w-title17 .title-h-in{ background:#b0a27b;}
.w-title17 .title-text-in{ background:#003542;}
.w-title17 .w-title-inner{background-image:url("../image/tit17bg_0.png");}
.w-title17 .more:hover{ background-image:url("../image/tit17_morehover_0.png");}
.w-title19 .more .icon_more,.icon_more19bg{ background-image:url("../image/icon_more_0.png");}
@media (min-width:768px){
	.w-com-menu-V .fa,.w-com-menu .ul-submenu .fa,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent a,.w-com-menu-V .ul-submenu a,.w-com-menu-V .ul-submenu .ul-submenu a{color:#b0a27b;}
	.w-com-menu-V .ul-submenu{ background:#025A71;}
	.w-com-menu-V .ul-submenu .ul-submenu{ background:#027B99;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent{ background:#013543;}
	.w-com-menu-V .ul-submenu li:hover >.div-parent{ background:#013543;}
	.w-com-menu-V .menu_simpline_cur{ background:#fff;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{  color:#b0a27b; background:#003542;}
	.w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ color:#003542; }
}
@media (min-width:961px){
	.w-nav .submenu{ background:#003542; }
	.w-nav .submenu a{color:#b0a27b;}
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ color:#003542; background:#b0a27b;}
}
@media (max-width:960px){
	.w-admin-header,.body-login .w-admin-header,.w-header{color:#003542;}
	.topLogBox a:hover,.w-languege a.cur{color:#003542;}
}
@media (max-width:767px){
	.w-com-menu{ border-bottom:2px solid #003542;}
	.w-com-menu .ul-parent{background-color:#f6f6f6;}
	.w-com-menu .ul-submenu ul{ background-color:#fafafa;}
	.w-com-menu .ul-submenu .ul-submenu ul{ background-color:#fdfdfd;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a{text-align:left;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a,.w-com-menu .fa{color:#666; }
	.w-com-menu li, .w-com-menu .ul-submenu li{border:none; border-bottom:1px solid #fff;}
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:none; }
	.w-com-menu li > .div-parent:hover > a, .w-com-menu li.cur > .div-parent > a, .w-com-menu li > .div-parent:hover > .fa, .w-com-menu li.cur > .div-parent > .fa{color:#003542; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:none;}
	.systitle{background:#003542; color:#fff; text-align:center;}
	/*-----------------------会员中心和购物车--------------------*/
	.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecurtel.png');}
}