/* eyoucms.com 易优CMS -- 好用,免费,安全 */

.w-logo h1, .w-logo a{ color:#212121;}
.topLogBox a:hover,.w-languege a.cur{color:#000;}
.topLogBox .w-search .search-btn-w{ background-color:#B6A794;}
.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{ color:#000;}
.w-nav .nav_simpline_cur{ background:#666;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#fff;}
.w-text a:hover,.newsDetail .news-others a:hover{color:#000;}
/*--------------------组件-------------------------*/
.btn-default-w{}
.btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{ color:#fff; background-color:#454545; border-color:#454545; }
.icon-social:hover{background-image:url('../image/icon-social-w-0.png');}
.search-defaut-w .search-btn-w{ background-color:#454545;}
.search-defaut-w .search-btn-w:hover{background-color:#333;}
.w-service-fixed .service-item:hover{ background-color:#000;color:#000;}
/*-----------------footer-------------------------*/
/*--------------------系统------------------------*/
.systitle{ background:#363636;}
.crumbs a:hover,.w-breadcrumbs a:hover{color:#000;}
.w-pages a:hover,.w-pages a.cur{border-color:#000;background-color:#000; color:#fff; }
.info_tab li.cur_tab a{ color:#000;}
.w-prd-list-cell .w-prd-infobox h2 a:hover,.w-prd-list-cell .w-prd-infobox .w-prd-more a:hover{color:#000;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background:#454545; border-color:#454545; }
.w-prd-list-cell .w-prd-btns a.btn-buy:hover{ background:#252525; border-color:#252525; }
.w-prd-list-cell .w-prd-btns a.btn-addCart:hover{  border-color:#333;  color:#333;}
/*-------------新闻--------------------*/
.w-News-list .news-com .news-h .news-kind,.w-adNews a.news-kind,.w-News-list .news-com .news-h a:hover,.w-adNews .news-h a:hover,.w-adNews1 li .news-item .news-com .news-h a:hover{color:#333;}
.w-News-list5 li .news-item .data-day,.w-adNews1 li .news-item .data-day{ background:#454545;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#222;}
.w-adNews3{background:#F2f2f2;}
.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{background-color:#454545;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a,.w-adNews3 .w-adNews-texts li .w-adNews-textH h3{ color:#454545;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover,.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover h3{ color:#000;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH p,.w-adNews3 .w-adNews-texts li .w-adNews-textH .news-sum{ color:#454545;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#454545; color:#454545;opacity:0.9; *filter:alpha(opacity=90); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);}
.w-adNews3 .w-adNews-texts li{border-color:#aaa;}
.w-adNews3 .w-adNews-imgs .adNews3prev{background-image:url("../image/adnews3prev_white.png");}
.w-adNews3 .w-adNews-imgs .adNews3next{background-image:url("../image/adnews3next_white.png");}
.w-adNews9 .bg_main{ background:#D4D4D4;}
.w-adNews9 li .date{ color:#727272;}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#000;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../image/progress_complete.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.btn-greenC,.btn-greenA{background-color:#000;}
.checkbox_tel input[type="checkbox"]:checked + label{background-color:#000;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#000;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#d0d0d0;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecur.png');}
/*----------------------标题------------------------*/
.color_main{ color:#727272;}
.color_vice{}
.color_vice_light{}
.color_h{}
.color_span{}
.colorbg_main{color:#000;}
.bg_main{background-color:#000;}
.bg_main_light{background-color:#f0f0f0;}
.bg_simpline{background-color:#000;}
.border_colorall_main{border-color:#000;}
.aHoverborder_main:hover{border-color:#000;}
.border_colorleft_main{border-left-color:#000;}
.border_colortop_main{border-top-color:#000;}
.border_colorright_main{border-right-color:#000;}
.border_colorbottom_main{border-bottom-color:#000;}
.aHovercolor_main:hover{color:#000;}
.aHoverbg_main:hover{background-color:#000;}
.border_colorall_main_deepen{border-color:#363636;}
.aHovercolor_deepen:hover{ color:#363636;}
.aHoverbg_deepen:hover{ background-color:#363636;}
.aHoverborder_deepen:hover{border-color:#363636;}
.colorChange{background-color:#000;
    background-image: -webkit-linear-gradient(bottom, #000, #363636);
	background-image: -moz-linear-gradient(bottom, #000, #363636);
	background-image: -o-linear-gradient(bottom, #000, #363636);
	background-image: -ms-linear-gradient(bottom, #000,#363636);
	background-image: linear-gradient(to top, #000, #363636);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#363636, endColorStr=#000);}
.colorChange_deepen{background-color:#000;
    background-image: -webkit-linear-gradient(bottom, #363636,#000);
	background-image: -moz-linear-gradient(bottom, #363636, #000);
	background-image: -o-linear-gradient(bottom, #363636, #000);
	background-image: -ms-linear-gradient(bottom, #363636, #000);
	background-image: linear-gradient(to top, #363636, #000);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#000, endColorStr=#363636);}
.bg_main_change{background-color:#000;
    background-image: -webkit-linear-gradient(bottom, #ffffff, #000);
	background-image: -moz-linear-gradient(bottom, #ffffff, #000);
	background-image: -o-linear-gradient(bottom, #ffffff, #000);
	background-image: -ms-linear-gradient(bottom, #ffffff,#000);
	background-image: linear-gradient(to top, #ffffff, #000);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#000, endColorStr=#ffffff);}
.bg_main_changeDeepen{background-color:#000;
    background-image: -webkit-linear-gradient(bottom, #000, #ffffff);
	background-image: -moz-linear-gradient(bottom, #000, #ffffff);
	background-image: -o-linear-gradient(bottom, #000, #ffffff);
	background-image: -ms-linear-gradient(bottom, #000,#ffffff);
	background-image: linear-gradient(to top, #000, #ffffff);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#000);}
.bg_main_change_left{background-color:#000;
    background-image: -webkit-linear-gradient(right, #ffffff, #000);
	background-image: -moz-linear-gradient(right, #ffffff, #000);
	background-image: -o-linear-gradient(right, #ffffff, #000);
	background-image: -ms-linear-gradient(right, #ffffff,#000);
	background-image: linear-gradient(to left, #ffffff, #000);}
.bg_main_changeDeepen_left{background-color:#000;
    background-image: -webkit-linear-gradient(right, #000, #ffffff);
	background-image: -moz-linear-gradient(right, #000, #ffffff);
	background-image: -o-linear-gradient(right, #000, #ffffff);
	background-image: -ms-linear-gradient(right, #000,#ffffff);
	background-image: linear-gradient(to left, #000, #ffffff);}
.w-title34 .tith .line{background:#656667;}
.w-title17 .title-h-in{ background:#454545;}
.w-title17 .title-text-in{ background:#000;}
.w-title17 .w-title-inner{background-image:url("../image/tit17bg_0.png");}
.w-title17 .more:hover{ background-image:url("../image/tit17_morehover_0.png");}
.w-title19 .more .icon_more,.icon_more19bg{ background-image:url("../image/icon_more_0.png");}
@media (min-width:768px){
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent a,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent a{ color:#000;}
	.w-com-menu-V .ul-submenu li:hover >.div-parent a{background-image:url('../image/menuli_0.png');}
	.w-com-menu-V .ul-submenu li:hover >.div-parent a,.w-com-menu .ul-submenu li:hover >.div-parent .fa{ color:#000;}
	.w-com-menu-H .menu_simpline_cur{ background:#666666;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{  color:#666;  }
	.w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ color:#000; }
}
@media (min-width:961px){
	.w-nav .submenu{ background:#f0f0f0; }
	.w-nav .submenu li a{ color:#333;}
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ color:#000; background:#f9f9f9;}
	.body-login5 .login-navPc .w-admin-nav > .nav_inner > li:hover > a, .body-login5 .login-navPc .w-admin-nav > .nav_inner > li:hover > .li-parent-div > a, .body-login5 .login-navPc .w-admin-nav > .nav_inner > li.active > a, .body-login5 .login-navPc .w-admin-nav > .nav_inner > li.active > .li-parent-div > a{ color:#ccc;}
}
@media (max-width:960px){
	.w-header-common .mobile-nav-toggle{ background:#000; color:#fff;}
	.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{background:#454545; color:#fff;}
}
@media (max-width:767px){
	.w-com-menu .ul-parent{background-color:#f6f6f6;}
	.w-com-menu .ul-submenu ul{ background-color:#fafafa;}
	.w-com-menu .ul-submenu .ul-submenu ul{ background-color:#fdfdfd;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a{text-align:left;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a,.w-com-menu .fa{color:#666; }
	.w-com-menu li, .w-com-menu .ul-submenu li{border:none; border-bottom:1px solid #fff;}
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:none; }
	.w-com-menu li > .div-parent:hover > a, .w-com-menu li.cur > .div-parent > a, .w-com-menu li > .div-parent:hover > .fa, .w-com-menu li.cur > .div-parent > .fa{color:#000; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:none;}
	.systitle{background:#363636; color:#fff; text-align:center;}
	/*-----------------------会员中心和购物车--------------------*/
	.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecurtel.png');}
}