/* eyoucms.com 易优CMS -- 好用,免费,安全 */

/*
描述:cavan响应式主题样式表第81套
作者:wangxb
*/
/*默认页面主体样式定义*/
body{ color:#727272; }
a{ color:#727272;}
.w-header .row,.topLogBox .topLogBox-in,.w-main .row,.w-footer-in{ max-width:1200px; margin:0 auto;}
.body{overflow:hidden;font-size:14px;}
.col-right{ display:none;}
/*---------------------header-----------------------*/
.row_top{ display:table; table-layout: fixed; width:100%;}
.row_top .column4{ width:25%; *float:left;*width:24.99%; display:table-cell; vertical-align:middle;}
.row_top .column8{ width:75%; *float:right;*width:74.99%; display:table-cell;vertical-align:bottom; position:relative;}
.col-logo{ position:relative; z-index:1; }
.w-admin-header .col-logo{float:left;}
.w-header,.w-admin-header,.body-login .w-admin-header{ background:#fff; color:#212121;  }
.w-logo h1{ font-size:32px; padding:0 10px; }
.w-logo h1,.w-logo a{color:#212121;}
.w-nav{ text-align:right;font-size:0; margin:35px 0;}
.body-login-special .login-navPc .w-admin-nav{ margin:0;}
.w-nav .nav_inner{ display:inline-block; *zoom:1; *display:inlne; }
.w-nav .nav_inner > li{ float:left; text-align:center; margin:0 17px;}
.w-nav li a{ text-decoration:none;color:#fff;padding:0 10px;font-size:15px;}
.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{line-height:27px; display:block;padding:0 5px; color:#666;}
.w-nav .nav_inner > li > .submenu{ top:27px; left:-5px; padding:10px 0; }
.w-nav .nav_inner > li:hover > .submenu,.w-nav .submenu li:hover > .submenu{ display:none;}
.w-nav .submenu a{ font-size:13px; text-align:left; }
.w-nav .nav_simpline_cur{ display:block; position:absolute; left:0; width:0; bottom:0; height:1px;}
.w-nav li:hover > .nav_simpline_cur, .w-nav li.active > .nav_simpline_cur{ width:100%; transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s; -o-transition: all 0.5s; }
.topLogBox{ position:absolute; right:20px; top:0;}
.topLogBox,.topLogBox a{ font-size:12px;color:#888;}
.topLogBox a{ margin:0 6px; text-decoration:none;   }
.topLogBox a:hover{ text-decoration:underline;}
.w-loginRegister,.w-languege,.w-shopCart{ margin-top:6px;float:right;  }
.w-shopCart i{ background:url(../image/shopcart.png) no-repeat center; width:19px; height:19px; vertical-align:middle; display:inline-block; *zoom:1; margin-right:2px;}
.topLogBox .w-search{ position:relative;margin-top:3px; margin-bottom:5px; overflow:hidden; float:right; }
.topLogBox .w-search .input-search-w{ background:none;width:175px; *width:140px;  height:26px; line-height:26px;  padding: 0 30px 0 5px; border:1px solid #ddd; }
.topLogBox .w-search .search-btn-w{ position:absolute;width:30px; right:0; top:0; bottom:0; background:url(../image/header_search.png) no-repeat center #bbb; cursor:pointer; border-left:1px solid #ddd;}
.topLogBox .w-search .search-btn-w span{ display:none;}
.nav_right_mask{display:none; position:fixed; left:0; right:0; top:0; bottom:0; z-index:5; background:#000;opacity:0.3; *filter:alpha(opacity=30); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);}

/*-----------------------banner------------------*/
.bx-controls-direction{opacity:0; *filter:alpha(opacity=0); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.bx-wrapper:hover .bx-controls-direction{opacity:1; *filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
.banner .bx-wrapper .bx-prev{background-image:url("../image/banner_pre.png") !important; left:0 !important; background-position:left center !important;}
.banner .bx-wrapper .bx-next{background-image:url("../image/banner_next.png") !important; right:0 !important; background-position:right center !important;}
.banner .bx-wrapper .bx-pager.bx-default-pager a{  background:#fff ;opacity:0.5; *filter:alpha(opacity=50); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);}

/*---------------footer------------------*/
.w-footer{ line-height:2; font-size:95%;  }
/*----------------------------组件-----------------------*/
.w-text{line-height:1.8;}
.btn-default-w{ color:#8F8F8F; border:1px solid #8F8F8F; padding:8px 25px;text-align:center;   }
.gallery-border{ border:1px solid #CCDADD;}
.w-social .social-item{ background:#BFBFBF; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; padding:2px; line-height:1; margin:3px 25px 3px 0;}
.icon-social{background-image:url('../image/icon-social-w.png');}
.search-defaut-w{ max-width:100%;}
.search-defaut-w .input-search-w{background:#fff; border:1px solid #ddd; line-height:2.8em; height:2.8em; padding-right:50px; color:#41494f;}
.search-defaut-w .search-btn-w{ background:url(../image/input-search-1.png) no-repeat center;  width:44px; height:100%; border:none;}
.search-defaut-w .search-btn-w:hover{ background:url(../image/input-search-1.png) no-repeat center; }
.w-text-form, .w-textarea-form{border-color:#eee;}
.w-slide-page-img .w-page-bottom .slide-page{position:relative; margin-top:-35px;}
.w-slide-page-img .w-page-bottom .slide-page a{ background:#f5f5f5;opacity:1; *filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/*title*/
.w-title{ margin-bottom:14px;}
.w-title .title-h-in > span,.w-title28 .tith span{font-family:"微软雅黑",microsoft yahei;}
.w-title1 .title-h-in > span{ font-size:115%;}
.w-title16{ text-align:left;}
.w-title16 .title-h-in > span{font-size:95%;}
/*--------------------系统------------------------*/
.systitle{color:#fff; font-size:20px; text-align:left; background:#EDEDED; padding:7px 12px; margin-left:-1px; margin-top:-1px; margin-right:-1px;}
.crumbs{ color:#8E8E8E;}
.w-com-menu-V{ border:1px solid #EDEDED;}
.crumbs{ background:none; padding:0; margin-bottom:5px; }
.w-pages a{border-color:#000; color:#000;}
.w-pages{text-align:center;}
.w-pages a:hover,.w-pages a.cur{color:#fff; border:1px solid;}
.w-pages a.disabled,.w-pages a.disabled:hover{color:#999; background:none; border-color:#d5d5d5;}

/*-----------------------------产品----------------------*/
.w-product1 .w-prd-list-cell .w-prd-infobox{ padding:0.5em 0;}
.w-prd-list-cell .w-prd-infobox h2{ margin-bottom:0;}
.w-prd-list-cell .w-prd-price-groups{margin-bottom:0;}
.w-prd-list-cell .w-prd-price-groups .product-price-prefix{font-weight:normal; color:#ACACAC;}
.w-prd-list-cell .w-prd-sum{ font-size:95%; line-height:1.2;}
.w-prd-list-cell .w-prd-btns a{line-height:1.2;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background:#628A82; border-color:#628A82; color:#fff;}
.w-prd-list-cell .w-prd-infobox h2 a{  font-size:15px; color:#5A5A5A; }
.w-prd-list-cell .w-prd-infobox h2 a:hover{ text-decoration:none;}
.w-prd-list-cell .w-prd-price-groups .w-prd-price-sale .product-price-amount{  color:#E5002E; font-weight:bold;}
.w-prd-list-cell .w-prd-price-groups .w-prd-price-markit .product-price-amount{color:#000;}
.product-detail-info .product-grayBox .product-prices{line-height:1.2;}
.product-detail-info .product-grayBox{background:none; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.info_tab ul{ padding:0;}
.info_tab_in{border-color:#ebebeb;}
.info_tab li{border:0; background:none; margin-bottom:0;}
.info_tab li a{color:#666; background:url(../image/tabli.png) no-repeat right center;padding-top:0.5em; padding-bottom:0.5em; display:block;}
.info_tab li:last-child a{ background:none; }
.info_tab li.cur_tab a{color:#8A8A8A;}
/*----------------------------新闻-------------------------*/
.w-News-list{}
.w-News-list1 li,.w-News-list4 li ,.w-News-list3 li,.w-News-list4 li,.w-News-list6 li,.w-News-list7 li{ border-bottom-style:dashed;}
.w-News-list1 li,.w-News-list2 li .news-item,.w-News-list3 li,.w-News-list4 li,.w-News-list6 li,.w-News-list7 li,.w-adNews4 li,.w-adNews6 .adNewsTL li{ border-color:#E2E2E2; }
.newsDetail .newsTitle{color:#000;}
.w-News-list .news-com .news-h a{}
.w-News-list1 .news-com .date,.w-News-list1 .news-com .news-sum{margin-top:0;}
.w-News-list8 .news-item .news-com .news-h a:hover{color:#fff;}
.w-adNews{line-height:1.8;}
.w-adNews .news-h a:hover{ text-decoration:none;}
.w-adNews .date{}
.w-adNews1 li .news-item .news-com .news-h a{color:#565656;}
.w-adNews1 li .news-item .news-com .news-sum{color:#898989; font-size:100%;}
.w-adNews2 li .news-item{border:none;}
.w-adNews2 li .viewDetail{ display:none;}
.w-adNews2 li .news-item .news-com{ padding-left:2px; padding-right:2px; padding-bottom:0;}
.w-adNews2 li .news-item .news-com .news-com-top{margin-bottom:0;}
.w-adNews2 li .news-item .news-com .news-h{ font-weight:normal;}
.w-adNews2 li .news-item .news-com .news-sum{margin-top:5px; line-height:1.5; height:4.5em; font-size:95%;}
.w-adNews2 li .news-item .news-com .news-com-top .date{ font-size:13px;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH h3{ font-size:115%;}
.w-adNews5 li{border-bottom:0; padding:0.7em 0;}
.w-adNews5 li .news-com{margin-left:27%;}
.w-adNews5 li .date{opacity:1; *filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
.w-adNews6 .adNewsF .news-h{font-size:115%;}
.w-adNews6 .adNewsF .news-sum{ font-size:95%;}
.w-adNews7 .adNewsL li .news-com .news-h a:hover{ text-decoration:underline;}
.w-adNews7 .adNewsL li .news-com .news-sum{ font-size:100%;}
.w-adNews8 li{ padding:0.5em 0; margin-bottom:0.7em;}
.w-adNews8 li .news-together{ line-height:1.7;}
.w-adNews8 li .news-h{ float:none; width:100%; font-weight:normal;}
.w-adNews8 li .date{float:none; width:100%; text-align:left;}
.w-adNews9 li{ border-bottom:0; padding-bottom:20px;}
.w-adNews9 li .date{ margin-left:0;}
.newsDetail .newsST{color:#777;}
.newsDetail .newsSummary{background:#fafafa;}
/*----------------------菜单----------------------------*/
.w-com-menu li > .div-parent > .fa-plus::before{content: "\f107";}
.w-com-menu li.open > .div-parent > .fa-plus::before{ content: "\f106";}
/*-----------------------会员中心和购物车--------------------*/
/*---------------------登录注册--------------------------*/
.body-login{background:#fff;}
.signbox-A .login-h2A,.login-input-A,.register-A a, .password-forget-A a,.login-button-A,.signfoot,.login-checkA span{color:#666;}
input[class*='login-input-A']::-webkit-input-placeholder{ color:#666;}
input[class*='login-input-A']:-moz-placeholder{ color:#666;}
input[class*='login-input-A']::-moz-placeholder{ color:#666;}
input[class*='login-input-A']:-ms-input-placeholder{ color:#666;}
.sign-content-A{ background-image:url("../image/signboxbg.png");}
.login-button-A{background-image:url("../image/signbtnbg.png");}
.login-checkA input.checked[type="checkbox"] + label{background-image:url("../image/login-checked.png");}
.login-input-A,.login-button-A,.login-checkA label{border-color:#999;}
@media (min-width:478px){
	.w-title16{}
	.w-title16 h2{font-size:24px;}
	
	.w-adNews5 li a{font-size:15px;}
	.w-adNews2 li .news-item .news-com .news-h{ font-size:15px;}
	.w-adNews li .news-sum{ font-size:95%;}
	.w-adNews8 .news-sum{ max-height:3em; overflow:hidden;}
	
}
@media (min-width:768px){
	/*---------------------------菜单-------------------------*/
	.side_bar{width:230px;}
	.side_left{ margin-left:260px;}
    .w-com-menu-V .fa{ font-size:100%; font-weight:normal;  right:0; top:5px; bottom:auto; color:#616363;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent{padding:0 10px;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent{border-bottom:1px dashed #C8CBCC; padding:15px 0;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:last-child{border-bottom:0;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent{background:none; border:0; }
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent a{font-size:15px;color:#525252;  }
	.w-com-menu-V li a{padding:0 30px 0 0; font-size:100%; line-height:1.8;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent{ box-sizing:content-box;}
	.w-com-menu-V .ul-submenu{ background:none; }
	.w-com-menu-V .ul-submenu .div-parent{ padding:5px 0;}
	.w-com-menu-V .ul-submenu a{color:#727272; padding:0 0 0 18px; background:url('../image/menuli.png') no-repeat 3px center; *position:relative; }
	.w-com-menu-V .ul-submenu .li-parent .div-parent{border-bottom:0; }
	.w-com-menu-V .ul-submenu .li-parent .div-parent .fa{line-height:1.8;}
	.w-com-menu-V .ul-submenu .ul-submenu{background:none; margin-left:22px;}
	.w-com-menu-V .ul-submenu .ul-submenu a{padding:0 0 0 18px;}
    .w-com-menu-H{ margin-bottom:40px; text-align:center;}
	.w-com-menu-H >.w-com-menu-in> ul:after{ content:""; display:block; clear:both; height:0; visibility:hidden;}
	.w-com-menu-H >.w-com-menu-in > ul > li{  position:relative;  }
    .w-com-menu-H li{margin:0; }
    .w-com-menu-H li a{  color:#787878;}
	.w-com-menu-H >.w-com-menu-in>.ul-parent> li >.div-parent{ margin:0 20px; position:relative;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li >.div-parent a{ padding:0 5px; line-height:26px; display:block; }
    .w-com-menu-H .ul-submenu{  top:26px;}
	.w-com-menu-H .ul-submenu .ul-submenu{ top:28px; background:#fff;}
    .w-com-menu-H .ul-submenu li .div-parent{margin:0 5px;}
    .w-com-menu-H .ul-submenu li a{ line-height:2; color:#727272;}
    .w-com-menu-H .ul-submenu .ul-submenu-up{display:none;}
	.w-com-menu-H .menu_simpline_cur{ position:absolute; left:0; width:0; height:1px; bottom:0; display:block;} 
	.w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover .menu_simpline_cur,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur .menu_simpline_cur{width:100%; transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s; -o-transition: all 0.5s; }
	
	.order-progress .order-progress-line .order-progress-line-sec .line{width:111px;}
	
}
@media (min-width:961px){
	.body-login .w-admin-header{border-bottom:1px solid #eee;}
	.body-login .w-admin-header .w-admin-nav{ float:right;} 
	.w-logo{ min-height:97px; min-width:40px;}
	.w-logo h1{ line-height:97px;}
	.w-admin-header .w-logo-img img{ max-height:97px;}
	.w-nav .li-parentOne-div .fa{ display:none;}
	.w-nav .submenu{ background:#000; }
	.w-nav .submenu li{width:171px; }
	.w-nav .submenu li:last-child{border-bottom:0;}
	.w-nav .submenu li .submenu{left:171px;}
	.w-admin-shopCart{ position:absolute; right:10px; margin-right:0; padding-top:12px; z-index:2; top:18px;}
	.w-admin-shopCart a{background:#F5F5F5; padding:7px 15px;}
	.w-admin-shopCart a span, .w-admin-shopCart a .fa-angle-right{ display:inline-block; *display:inline; *zoom:1;}
	.w-admin-shopCart a .num{left:111px;}
	.w-nav .li-parent-div .fa-plus:before{content: "\f105";}
	/*---------------------------topLogBox--------------------------*/
	
	.w-adNews9 li .news-com .news-h{ font-size:18px;}
	.w-adNews li .news-sum{ font-size:100%;}
	.w-adNews9 li .date{ padding:3px 12px;}
	
}
@media (min-width:1201px){
	.bx-controls-direction{width:1170px; position:absolute; height:1.66rem; top:50%; margin-top:-0.83rem; left:50%; margin-left:-585px;}
	.w-nav .nav_inner > li{ margin:0 30px;}
	.w-com-menu-H >.w-com-menu-in>.ul-parent> li >.div-parent{ margin:0 30px;}
	
}
@media (max-width:1200px){
	.col-table{margin:0;}
	.w-com-menu-H{margin-left:0;}
}
@media (min-width:768px) and (max-width:1300px) {
	/*---------------------头部--------------------------------*/
	.w-admin-shopCart{ margin-right:10px;}
	.w-admin-shopCart a{padding:7px 5px;}
	.w-admin-shopCart a span,.w-admin-shopCart a .fa-angle-right{display:none;}
	.w-admin-shopCart a .num{left:20px;}
}
@media (max-width:960px) {
	html{width:100%; height:100%; overflow-x:hidden;}
	body{ height:100%;min-width:100%;}
	/*--------------------header---------------------*/
	.w-admin-header,.body-login .w-admin-header{position:fixed; top:0; left:0; width:100%; padding-top:0; height:1.56rem;  z-index:999; color:#333; box-shadow:0 0 1px rgba(0,0,0,0.1); -moz-box-shadow:0 0 1px rgba(0,0,0,0.1); -webkit-box-shadow:0 0 1px rgba(0,0,0,0.1); background:#fff;}
	.body-login,.body-admin{ padding-top:1.56rem;}
	.row_top{ display:block;}
	.row_top .column{ float:none; width:100%; display:block;}
	.row_top .column8 .w-nav{ display:none;}
	.topLogBox{padding-bottom:1px; text-align:center; position:relative; right:0; top:0;}
	.topLogBox .clearfix{padding:0 5px;}
	.w-loginRegister, .w-languege, .w-shopCart{ float:none; display:inline-block; *display:inline; *zoom:1;}
	.topLogBox .w-search{ float:none;}
	.topLogBox .w-search .input-search-w{ width:100%;height:30px; line-height:30px; padding-right:40px;}
	.topLogBox .w-search .search-btn-w{ width:40px;}
	.w-header-common .mobile-nav-toggle{ color:#000; background:#eee; padding:0.2em 0.5em 0; position:fixed; left:auto; right:0.5em; top:0.5em;}
	.w-header-common .w-logo{ padding:0 5em; text-align:center;}
	.w-header-common .w-logo h1{ line-height:1.8; margin-top:0; }
	.w-logo{ height:auto; min-height:0; min-width:0;}
	.w-logo h1{ font-size:0.7rem; margin-top:0.35rem; margin-bottom:0;}
	.w-admin-header .col-logo{float:none; text-align:center;}
	.w-admin-header .w-logo{ padding:0 13.5em 0 1.2rem; height:auto; min-height:0; min-width:0;}
	.w-admin-header .w-logo h1{ font-size:0.7rem; margin-top:0.35rem; margin-bottom:0;}
	.w-admin-header .w-logo-img{ display:block; padding:0.25rem;line-height:1.06rem;}
	.w-admin-header .w-logo-img img{max-height:1.06rem;}
	.col-right{position:fixed;left:-70%; width:70%; background:#fff;top:0; bottom:0;padding:0;margin-top:0px; z-index:10; display:block;}
	.w-nav{ background:none; overflow-y:auto; height:100%; margin:0;}
	.w-admin-header .w-admin-nav{margin-left:0;}
    .w-nav ul{list-style:none; padding-left:0;}
	.w-nav .nav_inner{ display:block;}
	.w-nav .nav_inner > li{ display:block; float:none; text-align:left; margin:0;}
	.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{line-height:2.5; padding:0 10px; color:#434343;}
	.w-nav li{border-bottom:0; border-top:0; float:none;}
    .w-nav li a, .w-nav .submenu li a,.w-admin-header .w-admin-nav a{ display:block;  color:#434343; text-align:left;border-bottom:1px solid #f0f0f0; font-size:14px;}
	.w-nav .nav_inner > li:hover > .submenu,.w-nav .submenu li:hover > .submenu{display:none;}
	.w-nav .nav_inner > li > .submenu{top:0; left:0;padding:0;}	
	.w-nav .submenu{ position:relative; font-size:14px; box-shadow:0; -moz-box-shadow:0; -webkit-box-shadow:0;}
	.w-nav .submenu li{ width:auto;}
    .w-nav .submenu li .submenu{ left:0; top:0; }
	.w-nav .submenu ul,.w-nav .submenu .submenu ul{background:none;}
	.w-nav .li-parent-div .fa{ position:absolute; top:50%; margin-top:-1em; right:0; width:2em; height:2em; line-height:2em; text-align:center; font-size:150%; }
	.w-nav .li-parent-div .fa-plus::before{content: "\f107";}
	.w-nav .li-parent-div.open .fa-plus::before{content: "\f106";}
	 .w-nav .submenu li a{padding:0.5em 0.5em 0.5em 1.5em; text-align:left;}
	 .w-nav .submenu .submenu li a{ padding-left:2.5em;}
	 .mobile-nav-toggle{display:block;}
	 .w-nav .nav_simpline_cur{ display:none;}
	 /*-----------------------会员中心和购物车--------------------*/
	 .w-admin-shopCart, .w-admin-top{display:none;}
	 .signTel, .shopCartTel, .signQuitTel{display:block;}
	.w-admin-header .w-admin-nav{position:fixed;left:-70%; width:70%; background:#fff;top:0; bottom:0;padding:0; margin-top:0px; z-index:10; display:block;}
	.w-admin-nav .w-nav-in{height:100%;}
	.order-progress{display:none;}
}
@media (max-width:767px) {
	.w-header-common .w-logo-img img{ max-height:1.5rem;}
	.w-foot-content{ padding-top:25px;}
	/*----------------------系统页-------------------*/
	.systitle{ font-size:125%;}
	.product-detail-info .product-grayBox{ border:0;}
	/*----------------------新闻---------------------------*/
	.w-adNews5 li .news-h{ font-size:105%;}
	
	
}	
@media only screen and (max-width:479px){
	.body{font-size:0.375rem;}
	.w-admin-header .w-logo{ padding:0 8.5em 0 1.2rem;}
	
	.topLogBox .w-search .input-search-w{ height:2.5em; line-height:2.5em;}
	.w-prd-list-cell .w-prd-infobox h2 a{ font-size:100%;}
	
	.w-title{ margin-bottom:0.3rem;}
	.w-title1 .simpline{ margin:3px auto;}
	.w-title16 h2{ font-size:130%;}
	
	.w-adNews9 li{ padding:1em 0 0.5em;}
	
	.w-social .social-item{ margin-right:1.2em;}
}

