/* eyoucms.com 易优CMS -- 好用,免费,安全 */
body{ min-width:320px;font:16px "微软雅黑","Arial,Microsoft YaHei";color:#333;line-height:24px;overflow-x: hidden; } .container{ margin:0 auto;height:auto;padding: 0!important; }
h1,h2,h3,h4,h5,p,div,span,ul,li,dl,dd,dt{margin:0;padding:0;} input,textarea{border: none;outline:none; font:16px "微软雅黑","Arial,Microsoft YaHei";}label{font-weight: normal;width:100%;}
a{text-decoration: none;outline:none;color:#333;cursor: pointer;} a:focus, a:hover{color:#333;text-decoration: none;outline: none; outline-offset: 0;}
ul,li{list-style: none;} i,em{font-style:normal;}
.nav>li>a:focus, .nav>li>a:hover{background: none;}
.fl{float:left;}.fr{float:right;}.hide{display: none;}.show{display: block;} .imgMax{max-width:100%;max-height:100%;}
.tc{text-align:center;}.tr{text-align:right;}.tl{text-align:left;}.fwn{font-weight: normal}
.db{display: block;}.dib{display: inline-block;}.ma{margin: 0 auto;}.pr{position: relative;}.pa{position: absolute;}.pf{position: fixed;}.oh{overflow: hidden;}
.transition{-webkit-transition: all  0.3s linear;-moz-transition: all  0.3s linear;-o-transition: all  0.3s linear; transition: all  0.3s linear; }
img.desaturate { filter: grayscale(100%);  -webkit-filter: grayscale(100%);  -moz-filter: grayscale(100%);  -ms-filter: grayscale(100%);  -o-filter: grayscale(100%);  }
img.desaturate:hover { filter: grayscale(0);  -webkit-filter: grayscale(0);  -moz-filter: grayscale(0);  -ms-filter: grayscale(0);  -o-filter: grayscale(0);  }
.img img{width: 100%;}
img{border:none;}
html{ width:100%;}
body{ width:100%; ;position: relative;overflow-x: hidden;}
.slick-slide{outline: none;}
.slick-slide img{margin:0 auto;max-width:100%;}
#model_banner .pc-banner .slick-arrow:before,.main .slick-arrow:before,.main .slick-arrow:before{display: none;}
.slick-dotted.slick-slider{margin-bottom:0;}
#model-body #model_banner .pc-banner{padding-bottom: 0;}
#model-body #model_banner .pc-banner:before{display: none;}
/*头部*/
#header{width: 100%;height: auto;position: relative;padding: 10px 0;}
#header .logo{width:28%;height:70px;float: left;}
#header .logo a{width: 214px;height: 70px;display: table-cell;text-align: center;vertical-align: bottom;}
#header .logo img{max-height: 100%;max-width: 100%;}

#header .pc_Menu{width: 68%;height:70px;position: relative;float: right;}
.pc_Menu .menul {width: 100%;height:100%;}
.pc_Menu .menul .firstli{position: relative;float: left;text-align: center;width: 14.28%;}
.pc_Menu .menul .firstli a{display: block;position: relative;box-sizing: border-box;width: 100%;padding: 0 6px;padding-top: 28px;height:70px;line-height:42px;
  font-size: 16px;color: #444444;overflow: hidden;transition: 300ms;}
.pc_Menu .menul .firstli.cur > a,.pc_Menu .menul .firstli:hover > a{color: #924513;transition: 300ms;}
.pc_Menu .menul .firstli> a:before,.pc_Menu .menul .firstli > a:before{content: "";width: 14px;height: 14px;border-radius: 50%;background: #a86a42;position: absolute;left: 50%;margin-left: -7px;top: 0;opacity: 0;transition: 300ms;}
.pc_Menu .menul .firstli.cur > a:before,.pc_Menu .menul .firstli:hover > a:before{top: 15px;opacity: 1;transition: 300ms;}
.pc_Menu .secdulBox{display: none;position: absolute;width: 100%;top:90px;left: 0;text-align: center;z-index: 4;background:#fff;border-radius: 10px;padding: 10px 0;}
.pc_Menu .secdulBox:before{content: "";border-bottom: 6px solid #fff;border-top: 6px solid transparent;border-left: 6px solid transparent;border-right: 6px solid transparent;position: absolute;top: -12px;left: 50%;margin-left: -6px;}
.pc_Menu .secdulBox .secdli a{padding: 0 10px;height:36px;line-height: 36px;color: #666;font-size: 16px;}
.pc_Menu .secdulBox .secdli.current a,.pc_Menu .secdulBox .secdli a:hover {color: #924513;}
/*mchead*/
.model-header{width: 100%;height:54px;padding:6px 15px;position: relative;}
.model-header-logo{width: 68%;height:42px;padding-left:0;float: left;}
.model-header-logo img{max-width: 100%;max-height: 100%;}
.model-header .model-navbtn{height:30px;width:30px;position: absolute;top:12px;right:15px;}
.model-header .model-navbtn img{max-width: 100%;max-height: 100%;}
/*大图dot*/
#model_banner .pc-banner .slick-arrow{display: none;}
#model_banner .slick-dots{bottom:30px;width:100%;height:10px;line-height: 10px;}
#model_banner .slick-dots li{width: 10px;height:10px;margin: 0 8px;}
#model_banner .slick-dots li button{width: 10px;height: 10px;transition: 400ms;border-radius: 5px;
background-color: rgba(146,69,19, 0.3);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2f924513,endcolorstr=#2f924513);}
#model_banner .slick-dots li.slick-active{width: 24px;}
#model_banner .slick-dots li.slick-active button{width: 24px;background: #924513;transition: 400ms;}

.main{width: 100%;height: auto;overflow: hidden;}
.main .box{padding: 30px 0;}
.box .title{width: 100%;height: auto;overflow: hidden;font-size: 26px;color: #333;line-height: 1.5;padding: 15px 0;}
.box .title a{color: #333;}
.box .title span{padding: 0 30px;position: relative;}
.box .title span:before{content: "";width: 8px;height: 8px;border-radius: 50%;background: #924513;position: absolute;left: 0;top: 50%;margin-top: -4px;}
.box .title span:after{content: "";width: 8px;height: 8px;border-radius: 50%;background: #924513;position: absolute;right: 0;top: 50%;margin-top: -4px;}
.box .title p{font-size: 20px;color: #d3d3d3;}
.box .more{display: block;width:236px;height: 54px;border: 3px solid #e9dad0;line-height: 48px;text-align: center;font-size: 14px;color: #333;margin: 30px auto;border-radius: 27px;background: url(../image/micon1.png) 90% center no-repeat;transition: 400ms;position: relative;z-index: 4;}
.box .more:hover{border: 3px solid #924513;color: #924513;transition: 400ms;}

.main .newlist{width: 100%;height: auto;overflow: hidden;}
.main .newlist .newli{padding:10px 0.7%;}
.main .newlist .newli a{display: block;width: 100%;height: auto;overflow: hidden;}
.main .newlist .newli .nimg{width: 100%;height: auto;overflow: hidden;border: 4px solid #ffede1;border-radius: 16px;transition: 400ms;}
.main .newlist .newli dt{font-size: 14px;color: #924513;margin: 10px 0 6px;font-weight: normal;}
.main .newlist .newli dd{width: 100%;height: 48px;font-size: 18px;color: #333;line-height: 24px;overflow: hidden;}
.main .newlist .newli a:hover .nimg{border: 4px solid #924513;transition: 400ms;}

.slick_pro{width: 100%;padding: 18px 0;position: relative;}
.slick_pro:before{content: "";width:22px;height: 36px;position: absolute;top: 240px;left: 74%;background: url(../image/micon2.png) center no-repeat;background-size: 100% auto;}
.slick_pro .slider-profor{width: 100%;height: auto;overflow: hidden;}
.slick_pro .slider-profor .pimg{width:47.8%;height: auto;overflow: hidden;float: left;border: 4px solid #ffede1;border-radius: 16px;}
.slick_pro .slider-profor .prorifht{width: 50.3%;float: right;padding: 0 1.3%;}
.slider-profor .prorifht .ptitle{width: 100%;overflow: hidden;height: 44px;line-height: 44px;font-size: 22px;color: #333;margin: 6px 0;text-overflow: ellipsis;white-space: nowrap;}
.slider-profor .prorifht .prodec{width: 100%;line-height: 30px;font-size: 16px;color: #666;max-height: 150px;overflow: hidden;}
.slick_pro .slider-pronav{position: absolute;width: 50.3%;height: auto;right: 0;bottom: 18px;}
.slick_pro .slider-pronav .slick-slide{padding: 0 12px;} 
.slick_pro .slider-pronav .slick-slide .pimg{width: 100%;height: auto;overflow: hidden;border: 3px solid #ffede1;border-radius: 12px;transition: 400ms;}
.slick_pro .slider-pronav .slick-slide.slick-current .pimg{border: 3px solid #924513;transition: 400ms;}

.section_three{background: #fff5ef;padding: 40px 0;}
.section_three:before{content: "";width: 100%;height: 72px;background: #fff5ef;position: absolute;top:-72px;right: 0;}
.section_three:after{content: "";border-top: 80px solid #fff;border-left: 960px solid #fff;border-bottom: 80px solid transparent;border-right: 960px solid transparent;position: absolute;top: -76px;left: 50%;margin-left: -960px;}
.textlist{width: 100%;height: auto;overflow: hidden;}
.textlist li{width: 100%;padding: 20px 0;}
.textlist li a{display: block;width: 100%;height: 80px;background: #fff;line-height: 80px;font-size: 18px;color: #333;border-radius: 40px;overflow: hidden;padding: 0 3%;text-overflow: ellipsis;white-space: nowrap;}
.textlist li a:hover{color: #924513;}
.threebg1{width: 100%;height: 75px;background: #fff5ef;position: absolute;top:100%;right: 0;}
.threebg2{border-bottom: 80px solid #fff;border-right: 960px solid #fff;border-top: 80px solid transparent;border-left: 960px solid transparent;position: absolute;bottom:-75px;left: 50%;margin-left: -960px;}

.about_box{width: 100%;height: auto;overflow: hidden;padding: 20px 0;}
.about_box .about_l{width: 47%;float: left;}
.about_box .atitle{width: 100%;height: 40px;line-height: 40px;overflow: hidden;font-size: 22px;color: #333;}
.about_box .abdec{width: 100%;height: 210px;overflow: hidden;font-size: 16px;color: #666;line-height: 30px;margin: 12px 0;}
.box .about_box .more{margin: 30px 0 0;}
.about_box .abimg{width: 50%;float: right;border: 4px solid #ffede1;border-radius: 16px;overflow: hidden;}
.footer{width: 100%;height: auto;overflow: hidden;border-top: 1px solid #fff2ea;font-size: 14px;color: #666;line-height: 24px;padding: 14px 0;text-align: center;}


/*pc端内页*/
.updown_posnav .nav_item a:hover,.updown_posnav .nav_item a.on{color: #924513;}
.updown_fenlei .cont_nav .one .second{background: #924513;}
.updown_fenlei .cont_nav .one .second li a{color: #fff;}
.updown_fenlei .cont_nav .one .second li a:hover{color: #fff;background: #924513;}
.content_128color .quickbar_nav ul li.quickbar_weixin:hover .quickbar_hoverbox img{max-width: none;max-height: none;}
.content_128color .updown_fenlei .cont_nav .one .one_a{text-align: left;border-radius: 20px;padding:0 12px 0 16px;}
.content_128color .updown_fenlei .cont_nav .one .o_li a.ez_a{color: #fff;background: #924513;font-weight: bold;}
.content_128color .updown_fenlei .cont_nav .one .o_li a.ez_a  i{background: url(../image/icon4_h.png) center no-repeat;background-size: 100% auto;}
.content_128color .updown_fenlei .cont_nav .one .o_li:hover .one_a,.content_128color  .updown_fenlei .cont_nav .one .o_li a.ez{background: #924513;}
.content_128color .model-textlist-four ul li a:hover{background: #924513;}
.content_128color .model-textlist-four ul li a{background: #fff!important;}
.content_128color .model-textlist-four ul li .textlist-r dd{color: #f5f5f5;}
.content_128color .model_page a.current,.content_128color .model_page a:hover {color: #924513;border-bottom: 1px solid #924513;}
.content_128color #model_contant_main .model_dec_adress a:hover {color: #924513;}
.content_128color .model-dectil-bottom .model-dectil-chose a:hover {color: #924513;}
.content_128color .model-textlist-one ul .textlist-lifirst .textlist-text .textlist-more:hover{border:1px solid #924513;background-color: #924513;}
.content_128color .model-textlist-one ul li:hover{border-bottom:1px solid #924513;}
.content_128color .model-textlist-one ul li:hover dt{color: #924513;}
.content_128color .model-textlist-two ul li a:hover .textlist-l dt{color: #924513;}
.content_128color .model-textlist-two ul li a:hover .textlist-l p{color: #924513;}
.content_128color .model-textlist-two ul li a:hover .newtime{background: #924513;}
.content_128color .model-textlist-three ul li a:hover, .content_128color .model-textlist-three ul li a:hover dt{color: #924513;}
.content_128color .model-textlist-three ul li a:before{background: #924513;}
.content_128color .model-imgtextlist-two ul li a:hover .imgtextlist-r dt{color: #924513;}
.content_128color .model-imgtextlist-one ul li a:hover .imgtextlist-l dt{color: #924513;}
.content_128color .model-imgtextlist-three ul li a:hover .imgtextlist-r dt{color: #924513;}
.content_128color .model-imgtextlist-three ul li .imgtextlist-r .time p{color: #924513;}
.content_128color .model-imgtextlist-four ul li a:hover .imgtextlist-text{background: #924513;}
.content_128color .model-imgtextlist-four ul li .imgtextlist-text dd{color: #fff;}
.content_128color .model-imgtextlist-four ul li a:hover .imgtextlist-text p{color: #fff;}
.content_128color .model-imglist-two ul li .pimg em span{background-color: #924513;}
.content_128color .model-imglist-two ul li a:hover p{background: #924513;}
.content_128color .model-imglist-three ul li a:hover{border:2px solid  #924513;}
.content_128color .model-imglist-three ul li a:hover p{color:  #924513;background: url(../image/icon6.png) right center no-repeat;}
.content_128color .model_seach .model-seachdiv form .seabtn{background:  #924513;}
.content_128color .model-textlist-three ul li a:before{background:  #924513;}
.content_128color .model-dectil-img .slick-dots li button{border:1px solid   #924513;}
.content_128color .model-dectil-img .slick-dots li.slick-active button{background:   #924513;}
.content_128color .model-textlist-four ul li a:hover{background:   #924513!important;}
.content_128color .model-textlist-four ul li a:hover .textlist-r dt{color:#fff!important;}
.model_page a.on, .model_page a:hover{color: #924513;border-bottom: 1px solid #924513;}
.model-dectil-bottom{height: auto;overflow: hidden;}
.model-dectil-imgtwo .model-dectil-slick2 .slider-nav .slick-prev:before{border-bottom: 12px solid #924513;}
.model-dectil-imgtwo .model-dectil-slick2 .slider-nav .slick-next:before{border-top: 12px solid #924513;}
.model-dectil-imgtwo .model-dectil-slick2 .slider-nav .slick-prev:hover{border-bottom: 1px solid #924513;}
.model-dectil-imgtwo .model-dectil-slick2 .slider-nav .slick-next:hover{border-top: 1px solid #924513;}

/*手机端内页*/
.content_128color .model-classify .model-classify-posnav {background: #924513;}
.content_128color .model-classify-nav .one .o_li a.ez{color:#924513}
.content_128color .model-classify-nav .second a.sen_x{color:#924513}
.content_128color .model-classify-nav .second a.sen_x:before{background:#924513}
.content_128color .model-phone-page span i{color:#924513;}
.model-fixed{background:#fff!important;}
.model-fixed .fnavbox li a,.fnavbox li dd{color: #924513!important;}
.model-leftnav-top{background:#924513;}
.model-leftnav-main .nnav .yiji.xz a.ce{color:#924513}
.model-classify-nav .one .o_li .one_a i{background: url(../image/icon6.png) center no-repeat;}
.updown_fenlei .cont_nav .one .one_a i{background: url(../image/icon4.png) center no-repeat;}

.imglist-page{padding-top: 20px;}



