/* eyoucms.com 易优CMS -- 好用,免费,安全 */
html { background: #ffffff; }
body { min-width: 600px; font-size: 14px !important; background: #ffffff; color: #444; font-family: "Arial", "微软雅黑", "Helvetica", "sans-serif"; }
pre { font-family: "Arial", "微软雅黑"; }

a { transition: .3s ease; }



.slick-prev,
html.um .slick-prev { left: 0px !important; }
.slick-next,
html.um .slick-next { right: 0px !important; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus { background: #F47174; }

.g_cw { width: 100%; }
.g_cw::after { content: ''; display: block; clear: both; }
.g_mt { margin-top: 80px; }
.g_mt::before { content: ''; display: block; clear: both; }
.g_mt::after { content: ''; display: block; clear: both; }
html.um .g_mt { margin-top: 40px; }
.g_mb { margin-bottom: 80px; }
.g_mb::before { content: ''; display: block; clear: both; }
.g_mb::after { content: ''; display: block; clear: both; }
html.um .g_mb { margin-bottom: 40px; }

.g_page > ul.list > li a { background: #e0e0e0; }
.g_page > ul.list > li a:hover,
.g_page > ul.list > li a.on { background: #F47174; }
.g_page > ul.list > li.prev a,
.g_page > ul.list > li.next a { background: none; color: #999; padding: 0 25px; }
.g_page > ul.list > li.prev a:hover,
.g_page > ul.list > li.next a:hover { background: none; color: #F47174; }

html.um .g_page > ul.list { display: inline-block; }
html.um .g_page > p.tip { display: block; }

html.um body { position: relative; min-width: 0; left: 0; transition: .3s ease; }
html.um.navon { position: relative; overflow: hidden; }
html.um.navon body { left: 100%; margin-left: -70px; transition: .5s ease; }

html.um .g_cw { padding: 0 10px; }


html:not(.um) body { padding: 0 0 0 300px; }

.g_menu { display: none; }
.g_header { position: fixed; z-index: 100; top: 0; right: auto; bottom: 0; left: 0; width: 300px; background: #fff; text-align: center; }

.g_header > table { width: 100%; height: 100%; }
.g_header > table td { vertical-align: middle; }
.g_header > table .top { padding: 30px 0 20px; }
.g_header > table .full { height: 100%; }
.g_header > table .bottom { padding: 30px 0; color: #aaa; font-size: 16px; font-family: 微软雅黑; }
.g_header > table .bottom .box { display: inline-block; text-align: left; }
.g_header > table .bottom .box .fa-phone-square { width: 30px; display: inline-block; font-size: 19px; text-align: center; }
.g_header > table .bottom .box .fa-mobile { width: 30px; display: inline-block; font-size: 23px; text-align: center; }

html.um .g_menu { position: fixed; display: inline-block; z-index: 101; left: 0; top: 0; color: #fff; width: 70px; height: 50px; overflow: hidden; }
html.um .g_menu .l1,
html.um .g_menu .l2 { position: absolute; left: 20px; top: 18px; display: block; width: 30px; height: 2px; background: rgba(255,255,255,.5); box-shadow: 0 0 2px rgba(0,0,0,.4); }
html.um .g_menu .l1 { top: 18px; transition: 0.5s ease; }
html.um .g_menu .l2 { top: 31px; transition: 0.3s ease; }
html.um.navon .g_menu .l1,
html.um.navon .g_menu .l2 { top: 25px; border-top-width: 1px; }
html.um.navon .g_menu .l1 { transform: rotate(405deg); }
html.um.navon .g_menu .l2 { transform: rotate(315deg); }

html.um .g_header { top: -10px; right: 100%; bottom: -10px; left: -100%; width: auto; padding: 30px 10px; overflow-y: auto; transition: .5s ease; }
html.um.navon .g_header { left: 0; right: 70px; box-shadow: 5px 0 10px rgba(0,0,0,0.2); transition: .3s ease; }


.g_header .logo { font-size: 0; }
.g_header .logo img { }
.g_header .logo .pc { display: inline-block; max-width: 50%; }
.g_header .logo .mb { display: none; max-width: 50%; }

html.um .g_header .logo .pc { display: none; }
html.um .g_header .logo .mb { display: inline-block; }


.g_header .nav { width: 300px; }
html.um .g_header .nav { width: auto; }
.g_header .nav > li { position: relative; }
.g_header .nav > li a { position: relative; display: block; margin-bottom: 10px; font-size: 16px; color: #666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.g_header .nav > li a::after { content: ''; position: absolute; bottom: 0; left: -100%; right: 100%; border-bottom: 1px solid #F47174; opacity: 0; transition: .5s ease; }
.g_header .nav > li a em { display: inline-block; padding: 20px 0 10px; line-height: normal; border-bottom: 1px solid transparent; transition: .3s ease; }
.g_header .nav > li:hover a,
.g_header .nav > li.on a,
.g_header .nav > li a:hover,
html.theme-back-dark .g_header .nav > li:hover a,
html.theme-back-dark .g_header .nav > li.on a,
html.theme-back-dark .g_header .nav > li a:hover { color: #F47174; }
.g_header .nav > li:hover a::after,
.g_header .nav > li a:hover::after { left: 0; right: 0; opacity: 1; }
.g_header .nav > li.on a em { border-bottom: 1px solid #F47174; }
.g_header .nav > li a .fa-angle-right { float: right; position: relative; left: -20px; padding: 23px 0 10px; font-size: 14px; }


.g_header .nav > li .sub { position: absolute; z-index: 10; bottom: 0; left: 100%; margin-left: -3px; visibility: hidden; opacity: 0; white-space: nowrap; background: rgba(246,246,246,0.95); border: 1px solid #ddd; border-left: 2px solid #F47174; overflow: hidden; transition: .3s ease; }
.g_header .nav > li:hover .sub { visibility: visible; opacity: 1; }
.g_header .nav > li .sub > li { display: block; }
.g_header .nav > li .sub > li a { display: block; margin: 0; color: #777; font-weight: normal; font-size: 15px; line-height: 50px; padding: 0 30px; }
.g_header .nav > li .sub > li a::after { display: none; }
.g_header .nav > li .sub > li:not(:first-child) a { border-top: 1px solid rgba(0,0,0,.1); }
.g_header .nav > li .sub > li a:hover { background: #fff; }
.g_header .nav > li .sub > li.on a,
.g_header .nav > li .sub > li:hover a,
.g_header .nav > li .sub > li a:hover,
html.theme-back-dark .g_header .nav > li .sub > li.on a,
html.theme-back-dark .g_header .nav > li .sub > li:hover a,
html.theme-back-dark .g_header .nav > li .sub > li a:hover { color: #F47174; }

html.um .g_header .nav > li .sub { position: static; margin-left: 0; padding-left: 1em; visibility: hidden; background: transparent; border: 0; opacity: 0; height: 0; }
html.um .g_header .nav > li.on .sub { visibility: visible; opacity: 1; height: auto; }
html.um .g_header .nav > li .sub > li a { background: transparent; border-top: 0; }
html.um .g_header .nav > li .sub > li a:before { display: none; }




.g_footer { clear: both; padding: 15px 0; text-align: right; font-size: 12px; color: #999; background: rgba(0,0,0,.1); margin-top: 25px; line-height: 1.8em; }
.g_footer span { margin-right: 10px; display: inline-block; }
html.um .g_footer span { display: block; margin: 0; }


.g_book:hover table .btn { background: #F47174; }


.g_tool > li > a { background: #fff; }
.g_tool > li > a:hover { background: #F47174; border: 1px solid #F47174; color: #fff; }


.g_title { clear: both; text-align: center; margin-bottom: 50px; }
.g_title .t1 { font-size: 1.6em; font-weight: normal; margin-bottom: 5px; }
.g_title .t2 { color: #888; }
html.um .g_title { margin-bottom: 25px; }




.bannerhome { clear: both; }
.bannerhome .frames,
.bannerhome .frames a,
.bannerhome .frames div { display: block; height: 100%; }
.bannerhome .frames a { background-position: center top; background-repeat: no-repeat; background-size: auto 100%; }
.bannerhome .frames .txt { display: inline-block; width: 60%; float: right; }
.bannerhome .frames .txt .t1 { font-size: 40px; color: #F47174; }
.bannerhome .frames .txt .t2 { margin-top: 20px; font-size: 18px; opacity: 0.5; }

html.um .bannerhome .frames .t1 { font-size: 25px; }
html.um .bannerhome .frames .t2 { font-size: 16px; }

.bannerhome.pc { display: block; }
.bannerhome.mobile { display: none; }
html.um .bannerhome.pc { display: none; }
html.um .bannerhome.mobile { display: block; }


.bannersingle { width: 100%; background-position: center top; background-repeat: no-repeat; background-size: auto 100%; overflow: hidden; position: relative; }
.bannersingle table.g_cw { height: 100%; }
.bannersingle .txt { width: 60%; padding: 30px 0; float: right; }
.bannersingle .txt .t1 { font-size: 25px; color: #F47174; margin-bottom: 10px; }
.bannersingle .txt .t2 { font-size: 16px; }

.bannersingle.pc { display: block; }
.bannersingle.mobile { display: none; }
html.um .bannersingle.pc { display: none; }
html.um .bannersingle.mobile { display: block; }


.contacthome { clear: both; }
.contacthome .contact { float: left; width: 55%; }
.contacthome .contact td { width: 50%; padding: 5px 15px 5px 0; color: #999; vertical-align: top; }
.contacthome .third { margin-bottom: 20px; }
.contacthome .third i.fa { display: inline-block; color: #888; margin: 0 10px 0 0; font-size: 24px; padding: 10px; border-radius: 50%; }
.contacthome .third a:hover i.fa { background: #F47174; color: #fff; }
.contacthome .book { float: right; width: 45%; overflow: hidden; }
.contacthome .book table { width: 100%; }
.contacthome .book table td { padding: 10px 5px; white-space: nowrap; overflow: hidden; border-bottom: 1px solid rgba(0,0,0,.1); }
.contacthome .book table td input { width: 100%; border: 0; height: 30px; }
.contacthome .book table td textarea { border: 0; width: 100%; height: 80px; overflow: auto; }
.contacthome .book table .b td { border-bottom: 0; }
.contacthome .book table .btn { width: 80px; height: 35px; border: 1px solid rgba(0,0,0,.1); background: transparent; color: inherit; font-weight: lighter; }
.contacthome .book:hover table .btn { background: #F47174; color: #fff; border: 0; }

html.um .contacthome .contact { float: none; width: 100%; margin-bottom: 30px; }
html.um .contacthome .contact td { display: block; width: auto; padding-right: 0; }
html.um .contacthome .third { text-align: center; }

html.um .contacthome .book { float: none; width: 100%; }

@media (max-width: 900px) {
	.contacthome .contact { float: none; width: 100%; margin-bottom: 30px; }
	.contacthome .contact td { display: block; width: auto; padding-right: 0; }
	.contacthome .third { text-align: center; }
	.contacthome .book { float: none; width: 100%; }
}

.newslist { clear: both; }
.newslist .offset { margin-left: -50px; margin-bottom: -50px; }
.newslist .offset .list { overflow: hidden; }
.newslist .offset .list > li { width: 33.33%; float: left; padding-left: 50px; margin-bottom: 50px; }
.newslist .offset .list > li:nth-child(3n+1) { clear: both; }
.newslist .offset .list > li a { position: relative; display: block; overflow: hidden; }
.newslist .offset .list > li a .pic { text-align: center; font-size: 0; margin-bottom: 15px; }
.newslist .offset .list > li a .pic img { max-width: 100%; }
.newslist .offset .list > li a .time { position: absolute; display: inline-block; top: 20px; left: 20px; width: 55px; height: 55px; padding: 12px 0 0; background: #F47174; border-radius: 50px; color: #fff; text-align: center; font-family: Arial, sans-serif; transition: .3s ease; }
.newslist .offset .list > li a .time em { display: block; }
.newslist .offset .list > li a .title { margin-bottom: 16px; font-size: 16px; transition: .3s ease; }
.newslist .offset .list > li a .out { color: #999; clear: both; }

.newslist .offset .list > li a:hover .title { color: #F47174; }
.newslist .offset .list > li a:hover .time { opacity: .1; }


@media (max-width: 1400px) {
	.newslist .offset .list > li { width: 50%; }
	.newslist .offset .list > li:nth-child(n) { clear: none; }
	.newslist .offset .list > li:nth-child(2n+1) { clear: both; }
}

@media (max-width: 900px) {
	.newslist .offset .list > li { width: 100%; clear: both; }
}

.newsdetail { clear: both; }
.newsdetail .title { font-size: 18px; text-align: center; margin-bottom: 10px; font-weight: bold; }
.newsdetail .time { font-size: 16px; text-align: center; margin-bottom: 30px; }
.newsdetail .g_content { color: #777; }



.tt1list { clear: both; }
.tt1list .offset { }
.tt1list .offset .list { overflow: hidden; }
.tt1list .offset .list > li { width: 25%; float: left; }
.tt1list .offset .list > li:nth-child(4n+1) { clear: both; }
.tt1list .offset .list > li a { position: relative; display: block; overflow: hidden; }
.tt1list .offset .list > li a .pic { text-align: center; font-size: 0; overflow: hidden; }
.tt1list .offset .list > li a .pic img { max-width: 100%; }
.tt1list .offset .list > li a .fbox { position: absolute; right: 0; bottom: 0; left: 0; background: rgba(0,0,0,.4); transition: .3s ease; }
.tt1list .offset .list > li a:hover .fbox { background: rgba(244,113,116,.8); }
.tt1list .offset .list > li a .fbox .title { padding: 20px; font-size: 16px; color: #fff; text-align: center; }
.tt1list .offset .list > li a .fbox .out { float: left; margin-bottom: -100%; padding: 0 20px 20px; color: #fff; transition: .5s ease; }
.tt1list .offset .list > li a:hover .fbox .out { margin-bottom: 0; }

@media (max-width: 1600px) {
	.tt1list .offset .list > li { width: 33.33%; }
	.tt1list .offset .list > li:nth-child(n) { clear: none; }
	.tt1list .offset .list > li:nth-child(3n+1) { clear: both; }
}

@media (max-width: 1200px) {
	.tt1list .offset .list > li { width: 50%; }
	.tt1list .offset .list > li:nth-child(n) { clear: none; }
	.tt1list .offset .list > li:nth-child(2n+1) { clear: both; }
}

@media (max-width: 800px) {
	.tt1list .offset .list > li { width: 100%; clear: both; }
}

.tt1detail { clear: both; }
.tt1detail .pictures { position: relative; z-index: 0; clear: both; margin-bottom: 30px; }
.tt1detail .pictures a { display: inline-block; float: none; text-align: center; font-size: 0; vertical-align: middle; }
.tt1detail .pictures a img { max-width: 100%; display: inline-block; }
.tt1detail .title { font-size: 18px; margin-bottom: 30px; font-weight: bold; }
.tt1detail .g_content { color: #777; }

html.um .tt1detail .pictures { margin: 0 -10px 30px; }


.tt2list { clear: both; }
.tt2list .offset { margin-left: -50px; margin-bottom: -50px; }
.tt2list .offset .list { overflow: hidden; }
.tt2list .offset .list > li { width: 25%; float: left; padding-left: 50px; margin-bottom: 50px; }
.tt2list .offset .list > li:nth-child(4n+1) { clear: both; }
.tt2list .offset .list > li a { position: relative; display: block; overflow: hidden; }
.tt2list .offset .list > li a .pic { text-align: center; font-size: 0; margin-bottom: 10px; overflow: hidden; }
.tt2list .offset .list > li a .pic img { max-width: 100%; }
.tt2list .offset .list > li a .title { margin-bottom: 10px; font-size: 16px; transition: .3s ease; }
.tt2list .offset .list > li a .out { color: #999; transition: .3s ease; }
.tt2list .offset .list > li a:hover .title { color: #F47174; }
.tt2list .offset .list > li a:hover .out { color: #F47174; }

@media (max-width: 1600px) {
	.tt2list .offset .list > li { width: 33.33%; }
	.tt2list .offset .list > li:nth-child(n) { clear: none; }
	.tt2list .offset .list > li:nth-child(3n+1) { clear: both; }
}

@media (max-width: 1200px) {
	.tt2list .offset .list > li { width: 50%; }
	.tt2list .offset .list > li:nth-child(n) { clear: none; }
	.tt2list .offset .list > li:nth-child(2n+1) { clear: both; }
}

@media (max-width: 800px) {
	.tt2list .offset .list > li { width: 100%; clear: both; }
}


.tt2detail { clear: both; }
.tt2detail .title { font-size: 18px; text-align: center; margin-bottom: 30px; font-weight: bold; }
.tt2detail .g_content { color: #777; }


@media (max-width:767px) {
.link { 
	display: none;
}
}
.link{padding:0px 0px;text-align: center;}
.link span{color:#999;font-size: 14px;display: inline-block;vertical-align: top;}
.link li  {color:#999;font-size: 14px;display: inline-block;vertical-align: top;margin:0 10px;}
.link li a{color:#999;font-size: 14px;}
.link li a:hover{opacity: 1;}

