/* eyoucms.com 易优CMS -- 好用,免费,安全 */
/*um-right*/
html.theme-um-right.um body { left: auto; right: 0; }
html.theme-um-right.um.navon body { left: auto; margin-left: auto; right: 100%; margin-right: -70px; }

html.theme-um-right.um .g_menu { left: auto; right: 0; }

html.theme-um-right.um .g_header { right: -100%; left: 100%; }
html.theme-um-right.um.navon .g_header { left: 70px; right: 0; box-shadow: -5px 0 10px rgba(0,0,0,0.2); }


/*back-dark*/
html.theme-back-dark body { color: #ccc; }

html.theme-back-dark .g_header .nav > li a { color: #ccc; }
html.theme-back-dark .g_header .nav > li .sub > li a { color: #bbb; }

html.theme-back-dark .g_footer { background: rgba(255,255,255,.1); }

html.theme-back-dark .contacthome .book table .btn { border: 1px solid rgba(255,255,255,.1); }
