
html{webkit-text-size-adjust:none;-webkit-text-size-adjust:none;text-justify:inter-ideograph;}
a{text-decoration:none;outline:0;-webkit-transition: all .5s;-moz-transition: all .5s;transition: all .5s;}
*{-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-touch-callout:none;margin:0}
::-webkit-scrollbar{width:8px;height:8px;background-color: #F5F5F5;}
::-webkit-scrollbar-track{border-radius: 10px;background-color: #E2E2E2;}
::-webkit-scrollbar-thumb{border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);background-color: #555;}
input,textarea{-webkit-user-select:text}
#tip{padding-top: 30px;min-height: 640px;}
#tip b{color: #005faf;}
.sitemap{overflow:hidden;line-height:30px;padding: 10px;border-bottom:1px solid #ddd;}
.sitemap dt{float: left;margin-right: 2%;width: 14.66666667%;}
.sitemap dt a{display:block;text-align:center;background: #ececec;font-size:14px;padding:8px 0;font-weight:normal;}
.sitemap dt a:hover{background: #ccc;color:#fff;}
.sitemap dd{float: left;width: 76%;}
.sitemap dd a{float:left;color:#666;padding-right:35px;line-height:39px;transition:none;}
.sitemap dd a:hover{color:#333;}
@media screen and (max-width:640px){
.sitemap{padding: 5px 0;}
.sitemap dt{width: 22%;}
.sitemap dt a{font-size: 12px;}
.sitemap dd a{font-size: 12px;padding-right: 3%;line-height: 23px;}}
.tags_list{overflow:hidden;line-height:30px;padding: 10px;border-bottom:1px solid #ddd;}
.tags_list dt{float: left;margin-right: 2%;margin-bottom: 2%;width: 14.66666667%;}
.tags_list dt a{display:block;text-align:center;background: #ececec;font-size:14px;padding:8px 0;font-weight:normal;}
.tags_list dt a:hover{background: #ccc;color:#fff;}
@media screen and (max-width:640px){
.tags_list{padding: 5px 0;}
.tags_list dt{min-width: 32%;}
.tags_list dt a{font-size: 12px;}
.tags_list dt:nth-child(3n){margin-right: 0;}}
.tags{overflow:hidden;margin-bottom: 20px;}
.tags span{float: left;display: block;line-height: 40px;}
.tags a{border-radius: 4px;-webkit-border-radius: 4px;display: inline-block;line-height: 28px;padding: 0 6px;margin: 5px;background: #fff;border: 1px solid #dadada;}
.tags a:hover {background: #005faf;border-color: #005faf;color: #fff;}
#wxnr{width:100%;height: 100%;position:fixed;top: 0;z-index:1000;display:none;background: rgba(0,0,0,.6);}
#wxnr .nrdf{margin: auto;position: absolute;top: 50%;left: 0;right: 0;width: 2.5rem;height: 2.5rem;padding: .15rem;padding-top: .3rem;margin-top: -1.25rem;text-align:center;background-color: rgba(255, 255, 255, 0.8);box-shadow: 0px 2px 6px #777;-webkit-box-shadow: 0px 2px 6px #777;-moz-box-shadow: 0px 2px 6px #777;border-radius:10px;box-sizing: border-box;}
#wxnr img{width: 1.15rem;height: 1.15rem;display: block;margin: 0 auto;}
#wxnr p{font-size: .12rem;line-height: .23rem;text-align:center;}
#wxnr i.x{position: absolute;top: .1rem;right: .1rem;width: .15rem;height: .15rem;font-size: .1rem;line-height: .15rem;text-align:center;color: #fff;font-weight: bold;font-style: normal;background: #333;border-radius: 100%;cursor: pointer;}
#wxnr span{display:inline-block;padding: .015rem .05rem;line-height: .18rem;background-color: #005faf;color:#fff;border-radius: .025rem;cursor:pointer;}
#wxnr span i{color: #fff;margin-right: .07rem;}
#weixin{position: fixed;top: 50%;margin-top: -.2rem;z-index: 9999999;font-size: .13rem;color: #fff;width: 90%;right: 5%;line-height: .4rem;text-align: center;background: rgba(0, 0, 0, 0.8);border: 2px solid #333;border-radius: .05rem;display: none;}