
.topLogBox a:hover,.w-languege a.cur{color:#C8A063;}
.w-header-common,.w-admin-header{ border-color:#C8A063;}
.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{color:#fff;}
.w-nav .g-prev-next-ul li:hover a{ color:#C8A063 !important;}
.w-nav .nav_simpline_cur{ background:#C8A063;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#c8a063 !important;}
.w-text a:hover,.newsDetail .news-others a:hover{color:#C8A063;}
.bx-wrapper .bx-prev:hover{background-image:url("../image/bxslide_lhover.png") !important;}
.bx-wrapper .bx-next:hover{background-image:url("../image/bxslide_rhover.png") !important;}
.banner .bx-wrapper .bx-prev:hover{background-image:url("../image/banner_pre.png") !important; }
.banner .bx-wrapper .bx-next:hover{background-image:url("../image/banner_next.png") !important;}
/*--------------------组件-------------------------*/
.btn-default-w{ background-color:#C8A063;}
.btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{background-color:#BD8C42; }
.w-social .social-item:hover{ background-color:#c8a063;}
.color_s_default{ color:#C0C0C0;}
.bg_s_default{ background:#C0C0C0;}
.w-service-fixed .color_s_default:hover{color:#C8A063;}
.w-service-fixed .bg_s_default:hover{ background:#C8A063;}
.w-service-fixed .service-popc{background:#C8A063; }
.w-lantern-h .lantern_pre:hover,.w-lantern-h .lantern_next:hover{ background-color:#C8A063; border-color:#C8A063;}
.captionbgFadeOutScale .caption .captionbg,.captionbgFadeInLeft.imgLeftBig .caption .captionbg,.captionbgFadeInRight.imgRightBig .caption .captionbg{background-color:#C8A063;}
.w-slide-page-num .slide-page a.active{ background-color:#C8A063;}
.w-productList .prd_pre:hover,.w-productList .prd_next:hover{ background-color:#C8A063;}
.rotatePicbox-tel .navSlide .active{background:#C8A063;}
.prd_pageState span.active{background:#C8A063;}
/*-----------------footer-------------------------*/
.w-footer a:hover{ color:#fff;}
.w-footer .w-social .social-item:hover{ background-color:#c8a063;}
.w-footer .w-form-submit .w-buttom .btn-default-w{ color:#c8a063;}
.w-footer .w-form-submit .w-buttom .btn-default-w:hover{ color:#fff; background:#c8a063;}
/*--------------------系统------------------------*/
.systitle{ background:#C8A063;}
.crumbs a:hover,.w-breadcrumbs a:hover{color:#C8A063;}
.w-pages a:hover,.w-pages a.cur{color:#fff; background:#C8A063; }
.info_tab li.cur_tab a{ background:#C8A063; color:#fff;}
.w-prd-list-cell a:hover{ color:#C8A063;}
.w-prd-list-cell .w-prd-infobox h2 a:hover,.w-prd-list-cell .w-prd-infobox .w-prd-more a:hover{color:#C8A063;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background:#C8A063; border-color:#C8A063; }
.w-prd-list-cell .w-prd-btns a.btn-buy:hover{ background:#BD8C42; border-color:#BD8C42;}
.w-prd-list-cell .w-prd-btns a.btn-addCart:hover{  border-color:#666;  color:#333;}
.w-productList1 .w-prd-list-cell:hover .w-prd-con,.w-productList2 .w-prd-list-cell:hover .w-prd-con,.w-product1 .w-prd-list-cell:hover .w-prd-con{ background:#C8A063;}
.w-productList1 .w-prd-list-cell:hover .w-prd-con a.btn-buy,.w-productList2 .w-prd-list-cell:hover .w-prd-con a.btn-buy,.w-product1 .w-prd-list-cell:hover .w-prd-con a.btn-buy{ background:#BD8C42; border-color:#BD8C42; color:#fff; }
.w-productList1 .w-prd-list-cell:hover .w-prd-con a.btn-addCart,.w-productList2 .w-prd-list-cell:hover .w-prd-con a.btn-addCart,.w-product1 .w-prd-list-cell:hover .w-prd-con a.btn-addCart{ border-color:#fff; color:#fff; }
.w-prd-list1 .w-prd-list-cell .w-prd-infobox h2 a:hover{ text-decoration:none; border-color:#C8A063;}
.product-detail-info .product-title h2,.product-title-top h2{ color:#c8a063;}
/*-------------新闻--------------------*/
.w-News-list a.news-kind,.w-adNews .news-item .news-h a.news-kind{ color:#C8A063;}
.w-News-list a:hover,.w-adNews a:hover,.w-News-list .news-com .news-h a:hover,.w-adNews .news-h a:hover,.w-adNews1 li .news-item .news-com .news-h a:hover{color:#C8A063;}
.w-News-list .news-h a.news-kind:hover,.w-adNews .news-h a.news-kind:hover{ color:#EDC818;}
.w-News-list5 li .news-item .data-day,.w-adNews1 li .news-item .data-day{ background:#C8A063;}
.w-News-list7 li .date .date-day,.w-News-list7 li .date .date-yearMonth{ background:#C8A063; color:#fff;}
.w-adNews2 li .news-item .news-com .news-com-top .date:before{ background:#C8A063;}
.w-adNews3{background:#C8A063;}
.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{background-color:#C8A063;}
.w-adNews10 li .news-item .news-com .more a{ background:#C8A063;}
.w-adNews10 li .news-item .news-com .more a:hover{ background:#BD8C42;}
.w-adNews5 a{ color:#C8A063;}
.w-adNews5 li:hover .news-com{ background:#C8A063; color:#fff;}
.w-adNews5 li:hover .news-com a,.w-adNews5 li:hover .news-com a.news-kind{ color:#fff;}
.w-adNews11 .news-btn:hover{ color:#fff;}
.newsDetail .newsTitle{ color:#C8A063;}

.w-faq-list3 li .faq_tit .icon_adore{  background-image:url('../image/icon1_0.png');}
.w-faq-list3 li.open .faq_tit{ background:#C8A063;}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#C8A063;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background:#C8A063;}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.btn-greenC,.btn-greenA{background-color:#C8A063;}
.checkbox_tel input[type="checkbox"]:checked + label{background-color:#C8A063;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#C8A063;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#F8E9C2;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecur.png');}
/*----------------------标题------------------------*/
.color_main{color:#C8A063;}
.color_vice{ }
.color_vice_light{}
.color_h{}
.color_span{}
.colorbg_main{color:#C8A063;}
.bg_main{background-color:#C8A063;}
.bg_main_light{background-color:#f6f6f6;}
.bg_simpline{background-color:#C8A063;}
.border_colorall_main{border-color:#C8A063;}
.aHoverborder_main:hover{border-color:#C8A063;}
.border_colorleft_main{border-left-color:#9C221F;}
.border_colortop_main{border-top-color:#9C221F;}
.border_colorright_main{border-right-color:#9C221F;}
.border_colorbottom_main{border-bottom-color:#9C221F;}
.aHovercolor_main:hover{color:#C8A063;}
.aHoverbg_main:hover{background-color:#C8A063;}
.border_colorall_main_deepen{border-color:#BD8C42;}
.aHovercolor_deepen:hover{ color:#BD8C42;}
.aHoverbg_deepen:hover{ background-color:#BD8C42;}
.aHoverborder_deepen:hover{border-color:#BD8C42;}
.colorChange{background-color:#C8A063;
    background-image: -webkit-linear-gradient(bottom, #C8A063, #D5B688);
	background-image: -moz-linear-gradient(bottom, #C8A063, #D5B688);
	background-image: -o-linear-gradient(bottom, #C8A063, #D5B688);
	background-image: -ms-linear-gradient(bottom, #C8A063,#D5B688);
	background-image: linear-gradient(to top, #C8A063, #D5B688);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#D5B688, endColorStr=#C8A063);}
.colorChange_deepen{background-color:#C8A063;
    background-image: -webkit-linear-gradient(bottom, #D5B688,#C8A063);
	background-image: -moz-linear-gradient(bottom, #D5B688, #C8A063);
	background-image: -o-linear-gradient(bottom, #D5B688, #C8A063);
	background-image: -ms-linear-gradient(bottom, #D5B688, #C8A063);
	background-image: linear-gradient(to top, #D5B688, #C8A063);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#C8A063, endColorStr=#D5B688);}
.bg_main_change{background-color:#C8A063;
    background-image: -webkit-linear-gradient(bottom, #ffffff, #C8A063);
	background-image: -moz-linear-gradient(bottom, #ffffff, #C8A063);
	background-image: -o-linear-gradient(bottom, #ffffff, #C8A063);
	background-image: -ms-linear-gradient(bottom, #ffffff,#C8A063);
	background-image: linear-gradient(to top, #ffffff, #C8A063);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#C8A063, endColorStr=#ffffff);}
.bg_main_changeDeepen{background-color:#C8A063;
    background-image: -webkit-linear-gradient(bottom, #C8A063, #ffffff);
	background-image: -moz-linear-gradient(bottom, #C8A063, #ffffff);
	background-image: -o-linear-gradient(bottom, #C8A063, #ffffff);
	background-image: -ms-linear-gradient(bottom, #C8A063,#ffffff);
	background-image: linear-gradient(to top, #C8A063, #ffffff);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#C8A063);}
.bg_main_change_left{background-color:#C8A063;
    background-image: -webkit-linear-gradient(right, #ffffff, #C8A063);
	background-image: -moz-linear-gradient(right, #ffffff, #C8A063);
	background-image: -o-linear-gradient(right, #ffffff, #C8A063);
	background-image: -ms-linear-gradient(right, #ffffff,#C8A063);
	background-image: linear-gradient(to left, #ffffff, #C8A063);}
.bg_main_changeDeepen_left{background-color:#C8A063;
    background-image: -webkit-linear-gradient(right, #C8A063, #ffffff);
	background-image: -moz-linear-gradient(right, #C8A063, #ffffff);
	background-image: -o-linear-gradient(right, #C8A063, #ffffff);
	background-image: -ms-linear-gradient(right, #C8A063,#ffffff);
	background-image: linear-gradient(to left, #C8A063, #ffffff);}
.w-title2{ background:#C8A063;}
.w-title2,.w-title2 .title-h-in h2,.w-title2 .more{color:#fff;}
.w-title2 .more:hover{ color:#FBE904;}
.w-title17 .title-text-in{ background:#C8A063;}
.w-title17 .w-title-inner{background-image:url("../image/tit17bg_0.png");}
.w-title17 .more:hover{ background-image:url("../image/tit17_morehover_0.png");}
.w-title19 .more .icon_more,.icon_more19bg{ background-image:url("../image/icon_more_0.png");}
.w-title30{ border-left-color:#9C221F;}
.w-title30 .tith span{ color:#c8a063;}
.w-title30 .more{background:#C8A063; color:#fff;}
.w-title30 .more:hover{background:#BD8C42; color:#fff;}
@media (min-width:768px){
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent a,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent a{ background-image:url(../image/menu0.png); color:#C8A063;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent .fa,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent .fa{ color:#C8A063;}
	.w-com-menu-V .ul-submenu li:hover >.div-parent a,.w-com-menu .ul-submenu li:hover >.div-parent .fa,.w-com-menu-V .ul-submenu li.cur >.div-parent a,.w-com-menu .ul-submenu li.cur >.div-parent .fa{ color:#C8A063;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ background:#C8A063; border-color:#C8A063;  color:#fff;}
	.w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ color:#C8A063; }
}
@media (min-width:961px){
	.w-nav .submenu{}
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ background:#F6F5F4; color:#C8A063;}
}
@media (max-width:960px){
	.mobile-nav-toggle{ background:#C8A063;}
	.w-admin-header,.body-login .w-admin-header,.w-header{color:#333;}
	.topLogBox a:hover,.w-languege a.cur{color:#C8A063;}
	.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{color:#fff;background:#C8A063;}
	.w-nav .submenu li:hover > a,.w-nav .submenu li.active > a,.w-nav .submenu li:hover > .li-parent-div > a,.w-nav .submenu li.active> .li-parent-div > a{color:#C8A063; background:none;}
}
@media (max-width:767px){
	.w-com-menu{ border-bottom:2px solid #C8A063;}
	.w-com-menu .ul-parent{background-color:#ebebeb;}
	.w-com-menu .ul-submenu ul{ background-color:#fafafa;}
	.w-com-menu .ul-submenu .ul-submenu ul{ background-color:#fdfdfd;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a{text-align:left;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a,.w-com-menu .fa{color:#2b2b2b; }
	.w-com-menu li, .w-com-menu .ul-submenu li{border:none; border-bottom:1px solid #fff;}
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:none; }
	.w-com-menu li > .div-parent:hover > a, .w-com-menu li.cur > .div-parent > a, .w-com-menu li > .div-parent:hover > .fa, .w-com-menu li.cur > .div-parent > .fa{color:#C8A063; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:none;}
	.systitle{color:#fff; text-align:center;}
	/*-----------------------会员中心和购物车--------------------*/
	.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecurtel.png');}
}