/* eyoucms.com 易优CMS -- 好用,免费,安全 */

/*---------------banner PC-------------------*/
.bannerPc{ text-align:center;}
.bannerPc ul,.bannerPc li{ margin:0; padding:0; list-style:none;}
.bannerPc a{ display:block;}
.bannerPc img{ max-width:100%; vertical-align:middle;}

.banner-swiper1{ background:#212121;}
.banner-swiper1 .swiper-slide.swiper-slide-prev,.banner-swiper1 .swiper-slide.swiper-slide-next{ opacity:0.5;}
.banner-swiper .swiper-pagination-bullets{ bottom:20px !important;}
.banner-swiper .swiper-pagination-bullet{ width:1em; height:2px; background:#fff; opacity:0.5; box-sizing:border-box; border-radius:0; -webkit-border-radius:0; vertical-align:middle;}
.banner-swiper .swiper-pagination-bullet-active{width:1em; height:1em; border:2px solid #fff; background:none; opacity:1;border-radius:50%; -webkit-border-radius:50%;}
.swiper-container-cube .swiper-cube-shadow{ display:none;}
.banner-swiper .swiper-button-prev,.banner-swiper .swiper-button-next{width:40px; height:60px; top:50%; margin-top:-30px; background:url(../image/slide_bpc.png) no-repeat;}
.banner-swiper .swiper-button-prev{ left:50px; background-position:0 0;}
.banner-swiper .swiper-button-next{ right:50px; background-position:-40px 0;}
.banner-swiper2  .swiper-slide {width: 65%;box-shadow: 0 8px 30px rgba(255,255,255,0.2);}
.banner-swiper3 .preview{background:#212121}
.banner-swiper3 .preview li{ /*width:20%;*/ cursor:pointer; opacity:0.4;  }
.banner-swiper3 .preview li img{ width:100%; height:100%; max-height:120px;}
.banner-swiper3 .preview li.active-nav{ opacity:1;}

.banner-osSlider{ margin:0 auto;}
.banner-osSlider .slider-btn-prev,.banner-osSlider .slider-btn-next{ position:absolute; z-index:99; cursor:pointer;width:40px; height:60px; top:50%; margin-top:-30px; background:url(../image/slide_bpc.png) no-repeat; text-indent:-9999px; overflow:hidden;}
.banner-osSlider .slider-btn-prev{left:50px; background-position:0 0;}
.banner-osSlider .slider-btn-next{right:50px; background-position:-40px 0;}
.banner-osSlider .slider-nav{position:absolute; z-index:99; left:0; right:0; bottom:20px; text-align:center;}
.banner-osSlider .slider-nav li{ display:inline-block; width:1em; height:2px; cursor:pointer; background:#fff; opacity:0.5; box-sizing:border-box; border-radius:0; -webkit-border-radius:0; vertical-align:middle; text-indent:-9999px; overflow:hidden; margin:0 5px;}
.banner-osSlider .slider-nav li.active{width:1em; height:1em; border:2px solid #fff; background:none; opacity:1;border-radius:50%; -webkit-border-radius:50%;}
.banner-osSlider .cvNode img{ max-width:none; }

.banner-slicebox {position: relative;overflow: hidden;}
.banner-slicebox ul{ margin:0 auto;}
.banner-slicebox li {display: none;}
.banner-slicebox .sb-description {padding: 20px;bottom: 10px;left: 10px;right: 10px;z-index: 1000;position: absolute;background: #CBBFAE;background: rgba(190,176,155, 0.4);border-left: 4px solid rgba(255,255,255,0.7);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);	opacity: 0;color: #fff;-webkit-transition: all 200ms;-moz-transition: all 200ms;-o-transition: all 200ms;-ms-transition: all 200ms;transition: all 200ms;}
.banner-slicebox li.sb-current .sb-description {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);	opacity: 1;}
.banner-slicebox li.sb-current .sb-description:hover {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";filter: alpha(opacity=99);	background: rgba(190,176,155, 0.7);}
.banner-slicebox .sb-perspective {position: relative;}
.banner-slicebox .sb-perspective > div {position: absolute;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-o-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-backface-visibility : hidden;-moz-backface-visibility : hidden;-o-backface-visibility : hidden;-ms-backface-visibility : hidden;backface-visibility : hidden;}
.banner-slicebox .sb-side {margin: 0;display: block;position: absolute;-moz-backface-visibility : hidden;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-o-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d;}
.banner-slicebox .slicebox-prev,.banner-slicebox .slicebox-next{ position:absolute; z-index:99; cursor:pointer;width:40px; height:60px; top:50%; margin-top:-30px; background:url(../image/slide_bpc.png) no-repeat; text-indent:-9999px; overflow:hidden;}
.banner-slicebox .slicebox-prev{left:50px; background-position:0 0;}
.banner-slicebox .slicebox-next{right:50px; background-position:-40px 0;}
.banner-slicebox .slicebox-pagination{position:absolute; z-index:99; left:0; right:0; bottom:20px; text-align:center;}
.banner-slicebox .slicebox-pagination span{ display:inline-block; cursor:pointer; width:1em; height:2px; background:#fff; opacity:0.5; box-sizing:border-box; border-radius:0; -webkit-border-radius:0; vertical-align:middle; text-indent:-9999px; overflow:hidden; margin:0 5px; }
.banner-slicebox .slicebox-pagination span.active{width:1em; height:1em; border:2px solid #fff; background:none; opacity:1;border-radius:50%; -webkit-border-radius:50%;}

.banner-ccslide .control-links{position:absolute; z-index:99; left:0; right:0;top:auto; bottom:20px; text-align:center;}
.banner-ccslide .control-links li{ display:inline-block; width:1em; height:2px; cursor:pointer; background:#fff; opacity:0.5; box-sizing:border-box; border-radius:0; -webkit-border-radius:0; vertical-align:middle; text-indent:-9999px; overflow:hidden; margin:0 5px;}
.banner-ccslide .control-links li.active{width:1em; height:1em; border:2px solid #fff; background:none; opacity:1;border-radius:50%; -webkit-border-radius:50%;}
.banner-ccslide .slider-nav.prev,.banner-ccslide .slider-nav.next{ position:absolute;width:40px; height:60px; top:50%; margin-top:-30px; background:url(../image/slide_bpc.png) no-repeat; text-indent:-9999px; overflow:hidden; }
.banner-ccslide .slider-nav.prev{left:50px; background-position:0 0;}
.banner-ccslide .slider-nav.next{right:50px; background-position:-40px 0;}
.banner-ccslide .shadow{ display:none;}
.banner-ccslide .slider-link{ width:100%; height:100%;}

.banner-html5zoo{ /*overflow:hidden;*/}
.banner-html5zoo .html5zoo-arrow-left-0,.banner-html5zoo .html5zoo-arrow-right-0{width:40px !important; height:60px !important; top:50% !important; margin-top:-30px !important; background:url(../image/slide_bpc.png) no-repeat !important;display:block !important;}
.banner-html5zoo .html5zoo-arrow-left-0{left:50px !important; background-position:0 0 !important;}
.banner-html5zoo .html5zoo-arrow-right-0{right:50px !important; background-position:-40px 0 !important;}
.banner-html5zoo .html5zoo-arrow-left-1,.banner-html5zoo .html5zoo-arrow-right-1{width:40px !important; height:60px !important; top:50% !important; margin-top:-30px !important; background:url(../image/slide_bpc.png) no-repeat !important;display:block !important;}
.banner-html5zoo .html5zoo-arrow-left-1{left:50px !important; background-position:0 0 !important;}
.banner-html5zoo .html5zoo-arrow-right-1{right:50px !important; background-position:-40px 0 !important;}
.banner-html5zoo .html5zoo-nav{ text-align:center;}
.banner-html5zoo .html5zoo-bullet-span{ width:1em !important; height:2px !important; float:none !important; display:inline-block; background:#fff !important; opacity:0.5; box-sizing:border-box; border-radius:0; -webkit-border-radius:0; margin:0 5px !important; vertical-align:middle;}
.banner-html5zoo .html5zoo-bullet-span.active{width:1em !important; height:1em !important; border:2px solid #fff; background:none !important; opacity:1;border-radius:50%; -webkit-border-radius:50%;}
/*---------------banner手机-------------------*/
.bannerTel ul,.bannerTel li{ margin:0; padding:0; list-style:none; }
.bannerTel a{ display:block;}
.bannerTel img{ max-width:100%; vertical-align:middle;}
.bannerTel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.bannerTel .swiper-slide.swiper-slide-prev,.bannerTel .swiper-slide.swiper-slide-next{ opacity:0.5;}
.bannerTel .swiper-pagination-bullets{ bottom:1em !important;}
.bannerTel .swiper-pagination-bullet{ width:1em; height:2px; background:#fff; opacity:0.5; box-sizing:border-box; border-radius:0; -webkit-border-radius:0; vertical-align:middle;}
.bannerTel .swiper-pagination-bullet-active{width:1em; height:1em; border:2px solid #fff; background:none; opacity:1;border-radius:50%; -webkit-border-radius:50%;}
.swiper-container-cube .swiper-cube-shadow{ display:none;}

.bannerTel8  .swiper-slide {width: 65%;box-shadow: 0 8px 30px rgba(255,255,255,0.2);}
@media (max-width:480px){
	.bannerTel .swiper-pagination-bullet-active{border-width:1px;}
}
