/*易优cms（eyoucms.com）做最好的易优整站模板下载网站*/
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.15;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	margin: 0;
	font-family: "Microsoft Yahei", PingFangSC-Regular, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	line-height: 1.42857143;
	font-size: 14px;
	min-width: 1230px;
	background: #fff;
	color: #333;
}
h1 {
	font-size: 2em;
	margin: .67em 0;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
a {
	-webkit-text-decoration-skip: objects;
	background-color: transparent;
}
abbr[title] {
	border-bottom: none;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
b, strong {
	font-weight: bolder;
}
dfn {
	font-style: italic;
}
mark {
	background-color: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -.25em;
}
sup {
	top: -.5em;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
img {
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
button, input, optgroup, select, textarea {
	line-height: 1.42857143;
	margin: 0;
	outline: none;
}
body, button, input, select, textarea {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
}
button, input {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, html [type=button],/* 1 */ [type=reset], [type=submit] {
-webkit-appearance:button;
}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
border-style:none;
padding:0;
}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
outline:1px dotted ButtonText;
}
fieldset {
	padding: .35em .75em .625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type=checkbox], [type=radio] {
box-sizing:border-box;
padding:0;
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
height:auto;
}
[type=search] {
-webkit-appearance:textfield;
outline-offset:-2px;
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
-webkit-appearance:none;
}
::-webkit-file-upload-button {
-webkit-appearance:button;
font:inherit;
}
summary {
	display: list-item;
}
article, aside, footer, header, nav, section, figcaption, figure, main, details,/* 1 */ menu {
	display: block;
}
pre, code, kbd, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
audio, video, canvas {
	display: inline-block;
}
template, [hidden] {
display:none;
}
.clearfix {
	zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #dd0000;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
.img-center {
	text-align: center;
	font-size: 0;
}
.img-center img {
	display: inline-block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.img-cover {
	overflow: hidden;
	position: relative;
}
.img-cover span {
	display: block;
	width: 100%;
	background: no-repeat center / cover;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.container {
	padding: 0 15px;
	width: 1200px;
	margin: 0 auto;
}
.kf {
	width: 208px;
	position: fixed;/* right: 20px; */
	right: -208px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
}
.kt-top {
	height: 40px;
	line-height: 40px;
	background: url(../image/kefu.png) 12px center no-repeat #214d98;
	-ms-background-size: auto 20px;
	background-size: auto 20px;
	padding-left: 46px;
	font-size: 14px;
	color: #fff;
}
.kt-top span:hover {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.kt-top span {
	width: 18px;
	height: 16px;
	float: right;
	position: relative;
	margin: 10px 10px 0 0;
	cursor: pointer;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}
.kt-top span b {
	width: 100%;
	height: 2px;
	background: #fff;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
}
.kt-top span b:first-child {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.kt-top span b:last-child {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}
.kf .con {
	overflow: hidden;
	background: #fff;
}
.kf .qq li {
	height: 36px;
	line-height: 36px;
	border-bottom: #f5f5f5 solid 1px;
	padding-left: 16px;
}
.kf .qq li a {
	height: 36px!important;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: initial;
	display: block;
}
.kf .qq li a img {
	padding-right: 6px;
}
.kf .con h5 {
	height: 26px;
	line-height: 26px;
	margin-top: 12px;
	background: url(../image/lianxi.png) 16px center no-repeat;
	padding-left: 45px;
	color: #666;
	font-size: 14px;
	margin-bottom: 0;
}
.kf .contact {
	margin-top: 1px;
	height: auto;
}
.kf .contact p {
	height: 26px;
	line-height: 26px;
	color: #666;
	font-size: 14px;
	padding-left: 22px;
	margin: 0;
}
.kf .contact p:nth-child(2n) {
	padding-left: 32px;
}
.kf .con h5.qr-icon {
	background: url(../image/erweima.png) 16px center no-repeat;
}
.kf .con .qr {
	margin-top: 10px;
	padding-left: 40px;
}
.kf .con .qr img {
	width: 110px;
	height: 110px;
}
.kf .backTop {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	background: url(../image/huidaodingbu.png) center center no-repeat #214d98;
	background-size: 18px auto;
	cursor: pointer;
}
.kf-side {
	padding: 18px 10px 10px;
	background: #214d98;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: -34px;
	cursor: pointer;
}
.kf-side b {
	display: block;
	color: #fff;
	line-height: 18px;
	font-size: 14px;
	font-weight: 400;
}
.kf-side span.arrow {
	width: 12px;
	height: 12px;
	background: url(../image/jt-1.png) no-repeat;
	-ms-background-size: auto 12px;
	background-size: auto 12px;
	display: block;
	margin-top: 10px;
}
.kf-side span.on {
	background: url(../image/jt-2.png) no-repeat;
	-ms-background-size: auto 12px;
	background-size: auto 12px;
}
#message {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	transform: scale(0);
	transition: .3s;
}
.messagebg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	z-index: 1001;
}
#message .m-content {
	margin-top: 10%;
}
#message .m-content .m-message {
	background: #fff;
	width: 580px;
	background: #fff;
	padding: 50px;
	margin: 0 auto;
	position: relative;
	z-index: 1002;
	box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}
.m-message {
	width: 494px;
	margin: 48px auto 0;
}
.m-message label {
	margin-bottom: 15px;
	display: block;
	font-size: 14px;
}
.m-message label em {
	display: block;
	float: right;
	color: red;
	height: 32px;
	line-height: 32px;
}
.m-message label span {
	width: 70px;
	height: 34px;
	line-height: 34px;
	color: #2F2F2F;
	float: left;
	font-weight: bold;
	text-align: right;
	margin-right: 30px;
	display: inline-block;
}
.m-message label input.inp, .m-message label textarea, .m-message label.code input {
	width: 72%;
	overflow: hidden;
	height: 32px;
	line-height: 32px;
	border: #cccccc 1px solid;
	border-radius: 3px;
	padding: 0 14px;
	box-sizing: border-box;
	color: #555;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.m-message label input:focus, .m-message label textarea:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 150, 0, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 150, 0, .6);
}
.m-message label textarea {
	height: 72px;
	line-height: 24px;
	padding: 10px 14px;
}
.m-message label.code {
	line-height: 34px;
}
.m-message label.code input {
	width: 30%;
	float: left;
	margin-right: 30px;
}
.m-message label.code .pic {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 32px;
}
.m-message label.code img {
	display: block;
	width: 100%;
	height: 100%;
}
.btn-1 input {
	width: 52px;
	height: 32px;
	line-height: 32px;
	background: #e8e8e8;
	border: none;
	color: #333;
	margin-right: 22px;
	cursor: pointer;
	transition: 0.3s;
}
.btn-1 {
	padding-left: 100px;
}
.btn-1 input.focus {
	background: #ce2e33;
	color: #fff;
}
.btn-1 input.focus:hover {
	background: #444;
}
.btn-1 input:hover {
	background: #ccc;
}
.footer-fix {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 10;
	display: none;
}
.footer-fix li {
	float: left;
	width: 25%;
}
.footer-fix li a {
	display: block;
	text-align: center;
	padding: 7px 0;
	font-size: 12px;
	line-height: 1;
}
.footer-fix li i {
	display: block;
	height: 20px;
	background: no-repeat center;
	background-size: contain;
	margin-bottom: 4px;
}
.footer-fix li i.i1 {
	background-image: url(../image/f_01.png);
}
.footer-fix li i.i2 {
	background-image: url(../image/f_02.png);
}
.footer-fix li i.i3 {
	background-image: url(../image/f_03.png);
}
.footer-fix li i.i4 {
	background-image: url(../image/f_04.png);
}
.swiper-pagination-bullet-active {
	background-color: #e13f38;
}
.str_wrap {
	position: relative;
	overflow: hidden;
}
.str_move {
	position: absolute;
	left: 0;
	top: 0;
	cursor: move;
	white-space: nowrap;
}
.header {
	background-color: #fff;
}
.header .topbar {
	line-height: 34px;
	background-color: #f5f5f5;
	font-size: 13px;
}
.header .topbar ul {
	float: right;
}
.header .topbar li {
	float: left;
	color: #ddd;
}
.header .topbar li.pipe {
	padding: 0 10px;
}
.header .logo {
	float: left;
	font-size: 0;
	height: 80px;
	line-height: 80px;
	text-align: left;
	padding: 15px 0;
}
.header .tel {
	float: right;
	background: url(../image/tel.jpg) no-repeat 0 center;
	padding-left: 55px;
	margin-top: 31px;
}
.header .tel strong {
	display: block;
	font-size: 28px;
	font-family: Impact;
	line-height: 1;
	color: #dd0000;
}
.header .text {
	float: left;
	font-size: 16px;
	margin: 20px 0 20px 30px;
	padding: 5px 0 5px 30px;
	border-left: 1px solid #ddd;
}
.header .text strong {
	display: block;
	font-size: 26px;
}
.header .nav {
	font-size: 0;
	background-color: #204c97;
	color: #fff;
}
.header .nav li {
	display: inline-block;
	vertical-align: middle;
	background: url(../image/li_07.jpg) no-repeat right center;
	padding-right: 1px;
}
.header .nav li a {
	display: block;
	font-size: 16px;
	line-height: 70px;
	padding: 0 35px;
	color: #fff;
}
.header .nav li .arr {
	float: right;
	height: 40px;
	width: 40px;
	position: relative;
	display: none;
}
.header .nav li .arr:after {
	content: '';
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	box-sizing: content-box;
	display: block;
	width: 8px;
	height: 8px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	right: 15px;
}
.header .nav li.active a, .header .nav li.open a, .header .nav li a:hover {
	color: #fff;
	background-color: #dd0000;
}
.header .nav li.dropdown {
	position: relative;
}
.header .nav li.dropdown:before {
	content: "";
	position: absolute;
	border: 4px solid transparent;
	border-bottom: 0;
	border-top-color: currentColor;
	top: 50%;
	margin-top: -2px;
	right: 15px;
}
.header .nav .dropdown-box {
	position: absolute;
	left: 0;
	min-width: 100%;
	top: 100%;
	display: none;
	z-index: 10;
	text-align: center;
}
.header .nav .dropdown-box p {
	margin: 0;
}
.header .nav .dropdown-box a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 10px;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.5) !important;
	line-height: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header .nav .dropdown-box a:hover {
	background-color: #dd0000 !important;
}
.header .nav li.open .dropdown-box {
	display: block;
}
.menu-btn {
	display: none;
	padding: 6px 0;
	float: right;
	margin-left: 15px;
}
.menu-btn:before, .menu-btn:after, .menu-btn span {
	display: block;
	height: 2px;
	background-color: #0d5ba4;
	content: '';
}
.menu-btn:before {
	width: 24px;
}
.menu-btn:after {
	width: 18px;
	margin-left: 6px;
}
.menu-btn span {
	width: 12px;
	margin: 6px 0 6px 12px;
}
.banner .swiper-slide {
	background: no-repeat center / cover;
	height: 570px;
}
.banner .swiper-slide img {
	display: block;
	width: 100%;
	height: auto;
}
.banner .swiper-pagination {
	bottom: 30px;
}
.banner .swiper-pagination-bullet {
	background-color: #fff;
	opacity: 1;
}
.banner .swiper-pagination-bullet-active {
	background-color: #015cb5;
}
.yunu-sou {
	padding: 25px 0;
	border-bottom: 1px solid #eee;
}
.yunu-sou .hot {
	float: left;
	padding: 7px 0;
}
.yunu-sou .hot a {
	margin-right: 10px;
}
.yunu-sou .hform {
	float: right;
}
.yunu-sou .hform input {
	float: left;
	border: 1px solid #eee;
	padding: 6px 12px;
	width: 210px;
	font-size: 14px;
}
.yunu-sou .hform button {
	border: 0;
	border-bottom: 1px solid transparent;
	padding: 0;
	float: left;
	cursor: pointer;
	outline: none;
	width: 40px;
	height: 34px;
	background: url(../image/sear.png) no-repeat center / contain #cc2231;
	color: #fff;
	font-size: 0;
}
.section {
	padding: 50px 0;
}
.section-title {
	text-align: center;
	margin-bottom: 30px;
	font-size: 26px;
	font-weight: bold;
}
.section-title span {
	color: #1e4890;
}
.section-title small {
	display: block;
	color: #999;
	font-size: 14px;
	font-weight: normal;
	margin-top: 10px;
}
.title-1 {
	border-bottom: 1px solid #e2e2e2;
	font-size: 24px;
	color: #0d5ba4;
	padding-bottom: 15px;
	margin-bottom: 20px;
	line-height: 32px;
}
.title-1 .more {
	float: right;
	font-size: 14px;
}
.title-1 small {
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
	margin-left: 10px;
}
.in-prd-cate {
	float: left;
	width: 290px;
	border: 3px solid #214d98;
	background-color: #fff;
}
.in-prd-cate .tit {
	text-align: center;
	color: #fff;
	line-height: 70px;
	font-size: 24px;
	font-weight: bold;
	background-color: #214d98;
}
.in-prd-cate dl {
	padding: 10px;
	margin: 0;
}
.in-prd-cate dt a {
	display: block;
	line-height: 60px;
	background: url(../image/g3.jpg) no-repeat center;
	color: #fff;
	font-size: 18px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.in-prd-cate dd {
	margin: 0;
}
.in-prd-cate dd a {
	display: block;
	line-height: 60px;
	font-size: 15px;
	border-bottom: 1px dotted #e5e5e5;
	background: url(../image/aao_10.jpg) left center no-repeat;
	padding-left: 28px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.in-prd-con {
	float: right;
	width: 870px;
}
.list-1 {
	margin: -20px 0 0 -20px;
}
.list-1 li {
	float: left;
	width: 33.333333%;
}
.list-1 li a {
	display: block;
	margin: 20px 0 0 20px;
}
.list-1 li .img-center {
	background-color: #fff;
	height: 316px;
	line-height: 316px;
	border: 1px solid #ddd;
}
.list-1 li p {
	text-align: center;
	margin: 15px 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.list-1 li a:hover .img-center {
	border-color: #dd0000;
}
.list-1-1 li .img-center {
	height: 220px;
	line-height: 220px;
}
.in-case-menu {
	float: left;
	width: 300px;
}
.in-case-menu li a {
	display: block;
	background: url(../image/ag2.jpg) no-repeat center / 100% 100%;
	line-height: 64px;
	padding-left: 64px;
	font-size: 16px;
	padding-right: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.in-case-menu li.active a {
	background-image: url(../image/ag1.jpg);
	color: #fff;
}
.in-case-con {
	margin-left: 325px;
}
.in-case-con dl {
	margin: 0;
	overflow: hidden;
}
.in-case-con dt {
	float: left;
	width: 436px;
}
.in-case-con dd {
	margin-left: 466px;
}
.in-case-con dd h4 {
	margin: 0;
	font-size: 18px;
}
.in-case-con dd p {
	margin: 20px 0 0;
	color: #777;
	line-height: 2;
	text-align: justify;
	height: 258px;
}
.in-case-con dd .more {
	display: block;
	width: 180px;
	line-height: 38px;
	background-color: #dd0000;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
}
.in-honours ul {
	font-size: 0;
}
.in-honours li {
	width: 280px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.in-honours li a {
	display: block;
}
.in-honours li .img-center {
	height: 300px;
	line-height: 300px;
	background-color: #fff;
}
.in-honours li p {
	text-align: center;
	margin: 15px 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}
.in-about {
	margin: 0;
}
.in-about dt {
	float: left;
	width: 526px;
}
.in-about dd {
	margin-left: 550px;
}
.in-about dd p {
	margin: 0;
	line-height: 2;
	text-align: justify;
}
.bg1 {
	color: #fff;
	background: url(../image/asq_27.jpg) no-repeat center / cover;
}
.bg1 .section-title span {
	color: #fff;
}
.bg1 .section-title small {
	color: #fff;
}
.in-lc {
	margin: -20px 0 0 -20px;
}
.in-lc li {
	float: left;
	width: 33.333333%
}
.in-lc li a {
	display: block;
	margin: 20px 0 0 20px;
	position: relative;
	color: #fff;
}
.in-lc li .img-cover {
	padding-top: 76%;
}
.in-lc li .text {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	margin: 0;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 45px;
}
.in-news {
	margin-left: -45px;
}
.in-news .item {
	float: left;
	width: 33.333333%;
}
.in-news .wrap {
	margin-left: 45px;
}
.in-news .img-center {
	margin-bottom: 20px;
}
.in-news .title-1 {
	font-size: 20px;
	padding-bottom: 5px;
	margin-bottom: 0;
}
.list-2 li {
	border-bottom: 1px dotted #ccc;
}
.list-2 li a {
	display: block;
	line-height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: url(../image/li2.jpg) left center no-repeat;
	padding-left: 15px;
}
.list-2 li span {
	float: right;
	font-size: 12px;
	color: #666;
}
.yunu-link {
	padding: 20px 0;
}
.yunu-link h4 {
	border-bottom: 1px solid #ddd;
	margin: 0;
	font-size: 18px;
	color: #0d5ba4;
	padding-bottom: 15px;
}
.yunu-link h4 small {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
	color: #999;
}
.yunu-link ul {
	margin-left: -20px;
}
.yunu-link li {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.footer {
	padding: 50px 0;
	background-color: #253653;
	color: #bec3cc;
}
.footer a {
	color: #bec3cc;
}
.footer a:hover {
	color: #fff;
}
.footer-nav {
	margin-bottom: 30px;
	background-color: #334564;
	border-radius: 5px;
	font-size: 0;
	padding: 15px;
	text-align: center;
}
.footer-nav a {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	margin: 0 20px;
}
.footer-ewm {
	float: right;
	width: 120px;
	text-align: center;
}
.footer-ewm p {
	margin: 10px 0 0;
	font-size: 12px;
}
.footer-info {
	margin-right: 160px;
	background: url(../image/ff_87.jpg) no-repeat 0 center;
	padding-left: 250px;
}
.footer-info p {
	margin: 5px 0 0;
}
.banner-sub {
	height: 400px;
	background: no-repeat center / cover;
}
.ct2-sd {
	float: left;
	width: 260px;
}
.ct2-mn {
	float: right;
	width: 910px;
}
.panel-sd {
	margin-bottom: 20px;
	background-color: #f6f6f6;
}
.panel-sd:last-child {
	margin-bottom: 0;
}
.panel-sd .tit {
	text-align: center;
	color: #fff;
	font-size: 20px;
	background: url(../image/k1.jpg) no-repeat center / cover;
	padding: 20px 0;
}
.contact-sd {
	padding: 20px;
	line-height: 1.8;
	font-size: 13px;
}
.lanmu li {
	border-bottom: 1px dotted #ddd;
}
.lanmu li:last-child {
	border-bottom: 0;
}
.lanmu li>a {
	display: block;
	line-height: 44px;
	padding: 0 0 0 25px;
}
.lanmu li .arr {
	float: right;
	height: 45px;
	width: 40px;
	position: relative;
	cursor: pointer;
}
.lanmu li .arr:after {
	content: '';
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	box-sizing: content-box;
	display: block;
	width: 8px;
	height: 8px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	right: 15px;
}
.lanmu-box {
	display: none;
}
.lanmu-box p {
	margin: 0;
	border-top: 1px dotted #ddd;
	padding-left: 15px;
}
.lanmu-box p a {
	padding: 0 25px;
	display: block;
	line-height: 40px;
}
.lanmu-box p.on a {
	color: #dd0000;
}
.lanmu li>a:hover, .lanmu li.active>a {
	color: #dd0000;
}
.lanmu li.open .lanmu-box {
	display: block;
}
.lanmu li.open .arr:after {
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}
.pages {
	margin: 30px 0 0;
	text-align: center;
	font-size: 0;
}
.pages a {
	display: inline-block;
	font-size: 14px;
	line-height: 35px;
	padding: 0 14px;
	margin: 5px;
	background-color: #f5f5f5;
	border-radius: 3px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.pages a:hover, .pages a.active {
	background-color: #dd0000;
	color: #fff;
}
.sub-tit {
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	color: #0d5ba4;
	font-weight: bold;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.curmbs {
	float: right;
	font-weight: normal;
	font-size: 12px;
	color: #999;
	line-height: 25px;
	background: url(../image/hom1.jpg) no-repeat 0 center;
	padding-left: 20px;
}
.curmbs em {
	font-style: normal;
	padding: 0 5px;
}
.list-3 {
}
.list-3 li {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.list-3 li a {
	display: block;
	overflow: hidden;
}
.list-3 li .img-center {
	float: left;
	width: 240px;
}
.list-3 li .text {
	margin-left: 260px;
}
.list-3 li .text h4 {
	font-size: 20px;
	margin: 0;
}
.list-3 li .text .date {
	margin-top: 10px;
	color: #999;
	font-size: 12px;
}
.list-3 li .text p {
	margin: 10px 0 0;
	color: #777;
	line-height: 1.8;
	text-align: justify;
}
.list-3 li .text span {
	float: right;
	line-height: 24px;
	border: 1px solid #ddd;
	border-radius: 50px;
	padding: 0 20px;
	margin-top: 10px;
}
.list-3 li a:hover .text span {
	background-color: #dd0000;
	color: #fff;
	border-color: #dd0000;
}
.list-4 li {
	border-bottom: 1px dotted #ccc;
}
.list-4 li a {
	display: block;
	line-height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: url(../image/libg.jpg) left center no-repeat;
	padding-left: 20px;
}
.list-4 li span {
	float: right;
	font-size: 12px;
	color: #666;
}
.content-title {
	margin-bottom: 20px;
	text-align: center;
}
.content-title h1 {
	font-size: 22px;
	margin: 0;
}
.content-title p {
	margin: 15px 0 0;
	font-size: 12px;
	color: #999;
	border-top: 1px dashed #ddd;
	padding-top: 15px;
}
.content-title p span {
	padding: 0 10px;
	display: inline-block;
}
.content-body {
	line-height: 1.8;
}
.content-body img {
	max-width: 100% !important;
	height: auto !important;
	width: auto !important;
}
.content-exp {
	padding: 10px 15px;
	font-size: 12px;
	background-color: #f5f5f5;
	margin-top: 20px;
	border-radius: 5px;
}
.content-exp li {
	line-height: 2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.yunu-showcase {
	margin: 0 0 20px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #ddd;
}
.yunu-showcase-info {
	margin-left: 430px;
}
.yunu-showcase-info h1 {
	font-size: 20px;
	margin: 0;
	border-bottom: 1px dashed #ddd;
	padding-bottom: 15px;
}
.yunu-showcase-info p {
	margin: 15px 0 0;
	color: #666;
	line-height: 1.8;
}
.yunu-showcase-info .tel {
	margin-top: 15px;
}
.yunu-showcase-info .tel a {
	line-height: 42px;
	color: #fff;
	display: inline-block;
	width: 120px;
	text-align: center;
	border-radius: 5px;
	background-color: #dd0000;
}
.pc-slide {
	float: left;
	width: 400px;
}
.view .swiper-slide .img-center {
	width: 100%;
	height: 300px;
	line-height: 300px;
}
.view .swiper-container {
	width: 100%;
}
.preview {
	width: 100%;
	margin-top: 10px;
	position: relative;
}
.preview .swiper-container {
	margin: 0 30px;
}
.preview .swiper-slide .img-center {
	height: 80px;
	border: 1px solid #ddd;
	cursor: pointer;
	position: relative;
	line-height: 80px;
}
.preview .arrow-left {
	background: url(../image/feel3.png) no-repeat left top;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -9px;
	width: 9px;
	height: 18px;
	z-index: 10;
}
.preview .arrow-right {
	background: url(../image/feel4.png) no-repeat left bottom;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -9px;
	width: 9px;
	height: 18px;
	z-index: 10;
}
.preview .active-nav .img-center {
	border-color: #dd0000;
}
div.zoomDiv {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	background: #ffffff;
	border: 1px solid #ddd;
	display: none;
	text-align: center;
	overflow: hidden;
	font-size: 0;
}
div.zoomMask {
	position: absolute;
	background: url(../image/mask.png) repeat scroll 0 0 transparent;
	cursor: move;
	z-index: 1;
}
.map {
	height: 400px;
	margin-top: 20px;
}
 @media screen and (max-width: 767px) {
body {
	min-width: 320px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.container {
	width: auto;
}
#message .m-content .m-message {
	width: 90%;
	padding: 20px;
}
.kf {
	display: none;
}
.footer-fix {
	display: block;
}
.header {
	padding: 10px 0;
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.header .topbar, .header .text, .header .tel {
	display: none;
}
.header .logo {
	height: 50px;
	line-height: 50px;
	float: none;
	padding: 0;
	margin: -10px 0;
}
.header .nav {
	margin: 10px 0 -10px;
	text-align: left;
	display: none;
	background-color: transparent;
	border-bottom: 0;
}
.header .nav ul {
	margin: 0 -15px;
}
.header .nav li {
	display: block;
	margin: 0;
	border-top: 1px solid #eee;
	background: none;
}
.header .nav li a {
	line-height: 40px;
	padding: 0 15px;
	color: #333;
}
.header .nav li .arr {
	display: block;
}
.header .nav li.active a, .header .nav li.open a, .header .nav li a:hover {
	background-color: transparent;
	color: #dd0000
}
.header .nav li.open .arr:after {
	border-color: #dd0000;
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}
.header .nav .dropdown-box {
	position: static;
	background-color: #f5f5f5;
	min-width: auto;
	text-align: left;
}
.header .nav .dropdown-box a {
	color: #333 !important;
	border-top: 1px dotted #ddd;
	padding: 0 15px;
	line-height: 40px;
	background-color: transparent !important;
	border-bottom: 0;
}
.header .nav .dropdown-box a:hover {
	background-color: transparent !important;
}
.menu-btn {
	display: block;
}
.banner .swiper-slide {
	height: 150px;
}
.banner .swiper-pagination {
	bottom: 10px;
}
.yunu-sou {
	padding: 0;
	border-bottom: 0;
}
.yunu-sou .container {
	padding: 0;
}
.yunu-sou .hot {
	display: none;
}
.yunu-sou .hform {
	float: none;
	position: relative;
}
.yunu-sou .hform input {
	border-color: transparent;
	width: 100%;
	box-sizing: border-box;
	line-height: 20px;
	padding: 9px 60px 9px 15px;
	border-radius: 0;
	border-bottom: 1px solid #eee;
}
.yunu-sou .hform button {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 40px;
}
.in-prd-cate {
	display: none;
}
.in-prd-con {
	float: none;
	width: auto;
}
.section {
	padding: 30px 0;
}
.section-title {
	margin-bottom: 20px;
	font-size: 18px;
}
.section-title small {
	font-size: 12px;
	margin-top: 5px;
}
.title-1 {
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.title-1 small {
	font-size: 12px;
}
.list-1 {
	margin: -15px 0 0 -15px;
}
.list-1 li {
	width: 50%;
}
.list-1 li a {
	margin: 15px 0 0 15px;
}
.list-1 li .img-center {
	height: 188px;
	line-height: 188px;
}
.list-1 li p {
	margin-top: 10px;
}
.list-1 li a:hover .img-center {
	border-color: #dd0000;
}
.list-1-1 li .img-center {
	height: 108px;
	line-height: 108px;
}
.in-case-menu {
	display: none;
}
.in-case-con {
	margin: 0;
}
.in-case-con dt {
	float: none;
	width: auto;
}
.in-case-con dd {
	margin: 15px 0 0;
}
.in-case-con dd p {
	height: auto;
	margin: 10px 0 0;
	line-height: 1.8;
}
.in-case-con dd .more {
	margin-top: 15px;
}
.in-honours li {
	width: 140px;
}
.in-honours li .img-center {
	height: 150px;
	line-height: 150px;
}
.in-honours li p {
	margin-top: 10px;
}
.in-about dt {
	float: none;
	width: auto;
}
.in-about dd {
	margin: 15px 0 0;
}
.in-about dd p {
	line-height: 1.8;
}
.in-lc li {
	width: 100%;
}
.in-news {
	margin-top: -20px;
}
.in-news .item {
	width: 100%;
}
.in-news .wrap {
	margin-top: 20px;
}
.in-news .img-center {
	display: none;
}
.in-news .title-1 {
	font-size: 18px;
}
.footer {
	padding: 30px 0;
}
.footer-nav {
	display: none;
}
.footer-ewm {
	display: none;
}
.footer-info {
	background: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
}
.banner-sub {
	height: 130px;
}
.ct2-sd {
	display: none;
}
.ct2-mn {
	float: none;
	width: auto;
}
.sub-tit {
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.curmbs {
	display: none;
}
.pages {
	margin-top: 20px;
}
.pages a {
	font-size: 12px;
	line-height: 30px;
	padding: 0 12px;
}
.list-3 li .img-center {
	float: none;
	width: auto;
}
.list-3 li .text {
	margin: 15px 0 0;
}
.list-3 li .text h4 {
	font-size: 16px;
}
.list-3 li .text p {
	font-size: 12px;
}
.list-4 li a {
	line-height: 40px;
	padding-left: 15px;
}
.content-title {
	margin-bottom: 15px;
}
.content-title h1 {
	font-size: 18px;
}
.content-title p {
	margin-top: 10px;
	padding-top: 10px;
}
.content-title p span {
	padding: 0 5px;
}
.content-exp {
	margin-top: 15px;
}
.pc-slide {
	float: none;
	width: auto;
}
.yunu-showcase-info {
	margin: 20px 0 0;
}
.yunu-showcase-info h1 {
	padding-bottom: 10px;
}
.yunu-showcase-info p {
	margin-top: 10px;
}
.map {
	height: 200px;
}
}
.pagination p {
	margin: 0;
	cursor: pointer
}
.pagination {
	height: 40px;
	text-align: center;
	padding: 20px 0px;
}
.pagination a {
	display: inline-block;
	margin-right: 10px;
	padding: 2px 12px;
	height: 24px;
	border: 1px #cccccc solid;
	background: #fff;
	text-decoration: none;
	color: #808080;
	font-size: 12px;
	line-height: 24px;
}
.pagination a:hover {
	color: #e62022;
	background: white;
	border: 1px #e62022 solid;
}
.pagination a.cur {
	border: none;
	background: #e62022;
	color: #fff;
}
.pagination p {
	display: inline-block;
	padding: 2px 12px;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	color: #bbb;
	border: 1px #ccc solid;
	background: #fcfcfc;
	margin-right: 8px;
}
.pagination p.pageRemark {
	border-style: none;
	background: none;
	margin-right: 0px;
	padding: 4px 0px;
	color: #666;
}
.pagination p.pageRemark b {
	color: red;
}
.pagination p.pageEllipsis {
	border-style: none;
	background: none;
	padding: 4px 0px;
	color: #808080;
}
.dates li {
	font-size: 14px;
	margin: 20px 0
}
.dates li span {
	float: right
}
@media only screen and (max-width: 479px) {
.m-message label input.inp {
	width: 56%;
}
.m-message label textarea {
	width: 56%;
}
}