/* 0427qy.com 易优CMS -- 好用,免费,安全 */

/* CSS Document */
.zoomimg img{-webkit-transform: scale(1,1);-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 1683ms;-moz-transform: scale(1,1);-moz-transition-timing-function: ease-out;-moz-transition-duration: 1683ms;}
.zoomimg  img:hover{transform: scale(1.1); transition: all 1s ease 0s; -webkit-transform: scale(1.1); -webkit-transform: all 1s ease 0s;}
/*图片放大缩小效果*/
.zoomimg ul li a img{-webkit-transform: scale(1,1);-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 1683ms;-moz-transform: scale(1, 1);-moz-transition-timing-function: ease-out;-moz-transition-duration: 1683ms;}
.zoomimg ul li a  img:hover{transform: scale(1.1); transition: all 1s ease 0s; -webkit-transform: scale(1.1); -webkit-transform: all 1s ease 0s;}

.zoomimg dl li a img{-webkit-transform: scale(1,1);-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 1683ms;-moz-transform: scale(1, 1);-moz-transition-timing-function: ease-out;-moz-transition-duration: 1683ms;}
.zoomimg dl li a  img:hover{transform: scale(1.1); transition: all 1s ease 0s; -webkit-transform: scale(1.1); -webkit-transform: all 1s ease 0s;}