/* eyoucms.com 易优CMS -- 好用,免费,安全 */

.w-logo h1, .w-logo a{ color:#212121;}
.topLogBoxPc{ background-color:#282828;}
.topLogBox a:hover,.w-languege a.cur{color:#FF4748;}
.topLogBox .w-search .search-btn-w{ background-color:#FF9A00;}
.topLogBox .w-search .input-search-w{ border-color:#999;}
.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{ color:#282828; transition: all 0.2s;-moz-transition: all 0.2s;-webkit-transition: all 0.2s; -o-transition: all 0.2s;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#FF4748 !important;}
.w-text a:hover,.newsDetail .news-others a:hover{color:#282828;}
/*--------------------组件-------------------------*/
.btn-default-w{ }
.btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{ color:#fff; background-color:#282828; border-color:#282828; transition: all 0.2s;-moz-transition: all 0.2s;-webkit-transition: all 0.2s; -o-transition: all 0.2s; }
.w-form-submit .btn-default-w{  color:#fff; background-color:#282828; border-color:#282828; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0}
.w-form-submit .btn-default-w:hover,.w-form-submit .btn-default-w:focus,.w-form-submit .btn-global-w:hover,.w-form-submit .btn-global-w:focus{ color:#fff; background-color:#FF4748; border-color:#FF4748;}
.w-social .social-item:hover{ background-color:#FFBA00;}
.w-social .social-item:hover .icon-social{}
.search-defaut-w .search-btn-w{ background-color:#454545;}
.search-defaut-w .search-btn-w:hover{background-color:#FF4748}
.color_s_default{ color:#282828;}
.bg_s_default{ background:#282828;}
.w-service-fixed .color_s_default:hover{color:#FF4748;}
.w-service-fixed .bg_s_default:hover{ background:#FF4748;}
.w-service-fixed .service-popc{background:#FF4748; }
.w-lantern .lantern_pre,.w-lantern .lantern_next{background-color:#FF4748;}
.w-lantern .lantern_pre:hover,.w-lantern .lantern_next:hover{background-color:#E30000;}
/*-----------------footer-------------------------*/
.w-footer a:hover{ color:#fff;}
/*--------------------系统------------------------*/
.systitle{ background:#282828;}
.crumbs a:hover,.w-breadcrumbs a:hover{color:#282828;}
.info_tab li.cur_tab a{ color:#282828;}
.w-prd-list-cell .w-prd-infobox h2 a:hover,.w-prd-list-cell .w-prd-infobox .w-prd-more a:hover{color:#282828;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background:#FF4748; border-color:#FF4748; }
.w-prd-list-cell .w-prd-btns a.btn-buy:hover{ background:#E30000; border-color:#E30000; }
.w-prd-list-cell .w-prd-btns a.btn-addCart:hover{  border-color:#666;  color:#333;}
/*-------------新闻--------------------*/
.w-News-list .news-com .news-h .news-kind,.w-adNews a.news-kind,.w-News-list .news-com .news-h a:hover,.w-adNews .news-h a:hover,.w-adNews1 li .news-item .news-com .news-h a:hover{color:#282828;}
.w-News-list5 li .news-item .data-day,.w-adNews1 li .news-item .data-day{ background:#282828;}
.w-News-list7 li .date{ color:#fff;}
.w-News-list7 li .date .date-day,.w-News-list7 li .date .date-yearMonth{background:#282828;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#222;}
.w-adNews3{background:#e0e0e0;}
.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{background-color:#FF4748;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a,.w-adNews3 .w-adNews-texts li .w-adNews-textH h3{ color:#2f2f2f;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover,.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover h3{ color:#282828;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH p,.w-adNews3 .w-adNews-texts li .w-adNews-textH .news-sum{ color:#727272;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#727272; color:#727272;opacity:0.9; *filter:alpha(opacity=90); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);}
.w-adNews3 .w-adNews-texts li{border-color:#ccc;}
.w-adNews3 .w-adNews-imgs .adNews3prev{background-image:url("../image/adnews3prev_white.png");}
.w-adNews3 .w-adNews-imgs .adNews3next{background-image:url("../image/adnews3next_white.png");}
.w-adNews7 .bg_main{ background:#FF4748;}
.w-adNews7 .border_colorbottom_main{ border-bottom-color:#FF4748;}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#282828;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../image/progress_complete.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.btn-greenC,.btn-greenA{background-color:#282828;}
.checkbox_tel input[type="checkbox"]:checked + label{background-color:#282828;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#282828;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#FFE08E;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecur.png');}
/*----------------------标题------------------------*/
.color_main{}
.color_vice{}
.color_vice_light{}
.color_h{}
.color_span{}
.colorbg_main{color:#282828;}
.bg_main{background-color:#282828;}
.bg_main_light{background-color:#e6e6e6;}
.bg_simpline{background-color:#282828;}
.border_colorall_main{border-color:#282828;}
.aHoverborder_main:hover{border-color:#282828;}
.border_colorleft_main{border-left-color:#282828;}
.border_colortop_main{border-top-color:#282828;}
.border_colorright_main{border-right-color:#282828;}
.border_colorbottom_main{border-bottom-color:#282828;}
.aHovercolor_main:hover{color:#282828;}
.aHoverbg_main:hover{background-color:#282828;}
.border_colorall_main_deepen{border-color:#FF4748;}
.aHovercolor_deepen:hover{ color:#FF4748;}
.aHoverbg_deepen:hover{ background-color:#FF4748;}
.aHoverborder_deepen:hover{border-color:#FF4748;}
.colorChange{background-color:#282828;
    background-image: -webkit-linear-gradient(bottom, #282828, #5a5a5a);
	background-image: -moz-linear-gradient(bottom, #282828, #5a5a5a);
	background-image: -o-linear-gradient(bottom, #282828, #5a5a5a);
	background-image: -ms-linear-gradient(bottom, #282828,#5a5a5a);
	background-image: linear-gradient(to top, #282828, #5a5a5a);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#5a5a5a, endColorStr=#282828);}
.colorChange_deepen{background-color:#282828;
    background-image: -webkit-linear-gradient(bottom, #5a5a5a,#282828);
	background-image: -moz-linear-gradient(bottom, #5a5a5a, #282828);
	background-image: -o-linear-gradient(bottom, #5a5a5a, #282828);
	background-image: -ms-linear-gradient(bottom, #5a5a5a, #282828);
	background-image: linear-gradient(to top, #5a5a5a, #282828);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#282828, endColorStr=#5a5a5a);}
.bg_main_change{background-color:#282828;
    background-image: -webkit-linear-gradient(bottom, #F5F5F5, #282828);
	background-image: -moz-linear-gradient(bottom, #F5F5F5, #282828);
	background-image: -o-linear-gradient(bottom, #F5F5F5, #282828);
	background-image: -ms-linear-gradient(bottom, #F5F5F5,#282828);
	background-image: linear-gradient(to top, #F5F5F5, #282828);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#282828, endColorStr=#F5F5F5);}
.bg_main_changeDeepen{background-color:#282828;
    background-image: -webkit-linear-gradient(bottom, #282828, #F5F5F5);
	background-image: -moz-linear-gradient(bottom, #282828, #F5F5F5);
	background-image: -o-linear-gradient(bottom, #282828, #F5F5F5);
	background-image: -ms-linear-gradient(bottom, #282828,#F5F5F5);
	background-image: linear-gradient(to top, #282828, #F5F5F5);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#F5F5F5, endColorStr=#282828);}
.bg_main_change_left{background-color:#282828;
    background-image: -webkit-linear-gradient(right, #F5F5F5, #282828);
	background-image: -moz-linear-gradient(right, #F5F5F5, #282828);
	background-image: -o-linear-gradient(right, #F5F5F5, #282828);
	background-image: -ms-linear-gradient(right, #F5F5F5,#282828);
	background-image: linear-gradient(to left, #F5F5F5, #282828);}
.bg_main_changeDeepen_left{background-color:#282828;
    background-image: -webkit-linear-gradient(right, #282828, #F5F5F5);
	background-image: -moz-linear-gradient(right, #282828, #F5F5F5);
	background-image: -o-linear-gradient(right, #282828, #F5F5F5);
	background-image: -ms-linear-gradient(right, #282828,#F5F5F5);
	background-image: linear-gradient(to left, #282828, #F5F5F5);}
.w-title34 .tith .line{background:#bbb;}
.w-title17 .title-text-in{ background:#FF4748;}
.w-title17 .w-title-inner{background-image:url("../image/tit17bg_0.png");}
.w-title17 .more:hover{ background-image:url("../image/tit17_morehover_0.png");}
.w-title19 .more .icon_more,.icon_more19bg{ background-image:url("../image/icon_more_0.png");}
@media (min-width:768px){
	.w-com-menu-V > .w-com-menu-in > .ul-parent{ background:#ddd;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent{ border-bottom-color:#eee;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent a,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent a{ color:#000;}
	.w-com-menu-V .ul-submenu li:hover >.div-parent a{background-image:url('../image/menuli_0.png');}
	.w-com-menu-V .ul-submenu li:hover >.div-parent a,.w-com-menu .ul-submenu li:hover >.div-parent .fa{ color:#282828;}
	.w-com-menu-V .menu_simpline_cur{ background:#fff;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{background:#EBEBEB ;}
	.w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ color:#282828; }
}
@media (min-width:961px){
	.w-nav .submenu{ background:#282828; }
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ color:#fff; background:#FF4748;}
	.body-login5 .login-navPc .w-admin-nav .nav_inner > li:hover > a, .body-login5 .login-navPc .w-admin-nav .nav_inner > li:hover > .li-parent-div > a, .body-login5 .login-navPc .w-admin-nav .nav_inner > li.active > a, .body-login5 .login-navPc .w-admin-nav .nav_inner > li.active > .li-parent-div > a{color:#aaa;}
}
@media (max-width:960px){
	.w-header-common .mobile-nav-toggle{ background:#282828; color:#fff;}
	.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{color:#282828;}
	.topLogBox .w-search .search-btn-w{ background-color:#454545;}
}
@media (max-width:767px){
	.w-com-menu{border-bottom:2px solid #282828;}
	.w-com-menu .ul-parent{background-color:#e5e5e5;}
	.w-com-menu .ul-submenu ul{ background-color:#fafafa;}
	.w-com-menu .ul-submenu .ul-submenu ul{ background-color:#fdfdfd;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a{text-align:left;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a,.w-com-menu .fa{color:#666; }
	.w-com-menu li, .w-com-menu .ul-submenu li{border:none; border-bottom:1px solid #fff;}
	.w-com-menu li:last-child{border-bottom:0;}
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:none; }
	.w-com-menu li > .div-parent:hover > a, .w-com-menu li.cur > .div-parent > a, .w-com-menu li > .div-parent:hover > .fa, .w-com-menu li.cur > .div-parent > .fa{color:#282828; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:none;}
	.systitle{background:#282828; color:#fff; text-align:center;}
	/*-----------------------会员中心和购物车--------------------*/
	.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecurtel.png');}
}