/*www.0427qy.com 易优企业网站管理系统*/
@font-face {font-family: "iconfont";
  src: url('https://demoall.kuaituiyun.cn/517/template/pc/skin/font/iconfont.eot?t=1469610162'); /* IE9*/
  src: url('https://demoall.kuaituiyun.cn/517/template/pc/skin/font/iconfont.eot?t=1469610162') format('embedded-opentype'), /* IE6-IE8 */
  url('https://demoall.kuaituiyun.cn/517/template/pc/skin/font/iconfont.woff?t=1469610162') format('woff'), /* chrome, firefox */
  url('https://demoall.kuaituiyun.cn/517/template/pc/skin/font/iconfont.ttf?t=1469610162') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('https://demoall.kuaituiyun.cn/517/template/pc/skin/font/iconfont.svg?t=1469610162') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-beizi:before { content: "\e683"; }
.icon-zanyang:before { content: "\e684"; }
.icon-leidian:before { content: "\e6a8"; }
.icon-news:before { content: "\e6b3"; }
.icon-meishi:before { content: "\e685"; }
.icon-icon8:before { content: "\e6aa"; }
.icon-12leizhenyubanyoubingbao:before { content: "\e6ae"; }
.icon-zaixianwenzhen:before { content: "\e6a2"; }
.icon-lajitong:before { content: "\e652"; }
.icon-fanganxiankuang:before { content: "\e6a9"; }
.icon-feiyong:before { content: "\e6a3"; }
.icon-iconfontnv:before { content: "\e693"; }
.icon-nfmzonghezheng:before { content: "\e69a"; }
.icon-nan:before { content: "\e694"; }
.icon-nv:before { content: "\e695"; }
.icon-huiyuanqia:before { content: "\e69c"; }
.icon-weibiaoti1:before { content: "\e686"; }
.icon-tel24:before { content: "\e689"; }
.icon-qq:before { content: "\e6a4"; }
.icon-tel:before { content: "\e68a"; }
.icon-sanjiao:before { content: "\e6a6"; }
.icon-fuzhi:before { content: "\e600"; }
.icon-edit:before { content: "\e601"; }
.icon-baojifuben:before { content: "\e696"; }
.icon-lajitong1:before { content: "\e653"; }
.icon-aixin:before { content: "\e6a5"; }
.icon-xinlang:before { content: "\e68b"; }
.icon-nan1:before { content: "\e697"; }
.icon-wenda:before { content: "\e6ab"; }
.icon-weixin:before { content: "\e68e"; }
.icon-youhui:before { content: "\e69d"; }
.icon-user1:before { content: "\e602"; }
.icon-qdao:before { content: "\e603"; }
.icon-ljie:before { content: "\e604"; }
.icon-aqszhi:before { content: "\e605"; }
.icon-cgong:before { content: "\e606"; }
.icon-del:before { content: "\e607"; }
.icon-dygli:before { content: "\e608"; }
.icon-home:before { content: "\e609"; }
.icon-jstong:before { content: "\e60a"; }
.icon-jycxun:before { content: "\e60b"; }
.icon-jyi:before { content: "\e60c"; }
.icon-mma:before { content: "\e60d"; }
.icon-next:before { content: "\e60e"; }
.icon-pre:before { content: "\e60f"; }
.icon-qtsfkuan:before { content: "\e610"; }
.icon-set:before { content: "\e611"; }
.icon-spu:before { content: "\e612"; }
.icon-ssuo:before { content: "\e613"; }
.icon-user:before { content: "\e614"; }
.icon-useradd:before { content: "\e615"; }
.icon-wdzai:before { content: "\e616"; }
.icon-worn:before { content: "\e617"; }
.icon-xla:before { content: "\e618"; }
.icon-xxi:before { content: "\e619"; }
.icon-zdgli:before { content: "\e61a"; }
.icon-userqun:before { content: "\e61b"; }
.icon-menu:before { content: "\e61c"; }
.icon-add:before { content: "\e61d"; }
.icon-gongying:before { content: "\e61e"; }
.icon-shangwuquan:before { content: "\e61f"; }
.icon-rongzi:before { content: "\e620"; }
.icon-trophy:before { content: "\e687"; }
.icon-user2:before { content: "\e621"; }
.icon-pwd:before { content: "\e622"; }
.icon-message:before { content: "\e623"; }
.icon-guimianrenzheng:before { content: "\e624"; }
.icon-ziliaoshangchuan:before { content: "\e625"; }
.icon-wangyinrenzheng:before { content: "\e626"; }
.icon-shenfenrenzhengtubiao:before { content: "\e627"; }
.icon-shoujirenzheng:before { content: "\e628"; }
.icon-keshishouyaohuizhen:before { content: "\e69e"; }
.icon-zaixianzixun:before { content: "\e6b0"; }
.icon-gongzuotai:before { content: "\e629"; }
.icon-gengduo:before { content: "\e62a"; }
.icon-shangji:before { content: "\e62b"; }
.icon-shipinrenzheng:before { content: "\e62c"; }
.icon-xietong:before { content: "\e62d"; }
.icon-qiyeyun:before { content: "\e62e"; }
.icon-chanrongxietong:before { content: "\e62f"; }
.icon-yewuchangjing:before { content: "\e630"; }
.icon-xiaoshouqushi:before { content: "\e631"; }
.icon-star:before { content: "\e632"; }
.icon-rili:before { content: "\e633"; }
.icon-base:before { content: "\e634"; }
.icon-detail:before { content: "\e635"; }
.icon-shezhi:before { content: "\e636"; }
.icon-tuichu:before { content: "\e637"; }
.icon-tihuoshenqing:before { content: "\e638"; }
.icon-down:before { content: "\e639"; }
.icon-up:before { content: "\e63a"; }
.icon-fanhuidingbu:before { content: "\e63b"; }
.icon-add1:before { content: "\e63c"; }
.icon-zhuanjiayisheng:before { content: "\e69f"; }
.icon-nryc:before { content: "\e63d"; }
.icon-nrzk:before { content: "\e63e"; }
.icon-nextpage:before { content: "\e63f"; }
.icon-prepage:before { content: "\e640"; }
.icon-2:before { content: "\e68f"; }
.icon-addb:before { content: "\e650"; }
.icon-id:before { content: "\e641"; }
.icon-alertcg:before { content: "\e642"; }
.icon-alerterror:before { content: "\e643"; }
.icon-alertwarn:before { content: "\e644"; }
.icon-close:before { content: "\e645"; }
.icon-fukejibing:before { content: "\e698"; }
.icon-bangzhuzhongxin:before { content: "\e646"; }
.icon-guanyuwomen:before { content: "\e647"; }
.icon-wodezhanghu:before { content: "\e648"; }
.icon-lianxiwomen:before { content: "\e649"; }
.icon-shenfenzhengrenzheng:before { content: "\e64a"; }
.icon-shoujirenzheng1:before { content: "\e64b"; }
.icon-yinxingqiarenzheng:before { content: "\e64c"; }
.icon-rongyubiaozhang:before { content: "\e688"; }
.icon-shangchuanmoban:before { content: "\e699"; }
.icon-qq1:before { content: "\e690"; }
.icon-cgong2:before { content: "\e64d"; }
.icon-qqdenglu:before { content: "\e68c"; }
.icon-zaixiankefu:before { content: "\e6b1"; }
.icon-leizhenyu:before { content: "\e6ad"; }
.icon-jingxuanxiangji:before { content: "\e6a7"; }
.icon-huiyuanfuwu:before { content: "\e654"; }
.icon-pifu:before { content: "\e69b"; }
.icon-chenggong:before { content: "\e64e"; }
.icon-dengdai:before { content: "\e64f"; }
.icon-alarm:before { content: "\e651"; }
.icon-briefcase:before { content: "\e655"; }
.icon-bubble:before { content: "\e656"; }
.icon-bullhorn:before { content: "\e657"; }
.icon-cloudupload:before { content: "\e658"; }
.icon-cart:before { content: "\e659"; }
.icon-cloud:before { content: "\e65a"; }
.icon-cloudcheck:before { content: "\e65b"; }
.icon-clouddownload:before { content: "\e65c"; }
.icon-cloudsync:before { content: "\e65d"; }
.icon-exit:before { content: "\e65e"; }
.icon-code:before { content: "\e65f"; }
.icon-crop:before { content: "\e660"; }
.icon-cross:before { content: "\e661"; }
.icon-database:before { content: "\e662"; }
.icon-download:before { content: "\e663"; }
.icon-enter:before { content: "\e664"; }
.icon-eye:before { content: "\e665"; }
.icon-fileadd:before { content: "\e666"; }
.icon-filmplay:before { content: "\e667"; }
.icon-link:before { content: "\e668"; }
.icon-list:before { content: "\e669"; }
.icon-magicwand:before { content: "\e66a"; }
.icon-mapmarker:before { content: "\e66b"; }
.icon-pointerright:before { content: "\e66c"; }
.icon-mic:before { content: "\e66d"; }
.icon-paperclip:before { content: "\e66e"; }
.icon-phone:before { content: "\e66f"; }
.icon-phonehandset:before { content: "\e670"; }
.icon-pointerdown:before { content: "\e671"; }
.icon-pointerleft:before { content: "\e672"; }
.icon-pointerup:before { content: "\e673"; }
.icon-powerswitch:before { content: "\e674"; }
.icon-rocket:before { content: "\e675"; }
.icon-screen:before { content: "\e676"; }
.icon-select:before { content: "\e677"; }
.icon-sortalphaasc:before { content: "\e678"; }
.icon-unlink:before { content: "\e679"; }
.icon-sun:before { content: "\e67a"; }
.icon-sync:before { content: "\e67b"; }
.icon-tag:before { content: "\e67c"; }
.icon-thumbsdown:before { content: "\e67d"; }
.icon-thumbsup:before { content: "\e67e"; }
.icon-trash:before { content: "\e67f"; }
.icon-volumehigh:before { content: "\e680"; }
.icon-volumelow:before { content: "\e681"; }
.icon-warning:before { content: "\e682"; }
.icon-weixin1:before { content: "\e68d"; }
.icon-guahao:before { content: "\e6a0"; }
.icon-weixin2:before { content: "\e691"; }
.icon-yishengjieshao:before { content: "\e6ac"; }
.icon-fangxinjiaoyi:before { content: "\e692"; }
.icon-gonggao:before { content: "\e6a1"; }
.icon-dianhua-copy:before { content: "\e6b4"; }
.icon-txiangmu:before { content: "\e6af"; }
.icon-shuiguo:before { content: "\e6b2"; }
