/*um-right*/
html.theme-um-right.um body { left: auto; right: 0; }
html.theme-um-right.um.navon body { left: auto; margin-left: auto; right: 100%; margin-right: -70px; }

html.theme-um-right.um.navon .g_header { left: auto; margin-left: 0; right: 100%; margin-right: -70px; }
html.theme-um-right.um .g_header .menu { left: auto; right: 0; }

html.theme-um-right.um .g_header .nav { left: 100%; right: -100%; }
html.theme-um-right.um.navon .g_header .nav { left: 70px; right: 0; box-shadow: -5px 0 10px rgba(0,0,0,0.2); }


/*back-black*/


