@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.woff2') format('woff2'),
       url('../font/iconfont.woff') format('woff'),
       url('../font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shejiao-duihuakuang:before {
  content: "\e624";
}

.icon-xialajiantouxiao:before {
  content: "\e87e";
}

.icon-youxiang:before {
  content: "\e694";
}

.icon-jiantouyou:before {
  content: "\e61f";
}

.icon-jiantouzuo:before {
  content: "\e620";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-biaoqian:before {
  content: "\e6d8";
}

.icon-weibajiantouyou:before {
  content: "\e716";
}

.icon-weibajiantoushang:before {
  content: "\e717";
}

.icon-earth-full:before {
  content: "\e9ee";
}

.icon-dianhuatianchong:before {
  content: "\e678";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-xinwen:before {
  content: "\e67f";
}

.icon-chanpinguanli-239:before {
  content: "\e9be";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

@font-face {font-family: "iconfont";
  src: url('../font/font_2054675_so957cztcc.eot'); /* IE9 */
  src: url('../font/font_2054675_so957cztcc.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/font_2054675_so957cztcc.woff') format('woff'),
  url('../font/font_2054675_so957cztcc.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font/font_2054675_so957cztcc.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-benefits:before {
  content: "\e60d";
}

.icon-minus:before {
  content: "\e67a";
}

.icon-time:before {
  content: "\e67b";
}

.icon-address:before {
  content: "\e6ba";
}

.icon-play:before {
  content: "\e682";
}

.icon-cart:before {
  content: "\e601";
}

.icon-user:before {
  content: "\e771";
}

.icon-celiang:before {
  content: "\e605";
}

.icon-lianxi:before {
  content: "\e628";
}

.icon-wechat:before {
  content: "\e666";
}

.icon-error:before {
  content: "\e698";
}

.icon-down:before {
  content: "\e69b";
}

.icon-info:before {
  content: "\e69e";
}

.icon-close:before {
  content: "\e69f";
}

.icon-success:before {
  content: "\e6a0";
}

.icon-increase:before {
  content: "\e6a1";
}

.icon-warning:before {
  content: "\e6a2";
}

.icon-upward:before {
  content: "\e6a3";
}

.icon-next:before {
  content: "\e6a4";
}

.icon-back:before {
  content: "\e6db";
}

.icon-search:before {
  content: "\e6e1";
}

.icon-kefu:before {
  content: "\e635";
}

.icon-ewm:before {
  content: "\e72d";
}

.icon-weixin:before {
  content: "\e63d";
}

.icon-weibo:before {
  content: "\e613";
}

.icon-qq:before {
  content: "\e896";
}

