body, ul, li, p {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family: "微软雅黑";
}
a {
	text-decoration: none !important;
}
.clear {
	clear: both;
}
/* banner */

.fp-controlArrow {
	display: none;
}
.fp-slidesNav #fp-nav ul li, .fp-slidesNav ul li {
	width: 40px;
	height: 5px;
	margin: 0 10px;
	border: 0;
}
.fp-slidesNav #fp-nav ul li a span, .fp-slidesNav ul li a span {
	width: 40px;
	height: 5px;
	background: #0e1417;
	border-radius: 0;
	border: 0;
}
.fp-slidesNav #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
	background: #106923;
}
.fp-slidesNav .fp-slidesNav.bottom {
	bottom: 50px;
}
@media screen and (max-width:768px) {
.section .fp-slides .slide:nth-child(1) {
	background: url("../image/ban001.jpg") repeat scroll center center / cover !important;
}
.section .fp-slides .slide:nth-child(2) {
	background: url("../image/ban002.jpg") repeat scroll center center / cover !important;
}
.section .fp-slides .slide:nth-child(3) {
	background: url("../image/ban003.jpg") repeat scroll center center / cover !important;
}
}
.right ul li a span {
	width: 10px !important;
	height: 10px !important;
	border-color: #fff !important;
	background: #fff !important;
}
.right ul li a.active span, .right ul li a.active span {
	border-color: #3e6c2b !important;
	background: #3e6c2b !important;
}
/* 左侧导航 */

.side {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	height: 100%;
	overflow: hidden;
	max-width: 257px;
}
.side_bg {
	background: url(../image/navbg.jpg);
	background-size: 200px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 100px;
}
.side_nav li {
	height: 50px;
	overflow: hidden;
	background: url(../image/nlibg.png) no-repeat bottom left;
}
.side_nav a {
	color: #fff;
}
.side_nav p {
	font-size: 16px;
	margin-top: 5px;
}
.side_nav span {
	font-size: 13px;
}
.side_bg p.copy {
	font-size: 12px;
	color: #bfcdbf;
	margin-top: 20px;
	padding: 0 10px;
}
.side_bg p.copy a {
	color: #bfcdbf;
}
.side_ewm {
	margin-top: 30px;
}
 @media screen and (max-width:1440px) {
.side .logo {
	width: 200px;
}
.side_nav p {
	font-size: 14px;
}
.side_nav span {
	font-size: 12px;
}
.side_bg p.copy {
	width: 200px;
}
}
 @media screen and (min-width:1445px) {
.side_nav li {
	height: 55px;
}
}
 @media screen and (max-width:768px) {
.side .logo {
	width: 100px;
}
.side_nav span {
	display: none;
}
.side_nav li {
	height: 35px;
	line-height: 30px;
	background-size: 100px;
}
.side_bg {
	background-size: 150px;
}
.side_ewm {
	width: 80px;
	height:80px;
}
.side_bg p.copy {
	width: 80px;
	display: none;
}
}
.section2 {
	background: url("../image/s2.jpg") no-repeat scroll center center / cover;
	position: relative;
}
.abtext {
	margin-top: 28px;
}
.abtext p {
	color: #50504f;
	line-height: 25px;
}
.abright {
	background: rgba(248,244,234,.6);
	padding: 60px;
}
.abimg {
	padding: 0 50px;
}
.ab_menu {
	padding: 0 50px;
	padding-top: 30px;
}
.ab_menu .col-xs-4 {
	padding: 0 60px;
}
 @media screen and (max-width:1200px) {
.ab_menu .col-xs-4 {
	padding: 40px;
}
}
 @media screen and (max-width:992px) {
.abimg {
	display: none;
}
.abtext p {
	font-size: 12px;
}
.ab_menu {
	padding-top: 10px;
}
}
 @media screen and (max-width:768px) {
.abright {
	padding: 10px;
}
.abtext .p2 {
	display: none;
}
.ab_menu {
	padding: 0 30px;
	padding-top: 10px;
}
.ab_menu .col-xs-4 {
	padding: 20px;
}
}
.section3 {
	background: url("https://demoall.5fa.cn/30847/template/pc/skin/images/s3.jpg") no-repeat scroll center center / cover;
}
.product {
	text-align: center;
	padding: 0 50px;
	padding-top: 80px;
}
.product img {
	display: inline-block;
	padding: 0 80px;
}
.product .probg {
	background: rgba(244,244,244,.95);
	border-radius: 10px;
	padding: 40px;
	padding-top: 50px;
	margin-top: -60px;
}
.probg h2 {
	color: #302e2f;
	margin-bottom: 20px;
}
.probg span {
	color: #adadad;
	display: block;
}
.probg i {
	height: 2px;
	display: block;
	width: 90px;
	background: #949494;
	margin: 0 auto;
	margin-top: 3px;
}
.probg p {
	font-size: 14px;
	line-height: 25px;
	margin-top: 5px;
}
.probg a.more {
	display: inline-block;
	background: #cac9c7;
	color: #333;
	width: 100%;
	height: 45px;
	line-height: 45px;
	border-radius: 10px;
	font-size: 16px;
	margin-top: 10px;
}
.probg a.more:hover {
	background: #51911b;
	color: #fff;
}
.product .col-xs-4 {
	padding: 0 30px;
}
 @media screen and (max-width:1200px) {
.product img {
	padding: 0 60px;
}
.product {
	padding-top: 50px;
}
}
 @media screen and (max-width:992px) {
.product img {
	padding: 0 40px;
}
.product {
	padding-left: 10px;
	padding-right: 10px;
}
.probg h2 {
	font-size: 20px;
}
.product .col-xs-4 {
	padding: 0 20px;
}
.product .probg {
	padding: 10px;
	padding-top: 50px;
	margin-top: -60px;
	padding-bottom: 20px;
}
.probg p {
	font-size: 12px;
}
.probg a.more {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-radius: 10px;
	font-size: 16px;
	margin-top: 10px;
}
}
 @media screen and (max-width:768px) {
.product img {
	padding: 0 10px;
}
.product .col-xs-4 {
	padding: 0 5px;
}
.probg p {
	display: none;
}
.product .probg {
	padding-top: 30px;
	margin-top: -35px;
}
.probg h2 {
	font-size: 16px;
}
.probg span {
	font-size: 11px;
	height: 40px;
}
.probg a.more {
	height: 35px;
	line-height: 35px;
	font-size: 11px;
	margin-top: 10px;
	background: #51911b;
	color: #fff;
}
.product {
	padding-top: 30px;
}
}
.section4 {
	position: relative;
	background: url("../image/s4.jpg") no-repeat scroll center center / cover;
}
 @media screen and (min-width:1200px) {
.casetit img {
	padding: 0 80px;
}
}
.case_p {
	font-size: 16px;
	color: #828081;
	padding-top: 20px;
	text-align: center;
	line-height: 25px;
}
.case_img {
	padding-top: 30px;
}
 @media screen and (max-width:768px) {
.case_p {
	font-size: 12px;
	line-height: 22px;
}
}
.section5 {
	position: relative;
	background: url("../image/s2.jpg") no-repeat scroll center center / cover;
}
.section5 .media-left {
	padding-right: 0;
}
.section5 .media-left a {
	color: #fff;
	font-size: 32px;
	background: #3e6c2b;
	width: 90px;
	height: 90px;
	line-height: 90px;
	display: block;
	text-align: center;
}
.media-body {
	background: #e8e6e2;
	height: 60px;
	padding: 15px;
}
.media-body a {
	color: #515151;
	font-size: 16px;
	font-weight: bold;
}
.media-body a:hover {
	color: #3e6c2b;
}
.media-body p {
	font-size: 12px;
	color: #515151;
	line-height: 18px;
	margin-top: 5px;
}
.newtit {
	padding-right: 30px;
}
.newimg {
	padding-top: 20px;
}
.news {
	padding-left: 50px;
	padding-top: 50px;
}
 @media screen and (max-width:1200px) {
.news {
	padding-top: 20px;
}
}
 @media screen and (max-width:992px) {
.newimg {
	display: none;
}
.media-left {
	display: none;
}
.news {
	padding: 0;
}
.media-body p {
	display: none;
}
.media-body a {
	font-size: 14px;
}
}
.section6 {
	position: relative;
	background: url("https://demoall.5fa.cn/30847/template/pc/skin/images/s6.jpg") no-repeat scroll center center / cover;
}
.network p {
	color: #fff;
	line-height: 22px;
}
.nettext img {
	padding: 30px 50px;
}
.nettext {
	margin-left: -60px;
}
 @media screen and (max-width:768px) {
.nettext {
	margin: 0;
}
.nettext img {
	padding: 20px 80px;
}
}
.section7 {
	background: url("../image/s7.jpg") no-repeat scroll center center / cover;
	position: relative;
}
.index_cont {
	background: url(../image/hbg.png) no-repeat top;
	background-size: 300px;
	width: 300px;
	margin: 0 auto;
	height: 470px;
	color: #fff;
}
.index_cont span {
	display: block;
	text-align: center;
	padding-top: 40px;
	font-size: 25px;
}
.index_cont p {
	padding-top: 20px;
	padding-left: 30px;
	line-height: 22px;
}
.index_bottom {
	background: #f3f3f1;
	line-height: 22px;
	text-align: center;
	color: #545454;
	position: absolute;
	width: 100%;
	bottom: 0;
	font-size: 12px;
	padding: 8px 10px;
}
.index_bottom a {
	color: #545454;
}
/* CSS3过度及动画 */

.side {
	left: -100%;
	transition: all 1s;
}
.active .side {
	left: 0;
	opacity: 1;
	transition-delay: 0.1s;
}
.ltie10 .side {
	left: 50%;
	opacity: 1;
	transition-delay: 0.7s;
}
.abimg {
	position: relative;
	left: -50%;
	opacity: 0;
	transition: all 1s;
}
.active .abimg {
	opacity: 1;
	left: 0;
	transition-delay: 0.7s;
}
.ltie10 .abimg {
	left: -50%;
	opacity: 1;
	transition-delay: 0.7s;
}
.abright {
	position: relative;
	z-index: 10;
	opacity: 0;
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	transition: all 1s;
}
.active .abright {
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	transition-delay: 0.7s;
}
.ab1 {
	position: relative;
	bottom: -200px;
	opacity: 0;
	transition: all 1s;
}
.active .ab1 {
	bottom: 0;
	opacity: 1;
	transition-delay: 0.7s;
}
.ltie10 .ab1 {
	bottom: 0;
	opacity: 1;
	transition-delay: 0.7s;
}
.ab2 {
	position: relative;
	bottom: -200px;
	opacity: 0;
	transition: all 1s;
}
.active .ab2 {
	bottom: 0;
	opacity: 1;
	transition-delay: 1s;
}
.ltie10 .ab2 {
	bottom: 0;
	opacity: 1;
	transition-delay: 1s;
}
.ab3 {
	position: relative;
	bottom: -200px;
	opacity: 0;
	transition: all 1s;
}
.active .ab3 {
	bottom: 0;
	opacity: 1;
	transition-delay: 1s;
}
.ltie10 .ab3 {
	bottom: 0;
	opacity: 1;
	transition-delay: 1s;
}
.protit {
	position: relative;
	text-indent: -9999px;
	opacity: 0;
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	transition: all 1s;
}
.active .protit {
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	transition-delay: 0.7s;
}
.ltie10 .protit {
	opacity: 1;
	transform: scale(1, 1);
	transition-delay: 0.7s;
}
.product {
	position: relative;
	bottom: -500px;
	transition: all 1s;
}
.active .product {
	bottom: 0;
	transition-delay: 1.1s;
}
.ltie10 .product {
	bottom: 0;
	transition-delay: 1.1s;
}
.casetit {
	position: relative;
	top: -150px;
	transition: all 1s;
	opacity: 0;
}
.active .casetit {
	top: 0;
	opacity: 1;
	transition-delay: 0.7s;
}
.ltie10 .casetit {
	top: 0;
	opacity: 1;
	transition-delay: 0.7s;
}
.case_p {
	position: relative;
	opacity: 0;
	transition: all 1s;
}
.active .case_p {
	opacity: 1;
	transition-delay: 1.2s;
}
.ltie10 .case_p {
	opacity: 1;
	transition-delay: 1.2s;
}
.case_img {
	position: relative;
	bottom: -150px;
	opacity: 0;
	transition: all 1s;
}
.active .case_img {
	bottom: 0;
	opacity: 1;
	transition-delay: 1.5s;
}
.ltie10 .case_img {
	bottom: 0;
	opacity: 1;
	transition-delay: 1.5s;
}
.newtit, .newimg {
	position: relative;
	z-index: 1;
	left: -200px;
	opacity: 0;
	transition: all 1s;
}
.media {
	position: relative;
	z-index: 1;
	opacity: 0;
	transition: all 1s;
	right: -200px;
}
.active .newtit {
	left: 0;
	opacity: 1;
	transition-delay: 0.7s;
}
.active .newimg {
	left: 0;
	opacity: 1;
	transition-delay: 0.5s;
}
.active .media1 {
	right: 0;
	opacity: 1;
	transition-delay: 0.5s;
}
.active .media2 {
	right: 0;
	opacity: 1;
	transition-delay: 0.6s;
}
.active .media3 {
	right: 0;
	opacity: 1;
	transition-delay: 0.7s;
}
.netimg {
	position: relative;
	text-indent: -9999px;
	opacity: 0;
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	transition: all 1s;
}
.active .netimg {
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	transition-delay: 0.7s;
}
.ltie10 .netimg {
	opacity: 1;
	transform: scale(1, 1);
	transition-delay: 0.7s;
}
.nettext img, .nettext p {
	position: relative;
	bottom: -150px;
	opacity: 0;
	transition: all 1s;
}
.active .nettext img {
	bottom: 0;
	opacity: 1;
	transition-delay: 1s;
}
.ltie10 .nettext img {
	bottom: 0;
	opacity: 1;
	transition-delay: 1s;
}
.active .nettext p {
	bottom: 0;
	opacity: 1;
	transition-delay: 1.2s;
}
.ltie10 .nettext p {
	bottom: 0;
	opacity: 1;
	transition-delay: 1.2s;
}
.index_cont {
	position: relative;
	opacity: 0;
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	transition: all 1s;
}
.active .index_cont {
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	transition-delay: 0.7s;
}
.ltie10 .index_cont {
	opacity: 1;
	transform: scale(1, 1);
	transition-delay: 0.7s;
}
/* 内页css */

.n_bottom {
	background: #f3f3f1;
	line-height: 22px;
	text-align: center;
	color: #545454;
	font-size: 12px;
	padding: 8px 10px;
	margin-top: 50px;
}
.n_bottom a {
	color: #545454;
}
/* 内页导航 */

.navbar-default {
	background: 0;
	border: 0;
	height: 100px;
	margin-bottom: 0;
	z-index: 999;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
}
.navbar-nav > li {
	margin: 30px 15px;
}
.navbar-nav > li.hover a, .navbar-nav > li a:hover {
	background: #017828 !important;
	color: #fff !important;
}
 @media screen and (max-width:1200px) {
.navbar-nav > li {
	margin: 30px 10px;
}
}
 @media screen and (max-width:992px) {
.navbar-nav > li {
	margin: 30px 4px;
}
.navbar-nav > li > a {
	padding-left: 5px;
	padding-right: 5px;
}
}
 @media screen and (max-width:768px) {
.navbar-default {
	height: 80px;
}
.navbar-brand img {
	width: 100px;
}
.navbar-toggle {
	margin-top: 22px;
}
.navbar-nav > li {
	margin: 10px 30px;
}
.navbar-header {
	height: 80px;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-nav > li.hover a {
	background: 0;
}
.navbar-collapse {
	background: #3e6c2b;
}
}
.banner {
	height: 370px;
	background: url(../image/banner.jpg) no-repeat /*bottom/cover fixed*/;
	background-size: cover;
}
.banner span {
	display: block;
	font-size: 30px;
	color: #fff;
	margin-top: 100px;
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	border-radius: 50%;
}
 @media screen and (max-width:768px) {
.banner {
	height: auto;
}
.banner span {
	font-size: 20px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin-top: 60px;
}
}
.submenu {
	text-align: center;
	margin-top: 50px;
}
.submenu ul {
	display: inline-block;
}
.submenu li {
	float: left;
	margin: 0 20px;
	margin-bottom: 10px;
}
.submenu li a {
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
	border: 1px solid #ccc;
	color: #333;
}
.submenu li a:hover, .submenu li a.hover {
	background: #3e6c2b;
	border-color: #3e6c2b;
	color: #fff;
}
.content {
	margin-top: 30px;
	line-height: 30px;
}
 @media screen and (max-width:768px) {
.submenu {
	margin-top: 20px;
}
.submenu li {
	margin: 8px;
}
.content {
	margin-top: 10px;
	line-height: 30px;
}
}
/* list */

.list .row {
	margin: 40px 0;
}
.list .row img {
	padding: 0 15px;
}
.list-right a {
	color: #1e1e1e;
	font-size: 16px;
	font-size: 18px;
}
.list-right span {
	color: #ababab;
	display: block;
	font-size: 12px;
	margin: 8px 0;
}
.list-right p {
	font-size: 12px;
	line-height: 1.8;
	margin: 0;
}
/* page */

.pages {
	margin: 20px auto 20px auto;
	font-size: 14px;
	text-align: center;
}
.pages a, .pages strong {
	display: inline-block;
	line-height: 28px;
	padding: 0 10px;
	border: 1px solid #d9d9d9;
	background-color: #ffffff;
	text-decoration: none;
	color: #666;
	font-family: Simsun;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	margin-right: 3px;
}
.pages .current {
	display: inline-block;
	line-height: 28px;
	padding: 0 10px;
	border: 1px solid #d9d9d9;
	background-color: #ffffff;
	text-decoration: none;
	font-family: Simsun;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	margin-right: 3px;
	color: #fff;
	background-color: #3e6c2b;
	border-color: #fff;
}
.pages a:hover {
	color: #fff !important;
	background-color: #3e6c2b;
	border-color: #fff;
	text-decoration: none;
}
.pages strong {
	color: #fff;
	background-color: #24557d;
	border-color: #fff;
}
.pages span {
	padding: 0 10px;
	line-height: 23px;
}
.case-list {
	margin-top: 20px;
}
.case-list img {
	margin-top: 5px;
	max-height: 160px;
	max-width: 334px;
	width: 100%;
}
.case-list img:hover {
	filter: grayscale(100%);
}
.case-list span {
	display: block;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	text-align: center;
}
.case-list a {
	color: #1e1e1e;
}
.case-list a:hover {
	color: #3e6c2b;
}
.position {
	font-size: 14px;
	margin-top: 20px;
}
.position a {
	color: #3e6c2b;
}
.show {
	margin-top: 50px;
}
.show_top {
	text-align: center;
}
.show_top h1 {
	font-size: 30px;
	margin-top: 30px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ddd;
}
.show_top p {
	color: #999;
	font-size: 12px;
	margin-bottom: 10px;
}
.show_top p span {
	margin-right: 20px;
}
.prepage {
	margin: 50px 0 30px 0;
}
.prepage p {
	line-height: 30px;
	font-size: 13px;
}
.prepage a {
	color: #3e6c2b;
}
 @media screen and (max-width:768px) {
.show_top h1 {
	font-size: 22px;
}
.prepage {
	margin: 30px 0 20px 0;
}
.prepage p {
	line-height: 25px;
}
.show {
	margin-top: 30px;
}
}
.pnei {
	background: url(../image/pnei.jpg) no-repeat top center;
	padding-top: 80px;
}
.photoshow {
	margin-top: 20px;
}
.photo_show_top {
	text-align: left;
}
.photo_show_top h1 {
	color: #4b8435;
}
.content img {
	width: 100%;
}
