@font-face {
	font-family: "iconfont";
	src: url('../font/font_781620_rqi9278994e.eot'); /* IE9*/
	src: url('../font/font_781620_rqi9278994e.eot') format('embedded-opentype'), /* IE6-IE8 */  url('https://demoall.5fa.cn/29084/template/pc/skin/fonts/0f03e10ed73f4b37bc97d34fb9fc5566.woff') format('woff'),  url('../font/font_781620_rqi9278994e.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/  url('../font/font_781620_rqi9278994e.svg') format('svg'); /* iOS 4.1- */
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-fprotocol:before {
	content: "\e768";
}
.icon-dengpao:before {
	content: "\e628";
}
.icon-hetong:before {
	content: "\e61d";
}
.icon-yusuankongzhi:before {
	content: "\e62a";
}
.icon-xueshengkanshu:before {
	content: "\e67d";
}
.icon-sheji:before {
	content: "\e62e";
}
.icon-dianhua:before {
	content: "\e8c3";
}
.icon-ruanzhuang:before {
	content: "\e618";
}
.icon-hetong1:before {
	content: "\e63a";
}
.icon-baike:before {
	content: "\e70c";
}
.icon-jishuhezuoqiatanhezuohuitan:before {
	content: "\e60d";
}
.icon-done:before {
	content: "\e70f";
}
