/* eyoucms.com 易优CMS -- 好用,免费,安全 */
@import url("base.css");
#wp{width:100%;max-width:1200px;margin:0 auto;}
.banner{width:100%;overflow:hidden;}
.fader {
    position: relative;
    font-family: "futura", arial;
    overflow: hidden;
    padding-top:36%;
}
.fader .slide {
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    top:0;
    z-index: 1;
    opacity: 0;
}
.fader img.slide {}
.fader .prev,.fader .next {
    position: absolute;
    height: 80px;
    line-height: 55px;
    width: 55px;
    font-size: 90px;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 0;
    z-index: 4;
    margin-top: -25px;
    cursor: pointer;
    opacity: .6;
    transition: all 150ms;
}
.fader .prev:hover,.fader .next:hover {   opacity: 1;}
.fader .next {left: auto;right: 0;}
.fader .pager_list {
    position: absolute;
    width: 100%;
    height: 40px;
    padding: 0;
    line-height: 40px;
    bottom: 0;
    text-align: center;
    z-index: 4;
}
.fader .pager_list li {display: inline-block; width: 40px;height:5px;margin: 0 7px;background: #fff;/*  opacity: .3;*/text-indent: -9999px;border-radius: 999px;cursor: pointer;transition: all 150ms;}
.fader .pager_list li:hover,.fader .pager_list li.active {opacity: 1; background: #383634;}
/*banner end*/
nav{width:100%;background:#000;}
.hd{width:100%;max-width:1200px;margin:0 auto;padding:20px 0;}
.hd .logo{}
.hd .logo img{display:block;}
.hd ul{width:73%;padding-top:30px;}
.hd ul li{width:14%;float:left;text-align:center;font-size:16px;position:relative;}
.hd ul li a{display:block;line-height:52px;color:#ddd;}
.hd ul li a.cur{background:#c30d23;}
.hd ul li a:hover{background:#c30d23;}
.hd ul li ol{width:100%;z-index:99999;position:absolute;top:51px;background:url(../image/jths.png) no-repeat center 40px;left:50%;margin-left:-50%;padding-top:50px;z-index:99999;visibility: hidden;}
.hd ul ol li{width:100%;line-height:50px;padding:0;float:none;background:rgba(5,5,5,0.8);font-size:0.875rem;}
.hd ul ol li a{display:block;text-align:center;}
.hd ul ol li:hover{background:#c30d23;}
.hd ul li:hover ol{visibility: visible;}

/*手机头部*/
#m-hd {display: none;}
#m-hd {
	height: 60px;
	line-height: 60px;
	background: #000;
	padding:10px 2%;
	position: relative;
	width:96%;
	z-index: 999999;
}
#m-hd .m-logo{width:100%;height: 60px;line-height: 60px;display:block;}
#m-hd  .m-logo img{height:100%;margin-left:10px;}
.m-trigger {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	color: #fff;
	text-align: center;
	font-size: 30px;
	line-height: 50px;
	cursor: pointer;
	background:url(../image/menu_add.png) no-repeat center;
	-webkit-background-size: 50px;
	background-size: 25px;
	height: 60px;
}
.m-nav {
	z-index: 60;
	position: absolute;
	top: 80px;
	width: 100%;
	left: 0;
	background:rgba(25,25,25,0.8);  
	text-align: center;
	display: none;
}
.m-nav li{position: relative;width:100%;
	border-bottom: 1px solid #999;
}
.m-nav a {
	display: block;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color: #fff;
	font-size: 14px;
}
.m-nav a:hover,.m-nav a:active{
	background:#c30d23;
}
.m-nav li ol{position:relative;top:0;left:0;z-index:99999;display:none;width:100%;}
.m-nav li ol li{width:100%;height: 40px;line-height:40px;padding:0;margin:0;background:rgba(153,153,153,0.5);float:none;}
.m-nav li ol li a{
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color:#eee;
	height:40px;
	line-height:40px;
	
}

/*index proshow start*/
.proshow{}
.bt{font-size:1.875rem;text-align:center;padding:2.25rem 0 1.1rem;color:#1b1b1b;background:url(../image/hx.jpg) no-repeat center bottom;}
.fbt{font-size:1.125rem;text-align:center;color:#fafafa;padding:1.1rem 0 2.5rem;}
.proshow ul{width:100%;padding-top:5px;}
.proshow ul li{width:48%;float:left;padding:1%;}
.proshow ul li a{
	display: block;overflow:hidden;}
.imgbox{width:100%;padding-top:66%;position:relative;overflow:hidden;}
.imgbox img{width:100%;height:100%;position:absolute;top:0 ;left:0;
			-o-transition:.3s;
			-ms-transition:.3s;
			-moz-transition:.3s;
			-webkit-transition:.3s;
			transition:.3s;}
.imgbox p{width:100%;text-align:center;color:#fefdfd;font-size:1.25rem;line-height:3.125rem;background:rgba(5,5,5,0.5);position:absolute;bottom:0 ;left:0;
			overflow: hidden;word-break:break-all; white-space:nowrap; text-overflow:ellipsis;
			-o-transition:.3s;
			-ms-transition:.3s;
			-moz-transition:.3s;
			-webkit-transition:.3s;
			transition:.3s;}
.proshow ul li a:hover img{transform: scale(1.2);}
.proshow ul li a:hover p{background:rgba(195,13,15,0.8);}
.more{width:100%;text-align:center;padding:2% 0 6%}
.more a{display:inline-block;padding:2% 5%;color:#fcfbfb;font-size:1.5rem;background:#b9b9b9;}
/*index proshow end*/
/*index about start*/
#index_about {background: url(https://demoall.kuaituiyun.cn/1266/template/pc/skin/img/indexabout.jpg) no-repeat center;background-size:cover;}
.index_about{width:100%;background:rgba(5,5,5,0.8)}
.bt1{color:#ffffff;background:none;padding:4.3rem 0 1rem;}
.fbt1{color:#fafafa;padding:0 0 2.6rem;background:url(../image/hx.jpg) no-repeat center bottom;}
.index_about p{width:96%;font-size:1rem;text-align:center;line-height:2.25rem;color:#fffefe;padding:2.6rem 2% 2rem;}
.more1{width:100%;text-align:center;padding:2% 0 7.5%}
.more1 a{display:inline-block;padding:2% 5%;color:#fcfbfb;font-size:1.5rem;background:rgba(255,255,255,0.2);border:#b5b2af solid 1px;}
/*index about end*/
/*index news start*/
.newscenter{width:100%;padding:1.8% 0 5.5%;}
.newscenter ul{width:100%;}
.newscenter ul li{width:23%;padding:0 1%;float:left;margin-top:5px;}
.newsbox{width:100%;padding-top:66%;position:relative;overflow:hidden;}
.newsbox img{display:block;width:100%;height:100%;position:absolute;top:0;left:0;}
.newscenter ul li a{display:block;background:#333333;padding-bottom:15%;}
.newscenter ul li a h3{width:90%;padding:0.6rem 5% 0;color:#fff;font-size:1.125rem;line-height:1.875rem;text-align:center;/*display: -webkit-box;*/-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.newscenter ul li a h4{width:90%;margin:0 5% 0.55rem;line-height:1.6rem;padding-bottom:0.5rem;color:#c0c0c0;
font-size:1rem;text-align:center;border-bottom: #838282 solid 2px;}
.newscenter ul li a p{width:90%;padding:0 5%;color:#a7a7a7;font-size:0.875rem;line-height:1.5rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 7;overflow:hidden;}
.newscenter ul li a:hover{background:#fff;}
.newscenter ul li a:hover h3,.newscenter ul li a:hover h4,.newscenter ul li a:hover p{color:#333;}
/*index news end*/
/*index footer start*/
footer{width:100%;background:url(../image/ftbj.jpg) repeat center;padding-bottom:3.8%;}
.link{width:100%;color:#c7c7c7;font-size:1rem;line-height:2rem;padding:1.2rem 0;border-bottom:#c7c7c7 solid 1px;}
.link a{color:#c7c7c7;display:inline-block;margin-left:2%;}
.link a:hover{color:#c30d23;}
.ft-nav{width:100%;padding:2.5rem 0 0;}
.ft-nav s{color:#c7c7c7;font-style:normal;text-decoration:none;}
.ft-nav a{color:#c7c7c7;display:inline-block;padding:0.5rem 1rem ;}
.ft-nav a:hover{background:#c30d23;}
.ftlx{color:#c7c7c7;font-size:1rem;padding-top:2%;}
.ftlx a{color:#c7c7c7;}
.ewm{position:absolute;bottom:-20%;right:2%;}
.ewm img{140px;height:140px;}
.ewm p{color:#c7c7c7;text-align:center;line-height:3rem;}
.ft_b{background:#a2a2a2;padding:1rem 0;}
.ft_b p{width:96;padding: 0 2%;color:#575656;font-size:0.875rem;line-height:1.875rem;text-align:center;}
/*index footer end*/
/*zy_banner&button start*/
#banner1{width:100%;padding-top:20%;position:relative;}
.banner1{width:100%;height:100%;text-align:center;	background:rgba(5,5,5,0.5); position:absolute;left:0;top:0;}
.banner1 .txt{}
.banner1 b,.banner1 .txt{display:inline-block;vertical-align: middle;text-align:center;}
.banner1 b{width: 0;height:100%;}
.banner1 h3{color:#ddd;font-size:2.375rem;text-transform: uppercase;}
.banner1 h4{color:#ddd;font-size:1.875rem;padding:0.3rem 0 1rem;background:url(../image/bx.jpg) no-repeat center bottom;}
.buttonh{padding-bottom:3.3%;}
.buttonh li{width:18%;float:left;margin:3.3% 1% 0;}
.buttonh li a{display:block;color:#5e5e5e;font-size:1rem;line-height:3.125rem;background:#fff;text-align:center;/*padding:0 6%;*/
border:#b5b5b5 solid 1px;border-radius:5px;box-shadow: 0 0 0 2px #ccc inset;}
.abtn li{width:23%;}
.buttonh li a.on{background:#5e5e5e;color:#fff;box-shadow: none;}
.buttonh li a:hover,.buttonh li a:active{background:#dddddd;color:#333;box-shadow: none;}
/*zy_banner&button end*/
/*about start*/
.zynr{width:92.4%;padding:0 3.8% 3.8%;margin-bottom:10%;background:#fff;}
.zybt{text-align:center;color:#444;font-size:1.875rem;background:url(../image/zydx.jpg) no-repeat center bottom;padding:5% 0 1.5%;}
.about img{max-width: 100%; margin:2% 0;}
.about p{color:#444;font-size:0.94rem;line-height:1.625rem;}
/*about end*/
/*product start*/
.pro{}
ul.cplist{width:100%;padding-top:2%;clear:both;}
ul.cplist li{width:30.533%;padding:1.4%;float:left;}
ul.cplist li a{
	display: block;overflow:hidden;
	position: relative;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;}
ul.cplist li a .imgk{width:100%;padding-bottom:75%;position: relative;}
ul.cplist li a .imgk img{width:100%;height:100%;display:block;position:absolute;top:0;left:0;
-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;}
ul.cplist li a .hover{width:100%;height:100%;text-align:center;position:absolute;top:-100%;left:0;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	background:rgba(5,5,5,0.5);
	}
ul.cplist li a .hover b{width: 0;height: 100%;}
ul.cplist li a .hover .txt h3{color:#fff;font-size:1.125rem;padding-bottom:26px;}
ul.cplist li a .hover .txt span{color:#fff;font-size:0.875rem;border-radius:5px;padding:10px 30px;background:#d80f28;}

ul.cplist li a .hover b,.hover .txt{display: inline-block;vertical-align: middle;}
 ul.cplist li  a:hover .hover{top: 0;}
 ul.cplist li a:hover img{transform: scale(1.2);}
 p.page{width:100%;text-align:center;font-size:1.2rem;padding:4.2% 0;}
 p.page a.disabled{display: inline-block;background:#edecec;width:auto;line-height:2.5rem;margin:5px;}
 p.page a{display: inline-block;background:#edecec;width:40px;line-height:2.5rem;margin:5px;}
 p.page span{display: inline-block;background:#d80f28;color:#fff;width:40px;line-height:2.5rem;margin:5px;}
 p.page a:hover{background:#d80f28;color:#fff;}
/*product end*/
/*news start*/
.newsbun{max-width:580px;margin:1.3% auto 0;}
.newsbun li{width:48%;}
.news{}
.newslist{width:100%;}
.newslist li{width:100%;clear:right;padding:2.875rem 0;border-bottom:#e8e8e8 solid 1px;}

.newslist li .imgwk{margin-right:2.5rem;float:left;}
.newslist li .imgwk a{display:block;}
.newslist li img{width:17.5rem;height:11.625rem;display:block;}
.newslist li h3{font-size:1.25rem;padding-top:0.5rem;overflow:hidden; word-break:break-all; white-space:nowrap; text-overflow:ellipsis;}
.newslist li h4{font-size:0.875rem;color:#767676;height:3.75rem;line-height:1.875rem;margin:1.2rem 0 1.95rem;display: -webkit-box; 
-webkit-box-orient: vertical; 
-webkit-line-clamp: 2;
overflow: hidden;}
.newslist li a.ckxq{display:inline-block;line-height:2.625rem;padding:0 2.5rem;color:#fff;background:#d80f28;border-radius:5px;}
/*news end*/
.proxqnr{width:92.4%;padding:0 3.8% 3.8%;margin-bottom:10%;background:#fff;}
.proxqnr h3{text-align:center;color:#515151;font-size:1.75rem;padding:5% 0 2%;}
.proxqnr h3.xwbt{padding:5% 0 0.5%;}
.proxqnr h5.time{text-align:center;color:#666666;font-size:0.875rem;padding:0 0 2%;}
.proxqnr hr{width:100%;height:1px;background:#9f9f9f;box-shadow: none;border:none;margin-bottom:2%;}



@media screen and (max-width:1200px){
	         #wp{width:96%;padding:0 2%;}
			.hd .logo{padding-left:20px;}
			}
@media screen and (max-width: 1024px){
	.ewm{position:relative;width:100%;text-align:center;bottom:0;padding-top:1rem;}
	}
@media screen and (max-width: 768px){
			html{font-size:85%;}
			.hd{display: none;}
			#m-hd{display:block;}
			.fader .pager_list {height:20px;line-height:20px;}
			}
@media screen and (max-width: 767px){
				.ft-nav s{display: none;}
				
				.buttonh li{width:48%;}
				/*product start*/
				ul.cplist li{width:48%;padding:1%;}
				ul.cplist li a .hover .txt h3{padding-bottom:16px;}
				ul.cplist li a .hover .txt span{padding:5px 15px;}
				/*product end*/
}
@media screen and (max-width:480px){
			html{font-size:80%;}
			/*body{font-family:"宋体",arial;}*/
			/*.fader_controls{display:none;}*/
			.bt{padding:1.75rem 0 0.8rem;}
			.fbt{padding:0.75rem 0 2rem;}
			.bt1{padding:2.3rem 0 0.7rem;}
			.fbt1{padding:0 0 2rem;}
			.proshow ul li{width:96%;float:left;padding:2%;}
			.index_about p{font-size:1.1rem;}
			.newscenter ul li{width:46%;padding:0 2% 2%;}
			/*zy_banner&button start*/
			#banner1{padding-top:34%;}
			p.topan a{width:47%;padding:0;margin:3.3% 1.1% 0;float:left;}
			p.topan a:last-child{display:inline-block;}
			/*zy_banner&button end*/
			/*news start*/
			.newslist li .imgwk{margin-right:2rem;}
			.newslist li img{width:17rem;height:11.625rem;}
			/*news end*/
	}
			
	@media screen and (max-width:479px){
		/*news start*/
		.newslist li{width:100%;clear:right;padding:2rem 0;}
			.newslist li .imgwk{margin:0 0 0.5rem;width:100%;float:none;}
			.newslist li img{width:100%;}
			/*news end*/
		}
		
	@media screen and (max-width:320px){
		/*zy_banner&button start*/
		       #banner1{padding-top:44%;}
		       /*zy_banner&button end*/
		}

.side2{
	position: fixed;
	width: 40px;
	right: 10px;
	z-index: 100;
	bottom: 10%;
	height: 80px;
}
.side2 ul li{
	width: 40px;
	height: 40px;
}
.side2 ul li a{
	display: block;
	background-color: #c30d23;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
}
.side2 ul li a img{
	vertical-align: middle;
	display: inline-block;
}
.side2 ul li a:hover{
	background-color: #000022;
}