/* eyoucms.com 易优CMS -- 好用,免费,安全 */
.inquiry {
	padding-top: 85px;
	padding-bottom: 118px;
}
.inquiry-in {
	margin: 0 auto;
	width: 1000px;
	padding-top: 77px;
	margin-top: 98px;
	border-top: 1px solid #e9e9e9;
}

.step {
}
.step-1 {
	margin-bottom: 80px;
}
.step h3 {
    margin-bottom: 28px;
	font-size: 30px;
	/*font-family: xdlgob;*/
	color: #5e5e5e;
}
.step h4 {
	line-height: 16px;
	font-size: 16px;
	color: #999;
}
.step h4.h4-1 {
	margin-bottom: 37px;
}
.checkbox-list {
	font-size: 0;
}
.checkbox-one {
	display: inline-block;
	padding-top: 18px;
	padding-bottom: 18px;
	width: 25%;
	vertical-align: top;
}
.checkbox-one-long {
	margin-top: 40px;
}
.checkbox-one label,
.checkbox-one-long label {
	margin-left: 7px;
	line-height: 16px;
	font-size: 16px;
	color: #666;
}
.checkbox-one input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.checkbox-one-long input[type="text"] {
	float: right;
	position: relative;
    top: -18px;
    padding-left: .8em;
    padding-right: .8em;
	border: 1px solid #d2d2d2;
	width: 90%;
	height: 50px;
	outline: none;
	font-size: 16px;
	font-family: Microsoft YaHei;
	/*font-family: xdlgo;*/
	color: #666;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.textarea {
	clear: both;
}
.textarea label {
	line-height: 16px;
	font-size: 16px;
	color: #666;
}
.textarea {
	font-size: 16px;
}
.textarea textarea {
	display: block;
	border: 1px solid #d2d2d2;
	margin-top: 12px;
	padding: .5em .8em;
	height: 240px;
	width: 100%;
	font-size: 16px;
	/*font-family: xdlgo;*/
	font-family: Microsoft YaHei;
	color: #666;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
	outline: none;
}

.text-one {
	display: inline-block;
	position: relative;
	margin-bottom: 18px;
	vertical-align: top;
}
.text-one:nth-child(even) {
	float: right;
}
.text-one input[type="text"],
.text-one select {
	padding-left: 48px;
	border: 1px solid #d2d2d2;
	width: 492px;
	height: 47px;
	font-size: 16px;
	font-family: Microsoft YaHei;
	color: #666;
	-webkit-box-sizing: ;border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
.text-one select {
	padding-left: 0;
	text-indent: 44px;
	cursor: pointer;
}
.text-one label {
	position: absolute;
	left: 19px;
	top: 42%;
	-webkit-transform: translateY(-42%);
	   -moz-transform: translateY(-42%);
	     -o-transform: translateY(-42%);
	        transform: translateY(-42%);
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #666;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #666;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #666;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #666;
}

.btns {
	margin-top: 34px;
	margin-bottom: 50px;
	font-size: 0;
}
.btns a {
	display: inline-block;
	border: 3px solid #5e5e5e;
	width: 180px;
	height: 55px;
	line-height: 51px;
	font-size: 18px;
	color: #5e5e5e;
	text-align: center;
	vertical-align: top;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 50px;
	     border-radius: 50px;
	-o-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}
.btns a:active {
	-webkit-transform: translateY(1px);
	   -moz-transform: translateY(1px);
	     -o-transform: translateY(1px);
	        transform: translateY(1px);
}
.btns a.btn-1 {
	margin-right: 29px;
    color: #5e5e5e;
    background: #ffffff;
}
.btns a.btn-1:hover {
	color: #fff;
	background: #5e5e5e;
}
.btns a.btn-1 input {
	display: block;
	border: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	font-size: 18px;
	font-family: Microsoft YaHei;
	color: #5e5e5e;
	-o-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	cursor: pointer;
	outline: none;
}
.btns a.btn-1:hover input {
	color: #fff;
}
.btns a.btn-2:hover {
	color: #fff;
	background: #5e5e5e;
}
.btns a.btn-2  {
	overflow: hidden;
}
.btns a.btn-2 input {
	display: block;
	border: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	font-size: 18px;
	font-family: Microsoft YaHei;
	color: #5e5e5e;
	-o-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	cursor: pointer;
	outline: none;
}
.btns a.btn-2:hover input {
	color: #fff;
}

.tips {
	font-size: 14px;
	color: #666;
}

.email {
	position: relative;
	width: 100%;
	/*height: 269px;*/
	height: 191px;
	background-image: url(https://demoall.kuaituiyun.cn/1266/template/pc/skin/img/email-bg.jpg);
	background-repeat: no-repeat;
	-moz-background-size: 100% 289px;
	  -o-background-size: 100% 289px;
	     background-size: 100% 289px;
	background-position: center;
}

.email-form {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 1000px;
}
.email-form h3 {
	margin-bottom: 17px;
	line-height: 30px;
	font-size: 30px;
	/*font-family: xdlgob;*/
	color: #5e5e5e;
}
.email-form .email-set {
	display: inline-block;
	position: relative;
}
.email-form .email-set input[type="text"] {
	padding-left: 48px;
	padding-right: 70px;
	width: 445px;
	height: 47px;
	font-size: 18px;
	/*font-family: xdlgo;*/
	outline: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.email-form .email-set label {
	position: absolute;
	left: 16px;
	top: 11px;
}
.email-form .email-set button {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	outline: none;
	cursor: pointer;
}

@media (max-width: 1000px) {
	.inquiry {
		padding-right: 15px;
		padding-left: 15px;
	}
	.inquiry-in {
		width: 100%;
	}

	.text-one {
		width: 49%;
	}
	.text-one input[type="text"],
	.text-one select {
	    width: 100%;
	    height: 47px;
	}

	.email-form {
		padding-right: 15px;
		padding-left: 15px;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

@media (max-width: 62em) {
	.inquiry {
	    padding-top: 9%;
	    padding-bottom: 11%;
	}
	.inquiry-in {
	    padding-top: 9%;
	    margin-top: 10%;
	}
}

@media (min-width: 48em) {
	.inside-banner-bg {
	    background-image: url(https://demoall.kuaituiyun.cn/1266/template/pc/skin/img/banner-contact.jpg);
	}
}

@media (max-width: 48em) {
	.inquiry {
	    padding-top: 37px;
	}
	.inquiry-in {
	    padding-top: 25px;
	    margin-top: 67px;
	}
	.step-1 {
	    margin-bottom: 10%;
	}

	.step h3 {
	    margin-bottom: 20px;
	    font-size: 22px;
	}
	.step h4.h4-1 {
	    margin-bottom: 20px;
	}

	.checkbox-one {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    width: 50%;
	}

	.checkbox-one label, .checkbox-one-long label {
	    margin-left: 7px;
	    line-height: 14px;
	    font-size: 14px;
	}
	.checkbox-one-long input[type="text"] {
	    top: -10px;
	    width: calc(100% - 90px);
	    height: 40px;
	    font-size: 14px;
	}
	.checkbox-one-long {
	    margin-top: 26px;
	}

	.textarea {
		font-size: 14px;
	}
	.textarea textarea {
		display: block;
		border: 1px solid #d2d2d2;
		margin-top: 12px;
		height: 150px;
		width: 100%;
		font-size: 14px;
	}

	.text-one {
		width: 100%;
	}
	.text-one:nth-child(even) {
	    float: none;
	}
	.text-one input[type="text"],
	.text-one select {
	    padding-left: 40px;
	    height: 44px;
	    font-size: 14px;
	}
	.text-one select {
	    padding-left: 0;
	    text-indent: 36px;
	}
	.text-one label {
	    left: 13px;
	}

	.btns {
	    margin-top: 15px;
	    margin-bottom: 35px;
	}
	.btns a {
		width: 146px;
		height: 46px;
		line-height: 40px;
	}
	.btns a.btn-1 {
	    margin-right: 25px;
	}

	.email {
	    
	}

	.email-form h3 {
	    margin-bottom: 20px;
	    line-height: 22px;
	    font-size: 22px;
	}

}

@media (max-width: 34em) {
	.email-form .email-set {
		width: 100%;
	}
	.email-form .email-set input[type="text"] {
		width: 100%;
	}

	.btns a.btn-1 {
	    margin-right: 5px;
	}
	.btns a {
	    width: 140px;
	}
}