/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
	font-family:"Socialico";
	src:url("../font/socialico.eot") format("eot"),
	url("../font/socialico.woff") format("woff"),
	url("../font/socialico.ttf") format("truetype"),
	url("../font/socialico.svg") format("svg");
	font-weight:normal;
	font-style:normal;
}
