/* eyoucms.com 易优CMS -- 好用,免费,安全 */

/*■■■■■■■■　共同设定 ■■■■■■■■*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, tr, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}
ul, ul li, input, dl, dd {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
img, a img {
	border: 0;
	margin: 0;
	padding: 0;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
a {
	text-decoration: none;
	color: #444;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
a:hover {
	text-decoration: none;
}
.clear {
	clear: both;
}
/*■■■■■■■■　基本设定　■■■■■■■■*/
body {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #535353;
	overflow-x: hidden;
backgr/ound:#f5f5f5
}
.theme_color {
	background: #fff;
}
.theme_color1 {
	background: #ee0062;
}
.theme_color2 {
	background: #222;
}
/*----------------- ■ common -------------------*/
.rollover:hover img {
	opacity: .7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: .7;
/zoom: 1;
}
.main {
	width: 1100px;
	margin: 0 auto;
	position: relative;
over/flow:hidden;
	z-index: 999;
}
/*----------------- ■ header -------------------*/
.header {
	width: 100%;
	height: 107px;
}
.logo {
	float: left;
	height: 107px;
	overflow: hidden;
}
.header .tel {
	float: right;
	background: url(../image/tel.png) left 5px no-repeat;
	margin-top: 30px;
	height: 50px;
line-he/ight:92px;
	padding: 0 0 0 70px;
	color: #313131;
	font-size: 24px;
	line-height: 23px;
}
.header .tel span {
	display: block;
	color: #333;
	font-size: 16px;
}
/*------search-------*/
.isearch {
	float: right;
	width: 30px;
	height: 30px;
	margin: 16px 0 0;
	position: relative;
}
.isearch span {
	display: block;
	height: 30px;
	background: url(https://demoall.kuaituiyun.cn/526/template/pc/skin/images/search.png) center top no-repeat;
}
.search01 {
	float: left;
	width: 280px;
	height: 29px;
	border: #777777 solid 1px;
	background: #fff;
	margin: 40px 0 0 50px;
	-moz-border-radius: 14px;
	-ms-border-radius: 14px;
	-o-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
}
.search02 {
	float: left;
}
.search02 input.search03 {
	background: #fff;
	width: 230px;
	font-size: 12px;
	color: #737373 !important;
	font-family: '微软雅黑';
	height: 29px;
	line-height: 29px;
	padding-left: 10px;
	border: none;
	border: 0;
	font-size: 14px;
	-moz-border-radius: 14px 0 0 14px;
	-ms-border-radius: 14px 0 0 14px;
	-o-border-radius: 14px 0 0 14px;
	-webkit-border-radius: 14px 0 0 14px;
	border-radius: 14px 0 0 14px;
}
.search02 input.search04 {
	width: 35px;
	font-size: 14px;
	color: #737373;
	font-family: '微软雅黑';
	height: 29px;
	border: none;
	border: 0;
	background: url(../image/k2.png) no-repeat center center;
	cursor: pointer;
	font-size: 14px;
}
.search05 {
	float: left;
	width: 82px;
}
.jslct {
	color: #737373;
	font-family: "微软雅黑";
	display: inline-block;
*display:inline;
	zoom: 1;
	font-size: 12px;
	position: relative;
	vertical-align: middle;
	cursor: default;
	width: 85px;
	height: 29px;
	line-height: 29px;
	background: url(../image/k1.png) no-repeat 70px center;
	z-index: 0;
}
.jslct_hover {
}
.jslct div.jslct_t {
	position: relative;
	padding-left: 5px;
	z-index: 2;
*display:block!important;
*display:inline;
	zoom: 1;
}
.jslct em {
	font-style: normal;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jslct dl, .jslct dl dd {
	padding: 0;
	margin: 0;
	list-style: none
}
.jslct dl {
	background: #fff;
	position: absolute;
	top: 29px;
	left: 0;
	cursor: default;
	width: 80px;
	padding: 0 0 0;
	overflow: hidden;
	z-index: 1;
	display: none;
	font-size: 14px;
	border: #737373 solid 1px;
}
.jslct_hover dl {
}
.jslct dl dd {
	box-sizing: border-box;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
border-/bottom:#ccc solid 1px;
	white-space: nowrap;
	cursor: pointer;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.jslct dl dd:hover {
	color: #737373;
	background: #e4e4e4;
}
.jslct dl dd.hover {
	color: #737373;
	background: #e4e4e4;
}
.jslct .jslcted {
}
.jslct dl dd.noborder {
}
/*********nav*********/
.g_nav {
	height: 50px;
	background: #333;
	position: relative;
	z-index: 1
}
.g_nav01 {
	width: 1130px;
	margin: 0 auto;
}
.g_nav01 table tr td {
	text-align: center;
	height: 50px;
	line-height: 50px;
	position: relative;
}
.g_nav01 a {
	height: 50px;
	line-height: 50px;
	display: block;
	color: #fff;
	font-size: 14px;
}
.g_nav01 a:hover {
	background: #4d4d4d;
}
.g_nav01 a.cur {
	background: #4d4d4d;
}
.g_nav01 a.g_nav01_on {
	background: #4d4d4d;
}
.g_nav01 table {
}
.g_nav01 table tr td .nav_tan {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	top: 50px;
	background: #333;
	border-top: #333 solid 1px;
}
.g_nav01 table tr td .nav_tan a {
	line-height: 38px;
	height: 38px;
	font-size: 14px;
	color: #fff;
	display: block;
	overflow: hidden;
	border-bottom: #4d4d4d solid 1px;
}
.index_nav {
	display: block;
	width: 150px;
	padding: 10px 0;
	min-height: 378px;
	_height: 378px;
	background: #333;
	position: absolute;
	top: 145px;
	left: 50%;
	margin-left: -550px;
}
.index_nav ul li {
	position: relative;
	line-height: 42px;
	height: 42px;
}
.index_nav ul li a {
	display: block;
	color: #fff;
	font-size: 15px;
	text-align: center;
}
.index_nav a:hover {
	background: #4d4d4d;
}
.index_nav a.cur {
	background: #4d4d4d;
}
.index_nav ul li .nav_tan {
	display: none;
	width: 100%;
	position: absolute;
	left: 150px;
	top: 0;
	background: #333;
	border-top: #333 solid 1px;
}
.index_nav ul li .nav_tan a {
	line-height: 41px;
	height: 41px;
	font-size: 14px;
	color: #fff;
	display: block;
	overflow: hidden;
	border-bottom: #4d4d4d solid 1px;
}
/*********footer*********/
.f_link {
	height: 40px;
	line-height: 40px;
	background: #1c1c1c;
	font-size: 13px;
}
.f_link01 {
	width: 1100px;
	margin: 0 auto;
}
.f_link02 {
	float: left;
	color: #a0a0a0;
}
.f_link02 a {
	color: #a0a0a0;
	margin-right: 32px;
}
.f_link02 a:hover {
	color: #fff;
}
.f_link03 {
	float: right;
	width: 166px;
	color: #989797;
}
.f_link03 a {
	color: #989797;
}
.f_link03 a:hover {
	color: #fff;
}
.totop {
	float: right;
	cursor: pointer;
}
.footer {
ma/rgin:100px 0 0;
	background: #333;
	color: #a0a0a0;
	font-size: 14px;
	padding: 30px 0;
}
.footer a {
	color: #939393;
}
.footer a:hover {
	color: #fff;
}
.footer00 {
	width: 1100px;
	margin: 0 auto;
	position: relative;
}
.footer01 {
	text-align: center;
}
.footer01 span {
	padding: 0 10px;
}
.footer01 a {
	color: #a0a0a0;
}
.footer01 a:hover {
	color: #fff;
}
.footer02 {
	line-height: 24px;
	color: #939393;
	padding-top: 30px;
	text-align: center;
}
