
.nav_simpline_cur{ background:#7E00FF;}
.w-logo h1, .w-logo a{color:#000;}
.topLogBox a:hover,.w-languege a.cur{color:#7E00FF;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#7E00FF !important;}
.w-nav li:hover > a, .w-nav li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a, .w-admin-header .w-nav .nav_inner > li:hover > a, .w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a, .w-admin-header .w-nav .nav_inner > li.active > a, .w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{color:#fff;}
/*--------------------组件-------------------------*/
.w-text a:hover{color:#7E00FF;}
.btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{background-color:#7E00FF; color:#fff;border-color:#7E00FF; }
.icon-social:hover{background-image:url('../image/icon-social-w-0.png');}
.search-defaut-w .search-btn-w{background-color:#7E00FF;}
.search-defaut-w .search-btn-w:hover{background-color:#9A35FF;}
.w-form-submit .w-buttom .btn-default-w{background:#7E00FF; color:#fff;}
.w-form-submit .w-buttom .btn-default-w:hover{background:#5A00B5;color:#fff; border-color:#5A00B5;}
.captionbgFadeOutScale .caption .captionbg,.captionbgFadeInLeft.imgLeftBig .caption .captionbg,.captionbgFadeInRight.imgRightBig .caption .captionbg{background-color:#7E00FF;}
.w-slide-page-num .slide-page a.active{ background-color:#7E00FF;}
.color_s_default{ color:#7E00FF;}
.bg_s_default{ background:#7E00FF;}
.w-service-fixed .color_s_default:hover{color:#6001BE;}
.w-service-fixed .bg_s_default:hover{ background:#6001BE;}
.w-service-fixed .service-popc{background:#6001BE; }
/*-----------------footer-------------------------*/
.w-footer a:hover{color:#7E00FF; text-decoration:none;}
/*--------------------系统------------------------*/
.systitle{background:#6001BE; color:#fff;}
.crumbs a:hover,.w-breadcrumbs a:hover{color:#7E00FF;}
.w-pages a:hover,.w-pages a.cur{border-color:#7601EB; background:#7601EB;}
.w-prd-list-cell .w-prd-infobox h2 a:hover,.w-prd-list-cell .w-prd-infobox .w-prd-more a:hover{color:#7E00FF;text-decoration:none;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background:#7E00FF; border-color:#7E00FF; }
.w-prd-list-cell .w-prd-btns a.btn-buy:hover{ background:#5A00B5; border-color:#5A00B5; }
.w-prd-list-cell .w-prd-btns a.btn-addCart:hover{color:#7E00FF; border-color:#7E00FF;}
.info_tab li.cur_tab a{color:#7E00FF;}
/*-------------新闻--------------------*/
.w-News-list .news-com .news-h .news-kind,.w-adNews a.news-kind,.w-News-list .news-com .news-h a:hover,.w-adNews .news-h a:hover,.w-adNews1 li .news-item .news-com .news-h a:hover{color:#7E00FF;}
.w-News-list5 li .news-item .data-day,.w-adNews1 li .news-item .data-day{ background:#7E00FF;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#222;}
.w-adNews3{background:#7E00FF;}
.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{background-color:#7E00FF;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a,.w-adNews3 .w-adNews-texts li .w-adNews-textH h3{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .w-adNews-textH p,.w-adNews3 .w-adNews-texts li .w-adNews-textH .news-sum{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#fff; color:#fff;opacity:0.9; *filter:alpha(opacity=90); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);}
.w-adNews3 .w-adNews-texts li{border-color:#fff;}
.w-adNews3 .w-adNews-imgs .adNews3prev{background-image:url("../image/adnews3prev_white.png");}
.w-adNews3 .w-adNews-imgs .adNews3next{background-image:url("../image/adnews3next_white.png");}
.w-adNews10 li .news-item .news-com .more a{ background:#7E00FF;}
.w-adNews10 li .news-item .news-com .more a:hover{ background:#6001BE;}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#7E00FF;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../image/progress_complete.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.btn-greenC,.btn-greenA{background-color:#7E00FF;}
.checkbox_tel input[type="checkbox"]:checked + label{background-color:#7E00FF;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#7E00FF;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#E9D0FF;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecur.png');}
/*----------------------标题------------------------*/
.color_main{color:#7E00FF;}
.color_vice{}
.color_h{}
.color_span{}
.colorbg_main{color:#7E00FF;}
.bg_main{background-color:#7E00FF;}
.bg_main_light{background-color:#F8F0FF;}
.bg_simpline{background-color:#7E00FF;}
.border_colorall_main{border-color:#7E00FF;}
.aHoverborder_main:hover{border-color:#7E00FF;}
.border_colorleft_main{border-left-color:#7E00FF;}
.border_colortop_main{border-top-color:#7E00FF;}
.border_colorright_main{border-right-color:#7E00FF;}
.border_colorbottom_main{border-bottom-color:#7E00FF;}
.aHovercolor_main:hover{color:#7E00FF;}
.aHoverbg_main:hover{background-color:#7E00FF;}
.border_colorall_main_deepen{border-color:#6001BE;}
.aHovercolor_deepen:hover{ color:#6001BE;}
.aHoverbg_deepen:hover{ background-color:#6001BE;}
.aHoverborder_deepen:hover{border-color:#6001BE;}
.colorChange{background-color:#7E00FF;
    background-image: -webkit-linear-gradient(bottom, #7E00FF, #6001BE);
	background-image: -moz-linear-gradient(bottom, #7E00FF, #6001BE);
	background-image: -o-linear-gradient(bottom, #7E00FF, #6001BE);
	background-image: -ms-linear-gradient(bottom, #7E00FF,#6001BE);
	background-image: linear-gradient(to top, #7E00FF, #6001BE);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#6001BE, endColorStr=#7E00FF);}
.colorChange_deepen{background-color:#7E00FF;
    background-image: -webkit-linear-gradient(bottom, #6001BE,#7E00FF);
	background-image: -moz-linear-gradient(bottom, #6001BE, #7E00FF);
	background-image: -o-linear-gradient(bottom, #6001BE, #7E00FF);
	background-image: -ms-linear-gradient(bottom, #6001BE, #7E00FF);
	background-image: linear-gradient(to top, #6001BE, #7E00FF);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#7E00FF, endColorStr=#6001BE);}
.bg_main_change{background-color:#7E00FF;
    background-image: -webkit-linear-gradient(bottom, #ffffff, #7E00FF);
	background-image: -moz-linear-gradient(bottom, #ffffff, #7E00FF);
	background-image: -o-linear-gradient(bottom, #ffffff, #7E00FF);
	background-image: -ms-linear-gradient(bottom, #ffffff,#7E00FF);
	background-image: linear-gradient(to top, #ffffff, #7E00FF);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#7E00FF, endColorStr=#ffffff);}
.bg_main_changeDeepen{background-color:#7E00FF;
    background-image: -webkit-linear-gradient(bottom, #7E00FF, #ffffff);
	background-image: -moz-linear-gradient(bottom, #7E00FF, #ffffff);
	background-image: -o-linear-gradient(bottom, #7E00FF, #ffffff);
	background-image: -ms-linear-gradient(bottom, #7E00FF,#ffffff);
	background-image: linear-gradient(to top, #7E00FF, #ffffff);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#7E00FF);}
.bg_main_change_left{background-color:#7E00FF;
    background-image: -webkit-linear-gradient(right, #ffffff, #7E00FF);
	background-image: -moz-linear-gradient(right, #ffffff, #7E00FF);
	background-image: -o-linear-gradient(right, #ffffff, #7E00FF);
	background-image: -ms-linear-gradient(right, #ffffff,#7E00FF);
	background-image: linear-gradient(to left, #ffffff, #7E00FF);}
.bg_main_changeDeepen_left{background-color:#7E00FF;
    background-image: -webkit-linear-gradient(right, #7E00FF, #ffffff);
	background-image: -moz-linear-gradient(right, #7E00FF, #ffffff);
	background-image: -o-linear-gradient(right, #7E00FF, #ffffff);
	background-image: -ms-linear-gradient(right, #7E00FF,#ffffff);
	background-image: linear-gradient(to left, #7E00FF, #ffffff);}
.w-title17 .w-title-inner{background-image:url("../image/tit17bg_0.png");}
.w-title17 .more:hover{ background-image:url("../image/tit17_morehover_0.png");}
.w-title19 .more .icon_more,.icon_more19bg{ background-image:url("../image/icon_more_0.png");}
.w-title30 .tith h2{color:#010101;}
@media (min-width:768px){
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent a,.w-com-menu-V >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{color:#fff; background:#7E01FF; }
	.w-com-menu-V .ul-submenu{background:#8812FE;}
	.w-com-menu-V .ul-submenu .ul-submenu{background:#9D3DFE;}
	.w-com-menu-V .ul-submenu li:hover> .div-parent >a,.w-com-menu-V .ul-submenu li.cur> .div-parent >a{background:#7601EB; color:#fff;}
	.w-com-menu-H .ul-submenu,.w-com-menu-H .ul-submenu .ul-submenu{background:#8812FE;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{color:#fff; background:#7E01FF; color:#fff;}
	.w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ background:#7E01FF; color:#fff;}
}
@media (min-width:961px){
	.w-nav .submenu{background:#7E00FF; }
	.w-nav .submenu li a{color:#fff;}
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ color:#fff; background:#9326FF;}
}
@media (max-width:960px){
	.w-nav{ background:none;}
	.w-nav li:hover > a, .w-nav li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a, .w-admin-header .w-nav .nav_inner > li:hover > a, .w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a, .w-admin-header .w-nav .nav_inner > li.active > a, .w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{color:#7E00FF;}
	.w-header, .w-admin-header, .body-login .w-admin-header{color:#000;}
	.topLogBox a:hover,.w-languege a.cur{color:#7E00FF}
}
@media (max-width:767px){
	.w-com-menu .ul-parent{background-color:#f0f0f0;}
	.w-com-menu .ul-submenu ul{ background-color:#f8f8f8;}
	.w-com-menu .ul-submenu .ul-submenu ul{ background-color:#fdfdfd;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a{text-align:left;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a,.w-com-menu .fa{color:#5a5a5a; }
	.w-com-menu li, .w-com-menu .ul-submenu li{border:none; border-bottom:1px solid #fff;}
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:none; }
	.w-com-menu li > .div-parent:hover > a, .w-com-menu li.cur > .div-parent > a, .w-com-menu li > .div-parent:hover > .fa, .w-com-menu li.cur > .div-parent > .fa{color:#7E00FF; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:none;}
	.systitle{text-align:center; padding:0.3em 1em;}
	/*-----------------------会员中心和购物车--------------------*/
	.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../image/routelinecurtel.png');}
}