
/* 0427qy.com 易优CMS -- 好用,免费,安全 */
/*默认页面主体样式定义*/
body{ color:#4d4d4d; line-height:1.5; }
a{ color:#333;}
.col-logo,.w-main .row,.topLogBox .topLogBox-in,.w-footer-in{ max-width:1200px; margin:0 auto;}
.body{overflow:hidden;font-size:14px;}
.w-system{padding-top:40px;}
/*---------------------header-----------------------*/
.col-logo{min-height: 20px; }
.w-logo{ min-height:45px; min-width:40px; position:relative; z-index:1;float: left;  }
.w-logo h1{ font-size:42px; }
.w-logo h1,.w-logo a{color:#000;}
.w-nav{ text-align:right;}
.w-nav .w-nav-in{max-width:1200px; box-sizing:content-box; margin:0 auto;}
.w-nav .nav_inner{display:block; }
.w-nav .nav_inner > li{ float:none; text-align:center; display:inline-block; *display:inline; *zoom:1;}
.w-nav li a{ text-decoration:none;color:#fff;padding:0 10px;font-size:15px;}
.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{line-height:44px; display:block;color:#292929; position:relative; z-index:2;}
.w-nav .nav_inner > li > .submenu{ top:44px; left:0; }
.w-nav .nav_inner > li:hover > .submenu,.w-nav .submenu li:hover > .submenu{ display:none;}
.w-nav .submenu a{ font-size:13px; text-align:left; }
.topLogBox{ position:absolute; left:0; right:0; top:50%; margin-top:-40px; }
.topLogBox .topLogBox-in{ position:relative;}
.topLogBox .w-loginRegister,.topLogBox .w-languege,.topLogBox .w-search,.topLogBox .w-shopCart{float:right; position:relative; z-index:9; }
.topLogBox,.topLogBox a{ font-size:12px;color:#575757;}
.topLogBox a{ margin:0 2px; text-decoration:none; display:inline-block; *display:inline; *zoom:1; line-height:28px; padding:0 12px; border:1px solid #999;   }
.topLogBox a:hover{color:#000;}
.w-languege{margin-left:4px;}
.w-languege span{display:none;}
.w-shopCart{margin:0 2px;}
.w-shopCart i{ background:url(../image/shopcart.png) no-repeat center #575757; width:18px; height:18px; vertical-align:middle; display:inline-block; *zoom:1; margin-right:2px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.topLogBox .w-search{ position:relative; margin-right:5px;}
.topLogBox .w-search .input-search-w{ background:none; width:0; opacity:0;*filter:alpha(opacity=0); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0); height:30px;*height:28px; line-height:28px;  padding: 0 37px 0 5px; border:1px solid #999;  }
.topLogBox .w-search:hover .input-search-w{width:210px;*width:160px;opacity:1;*filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);  transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s; -o-transition: all 0.5s; }
.topLogBox .w-search .search-btn-w{ position:absolute;width:30px; right:0; top:0; bottom:0;  cursor:pointer; background:url(../image/header_search.png) no-repeat center #575757;}
.topLogBox .w-search .search-btn-w span{ display:none;}
.topLogBox .w-custom{ float:right; margin-top:-30px; padding:15px;}
.nav_right_mask{display:none; position:fixed; left:0; right:0; top:0; bottom:0; z-index:2; background:#000;opacity:0.3; *filter:alpha(opacity=30); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);}
/*-----------------------banner------------------*/
.banner .bx-wrapper .bx-prev{background-image:url("../image/banner_pre.png") !important; left:0 !important; background-position:left center !important;}
.banner .bx-wrapper .bx-next{background-image:url("../image/banner_next.png") !important; right:0 !important; background-position:right center !important;}
.banner .bx-wrapper .bx-pager.bx-default-pager a{  background:#fff !important;opacity:1; *filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#000 !important;}
/*---------------footer------------------*/
.w-footer{ color:#757575; line-height:1.8;background:#F0F0F0; font-size:90%; }
.w-footer a{color:#757575;}
.w-footer .w-text{line-height:1.8;}
.w-footer .icon-social{background-image:url(../image/icon-social-foot-w.png);}
.w-footer .social-item{ background:#fff; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; padding:3px;}
/*----------------------------组件-----------------------*/
.w-text{line-height:1.5;}
.btn-default-w{border:1px solid #DFDFDF; color:#999; padding:13px 20px; min-width:360px; text-align:center; }
.btn-large-w{ font-size:110%;}
.btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{color:#009A7E;text-decoration:none;}
.btn-default-w:hover{background-color:#009A7E; color:#fff;transition: all 0.2s;-moz-transition: all 0.2s; -webkit-transition: all 0.2s;-o-transition: all 0.2s;}
.w-form-filebox .w-form-file-upload .btn-default-w{ min-width:0;}
.w-searchbox{background:#181818; padding:12px 17px;}
.search-defaut-w{max-width:none;}
/*social-content*/
.icon-social{background-image:url('../image/icon-social-w.png');}
.search-defaut-w .input-search-w{border-color:#cbcbcb; line-height:2.5em; height:2.5em;padding-right:55px;}
.search-defaut-w .search-btn-w{ background:url(../image/input-search-1.png) no-repeat center #565656;  width:50px; min-width:50px;}
.search-defaut-w .search-btn-w:hover{ background-color:#000;}
/*title*/
.color_vice_light,.color_vice{ color:#010101;}
.bg3{background-image:url("../image/line.png") ;}
.lineborder{border-color:#D9D9D9;}
.w-title{ margin-top:0;}
.w-title .title-h-in > span{font-family:"微软雅黑",microsoft yahei;}
.w-title16{padding-bottom:6px; background:url(../image/titlebg_16.png) no-repeat center bottom;}
.w-title16 h2{line-height:1.2;}
/*--------------------系统------------------------*/
.systitle{color:#000; font-size:20px; }
.crumbs{ background-image:url(../image/crumbbg.png); background-position:left center; padding:0 10px; color:#666; }
.w-breadcrumbs a{ color:#666;}
.w-pages a{border-color:#999; color:#4d4d4d; }
.w-pages{text-align:center;}
.w-pages a.cur,.w-pages a:hover{background:#000; color:#fff; border:1px solid #000;}
.w-pages a.disabled{color:#999; border-color:#999;}
.w-pages a.disabled:hover{color:#999;background:none;border-color:#999;}
.product-detail-info .product-quantity .stock{padding-top:0;}
.info_tab ul{ padding:0;}
.info_tab_in{border-color:#ebebeb;}
.info_tab li{border:0; background:none; margin-bottom:0;}
.info_tab li a{color:#212121; background:url(../image/tabli.png) no-repeat right center;padding-top:0.5em; padding-bottom:0.5em; display:block;}
.info_tab li:last-child a{ background:none; }
.info_tab li.cur_tab a{color:#8A8A8A;}
/*-----------------------------产品----------------------*/
.w-product .w-prd-list-cell .w-prd-infobox{ padding-left:5px; padding-right:5px;}
.w-prd-list .w-prd-list-cell .w-prd-infobox h2 a{ color:#5a5a5a;}
.w-prd-list-cell .w-prd-price-groups .product-price-prefix{font-weight:normal;}
.w-prd-list-cell .w-prd-price-groups > div{font-size:100%;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background:#628A82; border-color:#628A82; color:#fff;}
.w-prd-list-cell .w-prd-price-groups .w-prd-price-sale .product-price-amount{  color:#000; }
.w-prd-list-cell .w-prd-price-groups .w-prd-price-markit .product-price-amount{color:#000;}
.w-prd-list-cell .w-prd-btns a{ line-height:1.2;}
.w-prd-list-cell .w-prd-sum{line-height:1.2; color:#999;}
.w-prd-list .w-prd-list-cell .w-prd-sum{font-size:95%; color:#999;}
.w-prd-list-cell .w-prd-infobox h2,.w-product .w-prd-infobox h2{margin-bottom:0.2em;}
.product-detail-info .product-grayBox .product-prices{line-height:1.2;}
.evalInfo .btns-commitL a{line-height:1.5;}

/*----------------------------新闻-------------------------*/
.w-News-list1 li,.w-News-list2 li .news-item,.w-News-list3 li,.w-News-list4 li,.w-News-list6 li,.w-News-list7 li,.w-adNews4 li,.w-adNews6 .adNewsTL li,.w-adNews8 li,.w-adNews9 li{ border-color:#e6e6e6; }
.w-News-list .news-com .date{color:#999;}
.w-News-list,.w-News-list a,.w-News-list .news-com .date,.w-News-list .news-com .news-sum{}
.w-News-list2 .news-com .news-sum{line-height:1.5; height:4.5em;}
.newsDetail .newsTitle{color:#000;}
.w-News-list1 .news-com .news-sum{margin-top:0;}
.w-adNews li .date{ color:#999;}
.w-adNews li .news-sum{ color:#666;}
.w-adNews1 li .news-item .news-com .news-h a{ color:#444;}
.w-adNews1 li .news-item .news-com .news-sum{color:#777;}
.w-adNews2 li .news-item{border:0;}
.w-adNews2 li .news-item .news-com{padding:10px 0 15px;}
.w-adNews2 li .news-item .news-com .news-com-top{ margin-bottom:0;}
.w-adNews2 li .news-item .news-com .news-com-top .viewDetail{ display:none;}
.w-adNews2 li .news-item .news-com .news-sum{line-height:1.5; height:4.5em;}
.w-adNews2 li .news-item .news-com .news-h,.w-adNews5 li .news-h,.w-adNews3 .w-adNews-texts li .w-adNews-textH h3,.w-adNews6 .adNewsF .news-h{font-size:110%;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#000;}
.w-adNews4 li{ border-bottom:0;}
.w-adNews7 .adNewsL li{ background:#f0f0f0;}
.w-adNews7 .adNewsL li:hover .news-sum{color:#fff;}
.w-adNews7 .adNewsR .news-com .news-sum{color:#fff;}
.w-adNews8 li .news-together{line-height:1.8;}
.w-adNews8 li .news-h{font-weight:normal; float:none; width:100%;}
.w-adNews8 li .date{float:none; color:#999; width:100%; text-align:left; font-size:95%;}
.w-adNews8 .news-sum{ font-size:95%;}
.w-adNews9 li .date{color:#fff;}
.w-adNews11 li .news-btn{ min-width:0; padding:0.75em 2em;}


/*-----------------------------分页 start--------------------------------*/
.next1{width: 100%;height: auto;overflow: hidden;text-align: center;}
.next1 ul{display: inline-block;}
.next1 ul li{display: inline-block;}
.next1 a{display: inline-block;border: 1px solid #ebebeb;color: #999;width: 30px;height: 30px;line-height: 30px;margin: 0 4px;overflow: hidden;text-decoration:none}
.next1 a.on1,.next1 a:hover{background: #7e00ff;color: #fff;border: 1px solid #7e00ff;}
/*--------------------分页 end----------------------*/

/*-----------------------会员中心和购物车--------------------*/
/*---------------------登录注册--------------------------*/
.body-login{background:#fff;}
.signbox-A .login-h2A,.login-input-A,.register-A a, .password-forget-A a,.login-button-A,.signfoot,.login-checkA span{color:#666;}
input[class*='login-input-A']::-webkit-input-placeholder{ color:#666;}
input[class*='login-input-A']:-moz-placeholder{ color:#666;}
input[class*='login-input-A']::-moz-placeholder{ color:#666;}
input[class*='login-input-A']:-ms-input-placeholder{ color:#666;}
.sign-content-A{ background-image:url("../image/signboxbg.png");}
.login-button-A{background-image:url("../image/signbtnbg.png");}
.login-checkA input.checked[type="checkbox"] + label{background-image:url("../image/login-checked.png");}
.login-input-A,.login-button-A,.login-checkA label{border-color:#999;}
@media (min-width:480px){
	.w-prd-list-cell .w-prd-infobox h2 a{ font-size:15px;}
	
}
@media (min-width:768px){
	/*---------------------------菜单-------------------------*/
	.side_bar{width:175px;}
	.side_left{ margin-left:210px;}
	.w-com-menu-V{ background:#333333;}
	.w-com-menu-V .fa{ font-size:100%; }
	.w-com-menu-V > .w-com-menu-in > .ul-parent{}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent{}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent{background:none;border:0;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent a{font-size:15px; padding:10px; text-align:center;   }
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:last-child > .div-parent a{ border-bottom:0;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent .fa{ line-height:2.2;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent a{color:#dadada;  }
	.w-com-menu-V li a{padding:0 10px; font-size:13px; line-height:1.8;}
	.w-com-menu-V .ul-submenu{ background:none; }
	.w-com-menu-V .ul-submenu li a{color:#fff; padding:5px 15px; text-align:center;}
	.w-com-menu-V .ul-submenu .li-parent .div-parent{border-bottom:0; }
	.w-com-menu-V .ul-submenu .li-parent .div-parent .fa{line-height:2.3; color:#fff;}
	.w-com-menu-V .ul-submenu .ul-submenu{background:none;}
	.w-com-menu-V .ul-submenu .ul-submenu li a{color:#fff;}
	.w-com-menu-H{  text-align:center; } 
    .w-com-menu-H li{margin:0; vertical-align:top;}
    .w-com-menu-H li a{ font-size:15px;text-align:center;}
    .w-com-menu-H >.w-com-menu-in{display:inline-block; *display:inline; *zoom:1; background:#333333; }
	.w-com-menu-H >.w-com-menu-in>.ul-parent> li{  float:left;}
	.w-com-menu-H >.w-com-menu-in>.ul-parent> li >.div-parent{ }
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li >.div-parent a{ line-height:36px;padding:0 15px; display:block; color:#DADADA;  }
    .w-com-menu-H .ul-submenu{ padding:10px 0; top:36px; width:134px; background:#000; text-align:left; }
	.w-com-menu-H .ul-parent > li> .ul-submenu > ul{background:none;}
	.w-com-menu-H .ul-submenu .ul-submenu{ top:0; left:134px; padding-top:0;}
	.w-com-menu-H .ul-submenu li{ float:none;}
    .w-com-menu-H .ul-submenu li .div-parent{}
    .w-com-menu-H .ul-submenu li a{ line-height:1.5; color:#fff; padding:6px 8px; font-size:13px; white-space:normal;}
    .w-com-menu-H .ul-submenu .ul-submenu-up{display:none;}
	
	.order-progress .order-progress-line .order-progress-line-sec .line{width:111px;}
	/*title*/
	.w-title16 h2{font-size:30px; }
	.w-title20 .tith span{ font-size:30px;}
	.w-title30 .tith h2{font-size:30px;}
}
@media (min-width:961px){
	.w-logo h1{ line-height:65px; padding:10px 0;}
	.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{ padding:0 15px; }
	.w-nav .li-parentOne-div .fa{ display:none;}
	.w-nav .submenu{ box-shadow:0 2px 2px rgba(0,0,0,0.2); -moz-box-shadow:0 2px 2px rgba(0,0,0,0.2); -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.2);}
	.w-nav .submenu li{width:171px;}
	.w-nav .submenu li .submenu{left:171px;}
	
	.w-admin-header .w-admin-row{width:100%;}
	.w-admin-header .w-admin-nav{float:none; margin-left:0;box-shadow:0 2px 3px rgba(0,0,0,0.1); -moz-box-shadow:0 2px 3px rgba(0,0,0,0.1); -webkit-box-shadow:0 2px 3px rgba(0,0,0,0.1); }
	.w-admin-header .w-admin-row{position:relative;}
	.w-admin-shopCart{ position:absolute; right:10px; top:0px; margin-right:0; z-index:2;}
	.w-admin-shopCart a{background:#fff; padding:7px 15px;}
	.w-admin-shopCart a span, .w-admin-shopCart a .fa-angle-right{ display:inline-block; *display:inline; *zoom:1;}
	.w-admin-shopCart a .num{left:115px;}
	.w-nav .li-parent-div .fa-plus:before{content: "\f105";}
	.nav_simpline_cur{ display:block;height:100%; width:0; position:absolute; top:0; left:0;  }
	.w-nav .nav_inner > li:hover .nav_simpline_cur,.w-nav .nav_inner > li.active .nav_simpline_cur{ width:100%;transition: all 0.5s;-moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s;}	
	/*---------------------------topLogBox--------------------------*/

}
@media (min-width:1200px){
	.bx-controls-direction{width:1200px; position:absolute; height:1.66rem; top:50%; margin-top:-0.83rem; left:50%; margin-left:-600px;}
	.w-nav .nav_inner > li{ min-width:130px;}
	.w-com-menu-H{ /*width:2000px; margin-left:-450px;*/}
	.w-com-menu-H >.w-com-menu-in>.ul-parent> li{min-width:134px;}
	.w-admin-shopCart{right:50%; margin-right:-590px;}
}
@media (max-width:1200px){
	.col-table{margin:0;}
	.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{ min-width:auto; display:block;}
	.w-com-menu-H{margin-left:0;}
}
@media (min-width:768px) and (max-width:1300px) {
	/*---------------------头部--------------------------------*/
	/*.w-admin-shopCart{ margin-right:10px;}
	.w-admin-shopCart a{padding:7px 5px;}
	.w-admin-shopCart a span,.w-admin-shopCart a .fa-angle-right{display:none;}
	.w-admin-shopCart a .num{left:20px;}*/
}
@media (max-width:960px) {
	html{width:100%; height:100%; overflow-x:hidden;}
	body{ height:100%;min-width:100%;}
	.body{ padding-top:1.56rem;}
	/*--------------------header---------------------*/
	.w-header,.w-admin-header,.body-login .w-admin-header{position:fixed; top:0; left:0; width:100%; padding-top:0; height:1.56rem;  background:#fff; z-index:999; color:#000; box-shadow:0 0 1px rgba(0,0,0,0.1); -moz-box-shadow:0 0 1px rgba(0,0,0,0.1); -webkit-box-shadow:0 0 1px rgba(0,0,0,0.1);}
	.col-logo{float:none; text-align:center; margin-bottom:0;}
	.w-logo{ padding:0 1.2rem; height:auto; min-height:0; min-width:0; float:none;}
	.w-logo h1{ font-size:0.7rem; margin-top:0.35rem; margin-bottom:0;}
	.w-logo-img{ display:block; padding:0.25rem;line-height:1.06rem;}
	.w-logo-img img{max-height:1.06rem;}
	.col-right{position:fixed;left:-70%; width:70%; background:#fff;top:0; bottom:0;padding:0; padding-bottom:9em;margin-top:0px; z-index:3;}
	.w-nav{ background:none; overflow-y:auto; height:100%;}
	.w-nav .nav_inner{padding-left:0;}
	.w-admin-header .w-admin-nav{margin-left:0;}
    .w-nav ul{list-style:none; padding-left:0;}
	.w-nav .nav_inner > li{ display:block;}
	.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{line-height:2.5; color:#666;}
	.w-nav li{border-bottom:0; border-top:0; float:none;}
    .w-nav li a, .w-nav .submenu li a{ display:block;  color:#6a6a6a; text-align:left;border-bottom:1px solid #e1e1e1; font-size:14px;}
	.w-nav .nav_inner > li:hover > .submenu,.w-nav .submenu li:hover > .submenu{display:none;}
	.w-nav .nav_inner > li > .submenu{top:0;}	
	.w-nav .submenu{ position:relative; font-size:14px; box-shadow:0; -moz-box-shadow:0; -webkit-box-shadow:0;}
	.w-nav .submenu li{ width:auto;}
    .w-nav .submenu li .submenu{ left:0; top:0;}
	.w-nav .submenu ul,.w-nav .submenu .submenu ul{background:none;}
	.w-nav .li-parent-div .fa{ position:absolute; top:50%; margin-top:-1em; right:0; width:2em; height:2em; line-height:2em; text-align:center; font-size:150%; }
	.w-nav .li-parent-div .fa-plus::before{content: "\f107";}
	.w-nav .li-parent-div.open .fa-plus::before{content: "\f106";}
	 .w-nav .submenu li a{padding:0.5em 0.5em 0.5em 1.5em; text-align:left;}
	 .w-nav .submenu .submenu li a{ padding-left:2.5em;}
	 .mobile-nav-toggle{display:block;}
	 /*---------------------------topLogBox--------------------------*/
	 .topLogBox{position:absolute; bottom:0; left:0; right:0; top:auto; margin-top:0;}
	.topLogBox, .topLogBox a{color:#6a6a6a;}
	.topLogBox a{border-color:#6a6a6a;}
	.col-com{  border-top:1px solid #e1e1e1; float:none;}
	.topLogBox .w-loginRegister, .topLogBox .w-languege, .topLogBox .w-search, .topLogBox .w-shopCart{ float:none;}
	.w-languege,.w-loginRegister, .w-shopCart{float:none; margin:0;padding: 0.5em;border-bottom:1px solid #e1e1e1;}
	.col-com>div:last-child{ border-bottom:0;}
	.w-header .w-search{ float:none; margin: 0.5em 0.7em;}
	.w-header .w-search .input-search-w{ width:100%; box-sizing:border-box; height:2.5em; line-height:2.5em; opacity:1;*filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
	.w-header .w-search:hover .input-search-w{width:100%; }
	 /*-----------------------会员中心和购物车--------------------*/
	 .w-admin-shopCart, .w-admin-top{display:none;}
	 .signTel, .shopCartTel, .signQuitTel{display:block;}
	.w-admin-header .w-admin-nav{position:fixed;left:-70%; width:70%; background:#fff;top:0; bottom:0;padding:0; margin-top:0px; z-index:3; display:block;}
	.w-admin-nav .w-nav-in{height:100%;}
	.order-progress{display:none;}
}
@media (max-width:767px) {
	.btn-default-w{ min-width:10em; padding-top:0.8em; padding-bottom:0.8em;}
	/*----------------------系统页-------------------*/
	.w-system{padding-top:0.5rem;}
	.systitle{ font-size:125%;}
	/*----------------------菜单----------------------------*/
    .w-com-menu li > .div-parent > .fa-plus::before{content: "\f107";}
    .w-com-menu li.open > .div-parent > .fa-plus::before, .w-com-menu li:hover > .div-parent > .fa-plus::before{ content: "\f106";}
	/*----------------------新闻---------------------------*/
	.w-adNews5 li .news-h{ font-size:105%;}
	
	
	
}	
@media only screen and (max-width:479px){
	.body{font-size:0.375rem;}
}

