
/* eyoucms.com 易优CMS -- 好用,免费,安全 */
/* Style Reset
----------------------------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote 
{ margin: 0; padding: 0; font-size: 12px;_background-image:url(about:blank);_background-attachment:fixed;}
input, button, textarea,select, optgroup, option { font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit;}
ul, li, dl, dt, dd, ol { display: block; list-style: none; }
img{ border: 0;}
.clear { clear:both;}
a{text-decoration:none;outline:0;}
center{padding:20px 0;}
/* topbg */
body{background:url(../image/bg.jpg) 0 0 repeat;overflow-x:hidden}
.topbg{width:100%;height:123px;background:url(../image/topbg.jpg) 0 0 repeat-x;}
.top{width:980px;margin:0 auto;height:123px;background:url(../image/top.jpg) center 0 no-repeat;}
.logo{float:left;margin:27px 0 0 12px;display:inline}
.topad{float:right;margin:36px 19px 0 0;display:inline}
.banner{width:100%;position:relative;}
.navbg{position:absolute;background:url(../image/navbg.png) 0 0 no-repeat;width:970px;height:65px;left:50%;margin-left:-495px;top:31px;z-index:999;padding:5px 10px 0;}
.navbg li{width:97px;float:left;text-align:center;}
.navbg li a{display:block;width:97px;height:59px;color:#fff;text-shadow:1px 1px 1px #002942;font:16px/59px 'Microsoft YaHei';}
.navbg li a:hover{display:block;width:97px;height:59px;color:#fff;text-shadow:1px 1px 1px #002942;font:16px/59px 'Microsoft YaHei';background:url(../image/hover.jpg) center 0 no-repeat;}
.navbg li a.cur{display:block;width:97px;height:59px;color:#fff;text-shadow:1px 1px 1px #002942;font:16px/59px 'Microsoft YaHei';background:url(../image/hover.jpg) center 0 no-repeat;}
.navbg li li a{display:block;width:91px;height:46px;background:url(../image/subnavbg.png) 0 0 repeat;line-height:46px;margin:0 auto 1px}
.navbg li li a:hover{display:block;width:91px;height:46px;margin-bottom:1px;background:url(../image/subnavbg.png) 0 0 repeat;line-height:46px}

.navbg li ul{display:none;}
/* banner */
#focus1{width:100%;height:489px;}
.focus{width:100%;height:489px;overflow:hidden;position:relative;left:0;top:0;font-size:14px;}
.focus .focus-box{width:100%;height:489px;overflow:hidden;position:relative;left:0;top:0;}
.focus .focus-pics{position:absolute;left:0;top:0;width:100000px;height:200px;display:block;}
.focus .focus-box a{display:block;zoom:1;}
.focus .focus-box a img{display:block;border:0;margin:0 auto;width:1440px}
.focus .controls{position:absolute;width:100%;left:0;bottom:0;}
.focus .controls ul,.focus .controls li{margin:0;padding:0;list-style:none;}
.focus .controls .bg{width:480px;height:45px;background-color:#000000;filter:alpha(opacity=30);opacity:0.3;-moz-opacity:0.3;}
.focus .controls .info{position:absolute;left:0;top:0;z-index:1;color:#fff;padding:3px 0 0 5px;}
.focus .controls .info b{display:block;font-size:14px;}
.focus .controls .l-btn{position:absolute;left:50%;width:169px;height:22px;margin-left:-490px;bottom:35px;z-index:2;color:#fff;font-size:0;overflow:hidden;padding-left:811px;}
.focus .controls .l-btn li{float:left;width:21px;height:21px;text-align:center;margin:0 19px 0 0;line-height:14px;cursor:pointer;background:url(../image/radius1.png) 0 0 no-repeat;font-size:0;}
.focus .controls .l-btn li.selected{width:21px;height:21px;font-size:0;background:url(../image/radius2.png) 0 0 no-repeat;font-weight:bold;color:#fff;}
/* fixed */
.fixed{position:fixed;width:55px;height:212px;right:25px;bottom:50px;_position: absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));z-index:999;}
.fixed a{display:block;width:55px;height:53px;}
.book{background:url(../image/fixed.jpg) 0 0 no-repeat;}
.book:hover{background-position:-54px 0;}
.fixed a.codepic{background:url(../image/fixed.jpg) 0 0 no-repeat;background-position:0 -53px;height:52px;}
.fixed a.codepic:hover{background-position:-54px -53px;}
.fixed div{position:relative;}
.fixed a.backup{background:url(../image/fixed.jpg) 0 0 no-repeat;background-position:0 -158px;height:52px;}
.fixed a.backup:hover{background-position:-54px -158px;height:53px;}
.fixed div img{position:absolute;left:-196px;width:196px;height:196px;top:-106px;display:none;}
/* marqueebg */
.marqueebg{width:100%;background:url(../image/marquee.jpg) center 0 repeat-x;height:70px;margin-bottom:20px}
.marquee{width:980px;height:70px;margin:0 auto}
.marleft{float:left;font:18px/70px 'Microsoft YaHei';color:#afdaf0}
.marquee marquee{float:left;font:14px/70px 'Simsun';color: #89daf0;width:516px;margin-right:6px;}
.search{float:right;width: 250px;height:39px;margin:18px 0 0;display:inline;}
.text{width:208px;height:39px;font:14px/39px '宋体';color:#59758b;text-indent:14px;border:0;background:url(../image/text.jpg) 0 0 no-repeat;display:inline;}
.select{float:left;width:101px;height:39px;border:0;background:url(../image/select.jpg) no-repeat 0 0;}
.button{float: right;background:url(../image/button.jpg) no-repeat;width:42px;height:39px;border:0;}
.select select{width:101px;}
.searchBar span{ float:right; margin-top:6px;}
.searchBar span a{ color:#666; margin-right:8px;}
.searchBar span a:hover{ color:#ef9b11;}
.searchBar .select {float:left;margin-top:1px; display:inline; margin-right:8px;}
.searchBar .text {float:left;}
.searchBar .text input{width:214px; padding-top:3px; height:17px; border:1px solid #b7d1eb;}
div.selectbox-wrapper{border-right: #b7d1eb 1px solid;border-top: #b7d1eb 0 solid;overflow:hidden;border-left: #b7d1eb 1px solid;width:99px;border-bottom: #b7d1eb 1px solid;position: absolute;background: #fff;text-align:left;*margin-top:0;z-index:10;}
div.selectbox-wrapper ul li.selected {background-color: #e0ecf7;}
div.selectbox-wrapper ul li.current {color: #fff;background-color:#36c}
div.selectbox-wrapper ul li {text-align:center;padding-right:3px;padding-bottom:3px;width:101px;cursor:pointer;line-height: 20px;padding-top: 3px;font-size:14px;font-family:'微软雅黑';color:#666;}
.selectbox{border:none;display:block;width:101px;text-indent:19px;cursor:pointer;height:39px;background:none;font-size:14px;font-family:'微软雅黑';color:#59758b;line-height:39px;}
.btn{float:left;display:inline;margin-left:8px;margin-top:2px;}
/*con1 */
.con1{width:980px;height:366px;margin:0 auto}
.con1left{float:left;background:url(../image/con1left.jpg) 0 0 no-repeat;width:494px;height:346px;}
.con1right{float:left;background:url(../image/con1right.jpg) 0 0 no-repeat;width:470px;height:346px;margin-left:14px;_margin-left:7px}
.title{width:100%;height:43px;text-indent:27px}
.title span{float:left;font:20px/43px 'Microsoft YaHei';color:#fff;text-shadow:1px 1px 1px #01223a}
.title a{float:right;font:12px/43px 'Simsun';color:#333;padding-right:20px}
.newstop{width:480px;height:132px;margin:0 auto;border-bottom:1px dashed #c7c7c7;padding-top:15px}
.newstop img{float:left;margin:0 6px 0 10px;display:inline}
.newstoptitle{display:block;float:left;width:290px;height:28px;font:18px/28px 'Microsoft YaHei';color:#ff7200;overflow:hidden}
.newstop div{float:left;width:290px;font:12px/30px 'Simsun';color:#666;height:90px;overflow:hidden}
.newsul{width:466px;margin:0 auto;padding-top:10px}
.newsul li{width:100%;height:34px;font:12px/34px 'Simsun';color:#333}
.newsul li a{color:#333;float:left}
.newsul li a:hover{color:#ff7200;float:left}
.newsul li:hover{color:#ff7200}
.newsul li span{float:right;}
.service{width:456px;margin:0 auto;padding-top:10px}
.service li{width:100%;height:96px;border-top:1px dashed #c7c7c7}
.service li a{font:18px/30px 'Microsoft YaHei';color:#333;width:442px;margin:0 auto;display:block;height:30px;overflow:hidden}
.service li div{width:442px;margin:0 auto;font:12px/28px 'Simsun';color:#666;height:56px;overflow:hidden;}
/* con2 */
.con2{width:980px;margin:0 auto;height:474px;}
.left{float:left;width:219px;background:url(../image/leftbg.jpg) 0 0 repeat-y;margin-bottom:10px}
.lefttitle{width:219px;height:62px;background:url(../image/lefttitle.jpg) 0 0 no-repeat;position:relative;font:20px/62px 'Microsoft YaHei';text-indent:26px;color:#fff;text-shadow:1px 1px 1px #022b7d}
.lefttitle img{position:absolute;left:-39px;top:9px}
.leftul{width:219px;}
.leftul li a{display:block;background:url(../image/leftli.jpg) 0 0 no-repeat;width:216px;height:46px;margin-bottom:3px;font:14px/46px 'Simsun';color:#333;text-align:center;}
.leftul li li a{display:block;background:none;width:216px;height:40px;margin-bottom:3px;font:14px/40px 'Simsun';color:#333;text-align:center;border-bottom:1px solid #c6c6c6}
.leftul li a:hover{display:block;background:url(../image/lefthover.jpg) 0 0 no-repeat;width:216px;height:46px;margin-bottom:3px;font:14px/46px 'Simsun';color:#fff;text-align:center;}
.leftul li li a:hover{display:block;background:none;width:216px;height:40px;margin-bottom:3px;font:14px/40px 'Simsun';color:#333;text-align:center;border-bottom:1px solid #c6c6c6}
.moreclass{width:216px;height:40px;text-align:center;font:16px/40px 'Microsoft YaHei';}
.moreclass a{color:#00162f}
.con2right{float:left;width:760px;height:474px}
.con2right li{background:url(../image/picbg.jpg) 0 0 no-repeat;width:243px;height:233px;padding-top:6px;float:left;margin-left:10px;_margin-left:5px}
.con2right li img{display:block;margin:0 auto;}
.pictitle{display:block;width:100%;height:40px;text-align:center;font:12px/40px 'Simsun';color:#333}
/* con3 */
.con3{width:980px;height:396px;margin:0 auto;}
.con3left{float:left;background:url(../image/con3bg.jpg) 0 0 no-repeat;width:321px;height:335px;padding-top:4px;margin:20px 8px 0 0;_margin-right:4px}
.con3title1{width:300px;height:48px;background:url(../image/icons1.jpg) 2px center no-repeat;font:20px/48px 'Microsoft YaHei';text-indent:42px;color:#333;margin:0 auto;}
.con3title2{width:300px;height:48px;background:url(../image/icons2.jpg) 2px center no-repeat;font:20px/48px 'Microsoft YaHei';text-indent:42px;color:#333;margin:0 auto;}
.con3pic{margin:0 auto 6px;display:block;width:300px;}
.range{width:300px;margin:0 auto;font:12px/34px 'Simsun';color:#333;height:132px;overflow:hidden}
.lookmore{display:block;background:url(../image/lookmore.jpg) 0 0 no-repeat;width:110px;height:32px;float:right;font:12px/32px 'Simsun';text-indent:47px;color:#333}
.morebox{width:300px;margin:5px auto 0;}
.newslist{width:300px;margin:0 auto 5px;}
.newslist li{width:100%;height:32px;border-bottom:1px dashed #c7c7c7;text-indent:8px;font:12px/32px 'Simsun';}
.newslist li a{color:#333}
.newslist li a:hover{color:#ff7200}
.con3contact{background:url(../image/contactbg.jpg) 0 0 no-repeat;float:left;width:321px;height:197px;padding-top:160px;}
.con3contact img{display:block;margin:12px auto 0}
.con3contact div{width:255px;font:18px/28px 'Simsun';color:#333;margin:0 auto}
/* foot */
.linksbg{width:100%;background:url(../image/foottop.jpg) 0 0 repeat-x #041a24;height:48px;padding-top:31px}
.links{width:980px;height:48px;margin:0 auto;background:url(../image/linktitle.jpg) 10px 0 no-repeat;text-indent:157px;font:14px/48px 'Simsun';color:#89959b}
.links a{color:#89959b;margin: 0 10px;}
.links span{margin:0 15px}
.footbg{width:100%;height:196px;padding-top:28px;background:#010b10;text-align:center;}
.footnav{width:100%;text-align:center;font:12px/36px 'Simsun';color:#89959b;margin-bottom:8px}
.footnav a{color:#89959b;margin:0 10px}
.footbg p{font:12px/22px 'Simsun';color:#89959b}
.footbg p span{margin:0 6px;}
.footbg p a{color:#89959b}
.share{width:230px;color:#89959b;margin:12px auto 0}
/* subpage */
.subpage{width:980px;margin:0 auto}
.leftcontact{width:219px;height:194px;padding-top:170px;background:url(../image/leftcontact.jpg) 0 0 no-repeat;}
.lefttel{margin:17px auto 8px;display:block;}
.leftcont{width:170px;margin:0 auto;font:12px/22px 'Simsun';color:#333}
.right{float:left;width:746px;padding-left:14px}
.righttitle{width:100%;background:url(../image/righttitle.jpg) 0 0 no-repeat;height:36px;}
.titlename{float:left;font:18px/34px 'Microsoft YaHei';color:#0c62ca;text-indent:47px}
.righttitle p{float:right;font:12px/34px 'Simsun';color:#333;padding-right:6px}
.righttitle p a{color:#333}
.rightcon{width:100%;font:14px/30px 'Simsun';color:#333;overflow:hidden;margin-bott}
/* news */
.news{width:100%;}
.news li{width:100%;background:url(../image/border1.jpg) 0 bottom repeat-x;height:50px;font:14px/48px 'Simsun';color:#666}
.news li a{float:left;background:url(../image/icons3.jpg) 20px center no-repeat;text-indent:31px;color:#666}
.news li span{float:right;padding-right:78px}
.news li a:hover{color:#333}
.news li.none{background:none;height:20px}
/* pages */
.pages{width:100%;height:28px; margin:14px 0; clear:both;}
.pages ul{float:right; margin:0 15px 0 0; display:inline;}
.pages ul li{float:left; display:inline; margin:0 7px 0 0; font:500 14px/28px 宋体;color:#333;width:26px;height:26px;border:1px solid #94b7e4;background:url(../image/btnbg.jpg) 0 0 repeat-x; text-align:center;}
.pages ul li a{color:#333; display:block;width:26px;height:26px;}
.pages ul li.prev{width:64px;height:26px;background:url(../image/prev_page.jpg) -1px -1px no-repeat;text-indent:13px;text-align:left;}
.pages ul li.prev a,.pages ul li.next a{display:block;width:64px;height:26px;}
.pages ul li.ok a{display:block;width:55px;height:28px;}
.pages ul li.next{width:64px;height:26px;background:url(../image/next_page.jpg) -1px -1px no-repeat;text-indent:6px;text-align:left;}
.pages ul li.clickli{font-weight:bold;}
.pages ul li.dot{border:0; background:none;color:#333;}
.pages ul li.allpage{width:136px;border:0;background:none;}
.allpage input{width:26px;height:26px;border:1px solid #94b7e4;text-align:center;background:url(../image/btnbg.jpg) 0 0 repeat-x; margin:0 5px;color:#333;font:14px/26px 宋体;}
.pages ul li.ok{background:url(../image/okbg.jpg) no-repeat 0 0;width:55px;height:28px;border:0; float:left;}
.pages ul li.ok a{color:#88d7ff;}
/* product */
.product{float:left;width:760px;padding-top:15px}
.product li{background:url(../image/picbg.jpg) 0 0 no-repeat;width:243px;height:233px;padding-top:6px;float:left;margin-left:5px;_margin-left:2px}
.product li img{display:block;margin:0 auto;}
/* book*/
.bookmain{width:650px; margin:10px auto; height:auto;background:#fff;padding:0 25px;}
.bookline{width: 650px; height:34px;background-image: url(../image/about_box_line.jpg); background-repeat:repeat-x; background-position: 0 0; float:left; margin-top:10px;}
.book3{ width:650px; margin:0 auto;}
.booktop{ width:650px; height:30px; float:left; background:url(../image/bookico.png) no-repeat 10px 7px; margin-top:20px;}
.booktop_name{ width:470px; height:30px; float:left; color:rgb(30,54,1); padding-left:30px; line-height:30px; font-weight:bold;}
.booktop_time{ width:150px; height:30px; float:left; color:rgb(30,54,1); text-align:right; line-height:30px;}
.bookcontent{ width:628px; min-height:40px; height: auto!important; height:40px;float:left; border:1px solid #d6deef; background:url(../image/bookcontentbg.jpg) repeat-x; background-color:#fff; padding:10px; color:rgb(30,54,1);}
.bookadmin{ width:650px; height:auto; float:left;}
.bookadmin_top{ width:650px; height:12px; float:left;}
.bookadmin_mid{ width:628px; min-height:30px; height: auto!important; height:30px; border-left:1px solid #d6deef; border-right:1px solid #d6deef; border-bottom:1px solid #d6deef; float:left; padding:10px; color:rgb(30,54,1);}
.messagecol{ color:rgb(30,54,1);}
.admincol{ color:rgb(30,54,1); font-weight:bold;}
.admintimecol{ color:rgb(30,54,1); float:right; *margin-top:-17px;}
.message{ width:600px; height:auto;float:left;padding-left:50px; color:rgb(30,54,1);}
.message li{ width:500px;height:40px; float:left; margin:0px; padding:0px;}
.message li input{ height:15px; line-height:15px; width:150px;}
.message li p.message_title{ width:100px; height:25px; float:left; text-align:right; font-size:12px;}
.message li p.message_content{ width:400px;float:left;}
.message li.contentb{ width:500px;height:150px; float:left;}
.message li.contentb textarea{ width:370px; height:120px;}
.message li.yzm{ width:500px;height:60px; float:left;}
.message li p.message_yzminput{ width:100px; float:left;}
.message li p.message_yzminput input{ width:70px;}
.message li p.message_yzmico{ width:100px; height:40px; float:left;}
.message li p.message_sub{ width:200px; height:40px; float:left; text-align:right;}
.tab2{background:#fff; width:100%; margin-top:5px; border:1px solid #e1e0e1;}
.blank{width:100%; height:20px; margin-bottom:5px;}
.c_red{color:red;margin-left:4px;position:relative;z-index:9;}
/* hr */
.hr{ margin:10px auto; width:96%;font-size:12px;line-height:24px; border:1px #CCC solid; background-color:#fff;color:#333;}
.hr td{ border:1px #CCC solid;}
.hr a{ color:#333;}
.hr a:hover{ color:#de0303;}
.hr_btn{width:100px; height:40px; font-size:12px;}
/* caseul */
.caseul{width:100%;}
.caseul li{width:100%;height:204px;padding-top:15px;background:url(../image/border1.jpg) 0 bottom repeat-x;}
.picbg{background:url(../image/picbg2.jpg) 0 0 no-repeat;display:block;width:229px;height:170px;padding:7px 8px;float:left;}
.casetitle{float:left;width:482px;height:34px;margin-top:8px;font:600 12px/34px 'Simsun';color:#333;padding-left:15px}
.caseul li div{width:482px;float:left;padding-left:15px;font:12px/32px 'Simsun';color:#666;height:128px;overflow:hidden}
/* view */
.rightcon h1{width:100%;text-align:center;font:18px/30px '宋体';color:#333;}
.datetitme{width:100%;text-align:center;height:40px;font:12px/14px '';color:#999;background:url(../image/border4.jpg) 0 bottom repeat-x;margin-bottom:10px;}
.back{display:block;width:100px;height:30px;margin:10px auto;color:#004a8c;}
.page{width:100%;height:50px;text-indent:29px;background:url(../image/border4.jpg) 0 bottom repeat-x;font:12px/48px '宋体';color:#333;}
.page a{color:#ff7301;}
