/* eyoucms.com 易优CMS -- 好用,免费,安全 */

/*
描述:cavan响应式主题样式表第12套
作者:wangxb
*/
/*默认页面主体样式定义*/
body{ color:#484848; background:#FBF4E3;}
a{ color:#333;}
.w-main .row,.w-header .row,.topLogBox .topLogBox-in,.w-footer-in{ max-width:1186px; margin:0 auto;}
.body{overflow:hidden;}
/*---------------------header-----------------------*/
.w-header{  background:#2e2017; color:#fbecc3;}
.header_bg{ position:absolute; left:0; right:0; top:0; bottom:0;background:#000;opacity:0.3; *filter:alpha(opacity=30); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);}
.col-logo{float:left; position:relative; z-index:1;}
.w-logo{ height:84px; line-height:84px; min-width:40px;}
.w-logo-img img{max-height:84px;}
.w-logo h1{ font-size:42px; }
.w-logo h1,.w-logo a{color:#657F35;}
.w-nav{float:right; }
.w-nav .nav_inner{display:block;}
.w-nav li a{ text-decoration:none;padding:0 10px;}
.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{line-height:20px; min-width:96px; box-sizing:content-box;font-size:14px; color:#fbecc3;}
.w-nav .nav_inner > li > .submenu{ top:20px; left:50%; margin-left:-75px;}
.w-nav .submenu a{ color:#fff;font-size:12px; text-align:center;}
.w-nav .submenu li a{ padding:8px 10px;}
.topLogBox,.topLogBox a{ color:#fff; font-size:12px ;}
.topLogBox a{ margin:0 6px; text-decoration:none;}
.topLogBox .col-com{margin-right:30px;}
.w-loginRegister,.w-languege,.w-shopCart{padding-top:2px;}
.w-shopCart i{ background:url(../image/shopcart.png) no-repeat center; width:19px; height:19px; vertical-align:middle; display:inline-block; *zoom:1;}
.topLogBox .w-search{ position:relative; margin-left:5px;}
.topLogBox .w-search .input-search-w{ background:none; width:250px; height:28px;*width:220px; *height:26px; line-height:26px;  padding: 0 25px 0 5px; border:1px solid #fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; *color:#fff;  }
.topLogBox .w-search .search-btn-w{ position:absolute; width:20px; height:20px; right:5px; top:50%; margin-top:-10px; background:url(../image/header_search.png) no-repeat center; background-size:contain; cursor:pointer;}
.topLogBox .w-search .search-btn-w span{ display:none;}


/*-----------------------banner------------------*/
.banner .bx-wrapper .bx-pager.bx-default-pager a{ background:#fff;}
/*---------------footer------------------*/
.w-footer{ background:#2E2017; color:#9E9177; line-height:2;}
.w-footer a{color:#9E9177;}
.w-footer .icon-social{background-image:url(../image/icon-social-foot-w.png);}
/*----------------------------组件-----------------------*/
.btn-default-w{border:none; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; padding:0.8em 2.5em; background:#657F35;}
.btn-black-w:hover,.btn-black-w:focus, .btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{color:#fff; }
.btn-default-b:hover{}
.btn-large-w{ font-size:105%;}
.search-defaut-w .search-btn-w{border:1px solid #ddd; border-left:0;background-color:#fff}
.search-defaut-w .search-btn-w:hover{background-color:#fff;border-color:#ddd; }
.gallery-mar{margin:10px;}
.icon-social{background-image:url(../image/icon-social-w.png);}
.icon-social:hover{opacity:0.7; *filter:alpha(opacity=70); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);}
.banner .bx-wrapper .bx-prev{background-image:url("../image/banner_pre.png") !important;}
.banner .bx-wrapper .bx-next{background-image:url("../image/banner_next.png") !important;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#fff !important;}
/*----------------------标题------------------------*/
.w-title1 span,.w-title3 span,.w-title16 span{ color:#484848;}
/*--------------------系统------------------------*/
.systitle{background:#84a545; color:#fff;}
.crumbs{ background:none; padding-bottom:0;}
/*-----------------------------产品----------------------*/
.w-prd-list-cell .w-prd-btns a{border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background:#657F35; border-color:#657F35;color:#fff;}
.w-prd-list-cell .w-prd-infobox,.w-prd-list-cell .w-prd-infobox h2 a{ color:#474b54;}
.w-prd-list .w-prd-imgbox{border:1px solid #e6e6e6;}
.product-detail-wrap{color:#666;}
.product-descons{color:#2a2a2a;}
.info_tab li.cur_tab,.evalInfo .evalInfo-title .evalInfo-title-inner{background:#FBF4E3;}
.product-detail-info .product-grayBox{background:#EEE1BE;}
.product-detail-images .product-detail-image-small .imgsmall-next.disabled,.product-detail-images .product-detail-image-small .imgsmall-pre.disabled{background-color:#FBF4E3;}
.evalInfoList li{border-bottom:1px dashed #e2c794;}
/*----------------------------新闻-------------------------*/
.w-News-list a{color:#6f6f6f;}
.w-News-list .news-com .news-sum{color:#6f6f6f;}
.newsDetail,.newsDetail a{ color:#767676;}
.newsDetail .newsSummary{background:#EEE1BE;}
.w-News-list5 li .news-item .data-day,.w-adNews1 li .news-item .data-day{ background:#657F35;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#4f411c;}
.w-adNews3,.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{background-color:#EEE1BE;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH h3,.w-adNews3 .w-adNews-texts li .w-adNews-textH p,.w-adNews3 .w-adNews-texts li .w-adNews-textH h3,.w-adNews3 .w-adNews-texts li .w-adNews-textH .news-sum{ color:#484848;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content,.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{height:60px;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content h3{ padding:20px 130px 20px 45px;}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#728740; color:#728740;opacity:0.8; *filter:alpha(opacity=80); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);}
.w-adNews3 .w-adNews-texts li{border-color:#e2c794;}
.w-adNews3 .w-adNews-imgs .adNews3prev{background-image:url("../image/adnews3prev.png");}
.w-adNews3 .w-adNews-imgs .adNews3next{background-image:url("../image/adnews3next.png");}

.w-adNews6 .adNewsTL li,.w-adNews4 li,.w-adNews5 li,.w-News-list1 li,.w-News-list3 li,.w-News-list4 li,.w-News-list6 li,.w-News-list7 li{border-bottom:1px dashed #e2c794;}
.w-adNews2 li .news-item,.w-News-list2 li .news-item{border-color:#e2c794;}

/*----------------------菜单----------------------------*/
.w-com-menu li > .div-parent > .fa-plus::before{content: "\f107";}
.w-com-menu li.open > .div-parent > .fa-plus::before{ content: "\f106";}

/*-----------------------会员中心和购物车--------------------*/
.w-admin-nav > .nav_inner > li > a, .w-admin-nav > .nav_inner > li > .li-parent-div > a{ }
.w-admin-nav > .nav_inner > li > .submenu{}
/*---------------------登录注册--------------------------*/
.body-login{background-image:url(../image/signbg.png);}
.signbox-A .login-h2A,.login-input-A,.register-A a, .password-forget-A a,.login-button-A,.signfoot,.login-checkA span{color:#666;}
input[class*='login-input-A']::-webkit-input-placeholder{ color:#666;}
input[class*='login-input-A']:-moz-placeholder{ color:#666;}
input[class*='login-input-A']::-moz-placeholder{ color:#666;}
input[class*='login-input-A']:-ms-input-placeholder{ color:#666;}
.sign-content-A{ background-image:url("../image/signboxbg.png");}
.login-button-A{background-image:url("../image/signbtnbg.png");}
.login-checkA input.checked[type="checkbox"] + label{background-image:url("../image/login-checked.png");}
.login-input-A,.login-button-A,.login-checkA label{border-color:#999;}
@media (min-width:768px){
    .w-com-menu-H{ border-bottom:1px solid #e2c794; box-shadow:0 2px 2px rgba(67,50,10,0.1); -moz-box-shadow:0 2px 2px rgba(67,50,10,0.1); -webkit-box-shadow:0 2px 2px rgba(67,50,10,0.1);} 
    .w-com-menu-H li{margin:0;}
    .w-com-menu-H li a{ font-size:16px;}
    .w-com-menu-H >.w-com-menu-in{display:inline-block; *display:inline; *zoom:1; }
	.w-com-menu-H >.w-com-menu-in>.ul-parent> li >.div-parent{ padding:0 35px;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li >.div-parent a{ padding:20px 10px; display:inline-block;*display:inline; *zoom:1; color:#657F35;}
    .w-com-menu-H .ul-submenu{ padding-top:26px; top:60px;}
	.w-com-menu-H .ul-submenu .ul-submenu{ top:30px; padding-top:7px;}
    .w-com-menu-H .ul-submenu li .div-parent{margin:0 5px;}
    .w-com-menu-H .ul-submenu li a{color:#232323; line-height:2;}
    .w-com-menu-H .ul-submenu .ul-submenu-up{display:none;}
	
}
@media (min-width:960px){
	.w-header .row{ padding-top:30px;}
	.w-logo h1,.w-logo-img{ line-height:84px;}
	.w-nav{  margin-top:37px; position:relative;z-index:1; margin-bottom:10px;}
	.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{ border-right:1px solid #4D3E31;}
	.w-nav .nav_inner > li:first-child > a, .w-nav .nav_inner > li:first-child > .li-parent-div > a{border-left:1px solid #4D3E31;}
	.w-nav .li-parentOne-div .fa{ display:none;}
	.w-nav .submenu{ box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
	.w-nav .nav_inner > li > .submenu{padding-top:27px;}
	.w-nav .li-parent-div .fa-plus:before{content: "\f105";}
	/*---------------------------topLogBox--------------------------*/
    .topLogBox{ position:absolute; left:0; right:0; top:0; background:#657F35; z-index:1;}
    .topLogBox .topLogBox-in{overflow:hidden; padding:5px 0; position:relative;}
    .topLogBox .w-languege,.topLogBox .w-loginRegister,.topLogBox .w-shopCart,.w-header .w-search,.topLogBox .col-com{float:right; }
	.topLogBox .w-search{position:absolute; left:0; top:1px;}
	/*-----------------------------会员中心和购物中心---------------------*/
	.body-admin .w-admin-header .w-admin-nav{margin-left:50px;}
	.w-admin-header .w-admin-nav{ padding-top:0; }
    .body-login .w-admin-header,.w-admin-header{ background:#2E2017;}
	.body-login .w-admin-header .w-admin-nav{ float:right;}
	.w-admin-shopCart{padding-top:31px; margin-right:10px;}
	.body-admin .w-admin-header .w-admin-nav > .nav_inner > li > a, .body-admin .w-admin-header .w-admin-nav > .nav_inner > li > .li-parent-div > a{min-width:auto; padding:0 15px;}
}
@media (min-width:1200px){
	.w-com-menu-H{ width:2000px; margin-left:-407px;}
}
@media (max-width:1200px){
	.w-main .row,.w-header .row,.w-footer-in, .topLogBox .topLogBox-in{ width:100%;}
	.col-table{margin:0;}
	.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{ min-width:auto; padding:0 20px;}
	.w-com-menu-H{margin-left:0;}
}
@media (max-width:960px) {
	html{width:100%; height:100%; overflow-x:hidden;}
	body{ height:100%;min-width:100%;}
	.body{ padding-top:1.56rem;}
	
	/*--------------------header---------------------*/
	.w-header{position:fixed; top:0; left:0; width:100%; padding-top:0; height:1.56rem;  background:#2E2017; box-shadow:0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow:0 1px 2px rgba(0,0,0,0.1); -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);  z-index:999; color:#fbecc3;}
	.header_bg{display:none;}
	.col-logo{float:none; text-align:center;}
	.w-logo{ padding:0 1.2rem; height:auto; min-width:auto; line-height:normal;}
	.w-logo h1{ font-size:0.7rem; margin-top:0.35rem; margin-bottom:0;}
	.w-logo-img{ display:block; padding:0.25rem;line-height:1.06rem;}
	.w-logo-img img{max-height:1.06rem;}
	.col-right{position:fixed;left:0; width:100%; background:#3d3d3d; top:1.56rem; bottom:0; margin-top:0px; display:none; overflow-y:auto; padding:0;}
	.topLogBox .col-com{ border-bottom:1px solid #2A2A2A; border-top:1px solid #484848; float:none; margin-right:0;}
	.w-languege{ float:left; margin:1em;}
	.w-loginRegister,.w-shopCart{ float:right; margin:1em;}
	.w-header .w-search{ float:none; margin:1em;}
	.w-header .w-search .input-search-w{ width:100%; box-sizing:border-box; height:3em; line-height:3em;}
	.w-nav{ float:none; padding-top:0; }
    .w-nav ul{list-style:none; padding-left:0;}
	.w-nav .nav_inner > li > a, .w-nav .nav_inner > li > .li-parent-div > a{line-height:3; font-size:14px; font-weight:normal; color:#fff;}
    .w-nav li a{ display:block; padding:1em 5px; text-align:center; color:#999;}
	.w-nav .nav_inner > li > .submenu{top:0; left:0; margin-left:0;}	
	.w-nav .submenu a{ text-align:center;}
	/*-----------------------会员中心和购物车--------------------*/
	.w-admin-header,.body-login .w-admin-header{position:fixed; top:0; left:0; width:100%; padding-top:0; height:1.56rem; z-index:999; color:#fbecc3; background:#2E2017;}
	
}
@media only screen and (min-width:768px) and (max-width:960px) {
	.w-loginRegister, .w-shopCart, .w-header .w-search{margin-right:15px;}
	.w-shopCart{margin-left:15px;}
	.body-admin .w-admin-header .w-admin-nav{margin-left:30px;}
	.body-admin .w-admin-header .w-admin-nav > .nav_inner > li > a, .body-admin .w-admin-header .w-admin-nav > .nav_inner > li > .li-parent-div > a{min-width:auto; padding:0 10px;}
}
@media (max-width:767px) {
	/*----------------------系统页-------------------*/
	
	/*----------------------新闻组件--------------------*/
	.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content{height:3em;}
	.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content h3{ height:3em; padding:1em 4.5em 1em 1em; font-size:100%;}
	.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{height:3em; width:2em;}
	/*------------------------组件------------------------*/
	.gallery-mar{margin:5% !important;}
}	


