.case-detail div * {
	box-sizing: border-box;
}
.case-detail div *::before, .case-detail div *::after {
	box-sizing: border-box;
}
.case-detail div *:focus {
	outline: none;
}
.case-detail {
	width: 1260px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px 0
}
 @media all and (max-width:1700px) {
.case-detail {
	width: 92%
}
.case-detail {
	padding: 15px 0
}
}
.case-detail .show_box {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	overflow: hidden;
}
.case-detail .zutu {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	padding: 2%;
}
.case-detail .gallery {
	float: left;
	width: 40%;
}
.case-detail .gallery .gallery-top .swiper-slide {
	cursor: pointer;
}
.case-detail .gallery .gallery-top .swiper-slide .pic {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
}
.case-detail .gallery .gallery-top .swiper-slide .pic img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.case-detail .gallery .thumbs {
	position: relative;
	margin-top: 10px;
	padding: 0 33px;
	overflow: hidden;
}
.case-detail .gallery .gallery-thumbs .swiper-slide {
	width: calc( 96.1% / 4);
	margin-right: 5px;
	border: 2px solid #eee;
	box-sizing: border-box;
	transition: all .5s ease;
}
.case-detail .gallery .gallery-thumbs .swiper-slide .pic {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	cursor: pointer;
}
.case-detail .gallery .gallery-thumbs .swiper-slide .pic img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.case-detail .gallery .gallery-thumbs .swiper-slide-thumb-active {
	border-color: #0081cc;
}
.case-detail .swiper-pagination .swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	display: inline-block;
	border-radius: 100%;
	background: #0081cc;
	opacity: 0.8;
	vertical-align: middle;
	position: relative;
}
.case-detail .swiper-pagination .swiper-pagination-bullet:after {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: transparent;
	border: 2px solid #0081cc;
	border-radius: 100%;
	margin-top: -10px;
	margin-left: -10px;
	opacity: 0;
	transform: scale(0);
	transition: all .5s;
}
.case-detail .swiper-pagination .swiper-pagination-bullet-active {
	opacity: 1;
}
.case-detail .swiper-pagination .swiper-pagination-bullet-active:after {
	opacity: 1;
	transform: scale(1);
}
.case-detail .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 8px;
}
.case-detail .gallery .swiper-button-prev:hover, .pro_box .gallery .swiper-button-next:hover {
	opacity: .35;
}
.case-detail .gallery .swiper-button-disabled {
	pointer-events: auto !important;
}
.case-detail .gallery .swiper-button-black {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0px;
	width: 28px;
	height: 100%;
	margin: 0;
	opacity: .6;
	background-size: 16px;
	transition: all .5s ease;
}
.case-detail .gallery .swiper-button-next {
	left: auto;
	right: 0;
}
.case-detail .info {
	float: left;
	min-width: 200px;
	padding-left: 3%;
	flex: 1;
}
.case-detail .info .box {
	margin-bottom: 20px;
}
.case-detail .info .box h3 {
	color: #262626;
	font-size: 26px;
	line-height: 1.4;
	font-weight: bold;
	padding-bottom: 20px;
}
.case-detail .info .txt {
	font-size: 14px;
	line-height: 1.8;
	color: #666;
	min-height: 195px;
	padding: 20px 0px;
	word-break: break-word;
	border-top: 1px dotted #dcdcdc;
	border-bottom: 1px dotted #dcdcdc;
}
.case-detail .info .btn {
	padding-bottom: 10px;
	white-space: nowrap;
}
.case-detail .info .btn a {
	display: inline-block;
	max-width: 45%;
	color: #fff;
	font-size: 14px;
	line-height: 1.572;
	text-align: center;
	padding: 0.6vw 3vw;
	background: #0081cc;
	transition: all .5s ease;
}
.case-detail .info .btn a:hover {
	background: #065e91;
}
.case-detail .info .tel {
	display: flex;
	font-family: arial;
	font-size: 14px;
	line-height: 30px;
	white-space: nowrap;
}
.case-detail .info .tel a {
	color: #707070;
	display: flex;
	align-items: center;
}
.case-detail .info .tel a:first-child {
	margin-right: 20px;
}
.case-detail .info .tel i {
	color: #0081cc;
	font-size: 16px;
	margin-right: 5px;
}
.case-detail .info .tel a:hover {
	color: #005faf;
}
.case-detail .pro_show {
	width: 100%;
	margin-top: 20px;
}
.case-detail .pro_show .tit {
	color: #333;
	font-size: 26px;
	line-height: 70px;
	font-weight: bold;
	text-align: center;
	background: #f5f5f5;
	border-bottom: 4px solid #0081cc;
	height: 70px;
}
.case-detail .pro_show .content {
	padding: 20px 0;
	word-break: break-word !important;
	overflow: hidden;
}
.case-detail .pro_show .content p {
	color: #666;
	font-size: 16px;
	padding-bottom: 15px;
	line-height: 1.8;
}
.case-detail .pro_show .content img {
	max-width: 100% !important;
	height: auto!important;
	display: block !important;
	margin: 0 auto;
}
@media only screen and (max-width: 1400px) {
.case-detail .gallery {
	width: 43%;
}
}
@media only screen and (max-width: 1200px) {
.case-detail .gallery {
	width: 50%;
}
}
@media only screen and (max-width: 1024px) {
.case-detail .gallery {
	float: none;
	width: 100%;
}
.case-detail .info {
	float: none;
	width: 100%;
	padding: 0;
}
.case-detail .info .box {
	margin-bottom: 15px;
}
.case-detail .info .box h3 {
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0px;
}
.case-detail .info .txt {
	font-size: 13px;
	line-height: 1.6;
	padding: 10px 0px;
	min-height: auto;
}
.case-detail .info .btn {
	display: flex;
	justify-content: space-between;
}
.case-detail .info .btn a {
	max-width: 48%;
	width: 100%;
	line-height: 2.5;
}
.case-detail .pro_show .tit {
	font-size: 20px;
	line-height: 50px;
	height: 50px;
}
}
