/* eyoucms.com 易优CMS -- 好用,免费,安全 */

body{font-family:"微软雅黑"!important;font:14px Microsoft YaHei!important;line-height: 24px;background: #f8f9fb;}
body,div,p,span,ul,li,dl,dd,h1,h2,h3,a,input,img{margin:0;padding:0;}
li,ol{list-style:none;}
a,input,img,textarea{border:none;outline:none;}
i,em{font-style:normal;}
a{text-decoration: none;color: #000;}
a:focus{text-decoration: none;}
a:focus, a:hover{ text-decoration: none!important; outline: none;outline-offset:0;}
label{font-weight: normal;width:100%;}
a:focus {outline:none;outline-offset:0;}
.fl{ float:left; }.fr{ float:right; }
.cl:after{ content:""; display:block; height:0; clear:both; visibility:hidden;}
.tl{ text-align:left;}.tc{ text-align:center;}.tr{ text-align:right;}
.transition{-webkit-transition: all  0.3s ease-out;-moz-transition: all  0.3s ease-out;-o-transition: all  0.3s ease-out; transition: all  0.3s ease-out; }
.slick-slide{outline: none!important;height:auto;}
#wrap_top{overflow: hidden;position: relative;}
@media (min-width: 1420px) {
  .container{width: 1200px;padding: 0;margin:0 auto;}
}
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1;}
a:hover{ color:#da251e}


/*header*/
#header{position:relative; background-color:#fff; z-index: 90;}
.logo{width:30%;height:80px;}
.logo a{display:table-cell;width:100%;height:80px;vertical-align:middle;}
.logo img{ max-width:100%;max-height: 100%; }
#header .pc_Menu{width:70%;}
.pc_Menu .menul{width:100%;height:80px;}
.pc_Menu .menul .firstli{position:relative;width:14.2857%;float:left;text-align:center;transition:300ms;}
.pc_Menu .menul .firstli a{display:block;position:relative;box-sizing:border-box; width:100%;height:80px;line-height:80px;padding:0 6px;font-size:16px;color:#666;overflow:hidden;}
.pc_Menu .menul .firstli.cur>a, .pc_Menu .menul .firstli:hover>a{ background:#da251e; color:#fff}
.pc_Menu .secdulBox{display: none;position: absolute;width: 100%;background-color:rgba(255,255,255,.9);border-radius:10px; top:80px;left: 50%;transform: translateX(-50%);}
.pc_Menu .secdulBox .secdli a {font-size:16px; padding: 0;height: 40px;line-height: 40px;color: #666;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms; transition: 300ms;}
.pc_Menu .secdulBox .secdli.current a,.pc_Menu .secdulBox .secdli a:hover {color: #da251e;}
.pc_Menu .menul .firstli:after{opacity: 0; position: absolute;content:"";bottom:-10px;left:50%;transform:translateX(-50%);width: 24px;height: 8px;background:url(https://demoall.kuaituiyun.cn/8081/template/pc/skin/img/ico3.png)no-repeat center;-webkit-background-size: cover;background-size: cover;-webkit-transition: all  0.3s ease-out;-moz-transition: all  0.3s ease-out;-o-transition: all  0.3s ease-out; transition: all  0.3s ease-out; }
.pc_Menu .menul .firstli.cur:after,.pc_Menu .menul .firstli:hover:after{bottom:11px;opacity: 1;}


/*手机头部*/
.model-header{ width: 100%;height:60px;padding: 0 10px;z-index:30;}
.model-header .model-header-logo{width:40%;float: left;height:60px;}
.model-header .model-header-logo a{display: table-cell;vertical-align: middle;width: 300px;height:60px;}
.model-header .model-header-logo a img{max-width: 100%;max-height: 100%;}
.model-header .model-navbtn{width: 32px;height:60px;line-height: 42px;float: right;padding:16px 0;}
.model-header .model-navbtn img{max-width:100%;}
/*main*/




@media (max-width:991px){
	.logo,.logo a{height:60px;}
	.pc_Menu .menul{height:60px;}
	.pc_Menu .menul .firstli:after{width: 20px;height: 6px;}
	.pc_Menu .menul .firstli.cur:after, .pc_Menu .menul .firstli:hover:after{bottom:8px;}
	.pc_Menu .menul .firstli>a{font-size:14px;height:60px;line-height:60px;padding:0 3px;}
	.pc_Menu .secdulBox{top:60px;border-radius:5px;}
	.pc_Menu .secdulBox .secdli a{font-size:14px;height:32px;line-height:32px;}
}


/*颜色重写*/
/*banner*/
#model_banner .banner_img img{position:relative;width:130%;left:50%;transform:translateX(-50%);}
#model_banner .banner_img a{display:block;width: 100%;overflow: hidden;}
.slick .slick-prev:before,.slick .slick-next:before{ content:""; }
#model_banner .slick-prev,#model_banner .slick-next{width:46px;height:84px;}
#model_banner .slick-prev{opacity:.2;left:60px;z-index:9; background:url("../image/arw.png") no-repeat center;transform:translateY(-50%) rotate(180deg);}
#model_banner .slick-next{opacity:.2;right:60px; background:url("../image/arw.png") no-repeat center;}
#model_banner .slick-prev:hover,#model_banner .slick-next:hover{opacity:1;}
#model_banner .slick-dots li{margin:0 10px;}
#model_banner .slick-dots li button{background: #fff;opacity:.6;}
#model_banner .slick-dots li.slick-active button{background: #fff;opacity:.6;}
#model_banner .slick-dots li.slick-active button:after{position:absolute;content:"";top:50%;left:50%;transform:translate(-50%,-50%); width:18px;height:18px;border:1px solid #cfc7c0;border-radius:50%;}
#model_banner .slick-dots {bottom: 10px;}

.model-textlist-one ul li:hover{border-bottom:1px solid #da251e;}
.model-textlist-one ul li:hover dt{color:#da251e;}
.model-textlist-one ul .textlist-lifirst .textlist-text .textlist-more:hover{border:1px solid #da251e;background:#da251e url(../image/icon10.png) 90% center no-repeat;}
.updown_fenlei .cont_nav .one .one_a i{background:url(../image/icon4.png) center no-repeat;}
.model-classify-nav .one .o_li .one_a i{background:url(../image/icon6.png) center no-repeat}

.updown_posnav .nav_item a:hover, .updown_posnav .nav_item a.on,#model_contant_main .model_dec_adress a:hover{color:#da251e;}
.updown_fenlei .cont_nav .one .o_li:hover .one_a, .updown_fenlei .cont_nav .one .o_li a.ez{background-color:#da251e;}
#model_contant_main .model_dec_adress a:hover,#model_contant_main .model_dec_adress a.cur{color:#da251e;}
.model-dectil-bottom .model-dectil-chose a:hover{color:#da251e;}
.model-dectil-img .slick-dots li button{border: 1px solid #da251e;}
.model-dectil-img .slick-dots li.slick-active button{background:#da251e;}
.model_seach .model-seachdiv form .seabtn,.model-textlist-three ul li a:before{background:#da251e;}
.model-textlist-three ul li a:hover, .model-textlist-three ul li a:hover dt{color:#da251e;}
.model_page a.on, .model_page a:hover,.model_page a.on, .model_page a.current{color:#da251e;border-bottom: 1px solid #da251e;}
.model-textlist-four ul li a:hover{background: #da251e;}
.model-textlist-two ul li a:hover .textlist-l dt,.model-textlist-two ul li a:hover .textlist-l p{color:#da251e;}
.model-textlist-two ul li a:hover .newtime{background: #da251e;}
.model-imgtextlist-two ul li a:hover .imgtextlist-r dt,.model-imgtextlist-one ul li a:hover .imgtextlist-l dt,
.model-imgtextlist-three ul li a:hover .imgtextlist-r dt,.model-imgtextlist-three ul li .imgtextlist-r .time p{color:#da251e;}
.model-imgtextlist-four ul li a:hover .imgtextlist-text,.model-imglist-two ul li a:hover p{background: #da251e;}
.model-imglist-two ul li .pimg em span{background:#da251e url(../image/icon7.png) center no-repeat}
.model-imglist-three ul li a:hover{border:2px solid #da251e;}
.model-imglist-three ul li a:hover p{color:#da251e;background:url(../image/icon6.png) right center no-repeat;}
.model_leftright_l .cont_nav .one .o_li .one_a i{background:url(../image/icon6.png) center no-repeat;}

/*手机端*/
.model-classify .model-classify-posnav{background:#da251e;}
/*底部导航*/
.model-fixed{background:#da251e!important;}
.model-classify-nav .one .o_li a.ez,.model-classify-nav .second a.sen_x{color:#da251e;}
.model-classify-nav .second a.sen_x:before{background:#da251e;}
.model-phone-page span i{color:#da251e;}

.model-leftnav-top{background: #da251e;}

.model-fixed .fnavbox li a, .fnavbox li dd{color:#fff!important;}
/*左右布局*/
.model_leftright_l .l_posnav{background: #da251e;}
.model_leftright_l .cont_nav .one .o_li a.one_a:hover, .model_leftright_l .cont_nav .one .o_li a.ez{color:#da251e;}
.model_leftright_l .cont_nav .second .e_li a:hover, .model_leftright_l .cont_nav .second .e_li a.sen_x{color:#da251e;}
.model_leftright_l .cont_nav .second .e_li a:hover:before, .model_leftright_l .cont_nav .second .e_li a.sen_x:before{background: #da251e;}
.model_leftright_l .cont_nav .second .e_li a:hover, .model_leftright_l .cont_nav .second .e_li a.sen_x{color:#da251e;}
.moder_leftright_r .r_posnav p{border-bottom:4px solid #da251e;}
.moder_leftright_r .r_posnav span a:hover{color:#da251e;}
/*内页产品详情箭头*/
.model-dectil-imgtwo .model-dectil-slick2 .slider-nav .slick-prev:before{border-bottom:12px solid #da251e;}
.model-dectil-imgtwo .model-dectil-slick2 .slider-nav .slick-next:before{border-top:12px solid #da251e;}
.model-dectil-imgtwo .model-dectil-slick2 .slider-nav .slick-prev:hover{border-bottom:1px solid #da251e;}
.model-dectil-imgtwo .model-dectil-slick2 .slider-nav .slick-next:hover{border-top:1px solid #da251e;}
@media (min-width:768px){
	.model-textlist-four ul li .textlist-r dd{color:#fff;}
	.model-imgtextlist-four ul li a:hover .imgtextlist-text p,.model-imgtextlist-four ul li .imgtextlist-text dd{color:#fff;}
}
@media (max-width:640px){
.model-dectil-imgtwo .model-dectil-slick2 .slider-nav .slick-next:after{    border-left: 7px solid #da251e;}
.model-dectil-imgtwo .model-dectil-slick2 .slider-nav .slick-next{border-left: 1px solid #da251e;}
.model-dectil-imgtwo .model-dectil-slick2 .slider-nav .slick-prev:after{border-right: 7px solid #da251e;}
}


/*私下css*/
.quik_btn{box-shadow: 0 5px 5px #e9e9e9; margin-top:-20px; position:relative; background:#fff}
.quik_btn ul li{ text-align:center; padding:30px 0 30px 0; position:relative }
.quik_btn ul li:before{display:block; content:" "; position:absolute; top:50%; margin-top:-30px; right:0;width:2px; height:60px; background:#e4e4e4}
.quik_btn ul li:last-child:before{ display:none}
.quik_btn ul li p{font-size:18px; margin-top:5px; position:relative; color:#333}
.quik_btn ul li:hover{ background:#da251e;transition: all .4s;-webkit-transition: all .4s;-moz-transition: all .4s;}
.quik_btn ul li:hover p{ color:#fff;transition: all .4s;-webkit-transition: all .4s;-moz-transition: all .4s;}
.quik_btn ul li span{ width:100px; height:100px; text-align:center; position:absolute; top:0px; border-radius:50%; background:#fff; border:solid 0px #da251e;box-shadow:0 0 0px #e9e9e9; overflow:hidden; left:50%; margin-left:-50px;display:block; padding-top:10px; transition: all .4s;-webkit-transition: all .4s;-moz-transition: all .4s;}
.quik_btn ul li span i{ font-size:40px; color:#da251e}

.quik_btn ul li:hover span{ top:-50px; border:solid 15px #da251e;box-shadow:0 0 10px #444;}
.quik_btn ul li:hover:before{background:#da251e}

.index_box .title{ margin-top:70px; padding-bottom:20px; border-bottom:solid 1px #f5f5f5}
.index_box .title span{ float:right; font-size:16px; margin-top:15px;height:20px; width:50px; text-align:center; position:relative;transition: all .4s;-webkit-transition: all .4s;-moz-transition: all .4s;}
.index_box .title span a{ color:#4a4a4a}
.index_box .title span:before{display:block; content:" "; position:absolute; bottom:-38px; left:0;width:100%; height:2px;background:#d33536}
.index_box .title p.ch{ display:block; text-align:left; font-size:22px; margin-bottom:5px;}
.index_box .title p.en{ color:#9f9f9f;text-transform:Capitalize }
.index_box .title:hover span{ width:60px;}

.index_box .inner{ margin-top:25px;}
.about .inner img{ max-width:100%; max-height:100%}
.about .inner .about_text p{ font-size:16px;  color:#4a4a4a; line-height:33px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 8;text-overflow: ellipsis;overflow: hidden;}
.about .inner .about_text .more{font-size:16px;  margin-top:20px;}
.about .inner .about_text .more a{color:#4a4a4a; }
.about .inner .about_text .more a:hover{ color:#da251e}

.ad{ height:350px; background-position:center;background-size: cover;background-attachment: fixed; background-repeat:no-repeat; margin-top:70px; text-align:center}
.ad .container{ position:relative; height:350px;}
.ad img{max-height:100%; max-width:100%; position:absolute; top:0;left:0;right:0;bottom:0; position:absolute; margin:auto }
.product .inner ul li{margin-bottom:30px;}
.product .inner ul li .text_area a{ font-size:16px; height:75px; line-height:75px;display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; text-align:center;  transition: all .4s;-webkit-transition: all .4s;-moz-transition: all .4s;}
.product .inner ul li .img_area{ overflow:hidden}
.product .inner ul li .img_area img{ max-width:100%; max-height:100%; transition: all .4s;-webkit-transition: all .4s;-moz-transition: all .4s;}
.product .inner ul li:hover .img_area img{transform: scale(1.04,1.04);-moz-transform: scale(1.04,1.04);-webkit-transform: scale(1.04,1.04);}
.product .inner ul li:hover .text_area a{ background:#da251e; color:#fff}

.news{ background:#f2f2f2;padding-top:100px;}
.news .container{ position:relative; padding:0 }
.news .title{ border-bottom:none; position:absolute; left:0; top:10px; margin-top:0; z-index:10;}
.news .inner{margin-top:0; }
.news .inner .slick{padding-bottom:145px;}
.news .inner .text_area{ margin-top:90px; padding:0}
.news .inner .img_area{padding:0; float:right; height:240px;}
.news .inner .text_area b{ font-size:16px; margin-bottom:10px; display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-weight:normal}
.news .inner .text_area p{ line-height:20px; height:40px; display:block;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;text-overflow: ellipsis;overflow: hidden;}
.news .inner .text_area .more{ margin-top:30px; padding:10px 0; border-bottom:solid 2px #da251e; color:#da251e; position:relative; display:inline-block; padding-right:35px;transition: all linear 0.2s;-webkit-transition: all linear 0.2s;-moz-transition: all linear 0.2s;}
.news .inner .text_area .more:before{display:block; content:" "; position:absolute; top:0; left:0;width:55px; height:1px; background:#da251e}
.news .inner img{ max-width:100%; max-height:100%}
.news .inner .news_li:hover .text_area .more{ padding-right:45px;}
.news .inner .slick-prev{ width:50px; height:50px; background:url(../image/btn1.png) no-repeat center #d9d9d9;bottom: 0;top: auto;z-index: 12;left:calc(50% - 25px);}
.news .inner .slick-next{ width:50px; height:50px; background:url(../image/btn2.png) no-repeat center #c3150e;bottom: 0;top: auto;z-index: 12;left:calc(50% + 25px); right:auto}

#footer{ background:#c3150e; margin-top:25px; padding:15px 0; text-align:center; color:#fff; line-height:25px;}
#footer a{ color:#fff}


@media (max-width:640px){
  .index_box .title {margin-top: 20px; padding-bottom:15px;}
.index_box .title p.ch{ font-size:16px; margin-bottom:0}
.index_box .title span{ margin-top:7px;}
.index_box .title span:before{ bottom:-29px;}
.about .inner .about_text p{ font-size:14px; line-height:24px;}
.about .inner .about_text .more{ font-size:14px; margin-bottom:20px;}
.ad{ margin-top:30px; height:280px;background-attachment: inherit;}
.ad .container{ height:280px;}
.product .inner ul li .text_area a{ height:35px; line-height:35px; color:#fff; background:#da251e}
.index_box .title span a{ font-size:12px;}
.product .inner ul li{ padding-left:7.5px; padding-right:7.5px; margin-bottom:15px;}
.product .inner ul { margin-left:-7.5px; margin-right:-7.5px;}
.news{ padding-top:15px;}
.news .container{  padding:0 15px; }
.news .title{ left:15px; top:0}
.news .inner .img_area{ margin-top:70px; height:auto}
.news .inner .text_area{ margin-top:15px;}
.news .inner .slick-prev{ width:40px; height:40px; background:url(../image/btn1.png) no-repeat center #d9d9d9;bottom: 0;top: auto;z-index: 12;left:auto; right:40px;}
.news .inner .slick-next{ width:40px; height:40px; background:url(../image/btn2.png) no-repeat center #c3150e;bottom: 0;top: auto;z-index: 12;left:auto; right:0}
.news .inner .slick{ padding-bottom:70px;}
#footer{ margin-bottom:45px; margin-top:15px;}
.product .inner ul li .text_area a{ font-size:14px;}
#quickbar-wrap{ padding-bottom:0}

}

@media (max-width:767px) {
.m-link1 { 
	display: none;
}
}
.m-link1 {
	padding: 20px 0;
}
.m-link1 .item {
	overflow: hidden;
	color: #fff;
}
.m-link1 .item span {
	float: left;
	font-size: 16px;
	margin-right: 18px;
	font-weight: 600;
	color: #fff;
}
.ul-link1 {
	overflow: hidden;
}
.ul-link1 li {
	float: left;
}
.ul-link1 li a {
	display: block;
	margin-right: 20px;
	font-size: 14px;
	color: #fff;
	height: 21px;
	line-height: 21px;
}
.ul-link1 li a:hover {
	color: #000;
}
