/* eyoucms.com 易优CMS -- 好用,免费,安全 */
#quickbar_form {
	background-color: red;
}
.fm {
	background-color: red;
}
.quickbar_nav_one li a {
	color: #ffffff;
}
.quickbar_nav_one ul li .icon:hover {
	background-color: #bbbbbb;
}
.model-leftnav-top {
	background: #aaaaaa;
}
.quickbar_nav_one ul li .icon {
	background-color: #aaaaaa;
}
.quickbar_nav_one ul li .li_hover {
	background-color: #aaaaaa;
}
.model-leftnav-top {
	background: #aaaaaa !important;
}
.model-fixed {
	width: 100%;
	padding: 5px 16px;
	height: 56px;
	background: #aaaaaa !important;
	position: fixed;
	left: 0;
	bottom: 0px;
	z-index: 22;
}
.model-fixed .fnavbox {
	width: 100%;
	height: auto;
}
.model-fixed .fnavbox li {
	text-align: center;
	float: left;
}
.model-fixed .fnavbox li a, .fnavbox li dd {
	color: #ffffff !important;
	display: block;
}
.model-fixed .fnavbox li .fix_icon {
	width: 100%;
	height: 26px;
	overflow: hidden;
}
.model-fixed .fnavbox li .title {
	overflow: hidden;
	height: 20px;
	line-height: 22px;
	font-size: 14px;
}
.model-fixed .model-ewmimg {
	display: none;
	width: 40%;
	position: fixed;
	top: 50%;
	left: 30%;
	z-index: 23;
	text-align: center;
	font-size: 0.58rem;
	color: #fff;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.model-fixed .model-ewmimg img {
	width: 100%;
}
.model-fixed .share_box {
	background: #fff;
	padding-top: 10px;
	width: 100%;
	height: auto;
	position: absolute;
	bottom: -120px;
	left: 0;
	z-index: 2;
}
.model-fixed .share_box .stop {
	width: 100%;
	height: 80px;
}
.model-fixed .share_box .quxiao {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #f3f3f3;
	color: #666;
}
.model-fixed .share-icon {
	position: relative;
	z-index: 3;
}
form#quickbar_form {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #aaaaaa !important;
	position: absolute;
	bottom: 176px;
	left: 0;
	padding: 0 3%;
}
span.s_ipt_w {
	width: 85%;
	display: block;
	float: left;
	color: #fff;
}
input#quickbar_kw {
	width: 100%;
	height: 30px;
	background: none;
	color: #000000;
}
span.s_btn_wr {
	width: 15%;
	float: right;
	color: #fff;
}
input#quickbar_submit {
	width: 100%;
	background: none;
	color: #000;
}
.copyM {
	background: #bbbbbb;
}
.quickbar_yc {
	display: none;
}
.elegant-aero {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 500px;
	/*background: #D2E9FF;*/
	padding: 20px 0px;
	font: 12px Arial, Helvetica, sans-serif;/*color: #666;*/
}
.input[placeholder] {
	color: #5c5c5c;
}
.elegant-aero h1 {
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 10px 10px 10px 20px;
	display: block;
	/*background: #C0E1FF;*/
	border-bottom: 1px solid #B8DDFF;
	margin: -20px -20px 15px;
}
.elegant-aero h1>span {
	display: block;
	font-size: 11px;
}
.elegant-aero label>span {
	float: left;
	margin-top: 10px;/*color: #5E5E5E;*/
}
.elegant-aero label {
	display: block;
	margin: 0px 0px 5px;
}
.elegant-aero label>span {
	float: left;
	width: 25%;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
	font-weight: bold;
}
.elegant-aero input[type="text"], .elegant-aero input[type="tel"], .elegant-aero input[type="email"], .elegant-aero textarea, .elegant-aero select {
	color: #888;
	width: 65%;
	padding: 0px 0px 0px 5px;
	border: 1px solid #C5E2FF;
	background: #FBFBFB;
	outline: 0;
	-webkit-box-shadow: inset 0px 1px 6px #ECF3F5;
	box-shadow: inset 0px 1px 6px #ECF3F5;
	font: 200 12px/25px Arial, Helvetica, sans-serif;
	height: 30px;
	line-height: 15px;
	margin: 2px 4px 16px 0px;
}
.elegant-aero textarea {
	height: 100px;
	padding: 5px 0px 0px 5px;
	width: 65%;
}
.elegant-aero select {
	background: #fbfbfb url('https://demoall.kuaituiyun.cn/8081/template/pc/skin/skin/img/down-arrow.png') no-repeat right;
	background: #fbfbfb url('https://demoall.kuaituiyun.cn/8081/template/pc/skin/css/down-arrow.png') no-repeat right;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width: 70%;
}
.elegant-aero .button {
	padding: 10px 30px 10px 30px;
	background: #ACB5B7;
	border: none;
	color: #FFF;
	box-shadow: 1px 1px 1px #4C6E91;
	-webkit-box-shadow: 1px 1px 1px #4C6E91;
	-moz-box-shadow: 1px 1px 1px #4C6E91;
	text-shadow: 1px 1px 1px #5079A3;
}
.elegant-aero .button:hover {
	background: #C5CFD2;
	color: #6B6262;
}
