a:hover {
  text-decoration: none;
}
a {
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
}
#header {
  position: relative;
  z-index: 100;
}
#header .logo {
  line-height: 90px;
}
#header .tel {
  font-size: 20px;
  font-weight: bold;
  color: #E7BE80;
  line-height: 90px;
  text-align: right;
  padding-right: 10px;
}
#header .tel i{
  position: relative;
  position: relative;
  top: -3px;
  left: -5px;
}
#header .menu_icon {
  position: absolute;
  top: 35%;
  right: 5%;
  width: 8%;
}
.right_nav {
  /*pc右边快速按钮样式*/
  /*pc右边快捷按钮“电话”*/
  /*pc右边快捷按钮“在线客服”*/
  /*pc右边快捷按钮“分享”*/
  /*pc右边快捷按钮“二维码”*/
  /*pc右边快捷按钮“搜索”*/
}
.right_nav .aside li > p,
.right_nav .aside > li > div {
  background-color: #E7BE80;
  color: #fff;
}
.right_nav .aside {
  position: fixed;
  right: 0;
  top: 20%;
  z-index: 10000;
}
.right_nav .aside > li {
  width: 60px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}
.right_nav .aside > li > p {
  position: relative;
  z-index: 1005;
  line-height: 60px;
}
.right_nav .aside > li img {
  vertical-align: middle;
}
.right_nav .aside > li p img {
  width: 80%;
}
.right_nav .aside > li p:hover img {
  width: 85%;
}
.right_nav .aside > li .img2 {
  display: none;
}
.right_nav .aside > li > div {
  background-image: url(../image/white_bg.png);
  background-repeat: repeat;
  position: absolute;
  display: none;
}
.right_nav .aside > li .phone_meassage {
  right: -240px;
  top: 0;
  width: 300px;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  padding: 5px 0;
}
.right_nav .aside > li .qq_online {
  top: 0;
  right: -127px;
  width: 187px;
  padding: 0 20px 0 15px;
}
.right_nav .aside > li .qq_online .qq_online_title {
  text-align: left;
  font-size: 15px;
  line-height: 30px;
  border-bottom: 1px solid #fff;
}
.right_nav .aside > li .qq_online .qq_online_box {
  margin-top: 11px;
}
.right_nav .aside > li .qq_online .qq_online_box ul li {
  line-height: 35px;
}
.right_nav .aside > li .qq_online .qq_online_box ul li a{ color:#fff}
.right_nav .aside > li .qq_online .qq_online_box ul li i {
  float: left;
  margin-top: -17px;
}
.right_nav .aside > li .qq_online .qq_online_box ul li span {
  float: left;
  margin-top: -16px;
  margin-left: 10px;
}
.right_nav .aside > li .qq_online .qq_online_box ul li span:hover {
  text-decoration: underline;
}
.right_nav .aside > li .fx {
  position: absolute;
  top: 0;
  right: -127px;
  width: 187px;
}
.right_nav .aside > li .fx > div {
  margin-left: 24px;
}
.right_nav .aside > li .ewm {
  top: -20px;
  right: 60px;
  width: 100px;
  height: 100px;
}
.right_nav .aside > li .search_box {
  position: absolute;
  top: 0;
  right: -205px;
  width: 265px;
  text-align: center;
  height: 100%;
}
.right_nav .aside > li .search_box .search_input {
  width: 220px;
  height: 36px;
  position: relative;
  margin: 12px auto;
}
.right_nav .aside > li .search_box .search_input span {
  position: absolute;
  line-height: 34px;
  left: 10px;
  z-index: 101;
}
.pc_menu{
  position: static;
}
.right_nav .aside > li .search_box .search_input input {
  width: 220px;
  border: none;
  background-color: transparent;
  height: 36px;
  padding-left: 10px;
  position: absolute;
  line-height: 30px;
  z-index: 1;
  top: 0;
  left: 0;
  background: url(../image/black_bg.png);
}
.right_nav .aside > li .search_box ::-webkit-input-placeholder {
  color: #fff;
}
.pc_menu .menu .nLi {
  float: left;
  width: 14%;
}
.pc_menu .menu .nLi h3{
  line-height: 90px;
  height: 90px;
  text-align: center;
}
.pc_menu .menu .nLi h3 a {
  text-align: center;
  color: #3F3F3F;
  font-size:14px;
  padding: 2px 10%;
}
.pc_menu .menu .nLi h3 a:hover{
  color: #C22A29;
}
.pc_menu .menu .current h3 a{
  border: 1px solid #E7BE80;
}
.pc_menu .menu .nLi .menu_2Box{
  display:none;
  background: url(../image/opacity0.25.png) repeat;
  position: absolute;
  border-bottom: -55px;
  width: 100%;
  left: 0;
  z-index: 10;
  padding-left: 28%;
}
.pc_menu .menu .nLi .menu_2 {
  
}
@media(max-width:1200px){
  .pc_menu .menu .nLi .menu_2 {
     padding-left: 24%;
  }
}
.pc_menu .menu .nLi .menu_2 li{
  float: left;
}
.pc_menu .menu .nLi .menu_2 li a {
  display: block;
  color: #fff;
  line-height: 55px;
  padding: 0 20px;
}
#footer .copyright {
  background: #E7BE80;
  text-align: center;
  padding: 15px 0;
  position: relative;
}
#footer .copyright .pc_footer_nav {
  display: inline-block;
  margin: 15px 0;
}
#footer .copyright .pc_footer_nav li {
  float: left;
}
#footer .copyright .pc_footer_nav li a {
  display: block;
  border-left: 1px solid #ffffff;
  padding: 0 7px;
  color: #ffffff;
}
#footer .copyright .pc_footer_nav li:first-child a {
  border-left: none;
}
#footer .copyright .copyright_con {
  color: #fff; line-height:24px;
 
}
#footer .copyright .copyright_con a{ color:#fff}
#footer .copyright .top {
  position: absolute;
  right: 10px;
  top: -18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 10;
}
.wap_footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 7px 0;
  z-index: 1000;
  background: #E7BE80;
}
.wap_footer dl {
  width: 20%;
  float: left;
  text-align: center; margin-bottom:0;
}
.wap_footer dt {
  height: 33px;
}
.wap_footer dd {
  color: #fff;
}
.wap_footer dl dt img {
  width: 40%;
}
/*手机底部搜索*/
.wap_search_input {
  position: fixed;
  bottom: 65px;
  left: 100%;
  width: 100%;
  z-index: 1000;
  padding: 8px 2%;
  background: #FCDEB2;
}
.wap_search_input:after {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.wap_search_input input {
  float: left;
  width: 80%;
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  padding-left: 2%;
  color: #060518;
  position: relative;
  z-index: 100;
  box-sizing: border-box;
}
.wap_search_input p {
  float: left;
  height: 30px;
  line-height: 30px;
  color: #060518;
  position: relative;
  z-index: 100;
  margin-left: 2%;
  width: 18%;
  text-align: center;
  border-radius: 5px;
  background-color:#fff; 
}
/*黑色遮罩*/
.black_cloth {
  position: fixed;
  z-index: 10000000;
  width: 100%;
  height: 100%;
  background: url(../image/black_cloth.png) repeat;
  display: none;
  top: 0;
  left: 0;
}
/*手机左边弹出导航*/
.wap_menu {
  width: 250px;
  position: fixed;
  top: 0px;
  left: -250px;
  height: 100%;
  text-align: left;
  z-index: 10000001;
  background: #9e845a;
}
.wap_menu li.menu_tit {
  font-size: 18px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  padding: 15px 10px;
  color: #fff;
}
.wap_menu li.menu_tit span {
  font-size: 20px;
  position: absolute;
  top: 12px;
  right: 15px;
  border-bottom: none;
  z-index: 1000;
}
.wap_menu li {
  margin-bottom: 2px;
  font-size: 14px;
  position: relative;
}
.wap_menu li .wap_menu1 {
  line-height: 24px;
  font-size: 16px;
  text-transform: Uppercase;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
}
.wap_menu li p {
  padding: 10px 10px; margin-bottom:0;
}
.wap_menu li .wap_menu1 a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 25px;
  color: #ffffff;
}
.wap_menu li .wap_menu1 p.left {
  float: none;
}
.wap_menu li .wap_menu1 p.right {
  width: 15%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  float: none;
  z-index: 1000;
}
.wap_menu li .wap_menu2 {
  display: none;
}
.wap_menu li .wap_menu2 a {
  display: block;
  background: none;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  line-height: 30px;
  font-size: 14px;
  border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
  padding: 10px;
}
.wap_menu li .wap_menu2 a i {
  float: left;
  width: 4px;
  height: 4px;
  background-color: #fff;
  margin: 13px 10px 0 5px;
}
.wap_menu li .wap_menu2 a span {
  float: left;
  width: 85%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*pc侧边栏分类样式*/
._asideBox{
  padding-left: 0;
}
._aside {
  padding-right: 0;
  position: relative;
  background-color: #E7BE80;
  margin-bottom: 80px;
  border-radius: 6px;
  padding: 115px 10px 40px;
}
._aside:after{
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -40px;
  background: url(../image/aside-shadow.png) no-repeat center;
  height: 20px;
}
._aside > h2 {
  width: 142px;
  height: 142px;
  position: absolute;
  background: url(../image/aside-title.png) no-repeat;
  left: 50%;
  margin-left: -71px;
  top: -40px;
  color: #E7BE80;
  padding-top: 60px;
  text-align: center;
}
._aside > h2 .p1{
  font-size: 24px;
  font-weight: bold;
}
._aside > h2 .p2{
  font-size: 14px;
  margin-top: 5px;
}
/*一级的样式*/
._aside ul.sidemenu > li.sub1 ul {
  display: none;
}
._aside ul.sidemenu > li.sub1 > a.sub1_a {
  position: relative;
  display: block;
  box-sizing: content-box;
  font-size: 14px;
  color: #fff;
  padding: 0px 20px;
  line-height: 45px;
  border-bottom: 1px dashed #fff; 
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
._aside ul.sidemenu > li.sub1 > a.sub1_a i{
  position: absolute;
  right: 4px;
  top: 0px;
  transform: rotate(0);
   transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
._aside ul.sidemenu > li.sub1:hover > a.sub1_a i{
  transform: rotate(45deg);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
/*二级的样式*/
._aside ul.sidemenu > li.sub1 > ul{
  padding-top: 10px;
}
._aside ul.sidemenu > li.sub1 > ul > li.sub2 > a.sub2_a {
  display: block;
  padding: 2px 20px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
._aside ul.sidemenu > li.sub1 > ul > li.sub2 > a.sub2_a span{
  position: relative;
}
._aside ul.sidemenu > li.sub1 > ul > li.sub2 > a.sub2_a span:after{
  content: "";
  display: block;
  background: url(../image/circle.png) no-repeat;
  height: 3px;
  width: 3px;
  position: absolute;
  left: -10px;
  top: 9px;
}
/*三级的样式*/
._aside ul.sidemenu > li.sub1 > ul > li.sub2 > ul > li.sub3 > a.sub3_a {
  display: block;
  padding: 2px 20px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}
/*手机内页crumb*/
.inside > h2 {
  padding: 0px 15px;
  font-size: 16px;
  color: #fff;
  line-height: 38px;
}

#banner {
  position: relative; overflow: hidden;
}
#banner .owl-theme .owl-controls .owl-dots{
  position: absolute;
  bottom: 2%;
  width: 100%;
}
#banner .owl-theme .owl-controls .owl-nav .owl-prev,#banner .owl-theme .owl-controls .owl-nav .owl-next{ position:absolute; bottom:50%;padding:15px 10px}
#banner .owl-theme .owl-controls .owl-nav .owl-prev{ left:5%;}
#banner .owl-theme .owl-controls .owl-nav .owl-next{ right:5%;}
#banner #owl-demo a.item { display:block; background-position:top center; background-repeat:no-repeat;height: 100%;width: 100%; background-size:auto 100%}
  #owl-demo,#owl-demo .owl-wrapper-outer,#owl-demo .owl-wrapper,#owl-demo .owl-item,#banner {height: 735px;}
@media all and (max-width: 992px) {
  #owl-demo,#owl-demo .owl-wrapper-outer,#owl-demo .owl-wrapper,#owl-demo .owl-item,#banner {height: 400px;}
}
@media all and (max-width: 640px) {
  #owl-demo,#owl-demo .owl-wrapper-outer,#owl-demo .owl-wrapper,#owl-demo .owl-item,#banner {height: 200px;}
}
@media (max-width: 640px) {
	#header .logo{ height:70px;}
	.logo img{ max-height:100%;max-width:none}
  ._aside {
    padding: 0;
    background-color: transparent;
    margin-bottom: 0;
  }
  /*手机内页crumb*/
  ._aside > h2 {
    width: 100%;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    position: static;
    margin-left: 0;
    height: 30px;
    padding-top: 0;
    background-color: #E7BE80;
    text-align: left;
    padding-left: 25px;
  }
  ._aside > h2 .p1{
    font-size: 14px;
    font-weight: normal;
    float: left;
  }
  ._aside > h2 .p2{
    display: none;
  }
  ._aside h2 .phone-menuicon {
    float: right;
    cursor: pointer;
    margin-right: 15px;
  }
  ._aside h2 .phone-menuicon img {
    -webkit-transition: all .4s;
            transition: all .4s;
  }
  /*手机内页分类下拉列表*/
  ._aside ul.sidemenu {
    width: 100%;
    display: none;
  }
   /*手机内页分类下拉列表*/
  ._aside ul.sidemenu {
    padding: 0 15px;
    display: none;
  }
  ._aside ul.sidemenu > li.sub1:after {
    display: none;
  }
  ._aside ul.sidemenu > li.sub1 {
    margin-right: 0;
  }
  /*一级的样式*/
  ._aside ul.sidemenu > li.sub1 ul {
    display: none;
  }
  ._aside ul.sidemenu > li.sub1 > a.sub1_a {
    display: block;
    box-sizing: content-box;
    height: 30px;
    line-height: 30px;
    background-color: #F0F0F0;
    color: #010101;
    margin-top: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  ._aside ul.sidemenu > li.current > a.sub1_a {
    color: #ff0000;
  }
  ._aside ul.sidemenu > li.sub1 > a.sub1_a,
  ._aside ul.sidemenu > li.sub1 > ul > li.sub2 > a.sub2_a,
  ._aside ul.sidemenu > li.sub1 > ul > li.sub2 > ul > li.sub3 > a.sub3_a {
    padding-left: 5%;
    font-size: 12px;
  }
  ._aside ul.sidemenu > li.sub1 > ul {
    padding: 5px 0;
  }
  ._aside ul.sidemenu > li.sub1 > a.sub1_a i{
    display: none;
  }
  ._aside ul.sidemenu > li.sub1 > ul > li.sub2 > a.sub2_a,._aside ul.sidemenu > li.sub1 > ul > li.sub2 > ul > li.sub3 > a.sub3_a{
    color: #8D8D8D;
  }
  ._aside ul.sidemenu > li.sub1 > ul > li.sub2 > ul > li.sub3 > a.sub3_a{
    padding-left: 25px;
  }
}
.page_box {
    text-align: center;
    display: block;
}
/*当前页的样式*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{ background:#E7BE80; border-color:#aaa}
/*分页块默认样式*/
.pagination > li > a, .pagination > li > span{ color:#A19D9D}
.pagination > li > a:hover, .pagination > li > span:hover{color:#A19D9D}


.list-img {
  margin: 0 -7.5px;
}
.list-img > ul > li {
  text-align: center;
  padding: 0 7.5px;
  margin-top: 30px;
  position: relative;
  background-color: transparent;
  transition: all ease 0.8s;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
}
.list-img > ul > li:after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #E7BE80;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all ease 0.8s;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
}
.list-img > ul > li a .text_area {
  color: #212121;
  line-height: 45px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list-img > ul > li:hover:after{
  width: 100%;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
}
.list-img > ul > li:hover{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
}
.list-img > ul > li a .img_area{width:100%; position:relative }
.list-img > ul > li a .img_area img{ max-width:100%; max-height:100%; top:0;left:0;right:0;bottom:0; position:absolute; margin:auto}
.list_img_text ul li {
    margin-top:20px;
    padding: 20px 10px;
    border-bottom: 1px solid #E2E2E2;
}
.list_img_text ul li:hover{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #FAFAFA;
}
.list_img_text ul li .img_area{
    padding: 0px;
}
.list_img_text ul li .text_area{
 margin-top:5px;	
}
.list_img_text ul li .text_area .title {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	  margin-bottom:5px;
    font-size: 16px;
}
.list_img_text ul li .text_area .title{
  color:#4D4D4D;
}
.list_img_text ul li .text_area .tip a{
  color: #4D4D4D;
}
.list_img_text ul li .text_area .tip {
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    margin: 5px 0 5px;
}
.list_img_text ul li .text_area .more{
  color: #4D4D4D;
}
.list_img_text ul li .text_area .more a{
  color: #4D4D4D;
}
@media screen and (min-width: 768px) and (max-width: 991px)  {
.list_img_text ul li .text_area .tip {
    height: 20px;
}}
@media screen and (max-width: 640px)  {
  .pagination {
    display: inline-block;
    margin: 30px 0 20px;
}
  .list_img_text ul li .text_area .title{
    font-size: 14px;
  }
  .list_img_text ul li .text_area .tip{
    font-size: 12px;
    line-height: 20px;
    height: 40px;
  }
  .list_img_text ul li .text_area .more{
    font-size: 12px;
  }
.list_img_text ul li .text_area{
 margin-top:10px;	
 padding: 0;
}
.list_img_text ul li{
  padding: 10px 0;
  margin-top: 10px;
  border-bottom: none;
}
}
/*搜索页面*/
.content .searchresultBox .list-searchresul {
    margin-top: 10px;
    padding: 25px 20px 15px 20px;
    border: 1px solid transparent;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
}
.content .searchresultBox .list-searchresul .p1 {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.content .searchresultBox .list-searchresul a {
    color: #2E2E2E;
}
.content .searchresultBox .list-searchresul a:hover{
  text-decoration: underline;
}
.content .searchresultBox .list-searchresul .p2 {
    margin: 15px 0 5px;
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}
.content .searchresultBox .list-searchresul div a {
    display: block;
    padding: 5px 20px;
    font-size: 12px;
}
.content .searchresultBox .list-searchresul:hover {
  border-color: #C1C1C1;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
}
.content .searchresultBox .list-searchresul:hover div a {
  background-color: #F0F0F0;
}
@media (max-width: 767px){
  .content .searchresultBox .list-searchresul .p2 {
    margin: 5px 0 10px;
}
  .content .searchresultBox .list-searchresul div a {
    padding: 2px 10px;
    background-color: #F0F0F0;
}
  .search_box1{
    padding: 0;
  }
  .content .searchresultBox .list-searchresul {
    padding: 15px;
    border-bottom: 1px solid #DFDFDF;
}
}
/*搜索页面*/
.feedback-form .title {
    padding:15px;
    color: #000;
    background-color: #F2F2F2;
	margin-bottom:15px;box-sizing:border-box; 
}
.feedback-form .form-group .sure,.feedback-form .form-group .more{ padding:5px 15px; border:none; color:#fff; border-radius:5px; margin-right:10px;}
.feedback-form .form-group .sure{ background:#df0024}
.feedback-form .form-group .more{ background:#dfa800}
.news_detail .title {
  padding-bottom: 10px;
  border-bottom: dashed 1px #aaa;
  text-align: center;
}
.news_detail .title h3 {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  line-height:190%
}
.news_detail .title .box {
  display: inline-block;
  text-align: center;
}
.news_detail .title .box img {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.news_detail .title .box div {
  margin-right: 5px;
}
.news_detail .title .box .time {
  float: left;
  text-align: center;
}
.news_detail .title .box .eye {
  float: left;
  text-align: center;
}
.news_detail .title .box .back {
  float: left;
}
.news_detail .news_detail_content {
  margin-top: 15px;
}
.news_detail .pageTurning {
  margin-top: 15px;
}
.news_detail .pageTurning .prevs,
.news_detail .pageTurning .nexts {
  background: #ddd;
  line-height:250%;
  padding:0 10px;
}
.news_detail .pageTurning .prevs {
  margin-bottom: 5px;
}
@media(max-width:767px){
  .news_detail .news_detail_content{
    padding: 0 15px;
  }
}
.product_detail .title {
  padding-bottom: 10px;
  border-bottom: dashed 1px #aaa;
  text-align: center;
}
.product_detail .title h3 {
  font-size:120%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  line-height:190%
}
.product_detail .title .box {
  display: inline-block;
  text-align: center;
}
.product_detail .title .box img {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.product_detail .title .box .back {
  float: left;
}

.product_detail .product_detail_images {
  padding-top: 15px;
  text-align: center;
  position: relative;
}
.product_detail .product_detail_images .product_detail_btn2 {
  position: absolute;
  right: 3%;
  top: 48%;
  background:url(../image/rgb0.3.png);
  z-index: 100;
   font-size:0;
}
.product_detail .product_detail_images .product_detail_btn1 {
  position: absolute;
  left: 3%;
  top: 48%;
  background:url(../image/rgb0.3.png);
  z-index: 100;
  font-size:0
}
.product_detail .product_detail_images .product_detail_btn1 a img,.product_detail .product_detail_images .product_detail_btn2 a img{  margin: 10px 5px;}
.product_detail .product_detail_images .owl-carousel .owl-item img {
  width:auto;  
  margin: auto;
  cursor: pointer;
  max-width:100%;
}
.product_detail .product_detail_images .owl-theme .owl-controls {
  position: absolute;
  bottom: 2%;
  width: 100%;
}
.product_detail .product_detail_images .product_detail_img {
  width: 80%;
  margin: 0 auto;
}
.product_detail .product_detail_content {
  margin-top: 20px;
  margin-bottom: 20px;
}
.product_detail .pageTurning {
  margin-top: 15px;
}
.product_detail .pageTurning .prevs,
.product_detail .pageTurning .nexts {
  background: #ddd;
  line-height:250%;
  padding:0 10px;
}
.product_detail .pageTurning .prevs {
  margin-bottom: 5px;
}

 .pswp__bg{ background:url(../image/rgb0.8.png)}
@media (max-width: 767px) {
 .pswp__bg{ background:#000}
 .product_detail .product_detail_content{
   padding:0 15px;
 }
 .product_detail .product_detail_images .product_detail_btn2 {
  right: 1%;
}
.product_detail .product_detail_images .product_detail_btn1 {
  left: 1%;
}
	}
