
/* CSS Document */
body, button, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, td, textarea, th, ul {
	font-weight: 400;
	margin: 0;
	padding: 0
}
body, button, h1, h2, h3, h4, h5, h6, i, input, select, textarea {
	font: 400 13px/26px "Helvetica Neue", "Microsoft YaHei", Helvetica, STHeiTi, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #434343
}
li, ol, ul {
	list-style: none
}
a {
	text-decoration: none;
	color: #434343
}
a:hover {
	text-decoration: none
}
.trans {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
img {
	vertical-align: top;
	border: 0;
	max-width: 100%;
}
button, input, textarea {
	font-size: 100%;
	vertical-align: middle;
	outline: 0;
	border-radius: 0;
	-webkit-appearance: none
}
table {
	border-spacing: 0;
	border-collapse: collapse
}
a, div {
	-webkit-tap-highlight-color: rgba(255,255,255,0)
}
html {
	font-size: 100px
}
@media screen and (min-width:360px) {
html {
	font-size: 112.5px
}
}
@media screen and (min-width:375px) {
html {
	font-size: 117.19px
}
}
@media screen and (min-width:414px) {
html {
	font-size: 129.38px
}
}
@media screen and (min-width:480px) {
html {
	font-size: 150px
}
}
@media screen and (min-width:640px) {
html {
	font-size: 200px
}
}
.clearfix:after, .clearfix:before {
	content: "";
	display: table
}
.clearfix:after {
	clear: both
}
.wp {
	width: 1200px;
	max-width: 1200px;
	margin: 0 auto
}
.wp1 {
	width: 1214px;
	max-width: 1214px;
	margin: 0 auto
}
.wp2 {
	width: 1208px;
	max-width: 1208px;
	margin: 0 auto
}
.wp3 {
	width: 1224px;
	max-width: 1224px;
	margin: 0 auto
}
.fl {
	float: left
}
.fr {
	float: right
}
.al {
	text-align: left
}
.ac {
	text-align: center
}
.ar {
	text-align: right
}
.hide {
	display: none
}
.checkBrowser {
	font-size: 14px;
	line-height: 40px;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 50%;
	width: 700px;
	height: 40px;
	margin-left: -360px;
	padding: 0 10px;
	color: #FFF;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #E6212A
}
.checkBrowser a {
	font-size: 16px;
	line-height: 20px;
	position: absolute;
	top: 10px;
	right: 5px;
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	text-align: center;
	color: #333;
	border-radius: 50%;
	background-color: #FFF
}
@font-face {
	font-family: iconfont;
	src: url("../font/fontawesome-webfont1.eot");
	src: url("https://demoall.5fa.cn/11964/template/pc/skin/fonts/iconfont.eot-") format("embedded-opentype"), url("../font/fontawesome-webfont.woff") format("woff"), url("../font/fontawesome-webfont1.ttf") format("truetype"), url("../font/fontawesome-webfont.svg") format("svg")
}
.iconfont {
	font-family: iconfont!important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown
}
@-webkit-keyframes bounceInDown {
0% {
opacity:0;
-webkit-transform:translateY(-2000px);
transform:translateY(-2000px)
}
60% {
opacity:1;
-webkit-transform:translateY(30px);
transform:translateY(30px)
}
80% {
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
100% {
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes bounceInDown {
0% {
opacity:0;
-webkit-transform:translateY(-2000px);
transform:translateY(-2000px)
}
60% {
opacity:1;
-webkit-transform:translateY(30px);
transform:translateY(30px)
}
80% {
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
100% {
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@-webkit-keyframes rotateInDownLeft {
0% {
-webkit-transform-origin:left bottom;
transform-origin:left bottom;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg);
opacity:0
}
100% {
-webkit-transform-origin:left bottom;
transform-origin:left bottom;
-webkit-transform:rotate(0);
transform:rotate(0);
opacity:1
}
}
@keyframes rotateInDownLeft {
0% {
-webkit-transform-origin:left bottom;
transform-origin:left bottom;
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg);
opacity:0
}
100% {
-webkit-transform-origin:left bottom;
transform-origin:left bottom;
-webkit-transform:rotate(0);
transform:rotate(0);
opacity:1
}
}
.rotateInDownLeft {
	-webkit-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft
}
.paged {
	padding-top: 30px;
	text-align: center
}
.paged .current, .paged .p_info, .paged a {
border-radius:.02rem;
	display: inline-block;
	zoom: 1;
	margin: 5px 3px;
padding:.075rem .11rem;
	font-size: 16px;
	text-align: center;
	background: #FFF;
	color: #666
}
.paged .current, .paged a:hover {
	background: #c7ad8e;
	color: #FFF
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s
}
@-webkit-keyframes flip {
0% {
-webkit-transform:rotateY(0);
transform:rotateY(0);
-webkit-animation-timing-function:ease-out;
animation-timing-function:ease-out
}
40% {
-webkit-transform:rotateY(170deg);
transform:rotateY(170deg);
-webkit-animation-timing-function:ease-out;
animation-timing-function:ease-out
}
50% {
-webkit-transform:rotateY(190deg);
transform:rotateY(190deg);
-webkit-animation-timing-function:ease-in;
animation-timing-function:ease-in
}
80% {
-webkit-transform:rotateY(360deg);
transform:rotateY(360deg);
-webkit-animation-timing-function:ease-in;
animation-timing-function:ease-in
}
100% {
-webkit-transform:rotateY(360deg);
transform:rotateY(360deg);
-webkit-animation-timing-function:ease-in;
animation-timing-function:ease-in
}
}
@keyframes flip {
0% {
-webkit-transform:rotateY(0);
transform:rotateY(0);
-webkit-animation-timing-function:ease-out;
animation-timing-function:ease-out
}
40% {
-webkit-transform:rotateY(170deg);
transform:rotateY(170deg);
-webkit-animation-timing-function:ease-out;
animation-timing-function:ease-out
}
50% {
-webkit-transform:rotateY(190deg);
transform:rotateY(190deg);
-webkit-animation-timing-function:ease-in;
animation-timing-function:ease-in
}
80% {
-webkit-transform:rotateY(360deg);
transform:rotateY(360deg);
-webkit-animation-timing-function:ease-in;
animation-timing-function:ease-in
}
100% {
-webkit-transform:rotateY(360deg);
transform:rotateY(360deg);
-webkit-animation-timing-function:ease-in;
animation-timing-function:ease-in
}
}
.animated.flip {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation-name: flip;
	animation-name: flip
}
@-webkit-keyframes rubberBand {
0% {
-webkit-transform:scale(1);
transform:scale(1)
}
30% {
-webkit-transform:scaleX(1.25) scaleY(.75);
transform:scaleX(1.25) scaleY(.75)
}
40% {
-webkit-transform:scaleX(.75) scaleY(1.25);
transform:scaleX(.75) scaleY(1.25)
}
60% {
-webkit-transform:scaleX(1.15) scaleY(.85);
transform:scaleX(1.15) scaleY(.85)
}
100% {
-webkit-transform:scale(1);
transform:scale(1)
}
}
@keyframes rubberBand {
0% {
-webkit-transform:scale(1);
transform:scale(1)
}
30% {
-webkit-transform:scaleX(1.25) scaleY(.75);
transform:scaleX(1.25) scaleY(.75)
}
40% {
-webkit-transform:scaleX(.75) scaleY(1.25);
transform:scaleX(.75) scaleY(1.25)
}
60% {
-webkit-transform:scaleX(1.15) scaleY(.85);
transform:scaleX(1.15) scaleY(.85)
}
100% {
-webkit-transform:scale(1);
transform:scale(1)
}
}
.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand
}
@-webkit-keyframes bounceIn {
0% {
opacity:0;
-webkit-transform:scale(.3);
transform:scale(.3)
}
50% {
opacity:1;
-webkit-transform:scale(1.05);
transform:scale(1.05)
}
70% {
-webkit-transform:scale(.9);
transform:scale(.9)
}
100% {
opacity:1;
-webkit-transform:scale(1);
transform:scale(1)
}
}
@keyframes bounceIn {
0% {
opacity:0;
-webkit-transform:scale(.3);
transform:scale(.3)
}
50% {
opacity:1;
-webkit-transform:scale(1.05);
transform:scale(1.05)
}
70% {
-webkit-transform:scale(.9);
transform:scale(.9)
}
100% {
opacity:1;
-webkit-transform:scale(1);
transform:scale(1)
}
}
.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn
}
@-webkit-keyframes flipInX {
0% {
-webkit-transform:perspective(400px) rotateX(90deg);
transform:perspective(400px) rotateX(90deg);
opacity:0
}
40% {
-webkit-transform:perspective(400px) rotateX(-10deg);
transform:perspective(400px) rotateX(-10deg)
}
70% {
-webkit-transform:perspective(400px) rotateX(10deg);
transform:perspective(400px) rotateX(10deg)
}
100% {
-webkit-transform:perspective(400px) rotateX(0);
transform:perspective(400px) rotateX(0);
opacity:1
}
}
@keyframes flipInX {
0% {
-webkit-transform:perspective(400px) rotateX(90deg);
transform:perspective(400px) rotateX(90deg);
opacity:0
}
40% {
-webkit-transform:perspective(400px) rotateX(-10deg);
transform:perspective(400px) rotateX(-10deg)
}
70% {
-webkit-transform:perspective(400px) rotateX(10deg);
transform:perspective(400px) rotateX(10deg)
}
100% {
-webkit-transform:perspective(400px) rotateX(0);
transform:perspective(400px) rotateX(0);
opacity:1
}
}
.flipInX {
	-webkit-backface-visibility: visible!important;
	backface-visibility: visible!important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX
}
@-webkit-keyframes pulse {
0% {
-webkit-transform:scale(1);
transform:scale(1)
}
50% {
-webkit-transform:scale(1.1);
transform:scale(1.1)
}
100% {
-webkit-transform:scale(1);
transform:scale(1)
}
}
@keyframes pulse {
0% {
-webkit-transform:scale(1);
transform:scale(1)
}
50% {
-webkit-transform:scale(1.1);
transform:scale(1.1)
}
100% {
-webkit-transform:scale(1);
transform:scale(1)
}
}
.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse
}
@-webkit-keyframes bounce {
0%, 100%, 20%, 50%, 80% {
-webkit-transform:translateY(0);
transform:translateY(0)
}
40% {
-webkit-transform:translateY(-30px);
transform:translateY(-30px)
}
60% {
-webkit-transform:translateY(-15px);
transform:translateY(-15px)
}
}
@keyframes bounce {
0%, 100%, 20%, 50%, 80% {
-webkit-transform:translateY(0);
transform:translateY(0)
}
40% {
-webkit-transform:translateY(-30px);
transform:translateY(-30px)
}
60% {
-webkit-transform:translateY(-15px);
transform:translateY(-15px)
}
}
.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce
}
.header {
	background-color: #0cb46a;
	width: 100%;
	height: 100px;
	position: relative;
	z-index: 111;
}
.header h1 {
	padding-top: 15px;
}
.header h1 a {
	display: inline-block;
	width: 1.2rem;
}
.header h1 a img {
	width: 100%;
	height: 100%;
}
.header .nav {
	text-align: right
}
.header .nav li {
	display: inline-block;
	height: 100px;
	vertical-align: top
}
.header .nav li a {
	text-align: center;
	box-sizing: border-box;
	display: block;
	width: 112px;
	position: relative;
	height: 100%;
	line-height: 94px;
	font-size: 16px;
	font-weight: bold;
	color: #fff
}
.header .nav-box-2 {
	z-index: 9999;
	display: none;
	position: absolute;
	top: 100px;
	width: 100%;
	left: 0
}
.header .nav-box-2 .nav-box-2-transparent {
	height: 10px;
	width: 100%
}
.header .nav-box-2 .nav-box-2-nr {
	background-color: #f2f2f2;
	opacity: .9;
	width: 100%;
	min-height: 332px;
	padding: 25px 0;
	box-sizing: border-box;
}
.header .nav-box-2 .nav-box-2-nr .wp {
	text-align: right;
	padding-right: 0px
}
.header .nav-box-2 .nav-box-2-nr .ul {
	vertical-align: top;
	display: inline-block;
	width: 111px;
	text-align: center;
	border-right: 1px solid #C8C5BE
}
.header .nav-box-2 .nav-box-2-nr .ul li {
	padding-right: 3px;
	height: 35px
}
.header .nav-box-2 .nav-box-2-nr .ul a {
	color: #626262;
	font-size: 13px;
	position: relative;
	overflow: hidden;
	margin-left: -1px;
	display: block;
	line-height: 35px
}
.header .nav-box-2 .nav-box-2-nr .ul a span {
	display: block
}
.header .nav-box-2 .nav-box-2-nr .ul a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	height: 1px;
	display: block;/*background:#BFA383;*/
	width: 100%;
	border: 0;
	top: auto
}
.header .nav-box-2 .nav-box-2-nr .ul a:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	transform: translate(100%, 0);
	height: 1px;
	display: block;/*background:#BFA383;*/
	width: 100%
}
.header .nav-box-2 .nav-box-2-nr .ul a:hover span {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.header .nav-box-2 .nav-box-2-nr .ul a:hover::after {
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.header .nav-box-2 .nav-box-2-nr .ul a:hover::before {
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.header .nav-box-2 .nav-box-2-nr .ul:last-child {/*margin-right:65px*/
}
.nav-btn {
	display: none;
width:.18rem;
height:.16rem;
	background-size: cover; /*background-color:#f2f2f2;*/
	background-image: url("../image/nav-btn.png");
	position: absolute;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	top: 50%;
right:.175rem
}
.iphone-nav {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 2.09rem;
	height: 100%;
	background: url("../image/bg_02.jpg");
	z-index: 66666666666
}
.iphone-nav a {
	display: block;
padding-left:.44rem;
	color: #FFF;
font-size:.12rem;
height:.39rem;
line-height:.39rem;
	border-bottom: 1px dashed #545454
}
.iphone-nav a img {
	max-width: 100%;
	vertical-align: middle;
height:.12rem
}
.bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 100;
	left: 0;
	top: 0
}
.search-btn-1 {
	position: absolute;
right:.5rem;
	top: 50%;
	display: none;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%)
}
.search-btn-1 a {
	display: block;
width:.18rem;
height:.18rem;
	background-image: url("https://demoall.5fa.cn/11964/template/pc/skin/images/sosuo.png");
	background-size: 100% 100%
}
.search-1 {
	display: none;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%)
}
.search-1 input {
	width: 1rem;
height:.25rem;
	padding-left: 10px;
	padding-right: 50px;
	border-radius: 20px;
	border: 1px solid #EFEFEF;
	background: #FFF;
	font-size: 14px
}
.search-1 button {
	position: absolute;
	right: 10px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
width:.225rem;
height:.225rem;
	background-color: transparent;
	background-image: url("https://demoall.5fa.cn/11964/template/pc/skin/images/search.png");
	background-size: 100% 100%;
	border: 0;
	cursor: pointer
}
@media screen and (max-width:1200px) {
.search-btn-1 {
	display: block
}
.wp {
	width: 96%;
	padding: 0 2%
}
.wp1 {
	width: 96%;
	padding: 0 2%
}
.wp2 {
	width: 96%;
	padding: 0 2%
}
.wp3 {
	width: 96%;
	padding: 0 2%
}
.header {
height:.495rem;
	position: relative
}
.header .nav {
	display: none
}
.header .header-fd {
height:.495rem
}
.header h1 {
left: .1rem;
	float: none;
	line-height: normal;
	position: absolute;
	top: 50%;
	padding-top: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.iphone-nav {
	display: block;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-transform: translate3d(-2.09rem, 0, 0);
	transform: translate3d(-2.09rem, 0, 0)
}
.iphone-nav-active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.nav-btn {
	display: block
}
}
@media screen and (max-width:1200px) {
.wp1200 {
	width: 100%
}
}
.banner {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative
}
.banner .shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 11111;
	background: #849093;
	opacity: .5
}
.banner .img {
	width: 100%;
	height: 100%;
}
.banner .img .swiper-container {
	width: 100%;
	height: 100%
}
.banner .img .swiper-container .swiper-slide {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center
}
.banner .img a {
	display: block;
	height: 100%;
	text-align: center;
}
.banner .img img {
	width: 100%;
}
.banner .img .swiper-button-prev {
	left: 50px;
	width: 90px;
	height: 90px;
	background-color: transparent;
	margin: 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.banner .img .swiper-button-next {
	right: 50px;
	width: 90px;
	height: 90px;
	background-color: transparent;
	margin: 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.banner .img .swiper-button-prev {
	left: 50px
}
.banner .img .swiper-button-next {
	right: 50px
}
.banner .img .swiper-pagination .swiper-pagination-bullet {
width:.065rem;
height:.065rem;
	background: #FFF;
margin:.04rem;
	opacity: 1
}
.banner .img .swiper-pagination .swiper-pagination-bullet-active {
	background: -webkit-linear-gradient(bottom, #8B7254, #E5CFB5);
	background: linear-gradient(to top, #8B7254, #E5CFB5)
}
.banner .img .swiper-button-next, .banner .img .swiper-button-prev {
	opacity: 0;
}
.banner .img:hover .swiper-button-next, .banner .img:hover .swiper-button-prev {
	opacity: 1;
}
.banner .small-img {
	display: none;
	width: 100%;
	height: 100%;
}
.banner .small-img .swiper-container {
	width: 100%;
	height: 100%
}
.banner .small-img .swiper-container .swiper-slide {
	width: 100%;
	height: 100%;
}
.banner .small-img .swiper-button-prev {
	left: 10px;
width:.25rem;
height:.25rem
}
.banner .small-img .swiper-button-next {
	right: 10px;
width:.25rem;
height:.25rem
}
.banner .small-img a {
	display: block;
	height: 100%
}
.banner .small-img img {
	width: 100%;
}
.banner .small-img .swiper-pagination .swiper-pagination-bullet {
width:.065rem;
height:.065rem;
	background: #FFF;
margin:.04rem;
	opacity: 1
}
.banner .small-img .swiper-pagination .swiper-pagination-bullet-active {
	background: -webkit-linear-gradient(bottom, #8B7254, #E5CFB5);
	background: linear-gradient(to top, #8B7254, #E5CFB5)
}
@media (max-width: 768px) {
.banner .img {
	display: none;
}
.banner .small-img {
	display: block;
}
}
.exclusive .list .swiper-slide div:before {
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.exclusive .list .swiper-slide div:after {
	-webkit-transition: all .5s ease;
	transition: all .5s ease
}
.banner .img .swiper-button-prev {
	z-index: 99999
}
.banner .img .swiper-button-next {
	z-index: 99999
}
.header-top {
	height: 30px;
	line-height: 30px
}
.header-top a {
	margin-right: 10px
}
.header-top a:hover {
	color: #c7ad8e
}
@media screen and (max-width:1200px) {
.header-top {
	padding-right: 10px;
	padding-left: 10px
}
}
@media screen and (max-width:640px) {
.header-top {
	display: none
}
}
/*产品分类*/
.in_prolist_bg {
	background: url("https://demoall.5fa.cn/11964/template/pc/skin/images/in_prolist_bg.jpg") no-repeat center top;
	padding: 60px 0;
	height: auto;
	overflow: hidden
}
.in_prolist {
	position: relative;
	width: 396px;
	height: 460px;
	float: left;
	margin-right: 6px;
}
.in_prolist:last-child {
	margin-right: 0;
}
.in_prolist_tu {
	width: 100%;
	padding-top: 116.165%;
	position: relative;
	overflow: hidden;
}
.in_prolist_tu img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	display: block;
}
.in_prolist_title {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	background: rgba(0,0,0,.6);
	padding: 30px 0;
}
.in_prolist a .in_prolist_title span {
	display: inline-block;
	width: 50%;
	border: 1px solid #fff;
	color: #fff;
	font-size: 22px;
	line-height: 50px;
}
@media screen and (max-width:1199px) {
.in_prolist {
	width: 32.7%;
	height: auto;
	overflow: hidden;
	float: left;
	margin-right: 6px
}
.in_prolist_title {
	display: inline-block;
	width: 100%;
	height: 50px;
	z-index: 999;
	padding: 15px 0;
	opacity: 1;
}
.in_prolist a .in_prolist_title span {
	display: inline-block;
	text-align: center;
	width: 60%;
	margin: 0;
	border: 1px solid #fff;
	color: #fff;
	font-size: 22px;
	line-height: 50px;
}
}
@media screen and (max-width:767px) {
.in_prolist {
	width: 32.6%;
	height: auto;
	overflow: hidden;
	float: left;
	margin-right: 6px
}
.in_prolist_title span {
	display: inline-block;
	text-align: center;
	width: 65%;
}
}
@media screen and (max-width:640px) {
.in_prolist_bg {
	background: url("../image/ny_bg-.jpg") no-repeat center top fixed #f2f2f2;
	padding: 40px 0;
}
.in_prolist {
	width: 100%;
	float: none;
	margin-right: 0;
	margin-bottom: 20px
}
.in_prolist_title {
	padding: 20px 0;
}
.in_prolist_title span {
	font-size: 24px;
	line-height: 60px;
}
}
/*about*/
.in_about {
	margin-top: 60px;
	height: auto;
	overflow: hidden
}
.in_about_l {
	width: 510px;
	float: left;
	margin-top: 40px
}
.in_about_l h2 {
	position: relative;
	padding-top: 30px;
	padding-left: 30px;
	color: #000;
}
.in_about_l h2 b {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	color: #f3f3f3;
	font-family: "Times New Roman", Times, serif;
	font-size: 73px;
	font-weight: normal;
	line-height: 60px;
}
.in_about_l h2 a {
	position: relative;
	font-size: 30px;
	font-weight: bold;
}
.in_about_l p {
	margin-top: 60px;
	text-align: justify;
}
.in_about_l span {
	margin-top: 50px;
	display: block
}
.in_about_l span a {
	width: 140px;
	border: 1px solid #0cb46a;
	color: #0cb46a;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 40px;
	display: block
}
.in_about_r {
	width: 630px;
	float: right
}
.in_about_r a img {
	width: 100%;
	height: auto;
	overflow: hidden
}
@media screen and (max-width:1199px) {
.in_about_l {
	width: 42%;
	margin-top: 0
}
.in_about_r {
	width: 55%
}
}
@media screen and (max-width:768px) {
.in_about_l {
	width: 100%;
	float: none;
	margin-top: 0
}
.in_about_r {
	width: 100%;
	float: none;
	margin-top: 20px
}
.in_about_l h2 {
	padding-left: 0px;
	padding-top: 30px;
	text-align: center;
	color: #000;
}
.in_about_l h2 b {
	width: 100%;
}
.in_about_l h2 a {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid #0cb46a;
	padding-bottom: 20px;
	display: inline-block
}
}
@media screen and (max-width:640px) {
.in_about_l h2 b {
	font-size: 60px;
}
}
/*产品展示*/
.i_pro_bg2 {
	background-color: #f2f2f2;
	background: url("../image/bg1.jpg") no-repeat center top;
	padding-top: 80px;
	padding-bottom: 60px;
	margin-top: 60px;
	overflow: hidden;
}
/*滚动产品与案例*/
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init*/
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
	float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls {
	display: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon*/
.grabbing {
	cursor: url("https://demoall.5fa.cn/11964/template/pc/skin/images/grabbing.png") 8 8, move;
}
/* fix*/
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}
.owl-theme .owl-controls {
	margin-top: 20px;
	text-align: center;
}
/* Styling Next and Prev buttons*/
.owl-theme .owl-controls .owl-buttons div {
	color: #FFF;
	display: inline-block;
	zoom: 1;
*display: inline;
	width: 38px;
	height: 74px;/*IE7 life-saver*/
	text-indent: 40px;
	margin-top: -16%;
	z-index: 9;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
	background: url("https://demoall.5fa.cn/11964/template/pc/skin/images/i_pro_left.png") no-repeat;
	float: left;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev:hover {
	background: url("https://demoall.5fa.cn/11964/template/pc/skin/images/i_pro_left_on.png") no-repeat;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
	background: url("https://demoall.5fa.cn/11964/template/pc/skin/images/i_pro_right.png") no-repeat;
	float: right;
}
.owl-theme .owl-controls .owl-buttons div.owl-next:hover {
	background: url("https://demoall.5fa.cn/11964/template/pc/skin/images/i_pro_right_on.png") no-repeat;
}
/* Clickable class fix problem with hover on touch devices*//* Use it for non-touch hover action*/
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
*display: inline;/*IE7 life-saver*/
	display: none;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 16px;
	height: 16px;
	margin: 5px 7px;/*filter: Alpha(Opacity=50);opacity: 0.5;*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: url("../image/i_bg3.png") no-repeat;
	transition: all .5s;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: url("../image/i_bg4.png") no-repeat;
}
/* If PaginationNumbers is true*/
.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
/* preloading images*/
.owl-item.loading {
	min-height: 150px;
	background: url("https://demoall.5fa.cn/11964/template/pc/skin/images/ajaxloader.gif") no-repeat center center
}
#owl-demo {
	padding-bottom: 3%;
}
#owl-demo .item {
	margin: 0.5px;
	position: relative;
	height: 350px;/* margin-top:50px;*/
}
#owl-demo .item img {/*display: block;*/
	height: 100%;
	width: 100%;
	transition: all 0.3s;
}
#owl-demo .item .bg-list-img {
	position: absolute;
	bottom: 49px;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	width: 100%;
}
#owl-demo .item .bg-list-tit {
	height: 56px;
	overflow: hidden;
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
#owl-demo .item .bg-list-tit h4 {
	margin: 0 auto;
	display: inline-block;
	border-bottom: 2px solid #e2e2e2;
	font-weight: normal;
	font-size: 18px;
	line-height: 54px;
	padding-left: 10px;
	padding-right: 10px;
}
#owl-demo .item .bg-list-more {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: url("https://demoall.5fa.cn/11964/template/pc/skin/images/i_por_pic1.png") center 38px no-repeat #3c3a38;
	height: 56px;
	line-height: 46px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	filter: Alpha(Opacity=0);/*IE7 fix*/
	opacity: 0;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
#owl-demo .item .i_pro_bg {
	position: absolute;
	width: 100%;
	bottom: 56px; /*height:100%;*/
	height: 89%;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	filter: Alpha(Opacity=0);/*IE7 fix*/
	opacity: 0;
	left: 0;
}
#owl-demo .item .bg-list-yew {
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 30%;
	background-color: #0068b7;
	text-align: center;
	color: #fff;
}
#owl-demo .item .bg-list-yew h5 {
	border-bottom: 2px solid #fff;
	font-weight: normal;
	font-size: 18px;
	line-height: 54px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	margin-top: 9%;
}
#owl-demo .item .bg-list-hs {
	max-height: 316px;
	height: 70%;
	position: absolute;
	bottom: 30%;
	background: url("https://demoall.5fa.cn/11964/template/pc/skin/images/i_por_pic2.png") center top no-repeat;
	background-size: 100% 100%;
	width: 100%;
}
#owl-demo .item .bg-list-hs p {
	width: 80%;
	margin: 0 auto;
	margin-top: 10%;
	color: #fefefe;
	font-size: 14px;
	height: 50%;
	overflow: hidden;
	line-height: 22px;
	max-height: 198px;
}
/*首页产品*/
#owl-demo2 {/*background-color:#f9f9f9;*/
	margin-top: 1%;
	text-align: center; /*padding-bottom:2%;*/
}
#owl-demo2.owl-theme .owl-controls .owl-buttons {
	position: absolute;
	top: 30%;
	width: 100%;
	left: 0;
	height: 0;
}
#owl-demo2.owl-theme .owl-controls .owl-buttons div {
	color: #FFF;
	display: inline-block;
	zoom: 1;
*display: inline;
	width: 73px;
	height: 90px;/*IE7 life-saver*/
	text-indent: 60px;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	margin-top: 0;
}
#owl-demo2.owl-theme .owl-controls .owl-buttons div.owl-prev {
	background: url("../image/i_case_left.png") no-repeat;
	float: left;
	font-size: 0
}
#owl-demo2.owl-theme .owl-controls .owl-buttons div.owl-prev:hover {
	background: url("../image/i_case_left_on.png") no-repeat;
}
#owl-demo2.owl-theme .owl-controls .owl-buttons div.owl-next {
	background: url("../image/i_case_right.png") no-repeat;
	float: right;
	font-size: 0
}
#owl-demo2.owl-theme .owl-controls .owl-buttons div.owl-next:hover {
	background: url("../image/i_case_right_on.png") no-repeat;
}
#owl-demo2.owl-theme .owl-controls .owl-page {
	display: inline-block;
}
#owl-demo2 .item {
	margin: 0px;
	padding-bottom: 20px;/*background:url(../images/i_bg2.png) right center no-repeat;*/
}
#owl-demo2 .item img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	display: block;
	transition: all .5s;
}
#owl-demo2 .item dd {
	width: 100%;
	margin: 0 auto;
	max-width: 593px;
	margin-bottom: 10px;
}
#owl-demo2 .item dd .imgs {
	width: 100%;
	padding-top: 75%;
	position: relative;
	overflow: hidden;
}
#owl-demo2 .item dd h3 {
	font-weight: normal;
	width: 94%;
	color: #333;
	font-size: 18px;
	line-height: 22px;
	text-align: left;
	background-color: #fff;
	padding: 3%;
	overflow: hidden;
}
#owl-demo2 .item dd h3 p {
	font-size: 13px;
	color: #0cb46a;
	margin-top: 10px;
	text-align: justify;
}
#owl-demo2 .item dd:hover img {
	transform: scale(1.1, 1.1);
}
#owl-demo2 .item dd:hover .imgs p {
	opacity: 1;
	filter: alpha(opacity=100);
}
.in_pro_title {
	padding-bottom: 30px;
	height: auto;
	overflow: hidden;
	padding-top: 30px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}
.in_pro_title b {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	display: block;
	color: #d4d4d4;
	font-family: "Times New Roman", Times, serif;
	font-size: 73px;
	font-weight: normal;
	line-height: 60px;
}
.in_pro_title a {
	position: relative;
	border-bottom: 2px solid #0cb46a;
	padding-bottom: 20px;
	display: inline-block;
}
@media screen and (max-width: 1600px) {
#owl-demo .item {
	height: 350px;
}
#owl-demo .item .i_pro_bg {
	height: 88%;
}
/*#owl-demo .item:hover .bg-list-img{height:90%;}*/
.owl-theme .owl-controls .owl-buttons div {
	margin-top: -18%;
}
}
@media screen and (max-width: 1280px) {
#owl-demo .item {
	height: 360px;
}
.owl-theme .owl-controls .owl-buttons div {
	margin-top: -20%;
}
}
@media screen and (max-width:979px) {/*案例*/
.owl-theme .owl-controls .owl-buttons div {
	margin-top: -24%;
}
#owl-demo .item {
	height: 330px;
}
#owl-demo .item .i_pro_bg {
	height: 82%;
}
/*#owl-demo .item:hover .bg-list-img{height:83%;}*/
#owl-demo .item .bg-list-hs p {
	height: 110px;
}
}
@media screen and (max-width:789px) {/*案例*/
.owl-theme .owl-controls .owl-buttons div {
	margin-top: -27%;
}
#owl-demo .item {
	height: 300px;
}
#owl-demo .item .i_pro_bg {
	height: 82%;
}
/*#owl-demo .item:hover .bg-list-img{height:83%;}*/}
@media screen and (max-width: 640px) {
.i_pro_bg2 {
	padding-top: 40px;
	padding-bottom: 40px
}
.in_pro_title {
	font-size: 30px;
}
.in_pro_title b {
	font-size: 56px;
}
.i_pro_t {
	font-size: 30px;
}
/*首页产品*/
#owl-demo2.owl-theme .owl-controls .owl-buttons {
	display: none;
}
/*案例*/
#owl-demo.owl-theme .owl-controls .owl-buttons {
	display: none;
}
#owl-demo .item {
	height: 300px;
}
}
@media screen and (max-width: 480px) {/*案例*/
.owl-theme .owl-controls .owl-buttons div {
	margin-top: -70%;
}
#owl-demo .item {
	height: 250px;
}
#owl-demo .item .bg-list-hs p {
	height: 88px;
}
}
@media screen and (max-width:320px) {/*案例*/
.owl-theme .owl-controls .owl-buttons div {
	margin-top: -88%;
}
#owl-demo .item {
	height: 200px;
}
}
/*私人订制*/
.in_dz_bg {
	background: url("../image/in_dz_bg.jpg") no-repeat center 115px;
	margin-top: 60px;
	height: auto;
	overflow: hidden
}
.in_dz_l {
	width: 320px;
	float: left;
}
.in_dz_l a img {
	width: 100%;
	height: auto;
	overflow: hidden
}
.in_dz_r {
	width: 840px;
	float: right
}
.in_dz_title {
	width: 100%;
	height: 115px;
	padding-top: 30px
}
.in_dz_title h3 {
	font-size: 54px;
	font-weight: bold;
	color: #000;
	line-height: 60px;
	float: left
}
.in_dz_title h3 span {
	color: #0cb46a
}
.in_dz_title p {
	font-size: 22px;
	font-weight: bold;
	color: #434343;
	margin-left: 20px;
	display: inline-block;
	line-height: 30px
}
.in_dz_title p span {
	display: block
}
.in_dz_lc {
	width: 100%;
	margin-top: 30px;
	padding-bottom: 15px;
	height: auto;
	overflow: hidden
}
.in_dz_lc ul li {
	width: 140px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.in_dz_lc ul li img {
	display: inline-block;
	transition: all .5s;
}
.in_dz_lc ul li p {
	margin-top: 30px;
	font-size: 18px;
	color: #fff
}
.in_dz_lc ul li:hover img {
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
.in_dz_title1 {
	display: none
}
@media screen and (max-width:1199px) {
.in_dz_bg {
	background: url("../image/in_dz_bg.jpg") no-repeat center 100px;
}
.in_dz_title {
	width: 100%;
	height: 100px;
	padding-top: 20px
}
.in_dz_title p {
	font-size: 19px;
	margin-left: 10px;
	display: inline-block;
}
.in_dz_l {
	width: 25%;
	float: left;
}
.in_dz_r {
	width: 73%;
}
.in_dz_title h3 {
	font-size: 46px;
}
.in_dz_lc ul li {
	width: 16.5%
}
.in_dz_lc ul li img {
	width: 90%
}
}
@media screen and (max-width:1024px) {/*.in_dz_title{display:none}
.in_dz_title1{display:block}
.in_dz_title1{width:100%; height:115px; padding-top:0px}
.in_dz_title1 h3{font-size:54px; font-weight:bold; color:#000; line-height:60px; display:block}
.in_dz_title1 h3 span{color:#0cb46a}
.in_dz_title1 p{font-size:20px; font-weight:bold; color:#434343; display:block; line-height:26px;}*/
.in_dz_title {
	padding-top: 0px
}
.in_dz_title p span {
	display: inline-block
}
.in_dz_title p {
	margin-left: 0px
}
.in_dz_lc ul li p {
	margin-top: 20px;
	font-size: 18px;
	color: #fff
}
}
@media screen and (max-width:800px) {
.in_dz_l {
	display: none
}
.in_dz_r {
	width: 100%;
}
.in_dz_lc {
	width: 100%;
	margin-top: 10px;
	padding-bottom: 20px
}
.in_dz_lc ul li img {
	width: 80%
}
}
@media screen and (max-width:640px) {
.in_dz_title h3 {
	font-size: 46px;
}
.in_dz_title p {
	font-size: 16px;
}
.in_dz_lc {
	margin-top: 20px
}
.in_dz_lc ul li p {
	font-size: 16px;
}
}
@media screen and (max-width:480px) {
.in_dz_bg {
	background: url("../image/in_dz_bg1.jpg") no-repeat center 140px;
}
.in_dz_title h3 {
	font-size: 38px;
	line-height: 50px
}
.in_dz_title p {
	line-height: 26px;
	margin-top: 10px
}
.in_dz_lc {
	margin-top: 60px;
	margin-bottom: 15px
}
.in_dz_lc ul li {
	width: 33.33%;
	margin-top: 20px
}
.in_dz_lc ul li p {
	font-size: 18px;
	margin-top: 10px
}
}
/*JOIN*/
.in_join_bg {
	height: auto;
	overflow: hidden;
	margin-top: 60px
}
.in_join_title {
	padding-bottom: 30px;
	height: auto;
	overflow: hidden;
	padding-top: 30px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}
.in_join_title b {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	display: block;
	color: #f3f3f3;
	font-family: "Times New Roman", Times, serif;
	font-size: 73px;
	font-weight: normal;
	line-height: 60px;
}
.in_join_title a {
	position: relative;
	border-bottom: 2px solid #0cb46a;
	padding-bottom: 20px;
	display: inline-block;
}
.in_join {
	margin-top: 40px
}
.in_join dl {
	width: 394px;
	float: left;
	background-color: #f2f2f2;
	height: auto;
	overflow: hidden
}
.in_dl1 {
	margin-right: 9px
}
.in_join dl dt a.img {
	display: block;
	width: 100%;
	padding-top: 71.067%;
	position: relative;
	overflow: hidden;
}
.in_join dl dt a.img img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	display: block;
	transition: all .5s;
}
.in_join dl:hover dt a.img img {
	transform: scale(1.1, 1.1);
}
.in_join dl dd {
	padding: 20px;
	color: #626262;
}
.in_join dl dd:last-child {
	min-height: 245px;
}
.in_join dl dd strong {
	color: #222;
	font-size: 15px
}
.in_join dl dd a {
	display: block;
	font-size: 26px;
	color: #0cb46a;
	font-weight: bold;
	text-align: center;
}
@media screen and (max-width: 1199px) {
.in_join dl {
	width: 32.33%;
	min-height: 550px
}
.in_dl1 {
	margin-right: 1.5%
}
.in_join dl dd {
	padding: 15px;
min-height:
}
}
@media screen and (max-width: 640px) {
.in_join_bg {
	margin-top: 40px
}
.in_join_title {
	font-size: 30px;
}
.in_join {
	margin-top: 10px
}
.in_join dl {
	width: 100%;
	margin-top: 20px;
	min-height: 0;
}
.in_dl1 {
	margin-right: 0
}
.in_join dl dd {
	padding: 20px 25px;
}
}
/*case*/
.in_case_bg {
	background: url("../image/bg2.jpg") no-repeat center top fixed #232427;
	margin-top: 60px;
	padding: 60px 0;
	height: auto;
	overflow: hidden
}
.in_case_title {
	padding-bottom: 30px;
	height: auto;
	overflow: hidden;
	padding-top: 30px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}
.in_case_title b {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	display: block;
	color: #454649;
	font-family: "Times New Roman", Times, serif;
	font-size: 73px;
	font-weight: normal;
	line-height: 60px;
}
.in_case_title a {
	position: relative;
	border-bottom: 2px solid #0cb46a;
	padding-bottom: 20px;
	display: inline-block;
	color: #fff;
}
.in_case {
	margin-top: 20px
}
.in_case ul li {
	position: relative;
	float: left;
	width: 294px;
	margin: 4px;
}
.in_case ul li a .img {
	display: block;
	width: 100%;
	padding-top: 75%;
	position: relative;
	overflow: hidden;
}
.in_case ul li a .img img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	display: block;
	transition: all .5s;
}
.in_case ul li a p {
	color: #fff;
	font-size: 18px;
	line-height: 220px;
	position: absolute;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(191,135,61,0.9);
	font-weight: bold;
	opacity: 0;
}
.in_case ul li a:hover p {
	opacity: 1;
}
.in_case ul li a:hover .img img {
	transform: scale(1.1, 1.1);
}
@media screen and (max-width: 1199px) {
.in_case ul li {
	float: left;
	width: 24%;
	margin: 0.5%
}
.in_case ul li a p {
	position: relative;
	display: block;
	padding: 15px 0;
	text-align: center;
	font-size: 16px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	opacity: 0.8;
	margin-top: 0;
	font-weight: normal;
	background: none;
}
}
@media screen and (max-width: 768px) {
.in_case ul li {
	float: left;
	width: 49%;
	margin: 0.5%
}
.in_case ul li a p {
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
}
@media screen and (max-width: 320px) {
.in_case ul li {
	float: left;
	width: 100%;
	margin: 0
}
}
/*新闻资讯*/
.in_news_bg {
	margin-top: 60px;
	height: auto;
	overflow: hidden
}
.in_news_title {
	padding-bottom: 30px;
	height: auto;
	overflow: hidden;
	padding-top: 30px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}
.in_news_title b {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	display: block;
	color: #f3f3f3;
	font-family: "Times New Roman", Times, serif;
	font-size: 73px;
	font-weight: normal;
	line-height: 60px;
}
.in_news_title a {
	position: relative;
	border-bottom: 2px solid #0cb46a;
	padding-bottom: 20px;
	display: inline-block;
}
.in_news_t {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 50px;
	background-color: #f2f2f2
}
.in_news_t_l {
	width: 568px;
	float: left;
}
.in_news_t_l a img {
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block
}
.in_news_t_l .img {
	display: block;
	width: 100%;
	padding-top: 75%;
	position: relative;
	overflow: hidden;
}
.in_news_t_l .img img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	display: block;
}
.in_news_t_r {
	width: 530px;
	float: right;
	padding: 50px
}
.in_news_t_r a {
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.in_news_t_r span {
	font: normal 13px/30px Arial, Helvetica, sans-serif;
	color: #787878;
	display: block
}
.in_news_t_r p {
	margin-top: 50px;
	color: #626262;
	text-align: justify;
}
.in_news_t_r h3 a {
	width: 150px;
	background-color: #0cb46a;
	line-height: 40px;
	margin-top: 50px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	display: block
}
.in_news {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 30px
}
.in_news_list {
	width: 588px;
	float: left;
	margin: 12px;
	background-color: #f2f2f2
}
.in_news_list h4 {
	width: 243px;
	float: right;
}
.in_news_list h4 .img {
	display: block;
	width: 100%;
	padding-top: 75%;
	position: relative;
	overflow: hidden;
}
.in_news_list h4 .img img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	display: block;
	transition: all .5s;
}
.in_news_list:hover h4 .img img {
	transform: scale(1.1, 1.1);
}
.in_news_list h5 {
	width: 300px;
	padding: 30px
}
.in_news_list h5 a {
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.in_news_list h5 span {
	font: normal 13px/30px Arial, Helvetica, sans-serif;
	color: #787878;
	display: block
}
.in_news_list h5 p {
	margin-top: 15px;
	color: #626262;
	text-align: justify;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;/*显示几行*/
	overflow: hidden;
}
@media screen and (max-width: 1199px) {
.in_news_t_l {
	width: 55%;
	float: left;
}
.in_news_t_r {
	width: 37%;
	float: right;
	padding: 4%
}
.in_news_t_r p {
	margin-top: 30px;
}
.in_news_t_r h3 a {
	margin-top: 30px;
}
.in_news_list {
	width: 48%;
	margin: 1%
}
.in_news_list h4 {
	width: 40%;
}
.in_news_list h5 {
	width: 52%;
	padding: 3% 4%
}
.in_news_list h5 p {
	margin-top: 10px;
}
}
@media screen and (max-width: 1024px) {
.in_news_t_l {
	width: 50%;
	float: left;
}
.in_news_t_r {
	width: 44%;
	float: right;
	padding: 3%
}
}
@media screen and (max-width: 1001px) {
.in_news_t_l {
	width: 44%;
	float: left;
}
.in_news_t_r {
	width: 50%;
	float: right;
	padding: 3%
}
.in_news_t_r p {
	margin-top: 20px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;/*显示几行*/
	overflow: hidden;
}
.in_news_t_r h3 a {
	margin-top: 30px;
	line-height: 36px;
}
.in_news_list {
	width: 100%;
	margin: 1% 0
}
.in_news_list h4 {
	width: 40%;
}
.in_news_list h5 {
	width: 52%;
	padding: 3% 4%
}
.in_news_list h5 p {
	margin-top: 20px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;/*显示几行*/
	overflow: hidden
}
}
@media screen and (max-width: 768px) {
.in_news_t_l {
	width: 100%;
	float: none;
}
.in_news_t_l a img {
	width: 100%;
	height: auto;
	overflow: hidden
}
.in_news_t_r {
	width: 94%;
	float: none;
	padding: 25px 3%
}
}
@media screen and (max-width: 640px) {
.in_news_list h4 {
	width: 35%;
}
.in_news_list h5 {
	width: 57%;
	padding: 3% 4%
}
.in_news_list h5 p {
	margin-top: 10px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;/*显示几行*/
	overflow: hidden
}
}
@media screen and (max-width: 480px) {
.in_news_list h4 {
	width: 26%;
}
.in_news_list h5 {
	width: 66%;
	padding: 2% 4%;
}
.in_news_list h5 p {
	margin-top: 5px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;/*显示几行*/
	overflow: hidden;
}
.in_news_list h5 span {
	display: none
}
}
/*link*/
.in_kl_bg {
	width: 100%;
	background: url("../image/bg3.jpg") no-repeat center;
	margin-top: 60px;
	padding: 50px 0;
	height: auto;
	overflow: hidden
}
.in_kl {
	height: auto;
	overflow: hidden
}
.in_kl dl {
	width: 23%;
	float: left;
	margin: 0 1%;
	text-align: center;
}
.in_kl dl dd {
	margin-top: 15px;
	font-size: 14px;
	color: #626262
}
.in_kl dl dd a {
	font-size: 20px;
	font-weight: normal;
	color: #222
}
@media screen and (max-width: 480px) {
.in_kl dl dt a img {
	width: 80%
}
.in_kl dl dd {
	font-size: 13px
}
.in_kl dl dd a {
	font-size: 16px;
}
}
/*footer*/
.footer_na_bg {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #222;
	padding: 50px 0
}
.footer_na dl {
	float: left
}
.footer_na dl dt a {
	font-size: 20px;
	color: #fff;
	display: block;
}
.footer_dl1 dt a {
	margin-bottom: 30px
}
.footer_dl2 dt a {
	margin-bottom: 30px
}
.footer_na dl dd {
	color: #d3d3d3
}
.footer_na dl dd a {
	color: #d3d3d3
}
.footer_dl1 {
	width: 150px;
}
.footer_dl2 {
	width: 300px
}
.footer_dl3 {
	width: 300px
}
.footer_na dl dd a span {
	display: block;
	font-size: 38px;
	font-family: Arial, Helvetica, sans-serif;
	color: #0cb46a;
	margin-bottom: 20px
}
.footer_dl3 dd {
	float: left;
	width: 132px;
	margin-left: 18px;
}
.footer_dl3 dd p {
	text-align: center;
	margin-top: 10px
}
.footer_bg {
	width: 100%;
	background-color: #096b4d;
	height: auto;
	overflow: hidden;
	padding: 20px 0
}
.footer {
	text-align: center;
	color: #fff
}
.footer a {
	color: #fff
}
@media screen and (max-width: 1199px) {
.footer_dl1 {
	width: 12%;
}
.footer_dl2 {
	width: 25%
}
.footer_dl3 {
	width: 25%
}
.footer_dl3 dd {
	width: 48%;
	margin-left: 2%
}
.footer_dl3 dd a img {
	width: 100%;
	height: auto;
	overflow: hidden
}
}
@media screen and (max-width: 991px) {
.footer_na dl dt a {
	font-size: 18px;
}
.footer_dl1 {
	width: 11.5%;
}
.footer_dl2 {
	width: 27%
}
.footer_dl3 {
	width: 26%
}
.footer_na dl dd a span {
	font-size: 30px;
}
}
@media screen and (max-width: 768px) {
.footer_dl1 {
	width: 100%;
	border-bottom: 1px dotted #666;
	padding: 15px 0
}
.footer_dl1 dd {
	float: left;
	margin-right: 3%
}
.footer_dl1 dt a {
	margin-bottom: 10px
}
.footer_dl2 {
	width: 60%;
	margin-top: 30px
}
.footer_dl3 {
	width: 40%;
	margin-top: 30px
}
.footer_na dl dd a span {
	font-size: 36px;
}
.footer_na dl dt a {
	font-size: 20px;
}
.footer_dl2 dt a {
	margin-bottom: 20px
}
}
@media screen and (max-width: 480px) {
.footer_dl2 {
	width: 100%;
	border-bottom: 1px dotted #666;
	padding: 15px 0
}
.footer_dl3 {
	width: 100%;
}
.footer_bg {
	padding: 5% 0 22% 0;
}
.footer_bg .footer span {
	display: inline-block;
}
}
.f_kslj {
	display: none;
}
/*浮动客服*/
.toolbar {
	position: fixed;
	top: 50%;
	right: 1%;
	margin-top: -163px;
	z-index: 100;
	width: 80px;
}
.toolbar dd {
	position: relative;
	float: left;
	width: 80px;
	height: 80px;
	background: rgba(0,0,0,.5);
	margin-top: 2px;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	cursor: pointer;
	transition: all .5s;
}
.toolbar dd:first-child {
	margin-top: 0;
}
.toolbar dd i {
	width: 100%;
	height: 30px;
	display: block;
	margin-top: 13px;
	background: url(../image/toolbar.png) no-repeat center 0;
}
.toolbar dd.qq i {
	background-position-y: 0;
}
.toolbar dd.tel i {
	background-position-y: -30px;
}
.toolbar dd.code i {
	background-position-y: -60px;
}
.toolbar dd.top i {
	background-position-y: -90px;
}
.toolbar dd span {
	display: block;
	color: #fff;
}
.toolbar dd.tel .box {
	position: absolute;
	top: 0;
	width: 190px;
	right: -200px;
	height: 100%;
	margin-right: 10px;
	border-radius: 5px;
	background: #0cb46a;
	opacity: 0;
	transition: all .5s;
}
.toolbar dd.tel .box p {
	font-size: 14px;
	margin: 15px auto 7px;
}
.toolbar dd.tel .box h3 {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
.toolbar dd.tel .box:after {
	display: block;
	content: " ";
	border-style: solid dashed dashed dashed;
	border-color: transparent transparent transparent #0cb46a;
	border-width: 9px;
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	right: -18px;
	margin-left: -12px;
}
.toolbar dd.code .box {
	position: absolute;
	top: 0;
	width: 162px;
	right: -172px;
	height: 162px;
	margin-right: 10px;
	border-radius: 5px;
	background: #0cb46a;
	opacity: 0;
	transition: all .5s;
}
.toolbar dd.code .box img {
	width: 140px;
	height: 140px;
	padding: 11px;
}
.toolbar dd.code .box:after {
	display: block;
	content: " ";
	border-style: solid dashed dashed dashed;
	border-color: transparent transparent transparent #0cb46a;
	border-width: 9px;
	width: 0;
	height: 0;
	position: absolute;
	top: 30px;
	right: -18px;
	margin-left: -12px;
}
.toolbar dd:hover {
	background: #0cb46a;
}
.toolbar dd.tel:hover .box {
	opacity: 1;
	right: 80px;
}
.toolbar dd.code:hover .box {
	opacity: 1;
	right: 80px;
}
@media screen and (max-width: 640px) {
.f_kslj {
	width: 100%;
	background: rgba(0,0,0,0.7);
	padding: 1em 0;
	display: block;
	position: fixed;
	bottom: 0;
	height: auto;
	overflow: hidden;
}
.f_kslj ul li {
	width: 25%;
	float: left;
	list-style: none;
	text-align: center;
}
.f_kslj ul li a {
	color: #fff;
	text-align: center;
	line-height: 2.5em;
}
.f_kslj ul li a i {
	display: block;
	color: #fff;
	font-size: 18px;
}
.toolbar {
	display: none;
}
}
.ny_pro_list .video {
	width: 44px;
	height: 44px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: rgba(0,0,0,0.5);
 filter: alpha(opacity:50);
	zoom: 1;
	border-radius: 35px;
	background-image: url(../image/video.png);
	background-repeat: no-repeat;
	background-position: 15px center;
	background-size: 20px;
	border-radius: 100%;
	border: 2px solid #fff;
}
.nav > li.cur > a {
	color: #0b600e;
}
