/* eyoucms.com 易优CMS -- 好用,免费,安全 */

/*------------------------------- index 首页---------------------------------*/
/*-----首页 about-----*/
.iabout {
	height: 441px;
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/k3.png) center top no-repeat;
	margin-top: 49px !important;
	box-sizing: border-box;
	padding-left: 349px;
}
.iabout h4 {
	width: 600px;
	padding: 94px 0 0;
	color: #000;
	font-size: 18px;
	font-weight: bold;
}
.iabout h6 {
	width: 600px;
	padding: 0 0 0;
	color: #000;
	font-size: 14px;
}
.icontent {
	width: 600px;
	color: #fff;
	line-height: 35px;
	font-size: 14px;
	padding: 30px 0 0
}
/*班级设置 index*/
.banji {
}
.iname {
	text-align: center;
	font-size: 24px;
	color: #000;
	padding: 60px 0 10px;
	background: url(../image/k1.gif) center bottom no-repeat;
}
.ibul {
	width: 106%;
	padding: 12px 0 0
}
.ibul li {
	float: left;
	width: 320px;
	height: 320px;
	overflow: hidden;
	position: relative;
	margin: 19px 20px 0 0
}
.ibul li a:hover img {
	transform: scale(1.1, 1.1);
	transition: 0.5s
}
.ibul li a .zhe {
	position: absolute;
	left: 0;
	top: 0;
	width: 260px;
	height: 320px;
	background: rgba(27,28,23,0.5);
	padding: 0 30px;
}
.ibul li a .zhe h4 {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 32px 0 0
}
.ibul li a .zhe span {
	display: block;
	color: #fff;
	font-size: 14px;
	padding: 5px 0 0
}
/*---造型index-----*/
.izao {
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/k4.png) center bottom no-repeat;
	height: 576px
}
/*.slideBox02{width:1000px; height:427px; overflow:hidden; position:relative;padding:48px 0 0}
.slideBox02 .hd{height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1;}
.slideBox02 .hd ul{overflow:hidden; zoom:1; float:left;}
.slideBox02 .hd ul li{float:left; margin-right:2px; width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer;}
.slideBox02 .hd ul li.on{background:#f00; color:#fff;}
.slideBox02 .bd02{position:relative; height:427px; z-index:0; width:1000px; margin:0 auto; overflow:hidden;}
.slideBox02 .bd02 li{zoom:1; vertical-align:middle;height:427px;}
.slideBox02 .bd02 li .img{float:left;width:306px; height:427px;}
.slideBox02 .prev,
.slideBox02 .next{position:absolute; right:58px; bottom:50px; margin-top:-37px; display:block; width:63px; height:38px; background:url(../images/k2.gif) no-repeat;}
.slideBox02 .next{width:58px; left:auto; right:0; background:url(../images/k3.gif) no-repeat;}
.slideBox02 .prev:hover,
.slideBox02 .next:hover{opacity: .7;filter: alpha(opacity=70);-ms-filter: "alpha(opacity=70)";-khtml-opacity: .7;}
.slideBox02 .prevStop{display:none;}
.slideBox02 .nextStop{display:none;}*/
.izright {
	float: left;
	width: 648px;
	padding: 0 0 0 40px;
}
.izright h2 {
	font-size: 24px;
	color: #fff;
	padding: 50px 0 0
}
.izright h4 {
	font-size: 16px;
	color: #fff;
	padding: 5px 0 0
}
.izright span {
	display: block;
	line-height: 33px;
	font-size: 14px;
	color: #fff;
	padding: 40px 0 0
}
.izao_amore {
	position: absolute;
	right: 0;
	top: 195px;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	z-index: 22;
}
/*---成果----*/
.icheng h2 {
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/k4.gif) left top no-repeat;
	height: 66px;
	color: #666666;
	font-size: 14px;
	padding: 45px 0 0 88px;
}
.icheng h2 label {
	font-size: 24px;
	color: #000;
}
.accordion {
	width: 1180px;
	overflow: hidden;
	height: 330px;
	margin: 44px auto 0;
}
.accordion ul li {
	margin: 0 1px 0 0;
	overflow: hidden;
	background-repeat: no-repeat;
	float: left;
	width: 180px;
	height: 330px;
	cursor: pointer;
	position: relative;
}
.accordion ul li.active {
	width: 460px;
}
.accordion ul li a {
	display: block;
	width: 180px;
	height: 330px;
	cursor: pointer;
}
.accordion ul li a span {
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	width: 460px;
	transition: 0;
	height: 330px;
}
.accordion ul li.active span {
	display: none;
}
.accordion ul li .iccon {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	padding-left: 32px;
	width: 428px;
	height: 330px;
	display: none;
}
.accordion ul li.active .iccon {
	display: block;
}
.accordion ul li .iccon h4 {
	font-size: 14px;
	color: #fff;
	padding: 230px 0 0;
	height: 30px;
}
.accordion ul li .iccon h4 b {
	font-size: 24px;
}
.accordion ul li .iccon p {
	font-size: 16px;
	color: #fff;
	padding: 10px 0 0
}
.ic_more {
	display: block;
	width: 100%;
	color: #fff;
	font-size: 20px;
	line-height: 48px;
	text-align: center;
	margin: 29px 0 0
}
/*---风采----*/
.ifeng_fr {
	float: right;
	width: 467px;
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/k5.png) right bottom no-repeat;
	height: 452px;
}
.if_con {
	padding: 65px 0 0 37px;
}
.if_con img {
	float: left;
}
.if_crr {
	float: right;
	width: 188px;
	padding: 0 25px 0 0
}
.if_crr h4 {
	font-weight: bold;
	font-size: 24px;
	color: #fff;
	display: block;
	padding: 100px 0 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.if_crr span {
	display: block;
	font-size: 16px;
	color: #fff;
	padding: 5px 0 0;
	line-height: 20px;
	height: 80px;
	overflow: hidden;
}
.if_crr .icc {
	color: #fff;
	font-size: 16px;
}
/*---------------------------------------------------------新页面--------------------------------------------------------------*/
/****首页公告****/
.index_gonggao {
	padding: 10px 0;
}
.index_gonggao01 {
	width: 1000px;
	margin: 0 auto;
	height: 35px;
	color: #333;
	font-size: 14px;
}
.index_gonggao01 marquee {
	float: left;
	width: 900px;
	color: #4c4c4c;
	font-size: 16px;
	line-height: 35px;
}
.index_gonggao01 span {
	float: left;
	width: 100px;
	color: #9c541a;
	font: 700 18px/35px "Microsoft YaHei";
}
/****首页课程设置****/
.slideBox02 {
	width: 1100px;
	height: 524px;
	overflow: hidden;
	position: relative;
}
.slideBox02 .hd {
	height: 50px;
	overflow: hidden;
	width: 100%;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 5px;
	z-index: 1;
}
.slideBox02 .hd ul {
	overflow: hidden;
	zoom: 1;
fl/oat:left;
}
.slideBox02 .hd ul li {
fl/oat:left;
	display: inline;
	margin-right: 2px;
	padding: 10px 8px;
	line-height: 14px;
	text-align: center;
	cursor: pointer;
	font-size: 0;
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/dd01.png) no-repeat center center;
}
.slideBox02 .hd ul li.on {
	color: #fff;
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/dd02.png) no-repeat center center;
}
.slideBox02 .bd02 {
	position: relative;
	height: 463px;
	z-index: 0;
	width: 1104px;
	margin: 0 auto;
	overflow: hidden;
}
.slideBox02 .bd02 li {
	zoom: 1;
	vertical-align: middle;
	height: 463px;
}
/* */
.slideBox02 .prev, .slideBox02 .next {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -37px;
	display: block;
	width: 46px;
	height: 74px;
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/case04.jpg) no-repeat;
}
.slideBox02 .next {
	left: auto;
	right: 0;
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/case05.jpg) no-repeat;
}
.slideBox02 .prev:hover, .slideBox02 .next:hover {
	opacity: .7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: .7;
}
.slideBox02 .prevStop {
	display: none;
}
.slideBox02 .nextStop {
	display: none;
}
.index_banji {
	background: #efefef;
}
.index_banji01 {
	width: 1100px;
	margin: 0 auto;
}
.index_banji02 {
	padding-top: 85px;
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/index_banji01.png) center 45px no-repeat;
	line-height: 40px;
	height: 40px;
	text-align: center;
	font-size: 24px;
	color: #636363;
}
.index_banji03 {
}
.index_banji04 {
	float: left;
	width: 219px;
	height: 389px;
	position: relative;
	overflow: hidden;
	margin: 42px 1px 0 0;
}
.index_banji05 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/index_banji02.png) 0 0 no-repeat;
	text-align: center;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.index_banji05 h2 {
	font-size: 18px;
	color: #1c1c1c;
	line-height: 30px;
	overflow: hidden;
	height: 30px;
	margin-top: 220px;
}
.index_banji05 span {
	display: none;
	font-size: 14px;
	color: #686868;
	line-height: 22px;
	height: 44px;
	overflow: hidden;
	padding: 0 20px;
	margin-top: 16px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.index_banji05:hover {
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/index_banji03.png) 0 0 no-repeat;
}
.index_banji05:hover span {
	display: block;
}
.index_banji06 {
	text-align: center;
	padding-top: 53px;
}
.index_banji05:hover .index_banji06 {
	display: none;
}
.index_banji07 {
	display: none;
	text-align: center;
	padding-top: 25px;
}
.index_banji05:hover .index_banji07 {
	display: block;
}
/****首页招生简章****/
.index_zsjz {
	height: 505px;
	background: url(../image/about_bg.jpg) top center no-repeat;
}
.index_zsjz01 {
	padding-top: 85px;
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/index_jz01.png) center 45px no-repeat;
	line-height: 40px;
	height: 40px;
	margin-left: 135px;
	text-align: center;
	font-size: 24px;
	color: #636363;
}
.index_zsjz01 span {
	display: block;
}
.index_zsjz02 {
	width: 1004px;
	height: 242px;
	margin: 0 auto;
	background: #ececec;
	margin-top: 149px;
}
.index_zsjz03 {
	font-size: 16px;
	line-height: 24px;
	color: #828282;
	padding-top: 27px;
}
.index_zsjz04 {
	line-height: 26px;
	font-size: 14px;
	color: #2a2a2a;
	margin-top: 12px;
}
.index_zsjz06 {
	float: left;
	width: 478px;
	height: 207px;
	border: #fff solid 4px;
	margin: 14px 0 0 11px;
}
.index_zsjz07 {
	float: left;
	width: 460px;
	padding: 0 0 0 23px;
	line-height: 40px;
}
.index_zsjz08 {
	overflow: hidden;
	padding-top: 19px;
}
.index_zsjz08 h2 {
	float: left;
	border-bottom: #9c541a solid 2px;
	font-size: 18px;
	color: #2a2a2a;
}
.index_zsjz05 {
	float: right;
}
.index_zsjz05 a {
	font-size: 12px;
	color: #8e8e8e;
}
.index_zsjz05 a:hover {
	color: #9c541a;
}
/****首页教学成果****/
.index_case01 {
	width: 1100px;
	margin: 0 auto;
}
.index_case02 {
	padding-top: 85px;
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/index_case01.png) center 45px no-repeat;
	line-height: 40px;
	height: 40px;
	text-align: center;
	font-size: 24px;
	color: #636363;
}
/****首页新闻****/
.index_news {
	height: 520px;
	overflow: hidden;
}
.index_news01 {
	width: 1080px;
	margin: 0 auto;
	overflow: hidden;
}
.index_news02 {
	background: url(../image/titbg.jpg) center 47px no-repeat;
	text-align: center;
	line-height: 30px;
	width: 630px;
	margin: 0 auto 0;
	font-size: 24px;
	color: #000;
	letter-spacing: 1px;
	padding-top: 35px;
}
.index_news02 span {
	display: block;
	color: #acacac;
	font-size: 19px;
}
.index_news_tit {
	color: #b4b4b4;
	text-align: center;
	padding-top: 4px;
}
.index_news03 {
	display: block;
	overflow: hidden;
	width: 104%;
	padding: 36px 0 28px;
}
.index_news03 li {
	float: left;
	width: 529px;
	height: 127px;
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/index_news03.jpg) 7px 7px no-repeat;
	margin: 0 43px 21px 0;
}
.index_news03 li img {
	float: left;
}
.index_news03 li .irr {
	float: right;
	width: 304px;
	padding: 7px 24px 0;
	height: 113px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.index_news03 li .irr h4 {
	font-size: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #1c1c1c;
	padding: 5px 0 0;
	line-height: 36px;
	height: 36px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.index_news03 li .irr span {
	display: block;
	font-size: 14px;
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	color: #828282;
	padding: 7px 0 0;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.index_news03 li a:hover h4 {
	color: #2ba298
}
.index_news03 li:hover .irr {
	background: #333;
}
.index_news03 li:hover .irr span {
	color: #d4d4d4;
}
.index_xw000 {
	height: 520px;
	background: url(../image/news_bg.jpg) top center no-repeat;
}
.index_xw00 {
	width: 1060px;
	margin: 0 auto;
	overflow: hidden;
}
.index_xw {
	overflow: hidden;
}
.index_xw dl {
	float: left;
	width: 305px;
	margin: 40px 22px 0;
}
.index_xw dl dt {
	width: 246px;
	height: 185px;
	margin: 0 auto;
	position: relative;
}
.index_xw01 {
	position: absolute;
	top: 0;
	left: 0;
	width: 246px;
	height: 185px;
	background: url(../image/ntop.png) no-repeat bottom center;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.index_xw01:hover {
	background: url(../image/ntop01.png) no-repeat bottom center;
}
.index_xw dl dd {
	text-align: center;
}
.index_xw dl dd a {
	display: block;
	line-height: 48px;
	height: 48px;
	overflow: hidden;
	background: url(../image/line01.jpg) no-repeat bottom center;
	font-size: 14px;
	color: #1a1a1a;
}
.index_xw dl dd a:hover {
	background: url(../image/line02.jpg) no-repeat bottom center;
	color: #9c541a;
}
.index_xw dl dd span {
	line-height: 25px;
	font-size: 14px;
	color: #838383;
	height: 75px;
	overflow: hidden;
	display: block;
	margin-top: 9px;
}
/****首页联系我们****/
.index_contact {
	background: #efefef;
}
.index_contact01 {
	width: 1100px;
	margin: 0 auto;
}
.index_contact02 {
	padding-top: 85px;
	background: url(https://demoall.kuaituiyun.cn/522/template/pc/skin/images/lx01.png) center 45px no-repeat;
	text-align: center;
	line-height: 40px;
	height: 40px;
	width: 630px;
	margin: 0 auto;
	font-size: 24px;
	color: #636363;
	border-bottom: #bbbbbb solid 1px;
}
.index_contact03 {
	padding-top: 25px;
	text-align: center;
	font-size: 16px;
	color: #1c1c1c;
}
.index_contact04 {
}
.index_contact04 dl {
	float: left;
	text-align: center;
	width: 270px;
	padding: 60px 0 0;
}
.index_contact04 dl dt {
}
.index_contact04 dl dd span {
	display: block;
	font-size: 20px;
	color: #333;
	padding: 21px 0 25px;
}
.index_contact04 dl dd {
	font-size: 14px;
	color: #565656;
	line-height: 20px;
}
.index_contact04 dl.index_contact05 {
	padding: 60px 145px;
}
.index_contact04 a {
	color: #333;
}
.index_contact04 a:hover {
	color: #000;
}
/****首页 行业动态****/
.index_hn00 {
	height: 450px;
}
.index_hn {
	width: 1004px;
	margin: 0 auto;
}
.index_hn01 {
	float: left;
	width: 326px;
	height: 244px;
	overflow: hidden;
	border: #cacaca solid 3px;
	margin-top: 39px;
}
.index_hn01 img {
	width: 326px;
	height: 244px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.index_hn01 img:hover {
	width: 350px;
	height: 262px;
	margin-left: -12px;
	margin-top: -9px;
}
.index_hn02 {
	float: left;
	width: 640px;
	padding: 43px 0 0 30px;
	line-height: 22px;
}
.index_hn02 dl dt {
	color: #b1b1b1;
	font-size: 14px;
}
.index_hn02 dl dt a {
	color: #1a1a1a;
	height: 22px;
	overflow: hidden;
	display: block;
	margin-bottom: 1px;
}
.index_hn02 dl dt a:hover {
	color: #9c541a;
}
.index_hn02 dl dd {
	color: #808080;
	height: 44px;
	overflow: hidden;
	margin-top: 2px;
}
.index_hn03 {
	float: left;
	width: 640px;
	margin: 12px 0 0 30px;
	border-top: #e2e2e2 solid 1px;
	line-height: 33px;
	font-size: 14px;
	color: #b1b1b1;
	padding-top: 8px;
}
.index_hn03 dl {
	height: 33px;
	overflow: hidden;
}
.index_hn03 dl dt {
	float: left;
	height: 33px;
	overflow: hidden;
	color: #1a1a1a;
	width: 500px;
}
.index_hn03 dl dd {
	float: right;
}
.index_hn03 dl dt a {
	color: #1a1a1a;
}
.index_hn03 dl dt a:hover {
	color: #9c541a;
}
/****首页 厂区环境****/
.index_hj00 {
	height: 415px;
}
.index_hj {
	width: 1004px;
	margin: 0 auto;
	position: relative;
}
.index_hj01 {
	border: #dadada solid 3px;
	width: 232px;
	height: 173px;
	overflow: hidden;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}
.index_hj01:hover {
	border: #9c541a solid 3px;
}
.index_hj02 {
	padding-top: 27px;
	height: 250px;
	border-bottom: #dbdbdb solid 1px;
}
.index_hj03 {
	position: absolute;
	top: 375px;
	left: 459px;
	background: #fff;
	text-align: center;
	width: 86px;
	height: 29px;
	line-height: 29px;
}
.index_hj03 a {
	font-size: 14px;
	color: #5d5d5d;
	font-size: 14px;
}
.index_hj03 a:hover {
	color: #9c541a;
}
/****首页 产品中心****/
.index_pro00 {
	background: url(../image/pro01.jpg) repeat;
	height: 610px;
}
.index_pro01 {
	height: 610px;
	background: url(../image/pro_bg.jpg) top center no-repeat;
}
.index_pro {
	width: 1004px;
	margin: 0 auto;
}
.index_pro02 {
	float: left;
	width: 175px;
	height: 560px;
	background: #dfd4b8;
}
.index_pro03 {
	width: 167px;
	height: 70px;
	padding-top: 15px;
	border: #f0eadd solid 1px;
	border-top: #beaf8b solid 1px;
	margin: 5px auto 0;
	text-align: center;
	font-size: 14px;
	color: #7c7c7c;
	line-height: 26px;
}
.index_pro03 span {
	font-size: 20px;
	color: #452412;
	font-weight: bold;
	display: block;
}
.index_pro04 {
	height: 310px;
	overflow: auto;
	overflow-x: hidden;
	margin-top: 13px;
	padding-left: 7px;
}
/*------手风琴效果-------*/
.promoremain .one {
	font-size: 14px;
	background: url(../image/pro03.jpg) no-repeat;
	margin: 0;
	overflow: hidden;
	cursor: pointer;
	width: 142px;
	height: 29px;
	line-height: 29px;
	color: #fff;
	padding-left: 18px;
	margin-bottom: 11px;
}
.promoremain .one a {
	color: #fff;
	display: block;
}
.prohidden {
	line-height: 20px;
	color: #414143;
	display: none;
}
.promoremain #two {
}
.index_pro05 {
}
.index_pro05 ul li {
	width: 158px;
	height: 25px;
	line-height: 25px;
	border: #c1b69a solid 1px;
	margin-bottom: 11px;
}
.index_pro05 ul li a {
	font-size: 14px;
	color: #42361c;
	padding-left: 23px;
	display: block;
	height: 25px;
	overflow: hidden;
	background: url(../image/pro04.jpg) no-repeat 9px 12px;
}
.index_pro06 {
	padding: 12px 0 0 7px;
}
.index_pro07 {
	color: #42361c;
	background: url(../image/pro06.jpg) no-repeat;
	margin: 10px 0 0 13px;
	padding-top: 33px;
	line-height: 22px;
}
.index_pro07 span {
	display: block;
	font-size: 20px;
	color: #9d5a25;
	font-family: Impact;
}
.index_pro08 {
	float: right;
	width: 808px;
	padding-top: 158px;
}
.index_pro09 {
	width: 263px;
	height: 197px;
	float: left;
	position: relative;
	margin: 0 0 6px 6px;
}
.index_pro10 {
	position: absolute;
	left: 0;
	width: 195px;
	padding-left: 18px;
	padding-right: 50px;
	bottom: 0;
	background: url(../image/pro08.png) repeat;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	color: #fff;
}
.index_pro10 a {
	color: #fff;
}
.index_pro11 {
	position: absolute;
	bottom: 0;
	right: 0;
}
.index_pro12 {
	width: 398px;
	height: 528px;
	float: left;
	position: relative;
	margin: 0 0 6px 6px;
}
.index_pro12 .index_pro10 {
	position: absolute;
	left: 0;
	width: 290px;
	padding-left: 18px;
	padding-right: 50px;
	bottom: 0;
	background: url(../image/pro08.png) repeat;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	color: #fff;
}
/*pages*/ 
.pagination-wrapper {
	margin: 20px 0;
}
.pagination {
	height: 34px;
	text-align: center;
}
.pagination li {
	display: inline-block;
	height: 34px;
	margin-right: 5px;
}
.pagination li a {
	float: left;
	display: block;
	height: 32px;
	line-height: 32px;
	padding: 0 12px;
	font-size: 16px;
	border: 1px solid #dddddd;
	color: #555555;
	text-decoration: none;
}
.pagination li a:hover {
	background: #f5f5f5;
	color: #0099ff;
}
.pagination li.thisclass {
	background: #9c541a;
	color: #fff;
}
.pagination li.thisclass a, .pagination li.thisclass a:hover {
	background: transparent;
	border-color: #9c541a;
	color: #fff;
	cursor: default;
}
