
img {
	border: 0;
	height: auto;
	vertical-align: middle;
	border: 0;
}
* {
	margin: 0;
	padding: 0;
}
html {
	overflow-x: hidden;
	overflow-y: auto;
}
body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, Verdana, Tahoma, sans-serif;
	color: #333;
}
body {
	background-color: #EEE;
}
a:hover {
 color: #;
	text-decoration: none;
}
.logo a {
 background-color: #;
}
div, form, img, ul, ol, li, dl, dt, dd {
	margin: 0;
	padding: 0;
	border: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
ul, li {
	list-style: none;
}
a {
	color: #333;
	text-decoration: none;
}
form, embed {
	display: inline;
	margin: 0;
	padding: 0;
}
.clear:after {
	clear: both;
	display: table;
	content: " ";
}
.lf {
	float: left;
}
.lr {
	float: right;
}
li {
	list-style-type: none;
}
*:before, *:after, * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
/* -----------------------------主体框架部分----------------------------- */
.container {
	background-color: #FFF;
}
.container, .footlogin-center {
	width: 1380px;
	margin: auto;
	table-layout: fixed;
	word-break: break-all;
	overflow: hidden;
	position: relative;
}
/* -----------------------------PC左边部分----------------------------- */
.wapnav, #yd-nav, .sousuo {
	display: none;
}
.header {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 182px;
	background-color: #F6F6F6;
	margin: 0;
	padding: 0;
	z-index: 99;
	display: block;
}
.logo {
	margin: 0
}
.logo a {
	display: block;
	overflow: hidden;
	height: 124px;
	line-height: 300px;
	color: #FFF;
}
.nav {
	position: relative;
	font-size: 16px;
	border-bottom: 1px solid #EEE;
	list-style: none;
	padding: 0;
	margin-bottom: 0
}
.nav ul li {
	position: relative
}
.nav ul li a {
	padding: 12px 25px;
	color: #666;
	display: block
}
.nav ul li a i {
}
.nav ul li a:focus, .nav ul li a:hover {
	color: #444;
	background-color: #FFF
}
.nav ul .hover a {
	color: #444;
	background-color: #FFF
}
.nav ul li ul {
	position: absolute;
	top: -2px;
	left: 100%;
	min-width: 160px;
	z-index: 10;
	font-size: 14px;
	border: 2px solid #EEE;
	border-left: none;
	background-color: #FFF;
	z-index: 2;
	list-style: none;
	margin: 0;
	padding: 5px 0;
	display: none
}
.nav ul li:hover > ul {
	display: block
}
.nav ul li ul > li > a:hover {
	background-color: #F6F6F6;
	color: #555
}
.head-a {
	text-align: center;/*padding: 10px 5px;*/
}
.head-a span a {
	padding: 5px;
	font-size: 16px;
	color: #AAA;
	display: inline-block;
}
.head-a span {
	display: inline-block;
	/*margin-right: 10px;*/
	border-radius: 2px;
}
.head-a span a i {
	margin-right: 10px;
}
/* -----------------------------PC中间部份----------------------------- */
.content {
	float: left;
	width: 100%;
	overflow: hidden;
	margin: auto 0;
}
.bycontent {
	margin-left: 180px;
	margin-right: 300px;
	padding-right: 20px;
	padding-left: 10px;
}
.gg {
	padding-left: 26px;
	border: 1px dashed #B9AB9E;
	background-color: #FCFAF7;
	background-image: url(../image/new2.gif);
	background-repeat: no-repeat;
	background-position: 10px 7px;
	margin: 0 0 6px 0;
}
.gg ul {
	font-size: 14px;
	line-height: 25px;
	font-weight: normal;
	padding-left: 15px;
}
/*-----TOP.AD------*/
.pcd_ad {
	display: block;
	overflow: hidden;
}
.mbd_ad {
	display: none
}
.pcd_ad img {
	width: 100%;
	height: auto;
	display: block;
}
.mbd_ad img {
	width: 100%;
	height: auto;
	display: block;
}
@media(max-width:768px) {
.pcd_ad {
	display: none !important;
}
.mbd_ad {
	display: block !important;
}
}
.ads-pc img {
	width: 100%;
	height: auto;
	display: block;
}
.ads {
	margin: 5px;
}
/*-----CELAN.PC----*/
.sidebar {
	float: left;
	width: 300px;
	height: 100%;
	overflow: hidden;
	margin-left: -302px;
	padding-left: 5px;
}
/*-----FOOTER.PC---*/
.footer {
	border-top: 2px solid #EEE;
	clear: both;
	color: #AAA;
	font-size: 12px;
	/*margin-left: 195px;
    margin-right: 20px;*/
	padding: 10px 0 30px;
	position: relative;
	z-index: 1;
	text-align: center;
}
.footer a {
	color: #AAA;
}
/* -----------------------------文章列表部份----------------------------- */
/*-----文章.AC----*/
.acpost {
	background-color: #FFF;
	padding: 20px 10px;
	position: relative;
	clear: both;
	display: table;
	border-bottom: 1px dashed #EEE;
}
.acpost:hover {
	background-color: #FAFAFA;
}
.acpost header {
	margin: 0 10px 10px 0
}
.acpost h2 {
	display: inline;
	margin: 0;
	position: relative;
	top: 1px;
	font-size: 22px;
	line-height: 26px;
	padding-bottom: 3px;
	font-weight: 600;
	font-family: 'Microsoft YaHei', Verdana, Arial;
	overflow: hidden;
}
.acpost h2 a {
	color: #444;
}
.acpost h2 a:hover {
	color: red;
	text-decoration: underline;
}
.acpost-tu {
	float: left;
	margin: 0 20px 0 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	display: table;
	width: 200px;
	height: 123px;
}
.acpost-tu img {
	width: 100%;
	margin: 0 auto;
	display: block;
	height: 123px;
	border: 1px solid #EEE;
}
.acpost-centtxt {
	color: #333;
	/*padding: 10px 0;*/
	line-height: 30px;
	text-align: justify;
	font-size: 14px;
	overflow: hidden;
	display: block;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.acpost-footer {
	margin-bottom: 10px;
	font-size: 12px;
	color: #999;
	line-height: 30px;
	height: 30px;
}
.acpost-footer span, .acpost-3tu-h span {
	margin-right: 20px;
	color: #999;
}
.acpost-footer span a, .acpost-3tu-h span a {
	color: #999;
	margin-right: 10px;
}
.acpost-footer span i, .acpost-3tu-h span i {
	margin-right: 5px;
}
.acpost-ico {
	position: absolute;
	top: -2px;
	right: 0;
	overflow: hidden;
	width: 40px;
	height: 40px;
	background: url(https://demoall.5fa.cn/31592/template/pc/skin/images/zhi.png) no-repeat;
}
/*-------3图.AC---------*/
.acpost-3tu {
	position: relative;
	overflow: hidden;
	margin: 10px -6px 0 0;
}
.acpost-3tu > a > span {
	float: left;
	display: block;
	margin-bottom: 6px;
	width: 33.33333333%;
}
.acpost-3tu > a > span > span {
	display: block;
	margin-right: 6px;
	text-align: center;
}
.acpost-3tu > a > span > span > img {
	width: 100%;
	height: 149px;
}
/*-----推荐.AC----*/
.toppost {
	overflow: hidden;
	background-color: #FFF;
	border-top: 1px solid #F2F2F2;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-top: 10px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.toppost:hover {
	background-color: #FAFAFA;
}
.toppost h2 {
	font-size: 22px;
	line-height: 26px;
	padding-bottom: 3px;
	font-weight: 600;
	font-family: 'Microsoft YaHei', Verdana, Arial;
	overflow: hidden;
}
.toppost h2 a {
	float: left;
	width: 100%;
	height: 100%;
}
.toppost h2 a:hover {
	color: red;
	text-decoration: underline;
}
.toppost .jinrituijian {
	font-size: 16px;
	padding: 4px;
	color: #FFF;
	background-color: #C00;
	margin-right: 10px;
}
.toppost h6 {
	font-size: 12px;
	font-weight: 400;
	color: #999;
	line-height: 30px;
	height: 30px;
}
.toppost .clear {
	clear: both;
	padding-top: 4px;
	padding-bottom: 4px;
}
.toppost .intro {
	line-height: 30px;
	margin-top: 5px;
	font-size: 14px;
	padding-bottom: 3px;
	height: auto;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
/*------侧栏.CSS------*/
.ce {
	margin-bottom: 10px;
	background-color: #FFF;
}
.ce-div img {
	width: 100%;
	height: auto;
}
.ce h3 {
	line-height: 25px;
	font-size: 20px;
	padding-left: 16px;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #C00;
	font-weight: 700;
	background-color: #EEE;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 10px;
}
.ce-ul li {
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	border-bottom: 1px dashed #DEDEDE;
	text-overflow: ellipsis;
	overflow: hidden;
}
.ce-div {
	position: relative;
}
#divSearchPanel form {
	height: 30px;
	border-radius: 2px;
	border: 1px solid #BA0100;
	display: block;
	margin-left: 5px;
	margin-right: 5px;
}
#divSearchPanel input[type="text"] {
	line-height: 28px;
	height: 28px;
	width: 72%;
	float: left;
	padding-left: 1%;
	clear: left;
	border: 0;
}
#divSearchPanel input[type="submit"] {
	color: #FFF;
	float: right;
	height: 30px;
	width: 25%;
	border: 0;
	background-color: #BA0100;
}
#divComments ul li:before, #divPrevious ul li:before, #hotcelan ul li:before, #comcelan ul li:before, .actext-e ul li:before, #zance ul li:before {
	margin-right: 8px;
	font-family: FontAwesome;
	content: "\f0da";
}
.tag-count {
	display: none;
}
#divTags li {
	float: left;
	margin: 2px 5px 2px 0px;
	padding: 0;
	border-bottom: none;
	font-size: 14px;
}
#divLinkage li, #divCatalog li, #divArchives li, #divMisc li, #divStatistics li {
	width: 48%;
	float: left;
	border: 1px solid #EEE;
	text-align: center;
	margin: 0 5px 5px 0;
}
#tbCalendar {
	width: 100%;
}
#tbCalendar caption {
	margin-bottom: 10px;
}
#tbCalendar thead {
	margin-bottom: 10px;
}
#tbCalendar tbody {
	margin-top: 10px;
}
#tbCalendar tbody td {
	text-align: center;
}
.div1 {
	width: 300px;
}
.div2 {
	position: fixed;
	_position: absolute;
	top: 0;
	z-index: 10;
	width: 300px;
}
/*-------分页----------*/
.pagination {
	text-align: center;
	padding-top: 16px;
}
.pagination ul {
	display: inline-block;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0
}
.pagination ul>li {
	display: inline
}
.pagination ul>li>a, .pagination ul>li>span {
	margin: 0 5px;
	float: left;
	padding: 8px 20px 7px;
	text-decoration: none;
	background-color: #ddd;
	color: #666;
}
.pagination-multi ul>li>a, .pagination-multi ul>li>span {
	padding: 6px 14px;
	margin: 6px;
	font-size: 12px;
}
.pagination ul>li>a:focus, .pagination ul>li>a:hover {
	opacity: 1
}
.pagination ul>.active>a, .pagination ul>.active>span {
	background-color: #e71a1a;
	color: #fff;
}
.pagination ul>.active>a, .pagination ul>.active>span {
	cursor: default
}
.pagination ul>.disabled>a, .pagination ul>.disabled>a:focus, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>span, .pagination ul>li>span {
	color: #999;
	background-color: transparent;
	cursor: default
}
.pagination ul>li.next-page>a {
	background-color: #e71a1a;
	color: #fff
}
/*-------内容页--------*/
.actext-a {
	margin: 0 10px 1px 10px;
	padding: 0 0 2px 0;
}
.actext-b {
	margin: 0 10px 0 10px;
	padding: 2px 0px 12px;
	border-bottom: 1px solid #CCC;
}
.actext-b h1 {
	font-weight: 400;
	font-size: 20px;
	line-height: 60px;
	text-align: left;
	font-family: "Microsoft Yahei";
	font-size: 30px;
	font-weight: bold;
}
.actext-b-a {
	text-align: left;
	font-size: 12px;
}
.actext-b-a span {
	margin: 0 5px;
}
.actext-b-a span i {
	margin-right: 5px;
}
.actext-c {
	padding: 10px 10px 20px 10px;
	line-height: 35px;
	font-size: 16px;
	border-bottom: 1px solid #F6F6F6;
}
.actext-c:hover {
	background-color: #F9F9F9;
}
.actext-c ul, .actext-c ol {
	margin-left: 4em;
}
.actext-c li {
	list-style-type: inherit;
}
.actext-c li p {
	padding: 0;
	text-indent: 0em;
}
.actext-c p {
}
.actext-c p[style="text-align:center"], .actext-c p[style="text-align: center"], .actext-c p[style="text-align: center;"] {
	text-indent: 0em;
}
.actext-c pre {
	font-size: 12px;
}
.actext-c img {
	max-width: 100% !important;
	height: auto !important;
	box-shadow: 0 0 6px 3px #DDD;
}
.actext-c h1, .actext-c h2, .actext-c h3, .actext-c h4, .actext-c h5, .actext-c h6 {
	font-weight: 500;
	padding: 2px 0 2px 10px;
	margin: 18px 0;
	background-color: #F5F5F5;
	color: #CC7325;
	font-size: 18px;
}
.actext-c blockquote {
	margin: 10px;
	padding: 4px 10px;
	background-color: #F5F5F5;
}
.actext-h {
	text-align: center;
}
/**/
.actext-g {
	padding: 10px;
	margin: 20px 0 0 0;
	font-size: 14px;
	color: #888;
}
.actext-g a {
	margin-right: 10px;
	color: #555;
	padding: 3px 8px;
	border: 1px solid #EEE;
}
/*作者信息*/
.actext-j {
	position: relative;
	background-color: #FAFAFA;
	border: 1px solid transparent;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	border-color: #EBEDF1;
	overflow: hidden;
	padding: 10px 10px 6px 10px;
	margin: 20px 10px 15px 10px;
}
.actext-j-lf {
	display: inline-block;
}
.actext-j-avater {
	float: left;
}
.actext-j-avater img {
	border: 1px solid #DDD;
	position: relative;
	width: 50px;
	border-radius: 100%;
}
.actext-j-Intro {
	margin-left: 65px;
}
.actext-j-Intro span {
	font-size: 12px;
	padding: 1px 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #DDD;
}
.actext-j-Intro p {
	font-size: 12px;
	color: #929292;
	line-height: 1.7;
	margin-top: 10px;
	padding: 0;
}
.actext-j-lr {
	top: 10px;
	position: relative;
	float: right;
	display: block;
}
/*-----上下篇-------*/
.actext-f ul li {
	float: left;
	width: 50%;
	line-height: 24px;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 5px;
}
.actext-f-w {
	display: none;
}
.actext-f-li {
	text-align: right;
}
/*-----点赞---------*/
.actext-k {
	margin: 25px auto;
	text-align: center;
}
.actext-k a {
	line-height: 44px;
	color: #333;
	padding: 10px 16px;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 14px;
	border-radius: 6px;
	border: 1px solid #DDD;
}
.actext-k a span {
	margin-right: 5px;
}
.actext-k a:nth-child(1) {
	background: #F90;
	color: #FFF;
}
.actext-k a:nth-child(2) {
	background: #999;
	color: #FFF;
}
/*------相关文章----*/
.actext-e {
	margin-bottom: 10px;
}
.actext-e ul li {
	float: left;
	width: 48%;
	line-height: 24px;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 15px 5px 5px;
}
/*----评论发布------*/
.actext-d h3, .actext-e h3 {
	line-height: 25px;
	font-size: 20px;
	font-weight: normal;
	padding-left: 16px;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #C00;
	font-weight: bold;
	background-color: #EEE;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 10px;
}
#frmSumbit p {
	padding: 0px;
	margin: 0 0 5px 0;
	line-height: 30px;
}
#frmSumbit #inpName, #frmSumbit #inpEmail, #frmSumbit #inpHomePage, #frmSumbit #inpVerify {
	border: 1px solid #DDD;
	line-height: 15px;
	width: 40%;
	float: left;
	margin: 0 10px 0 0;
	padding: 6px 10px;
}
#frmSumbit label {
	overflow: hidden;
	clear: left;
	float: left;
	line-height: 15px;
	margin: 0;
	padding: 6px 10px;
	border-color: #CCC;
	border-style: solid;
	border-width: 1px 0 1px 1px;
}
#txaArticle {
	width: 98%;
	height: 120px;
	border: 1px solid #DDD;
	padding: 5px;
	background: url(https://demoall.5fa.cn/31592/template/pc/skin/images/plbg1.png) no-repeat center center;
}
#frmSumbit .button {
	clear: both;
	color: #FFF;
	height: 30px;
	width: 100px;
	margin-right: 15px;
	float: right;
	font-weight: 600;
	border: 0;
	background-color: #C00;
}
#cancel-reply {
	float: right;
	background-color: rgb(170, 170, 170);
	line-height: 30px;
	text-align: center;
	height: 30px;
	width: 30px;
	font-size: 25px;
	color: rgb(221, 221, 221);
}
#cancel-reply::before {
	content: "\2716";
}
/*评论列表CSS*/
#reply {
	margin-top: 10px;
	border: 1px solid #DDD;
	padding: 10px;
	background-color: #F2F2F2;
}
.pinglist {
	padding: 10px;
	line-height: 32px;
	padding: 9px 9px 1px 9px;
	margin: 10px 0 10px 0;
	border-radius: 5px;
	border: 1px dotted #CCC;
	font-size: 14px;
}
.pinglist:hover {
	background-color: #F9F9F9;
}
.msgname {
	color: #999;
}
.dot {
	font-size: 30px;
	color: #F4F4F4;
	float: right;
	margin-left: 15px;
	font-weight: 700;
}
.msgarticle {
	color: #666;
	margin-bottom: 4px;
}
.digg {
	float: right;
}
.digg > a {
	background: #F90;
	color: #FFF;
	border-radius: 5px;
	padding-top: 0.1em;
	padding-right: 1em;
	padding-bottom: 0.1em;
	padding-left: 1em;
	line-height: 3em;
}
/*全屏阅读CSS*/
#reding {
	cursor: pointer
}
.reads .sidebar {
	display: none;
}
.reads .content .bycontent {
	margin-right: 0;
}
/*右则*/
.footlogin-on {
	display: none;
	position: fixed;
	right: 0px;
	cursor: pointer;
	overflow: hidden;
	color: #BBB;
	width: 24px;
	height: 88px;
	background: url(https://demoall.5fa.cn/31592/template/pc/skin/images/r0.png) no-repeat 0 0;
}
.y-nav {
	position: fixed;
	right: 40px;
	z-index: 99;
}
.y-nav ul li {
	margin-bottom: 4px;
}
.y-nav ul li a {
	position: relative;
	padding: 0;
	width: 44px;
	height: 56px;
	background: #FFF;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	font-size: 12px;
	border: none;
	color: #6B6B6B;
	z-index: 10;
	margin: 0;
	padding-top: 4px;
	display: block;
	text-align: center;
}
.y-nav ul li a i {
	margin-top: 6px;
	margin-bottom: 4px;
	font-size: 18px;
}
.y-nav-weixin {
	display: none;
	padding: 10px;
	width: 150px;
	height: 180px;
	top: -144px;
	background: #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, .4);
	border-radius: 5px 0 0 5px;
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	z-index: 3;
	position: absolute;
	left: -160px;
}
.y-nav-admin {
	display: none;
	width: 280px;
	padding: 10px;
	background: #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, .4);
	border-radius: 5px 0 0 5px;
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	z-index: 3;
	position: absolute;
	top: 0px;
	left: -288px;
}
.y-nav-admin-cent {
	width: 267px;
	overflow: hidden;
	height: 120px;
}
.y-nav-admin-cent p {
	float: left;
	margin: 6px 20px 0 5px;
	display: inline;
}
.y-nav-admin-cent p img {
	width: 100px;
	height: 100px;
	border: 1px solid #EEE;
}
.y-nav-admin-cent ul {
	overflow: hidden;
	color: #333;
	padding-top: 15px;
	line-height: 24px;
	width: 140px;
	float: left;
}
.y-nav-admin-cent ul li {
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	white-space: nowrap;
}
.y-nav-admin-bt {
	border-top: 1px dotted #D5D5D5;
	overflow: hidden;
	padding-top: 15px;
	clear: both;
}
.y-nav-admin-bt a {
	border: 1px solid #E9E9E9 !important;
	color: #333 !important;
	width: auto !important;
	height: auto !important;
	border-radius: 5px !important;
	margin: 0 5px 0 5px !important;
	float: left;
	padding: 5px !important;
}
.y-nav-admin-ico {
	position: absolute;
	margin-right: 0;
	top: 10px;
	right: -8px;
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #444851;
}
#y-nav-top {
	display: none;
}
/****/
.item ul {
	margin: 0 0 0 140px;
	display: none;
}
.item ul li {
	line-height: 30px;
}
.item ul li span {
	margin-right: 5px;
	color: #999;
}
/*弹出*/
#t-bei {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgb(45, 45, 45);
	z-index: 100;
	opacity: 0.5;
}
.t-opo {
	background: #FFF;
	position: fixed;
	z-index: 7000;
	width: 334px;
	top: 50%;
	left: 50%;
	margin: -190px 0 0 -167px;
}
.t-opo-title {
	height: 40px;
	padding-left: 10px;
	line-height: 40px;
	border-bottom: 1px solid #DDD;
}
.t-opo-content {
	padding: 10px;
}
#tca, #tcaguan, #fenguan, #saoguan {
	position: absolute;
	right: 10px;
	top: 6px;
	font-size: 12px;
}
/*打赏*/
.ds-payment-way {
	text-align: center;
}
.ds-payment-way label {
	cursor: pointer;
	line-height: 30px;
	display: inline-block;
	margin: 0 15px 0 0;
}
.ds-payment-way input[type=radio] {
	vertical-align: middle;
	margin: -2px 5px 0 0
}
.ds-payment-img {
	margin: 10px 0;
	text-align: center
}
.ds-payment-img img {
	margin: 0 auto;
	width: 185px;
	height: 185px;
}
.ds-payment-img #qrCode_1 {
	display: none
}
.ds-payment-img #qrCode_2 {
	display: none
}
.ds-payment-img .qrcode-border {
	margin: 0 auto;
	border-radius: 29.97px;
	width: 236.89px;
	height: 236.89px;
	padding: 18.05px;
}
.ds-payment-img .qrcode-tip {
	width: 48.13px;
	position: relative;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 700;
	background: #FFF;
	height: 15px;
	line-height: 15px;
	margin-top: -12px
}
/*登录*/
#dengdiv, #dashang, #fxtan, #fxsao {
	display: none;
}
.username {
	position: relative;
}
.username input {
	height: 40px;
	width: 100%;
	line-height: 40px;
	border: 1px solid #CCC;
	padding-left: 30px;
	margin: 8px 0;
}
.username i {
	position: absolute;
	top: 20px;
	left: 10px;
	font-size: 16px;
}
.btnpost {
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
}
.btnpost input[type="submit"], .regster {
	height: 34px;
	width: 80px;
	color: #FFF;
	font-size: 16px;
	border: 0;
}
.regster {
	text-align: center;
	margin-right: 5px;
	vertical-align: middle;
}
.fxsao {
	margin-right: 10px;
	padding: 10px 10px 0 10px;
	border: 1px solid #DDD;
}
.fxsao-lr {
	font-size: 12px;
}
.fxsao-lr i {
	margin-right: 10px;
	font-size: 30px;
}
/**生成的CSS主体**/
#full {
	width: 15px;
	height: 57px;
	POSITION: absolute;
	right: 0;
	margin-right: 310px;
	z-index: 100;
	text-align: center;
}
a.prev, a.next {
	display: block;
	width: 108px;
	height: 282px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -141px;
}
a.next {
	margin-left: 700px;
}
a.prev {
	margin-left: -800px;
}
a.prev:hover, a.next:hover {
	background-color: #FFF;
}
a.prev span, a.next span {
	display: inline-block;
	border-top: 2px solid;
	border-right: 2px solid;
	width: 100px;
	height: 100px;
}
a.prev span {
	transform: rotate(-135deg);
	margin: 85px 0 0 40px;
}
a.next span {
	transform: rotate(45deg);
	margin: 85px 0 0 -25px;
}
.ce h3 {
 border-left: 2px solid #;
}
.acpost-h2, .actext-d h3, .actext-e h3 {
 border-bottom: 1px solid #;
}
.ce ul li:before, .actext-e ul li:before, .actext-f ul li i, .acpost-h2 i, #reding i {
 color: #;
}
.now-page, #divSearchPanel input[type="submit"] {
 background-color: #;
}
.actext-c h1, .actext-c h2, .actext-c h3, .actext-c h4, .actext-c h5, .actext-c h6 {
 border-left: 5px solid #;
}
.actext-c blockquote {
 border: 1px dashed #;
}
.actext-c blockquote p {
	text-indent: 1em;
}
.actext-a {
	border-bottom: 1px solid #ccc;
}
.ce h3, .actext-d h3, .actext-e h3, .msgname a, .at {
 color: #;
}
#frmSumbit .button {
 background-color: #
}
.acpost-ico {
 background-color: #
}
a.prev span, a.next span {
 border-color: #;
}
.gg {
	background-color: #F9FFF7;
	color: #121212;
	padding-left: 26px;
	line-height: 35px;
	border: 1px dashed #B9AB9E;
	background-color: #FCFAF7;
	margin-top: 12px;
	margin-right: 0;
	margin-bottom: 12px;
	margin-left: 10px;
}
.gg ul li a {
	color: #121212;
}
.actext-j-Intros .span1 {
	border-color: #3B9FF2;
	color: #3B9FF2;
}
.actext-j-Intros .span1 a {
	color: #3B9FF2;
}
.actext-j-Intros .span2 {
	border-color: #CC7325;
	color: #CC7325;
}
.actext-j-Intros .span2 a {
	color: #CC7325;
}
.actext-j-Intros .span3 {
	border-color: #FF441F;
	color: #FF441F;
}
.actext-j-Intros .span3 a {
	color: #FF441F;
}
.actext-j-Intros .span4 {
	border-color: #FF386D;
	color: #FF386D;
}
.actext-j-Intros .span4 a {
	color: #FF386D;
}
.quick_links a:hover, .quick_links a.current, .quick_toggle a:hover {
 background: #;
}
.login_btnbox a:hover {
	color: #FFF !important;
}
.footlogin-on, .btnpost input[type="submit"], .regster {
 background-color: #;
}
.y-nav, .footlogin-on {
	top: 50px;
}
 @media screen and (max-width: 1500px) {
.footlogin-center, .container {
	max-width: 1380px;
}
.y-nav {
	right: 2px;
}
}
 @media screen and (max-width: 1200px) {
.sidebar {
	display: none;
}
#topend {
	display: none;
}
.footlogin-center, .container {
	width: 960px
}
.bycontent {
	margin-right: 0;
	padding-right: 0px;
}
}
 @media screen and (max-width: 968px) {
.footlogin-center, .container {
	width: 100%;
}
.header {
	display: none;
}
.bycontent {
	margin: 0 auto;
	max-width: 770px;
	padding: 5px;
	margin-top: 40px;
}
.acpost {
	padding: 10px;
}
 .acpost:hvoer {
 background-color: #FAFAFA;
}
.wapnav {
	display: block;
	position: fixed;
	z-index: 100;
	background-color: #CB1F03;
	color: #FFF;
	border-bottom: 1px solid #CCC;
}
.wapnav #sousuo {
	display: none;
}
.wapnav .fa-search, .wapnav .fa-list-ul {
	color: #FFF;
}
#sousuo {
	float: left;
	margin-left: 20px;
}
#waplogo {
	left: 50%;
	margin-left: -90px;
	position: absolute;
	height: 40px;
	line-height: 40px;
}
#waplogo img {
	height: 40px;
	width: 180px;
}
#xiala {
	float: right;
	margin-right: 20px;
	;
}
#xiala, #sousuo {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: #FFF;
	font-family: 'Microsoft YaHei', Verdana, Arial;
}
#xiala {
	color: #FFF;
	background: #D20001;
	padding: 0px 10px 0 10px;
	cursor: pointer;
	border: solid 1px #666;
	display: block;
	float: right;
	margin-right: 0;
}
#waplogo {
	color: #FFF;
	font-size: 24px;
	display: block;
	text-shadow: none;
	color: #FFF;
	font-family: 'Microsoft YaHei', Verdana, Arial;
	float: left;
	margin-left: 20px;
	position: unset;
	left: auto;
}
#yd-nav {
	display: none;
	clear: both;
	position: fixed;
	top: 40px;
	width: 130px;
	;
	z-index: 11;
	right: 0;
	color: #FFF;
	height: auto;
	background: #333;
	background-color: rgba(203, 31, 3, .9);
}
#yd-nav li i {
	margin-right: 5px;
}
#yd-nav li a {
	display: block;
	padding: 10px 20px;
	border: 1px solid #777;
	border-top: 0;
	color: #FFF;
}
#yd-nav li ul {
	display: none;
	margin: 0 0 0 20px;
}
#yd-nav ul li:hover ul, #yd-nav ul li:hover #yd-nav ul li {
	display: block;
}
#guanbi {
	text-align: center;
}
.sousuo {
	z-index: 100;
	display: none;
	padding: 40px 12% 0 12%;
	position: fixed;
	top: 40px;
	width: 100%;
	background-color: #FFF;
}
.sousuo form {
	height: 42px;
	line-height: 23px;
	margin-bottom: 20px;
}
.sousuo form input {
	float: left;
	width: 85%;
	height: 42px;
	line-height: 42px;
	padding: 0 0 0 16px;
}
.sousuo form button {
	float: right;
	width: 15%;
	height: 42px;
	line-height: 42px;
	color: #FFF;
	border: none;
}
#sguanbi {
	position: absolute;
	top: 10px;
	right: 20px;
	color: #FFF;
	font-size: 12px;
}
.actext-f-p {
	display: none;
}
.actext-f-w {
	display: inline-block;
}
.actext-f-li {
	text-align: left;
}
.actext-f ul li {
	float: none;
	width: 100%;
}
.footer {
	padding: 5px;
	margin: 0 0 10px 0;
}
}
 @media screen and (max-width: 720px) {
.y-nav {
	display: none;
}
.footlogin-on {
	display: block;
}
}
 @media screen and (max-width: 580px) {
.actext-b h1 {
	line-height: 30px;
	margin: 10px 0;
	font-size: 24px;
}
.actext-e ul li {
	float: none;
	width: 98%;
}
.acpost h2, .toppost h2 {
	font-size: 16px;
}
.acpost-tu {
	width: 100px;
	height: 68px;
}
.acpost-tu img {
	max-width: 100px;
	max-height: 68px;
}
.acpost-centtxt, .toppost .intro {
	display: block;
	height: 60px;
	padding-top: 3px;
	overflow: hidden;
	line-height: 20px;
}
}
.feeds {
	padding: 10px 0 10px 10px;
	overflow: hidden;
	background-color: #F9F9F9;
	border-bottom: 1px solid #EEE;
}
.feeds .feed {
	display: block;
	float: left;
	overflow: hidden;
	width: 36px;
	height: 36px;
	line-height: 100px;
	color: #FFF;
	opacity: .7;
	margin-right: 5px;
	border-radius: 8px;
	padding: 0;
	background: #000;
	line-height: 14px;
	font-size: 12px;
	padding: 4px;
}
.feeds .feed img {
	display: block;
	width: 36px;
	height: auto;
}
.feeds .feed:hover {
	opacity: .5;
}
.default-menu {
	overflow: hidden;
	height: auto;
	border-bottom: 1px solid #CCC;
	margin-left: 0;
	margin-top: 30px;
}
.default-menu li {
	float: left;
	width: 120px;
	text-align: center;
	line-height: 36px;
	height: 36px;
	cursor: pointer;
	color: #666;
	font-size: 18px;
	overflow: hidden;
	background-color: #F0F0F0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-left-color: #CCC;
}
.default-menu li.off, .default-menu li:hover {
	color: #FFF;
	background-color: #C00;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
}
.default-menu li.off a, .default-menu li:hover a {
	color: #FFF;
}
 @media screen and (max-width: 720px) {
.default-menu li {
	width: auto;
	padding: 0 10px;
}
}
.page {
	color: #000;
	display: inline-block;
	clear: both;
	border: 1px solid #BEBDBE;
	margin: 0 3px 3px 0;
	border-radius: 2px;
}
.page:hover, .now-page {
	color: #BA0001 !important;
	background-color: #BEBDBE !important;
	border: 1px solid #666 !important;
}
.tags-box {
	display: inline-block;
	padding: 5px;
}
.tags-box a {
	display: block;
	float: left;
	margin-bottom: 5px;
	color: #FFF;
	background: #7266ba;
	font-weight: 500;
	padding: 2px 6px;
	text-align: center;
	margin-right: 4px;
	opacity: .9;
	font-size: 13px;
}
.tags-box a:nth-child(5n+1) {
	background: #23ad44
}
.tags-box a:nth-child(5n+2) {
	background: #23b7e5
}
.tags-box a:nth-child(5n+3) {
	background: #fad733
}
.tags-box a:nth-child(5n+4) {
	background: #f05050
}
.tags-box a:hover {
	opacity: 1
}
.meihua_1 {
	display: block;
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #ea4c89;
	color: #FFF;
	font-weight: bold;
	font-size: 18px;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.meihua_2 {
	background-color: #fff;
	margin-bottom: 20px;
	box-shadow: 0 1px 2px rgba(15,39,65,0.1);
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.meihua_2 .meihua_2_1 {
	height: auto;
	overflow: hidden;
	background-color: #FFF;
	border: 1px solid #DDDDDD;
	border-width: 1px 1px 1px 1px;
	padding: 20px;
}
.meihua_2 .meihua_2_1 p {
}
.meihua_2 .meihua_2_1 .meihua_btn {
	float: left;
	border: 1px solid #8a8a8a;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	padding-left: 40px;
	margin: 10px 10px 0 0;
	overflow: hidden;
	border-radius: 2px;
	background: url("../image/30.png") no-repeat 5px 3px #4abd96;
	border: 1px solid #4abd96;
	color: #FFF;
	text-decoration: none;
	padding-right: 10px;
}
.meihua_2 .meihua_2_1 .meihua_btn i {
	margin-right: 5px
}
.meihua_2 .meihua_2_1 .meihua_btn:hover {
	background-color: #3169b0
}
.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.video iframe, .video object, .video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.short-btn {
	float: left;
	border: 1px solid #8a8a8a;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	padding-left: 40px;
	margin: 10px 10px 0 0;
	overflow: hidden;
	border-radius: 2px;
	background: url("../image/10.png") no-repeat 5px 3px #4abd96;
	border: 1px solid #4abd96;
	text-decoration: none;
	color: #FFF!important;
	padding-right: 10px;
	text-decoration: none;
}
.short-btn:hover {
	background-color: #3169b0
}
