
.home_title {
	text-align: center;
	padding-top: 60px;
}
.solution_list {
	width: 1200px;
	margin: 40px auto;
}
.solution_list ul {
	margin-right: -48px;
}
.solution_list li {
	float: left;
	width: 370px;
	margin-right: 46px;
	margin-bottom: 38px;
	position: relative;
}
.solution_list li a {
	display: block;
}
.solution_list h2 {
	font-size: 20px;
	color: #333;
	font-weight: normal;
	line-height: 48px;
	border-bottom: 1px solid #2eafbb;
}
.solution_list h2 a {
	color: #333;
}
.solution_list h2 a:hover {
	color: #2eafbb;
}
.solution_list .intro {
	line-height: 22px;
	color: #999;
	margin-top: 4px;
}
.solution_list .intro a:hover {
	color: #2eafbb;
}
.solution_list .shade {
	display: block;
	width: 370px;
	height: 120px;
}
.solution_list .solu_img {
	width: 370px;
	height: 120px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.solu_img .shade {
	position: absolute;
	z-index: 3;
	top: 100%;
	left: 0;
	width: 100%;
	height: 120px;
	background: #fff;
	opacity: 0.6;
	filter: alpha(opacity=60);
	transition: 0.5s all;
}
.solu_img:hover .shade {
	top: 0;
	transition: 0.6s ease-in-out;
}
.solu_img .img_icon {
	transform: rotate(360deg);
	transition: 0.6s ease-in-out;
	position: absolute;
	top: 50%;
	left: -100%;
	margin-left: -20px;
	margin-top: -20px;
	display: inline-block;
	z-index: 3;
}
.solu_img:hover .img_icon {
	left: 50%;
	transform: rotate(3600deg);
	-webkit-transform: rotate(3600deg);
	-moz-transform: rotate(3600deg);
	-o-transform: rotate(3600deg);
	-ms-transform: rotate(3600deg);
	transition: .6s ease-in-out;
	-webkit-transition: .6s ease-in-out;
	-moz-transition: .6s ease-in-out;
	-o-transition: .6s ease-in-out;
	-ms-transition: .6s ease-in-out;
}
.solu_img img {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transition: All .6s ease-in-out;
	-webkit-transition: All .6s ease-in-out;
	-moz-transition: All .6s ease-in-out;
	-o-transition: All .6s ease-in-out;
	-ms-transition: All .6s ease-in-out;
}
.solu_img:hover>img {
	transform: scale(1.4);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transition: All .6s ease-in-out;
	-webkit-transition: All .6s ease-in-out;
	-moz-transition: All .6s ease-in-out;
	-o-transition: All .6s ease-in-out;
	-ms-transition: All .6s ease-in-out;
}
