@font-face {
	font-family: 'Conv_Humanist521BT-Light';
	src: url('https://demoall.5fa.cn/28521/template/pc/skin/css/fonts/Humanist521BT-Light.eot');
	src: local('☺'), url('https://demoall.5fa.cn/28521/template/pc/skin/css/fonts/Humanist521BT-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Oswald';
	src: url('https://demoall.5fa.cn/28521/template/pc/skin/css/fonts/Oswald.eot');
	src: local('☺'), url('https://demoall.5fa.cn/28521/template/pc/skin/css/fonts/Oswald.woff') format('woff'), url('https://demoall.5fa.cn/28521/template/pc/skin/css/fonts/Oswald.ttf') format('truetype'), url('https://demoall.5fa.cn/28521/template/pc/skin/css/fonts/Oswald.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

