*{margin:0;padding:0}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{margin:0;padding:0;font:14px/1.5 Arial,\5FAE\8F6F\96C5\9ED1,Helvetica,sans-serif}
table,td,tr,th{border-collapse:collapse;border-spacing:0;font-size:14px}
ol,ul{list-style:none}
li{list-style-type:none}
img{vertical-align:middle;border:0}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal}
.clear{clear:both;*zoom:1}
.clear:after{display:block;overflow:hidden;clear:both;height:0;visibility:hidden;content:"."}
a{text-decoration:none}
a:visited{text-decoration:none}
a:hover{text-decoration:none}
a:active{text-decoration:none}
::placeholder{color:#666}
.w1400{width:100%;max-width:1400px;margin:0 auto;padding:0}
@media screen and (max-width:1450px){.w1400{width:90%}
}@media screen and (max-width:1023px){.w1400{width:94%}
}.fl{float:left}
.fr{float:right}
@font-face{font-family:"Helvetica";src:url('../font/helvetica.ttf')}
@font-face{font-family:"HelveticaBold";src:url("../font/helveticabold.ttf")}
@font-face{font-family:"PangMen";src:url("../font/pangmen.ttf")}
@font-face{font-family:"YouSheBiaoTiHei";src:url("../font/youshebiaotihei.ttf")}
@font-face{font-family:"KOULEN";src:url("../font/koulen-regular.ttf")}
@font-face{font-family:"Impact";src:url("../font/impact.ttf")}
@font-face{font-family:"RobotoRegular";src:url("../font/robotoregular.ttf")}
@font-face{font-family:"RobotoBold";src:url("../font/robotobold.ttf")}
::-webkit-scrollbar{width:0}
::-webkit-scrollbar-track{background-color:rgba(0,0,0,0.1);border-radius:0px}
::-webkit-scrollbar-thumb{background-color:#4121c7}
::-webkit-scrollbar-thumb:window-inactive{background-color:#4121c7}
.web_top{width:100%;height:100px;margin:0;padding:0;background-color:#fff;box-shadow:0 5px 10px rgba(0,0,0,0.1);position:fixed;top:0;left:0;z-index:2;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.web_top .webtop_main{height:auto;margin:0 auto;position:relative}
.web_top:after{content:'';display:block;background:url(../image/nav_top.png) left center no-repeat;width:100%;height:4px;background-size:35% 4px;position:absolute;bottom:0;left:0}
.webtop_main .web_logo{width:auto;height:80px;overflow:hidden;margin:10px 0;padding:0;float:left}
.web_logo a{display:table-cell;vertical-align:middle;width:100%;height:80px;overflow:hidden;margin:0;padding:0}
.web_logo a img{display:inline-block;max-width:100%;height:auto;max-height:100%;margin:0;padding:0}
.top_tel{height:50px;overflow:hidden;margin:25px 0;padding:0 50px 0 0;background:url(../image/top_tel.png) right center no-repeat;background-size:40px 40px;float:right}
.top_tel span{display:block;height:20px;line-height:20px;color:#ccc;font-size:15px;margin:0;padding:0;text-align:right}
.top_tel p{height:30px;line-height:30px;color:#ff7800;font-size:30px;font-weight:bold;margin:0;padding:0}
.nav{width:100%;margin:0 auto;padding:0;background-color:#4121c7}
.webtop_right{margin:12px 0 12px 0;float:right}
.webtop_right .webtop_search{height:40px;margin:0;padding:0;float:left;position:relative;z-index:1}
.webtop_search form{width:40px;height:40px;margin:0;padding:0;position:relative}
.webtop_search form .sc_ipt{width:0;height:40px;overflow:hidden;margin:0;padding:0;position:absolute;left:0;top:0;transition:all 0.5s;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s}
.webtop_search form .sc_ipt input{display:block;width:100%;height:40px;overflow:hidden;line-height:40px;color:#999999;font-size:14px;margin:0;padding:0 14px;background-color:#fff;border:1px solid #dfdfdf;border-right:0;outline:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.sc_ipt input{color:#333!important}
.sc_ipt input::-moz-placeholder{color:#999}
.sc_ipt input::-ms-input-placeholder{color:#999}
.sc_ipt input::-webkit-input-placeholder{color:#999}
.webtop_search form .sc_btn{width:40px;height:40px;overflow:hidden;margin:0;padding:0;float:right}
.webtop_search form .sc_btn input{display:block;width:40px;height:40px;overflow:hidden;margin:0;padding:0;background:url(../image/ssbtn_icon.png) center center no-repeat;background-size:21px 20px;border:0;outline:none;cursor:pointer}
.webtop_search:hover form .sc_ipt{width:260px;height:240px;left:-260px}
.webtop_search:hover form .sc_btn input{background:#ff003b url(../image/ssbtn_icon.png) center center no-repeat}
@media (max-width:1560px){.top_tel{margin:20px 0}
.web_top{height:90px}
.webtop_main .web_logo,.web_logo a{height:70px}
.webtop_main .webtop_Tel{margin:20px}
.webtop_Tel p span{font-size:20px}
.webtop_Tel p:hover span{width:200px}
.webtop_main .webtop_Search{margin:20px 0}
.webtop_Search form:hover .scIpt{width:220px}
}
@media (max-width:1366px){.webtop_main .web_logo,.web_logo a{height:64px;margin:13px 0}
.webtop_search:hover form .sc_ipt{width:240px;left:-240px}
}@media (max-width:1280px){.top_tel{margin:15px 0}
.web_top{height:80px}
.webtop_main .web_logo{height:62px;margin:9px 0}
.web_logo a{height:62px}
.webtop_main .webtop_Tel{margin:15px}
}@media (max-width:1200px){.webtop_Tel p span{width:184px;padding:0 20px}
.webtop_main .webtop_Tel{width:40px;height:40px;padding:0;background:none;margin:20px 0}
.webtop_main .webtop_Search{width:auto;height:40px;margin:20px 60px 20px 20px;padding:0;background:none}
.webtop_Search form{width:100%;height:40px;margin:0;padding:0;background-color:#f2f2f2}
.webtop_Search form .scIpt{width:200px;height:40px;padding:0;background:none;position:inherit;right:inherit;top:inherit;float:left}
.webtop_Search:hover form .scIpt{width:240px}
.webtop_Search form:hover .scIpt{padding:0}
.webtop_Search form .scIpt input{height:40px;line-height:40px;color:#666;font-size:14px;padding:0 15px}
.webtop_Search form .scBtn{width:40px;height:40px;padding:0;float:right}
.webtop_Search form .scBtn input{width:100%;height:40px;padding:20px}
.webtop_Search form .scIpt input::-moz-placeholder{color:#aaa}
.webtop_Search form .scIpt input:-ms-input-placeholder{color:#aaa}
.webtop_Search form .scIpt input::-webkit-input-placeholder{color:#aaa}
}
@media (max-width:800px){.webtop_main .web_logo{width:40%}
.webtop_Tel p span{width:180px;font-size:18px}
.top_tel{margin:15px 70px 15px 0}
.web_top:after{display:none}
.webtop_right{width:100%}
.webtop_right .webtop_search{width:100%}
.webtop_search form{width:100%;background-color:#f5f5f5}
.webtop_search form .sc_ipt{width:94.5%;left:0}
.webtop_search:hover form .sc_ipt{width:94.5%;left:-94.5%;left:0}
.webtop_search form .sc_btn input{background:#ff003b url(../image/ssbtn_icon.png) center center no-repeat}
}@media (max-width:767px){.web_top{width:100%;height:auto;margin:0;padding:0 12px 12px}
.webtop_main .web_logo{width:80%;height:50px;margin:0;padding:12px 0;background:none}
.web_logo a{height:50px}
.top_tel{display:none}
.webtop_right .webtop_search{width:100%}
.webtop_search form{width:100%;padding:0 40px 0 0;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.webtop_search form .sc_ipt{width:100%;position:inherit;left:inherit;top:inherit}
.webtop_search:hover form .sc_ipt{width:100%;left:0}
.webtop_search:hover form .sc_ipt{left:0}
.webtop_search form .sc_btn{position:absolute;top:0;right:0}
}@media (max-width:320px){.webtop_right{margin:8px 0 8px 0}
}.web_nav{width:97%;height:auto;margin:0;padding:0;float:left}
.web_nav li,.web_nav a{text-decoration:none;list-style:none}
.web_nav::-webkit-scrollbar{display:none}
.web_nav .nav_list{width:100%;margin:0 auto;-webkit-box-sizing:border-box;box-sizing:border-box}
.web_nav .nav_list > ul > li{display:inline-block;width:12.5%;position:relative;list-style:none;padding:0 10px;float:left;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:url(../image/nav_line.png) center right no-repeat}
.web_nav .nav_list > ul > li:last-child{background:none}
.web_nav .nav_list > ul > li > a{display:inline-block;width:100%;line-height:65px;color:#fff;font-size:16px;text-align:center;margin:0;text-decoration:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;transition:all 0.5s;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s}
.web_nav .nav_list > ul > li:hover > a,.web_nav .nav_list > ul > li.active > a{color:#ff003b}
.web_nav .nav_list > ul > li i{display:inline-block;width:20px;height:20px;background:url(https://demoall.5fa.cn/31785/template/pc/skin/images/down.png) center center no-repeat;background-size:10px 10px;vertical-align:middle;cursor:pointer;margin:0;display:none}
.web_nav .nav_list > ul > li i.cur{background:url(https://demoall.5fa.cn/31785/template/pc/skin/images/up.png) center center no-repeat;background-size:10px 10px;text-decoration:none}
.web_nav .nav_list > ul > li ul{display:none;position:absolute;left:-17%;top:80px;z-index:9;width:134%;overflow:hidden;background-color:#fff;border-top:2px solid #d70e04;box-shadow:0 4px 6px rgba(0,0,0,0.1);border-radius:0 0 2px 2px}
.web_nav .nav_list > ul > li:hover ul{display:block}
.web_nav .nav_list > ul > li ul li{width:100%;overflow:hidden;margin:0 auto;padding:0;border-bottom:1px solid rgba(85,87,89,0.1)}
.web_nav .nav_list > ul > li ul li:last-child{border:0}
.web_nav .nav_list > ul > li ul li a{display:block;width:100%;height:40px;overflow:hidden;line-height:40px;color:#555;font-size:14px;text-align:center;white-space:nowrap;text-overflow:ellipsis;margin:0 auto;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.web_nav .nav_list > ul > li ul li a:hover{color:#d70e04}
.web_nav .nav_menu{display:none}
@media (max-width:1440px){.web_nav{width:96%}
}@media (max-width:1200px){.web_nav .nav_list > ul > li > a{font-size:15px}
}@media (max-width:1080px){.web_nav{width:94%}
}@media (max-width:800px){.web_nav{height:0;margin:0}
.web_nav .nav_list{width:60%;height:100%;margin:0;padding:0;position:fixed;top:0;left:-100%;z-index:9999;transition:0.5s;-webkit-transition:0.5s}
.web_nav .nav_list ul{width:60%;height:100%;background-color:#fff;position:relative;z-index:9999}
.web_nav .nav_list .nav_mask{width:100%;height:100%;background-color:rgba(0,0,0,0.6);position:absolute;left:0;top:0;z-index:9998}
.web_nav .nav_list ul > li{width:100%;overflow:hidden;margin:0 auto;padding:0;background:none;box-sizing:border-box;position:relative}
.web_nav .nav_list > ul > li:hover,.web_nav .nav_list > ul > li.active{background-color:#4121c7}
.web_nav .nav_list ul > li a{display:block;width:100%;line-height:60px;color:#333;font-size:16px;text-align:left;padding:0 60px 0 20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.web_nav .nav_list > ul > li i{display:block;width:60px;height:60px;background-size:14px 14px;position:absolute;top:0;right:0;background:url(https://demoall.5fa.cn/31785/template/pc/skin/images/down2.png) center center no-repeat;background-size:14px 14px}
.web_nav .nav_list > ul > li i.cur{background-size:14px 14px}
.web_nav .nav_list > ul > li ul{width:100%;overflow:hidden;position:inherit;left:inherit;top:inherit;background-color:#f8f8f8;box-shadow:none}
.web_nav .nav_menu{display:block;width:24px;padding:10px 7px;background-color:#fff;border:1px solid #ccc;border-radius:2px;margin:0;position:absolute;top:18px;right:3%}
.web_nav .nav_menu span{display:block;width:24px;height:2px;background-color:#ccc;border-radius:1px}
.web_nav .nav_menu span + span{margin-top:6px}
.web_nav .open{width:100%;overflow:auto;left:0%;z-index:99999}
.web_nav .nav_menu:active{background-color:#4121c7;border:1px solid #4121c7}
.web_nav .nav_menu:active span{background-color:#fff}}
.webidx_links{width:100%;margin:-50px auto 0;position:relative}
.webidx_links .wbidxlinks_main{height:auto;overflow:hidden;margin:0 auto;background:#fff;display:flex}
.wbidxlinks_main span{float:left;display:block;overflow:hidden;background:#4121c7;color:#fff;font-size:26px;margin:0;padding:2%;font-family:georgia;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-weight:bold;position:relative}
.wbidxlinks_main span:before{content:'';display:block;border-right:21px solid #4121c7;border-top:21px solid #f3f3f3;position:absolute;left:0;top:0}
.wbidxlinks_main p{float:right;width:600px;flex-grow:1;font-size:14px;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.wbidxlinks_main p a{display:inline-block;height:26px;line-height:26px;color:#666;padding:0 15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.wbidxlinks_main p a:hover{color:#4121c7}
.web_foot{width:100%;height:auto;margin:0 auto;padding:1px 0 0;background-color:#2c2c2c;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.web_foot1{padding:45px 0 0}
.web_foot .webfoot_main{overflow:hidden;margin:60px auto 0}
.webfoot_main .wbfootleft{width:60%;height:auto;overflow:hidden;margin:0;padding:0;float:left}
.wbfootleft dl dd{width:33.333333%;max-height:176px;overflow:hidden;margin:0;padding:0 10% 0 0;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.wbfootleft dl dd p{width:100%;height:30px;overflow:hidden;line-height:30px;color:#fff;font-size:18px;margin:0 auto 10px;padding:0}
.wbfootleft dl dd p i{display:block;width:3px;height:18px;margin:6px 10px 6px 0;padding:0;background-color:#4121c7;float:left}
.wbfootleft dl dd a{display:block;width:100%;height:34px;overflow:hidden;line-height:34px;color:rgba(255,255,255,0.45);font-size:14px;white-space:nowrap;text-overflow:ellipsis;margin:0 auto;padding:0 0 0 13px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;transition:all 0.5s;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s}
.wbfootleft dl dd a:hover{color:#fff}
.webfoot_main .wbfootright{height:auto;margin:0;padding:0;float:right;width:40%}
.wbfootright .wbfootewm{width:110px;height:auto;margin:0;padding:10px;border:1px solid rgba(255,255,255,0.2);background-color:rgba(255,255,255,0.1);float:left}
.wbfootewm img{display:block;width:110px;height:110px;margin:0 auto 10px;padding:0}
.wbfootewm p{width:100%;height:20px;overflow:hidden;line-height:20px;color:rgba(255,255,255,0.5);font-size:16px;text-align:center;margin:0 auto;padding:0}
.wbfootright .wbfootlxfs{padding:0 0 0 25px;float:left;width:70%}
.wbfootlxfs p{width:100%;height:auto;min-height:30px;max-height:60px;overflow:hidden;line-height:30px;color:rgba(255,255,255,0.45);font-size:14px;margin:0 auto;padding:0 0 0 25px;position:relative;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:1;-webkit-box-orient:vertical;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.wbfootlxfs p img{display:block;width:20px;height:20px;overflow:hidden;margin:0;padding:0;position:absolute;left:0;top:4px}
.wbfootlxfs span{display:block;width:100%;height:60px;overflow:hidden;line-height:60px;color:#fff;font-size:40px;font-weight:bold;white-space:nowrap;text-overflow:ellipsis;letter-spacing:2px;margin:5px auto 10px;padding:0;border-bottom:1px solid rgba(255,255,255,0.2);position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.webfoot_main .webfoot_copy{width:100%;overflow:hidden;margin:60px auto 0;padding:15px 0;border-top:1px solid rgba(255,255,255,0.2)}
.webfoot_copy p{width:60%;overflow:hidden;line-height:45px;color:rgba(255,255,255,0.3);font-size:15px;margin:0;padding:0}
.webfoot_copy p.fr{width:40%;text-align:right}
.webfoot_copy p img{display:inline-block;width:20px;height:20px;overflow:hidden;vertical-align:middle;margin:-4px 5px 0 0;padding:0}
.webfoot_copy p a{line-height:45px;color:rgba(255,255,255,0.3);font-size:15px;transition:all 0.5s;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s}
.webfoot_copy p a:hover{color:#fff}
@media (max-width:1440px){.web_foot .webfoot_main,.webfoot_main .webfoot_copy{margin:50px auto 0}
}@media (max-width:1366px){.webfoot_main .wbfootleft{width:56%}
}@media (max-width:1200px){.webfoot_main .wbfootleft{width:50%}
}@media (max-width:1080px){.webfoot_main .wbfootleft{width:46%}
.wbfootleft dl dd p{font-size:16px}
}@media (max-width:820px){.webfoot_main .wbfootleft{display:none}
.webfoot_main .wbfootright{float:none;margin:0 auto}
.webfoot_lxfs{width:100%;margin:0 auto 20px;padding:0;float:inherit}
.webfoot_lxfs .webfoot_Tel{text-align:center}
.webfoot_lxfs .wbfootlxfs{text-align:center}
.wbfootlxfs ul li{margin:0;padding:0 10px}
.webfoot_copy{width:100%;margin:0 auto;float:inherit}
.webfoot_copy p{text-align:center}
.webfoot_copy p.fl,.webfoot_copy p.fr{float:none;width:100%;text-align:center}
.kfView4{width:60px;border-radius:8px;right:2px}
.kfView4 a.kefu-lx{display:none}
.kfView4 ul{padding:0}
.kfView4 ul li:nth-child(3),.kfView4 ul li:nth-child(5){display:none}
.kfView4 ul li p{display:none!important}
.kfView4 ul li a{font-size:12px}
}@media (max-width:767px){.wbfootright .wbfootlxfs{padding:0 0 0 25px;float:left;width:88%}
.web_foot .webfoot_main,.webfoot_main .webfoot_copy{margin:20px auto 0}
#KFRightScreen{display:none!important}
}@media (max-width:430px){.webidx_links,.wbfootright .wbfootewm{display:none}
.webfoot_main .wbfootright{width:100%}
.webfoot_copy p span{display:none}
}@media (max-width:320px){.wbfootlxfs span{font-size:34px}
}