

/*■■■■■■■■　共同设定 ■■■■■■■■*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,table,tr,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ul,ul li,input, dl, dd {  padding:0; margin:0; list-style-type:none;}
img,a img{border:0;margin:0;padding:0;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
a{text-decoration:none; color:#444;-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
a:hover{text-decoration:none; }
.clear{clear:both;}

/*■■■■■■■■　基本设定　■■■■■■■■*/
body{ font-family:"微软雅黑"; font-size:12px; color:#535353; overflow-x:hidden;background:url(../image/body.jpg) repeat;}
.theme_color{ background:#363636;}
.theme_color1{ background:#ee0062;}
.theme_color2{ background:#222;}

/*-----------------  ■ common -------------------*/
.rollover:hover img {opacity: .7;filter: alpha(opacity=70);-ms-filter: "alpha(opacity=70)";-khtml-opacity: .7;/zoom: 1;}
.main{ width:1004px;margin:0 auto; position:relative; over/flow:hidden; z-index:999;}
/*-----------------  ■ header -------------------*/
.header{ width:100%; height:85px; }
.logo{ float:left; height:85px; overflow:hidden;}
.header .tel{ float:right;background:url(../image/tel.png) left 4px no-repeat; margin-top:22px; height:50px; line-he/ight:92px; padding:0 0 0 51px; color:#dcc17e; font-size:24px; line-height:22px;}
.header .tel span{ display:block; color:#dcc17e; font-size:12px;}
/*------search-------*/
.sousuo{width:1004px; margin:0 auto; position:relative;}

.isearch{ float:right; width:30px; height:30px; margin:16px 0 0; position:relative;}
.isearch span{ display:block; height:30px;background:url(../image/search.png) center top no-repeat; }



.search01{ position:absolute; top:0; right:0; z-index:99999; width:210px; overflow:visible; height:29px; bor/der:#777777 solid 1px; background:#5b5b5b; margin:11px 0 0 60px; -moz-border-radius:14px; -ms-border-radius:14px; -o-border-radius:14px; -webkit-border-radius:14px; border-radius:14px;}



.search02{ float:left;}
.search02 input.search03{  background:#5b5b5b;width:175px; font-size:12px; color:#a9a9a9 !important; font-family:'微软雅黑'; height:29px; line-height:29px; padding-left:10px; border:none; border:0; font-size:14px; -moz-border-radius:14px 0 0 14px; -ms-border-radius:14px 0 0 14px; -o-border-radius:14px 0 0 14px; -webkit-border-radius:14px 0 0 14px; border-radius:14px 0 0 14px;}
.search04{ position:absolute; z-index:99999; top:-5px; right:-15px; font-size:13px; color:#737373; font-family:'微软雅黑';border:none; border:0; background: url(../image/ss01.png) no-repeat center center; cursor:pointer; font-size:13px; z-index:99999; width:37px; height:37px;}
.search05{ float:left; width:82px;}




.jslct {color:#a9a9a9;font-family:"微软雅黑";display:inline-block;*display:inline;zoom:1;font-size:12px;position:relative;vertical-align:middle;cursor:default; width:85px; height:29px; line-height:29px; background: url(../image/k1.png) no-repeat 62px center;z-index:0;}
.jslct_hover {}
.jslct div.jslct_t {position:relative; padding-left:5px;z-index:2;*display:block!important;*display:inline;zoom:1;}
.jslct em {font-style:normal;margin:0;padding:0;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.jslct dl, .jslct dl dd {padding:0;margin:0;list-style:none}
.jslct dl {background:#5b5b5b;position:absolute;top:29px;left:0;cursor:default; width:80px; padding:0 0 0 ; overflow:hidden;z-index:1;display:none; font-size:14px; border:#737373 solid 1px;}
.jslct_hover dl {}
.jslct dl dd { box-sizing:border-box; font-size:12px; text-align:center;line-height:25px; border-/bottom:#ccc solid 1px; white-space:nowrap;cursor:pointer;-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s; color:#a9a9a9;}
.jslct dl dd:hover {color:#a9a9a9;background:#e4e4e4;  }
.jslct dl dd.hover {color:#a9a9a9;background:#e4e4e4;  }
.jslct .jslcted {}
.jslct dl dd.noborder {}
/*********nav*********/
.g_nav{ height:52px; background: url(../image/nav01.jpg) repeat-x top center; position:relative; z-index:1}
.g_nav01{ width:1020px; margin:0 auto;}
.g_nav01 table tr td{ text-align:center; height:52px; line-height:52px; position:relative;}
.g_nav01 a{ height:50px; line-height:52px; display:block; color:#fff; font-size:16px;}
.g_nav01 a:hover{ background: url(../image/nav02.jpg) repeat-x top center;}
.g_nav01 a.cur{ background: url(../image/nav02.jpg) repeat-x top center;}
.g_nav01 a.g_nav01_on{ }
.g_nav01 table {}
.g_nav01 table tr td .nav_tan{ display:none; width:100%; position:absolute; left:0; top:52px;background: url(../image/nav03.png) repeat top center; }
.g_nav01 table tr td .nav_tan a{line-height:40px; height:40px; font-size:14px; overflow:hidden; border-bottom:#f8f2e4 solid 1px;}
/*********footer*********/
.footer{ height:210px;font-size:14px;color:#777777;background: url(../image/f04.jpg) repeat top center;}
.footer a{ color:#939393;}
.footer a:hover{ color:#fff;}

.footer00{ width:880px; margin:0 auto; position:relative;}
.footer01{ float:left; width:155px;background: url(../image/f02.png) no-repeat 0 46px; padding:38px 0 0 106px; min-height:55px;_height:55px;}
.footer01 span{ padding:0 16px;}
.footer01 a{ color:#a0a0a0; display:block; float:left; width:72px; height:32px; line-height:32px; overflow:hidden;}
.footer01 a:hover{ color:#fff;}

.footer02{ float:left; background: url(../image/f03.png) no-repeat 0 46px; width:325px; padding:38px 0 0 106px; min-height:55px;height:160px; overflow: hidden;margin-left:50px;}
.footer02 a{ color:#a0a0a0; display:block; height:32px; line-height:32px; overflow:hidden;width: 33%;float: left;}
.footer02 a:hover{ color:#fff;}

.footer03{position:absolute; top:148px; right:0; background: url(../image/f01.jpg) left center no-repeat; padding-left:32px;}
.ier{ float:right; padding-top:36px;}



.footer04{ color:#666; text-align:center; height:50px; line-height:50px; background:#000; font-size:14px;}
.footer04 a{ color:#666;}
.footer04 a:hover{ color:#fff;}



.index_notice01 a{ color:#fff;}