/* eyoucms.com 易优CMS -- 好用,免费,安全 */

.banners-pc {
	clear: both;
	height: 685px;
}
.banners-pc .frame {
	height: 685px;
	background: no-repeat center center;
	background-size: cover;
}
.banners-mb {
	display: none;
	clear: both;
	height: 685px;
}
.banners-mb div {
	height: 100%;
}
.banners-mb .frame {
	height: 100%;
	background: no-repeat center center;
	background-size: cover;
}
 @media (max-width: 1024px) {
.banners-pc {
	display: none;
}
.banners-mb {
	display: block;
}
}
.main1 {
	margin-top: 40px;
}
.main1 .offset {
	padding-top: 70px;
}
.main1 .offset .list {
	overflow: hidden;
	margin-left: -100px;
	margin-bottom: -30px;
}
.main1 .offset .list > li {
	float: left;
	width: 25%;
	padding-left: 100px;
	padding-bottom: 30px;
}
.main1 .offset .list > li:nth-child(4n+1) {
	clear: both;
}
.main1 .offset .list > li .pic {
	text-align: center;
	margin-top: 5px;
	height: 224px;
	width: 224px;
}
.main1 .offset .list > li .pic img {
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	margin-top: 13px;
}
.main1 .offset .list > li .font {
	text-align: center;
}
.main1 .offset .list > li .font .p1 {
	font-size: 18px;
	color: #333;
	padding-top: 30px;
}
.main1 .offset .list > li .font .p1 .line {
	display: block;
	width: 32px;
	height: 2px;
	background: #a93f52;
	margin: 15px auto 20px auto;
}
.main1 .offset .list > li .font .p2 {
	color: #999;
	line-height: 24px;
}
.main1 .offset .list > li .font .btn {
	text-align: center;
	margin-top: 30px;
}
.main1 .offset .list > li .font .btn .more {
	display: inline-block;
	padding: 10px 40px;
	border-radius: 50px;
	color: #fff;
}
.main1 .offset .list .li1 .pic {
background:url(../image/kc_list_bg1.png) no-repeat center center;
background-size:contain;
}
.main1 .offset .list .li2 .pic {
background:url(../image/kc_list_bg2.png) no-repeat center center;
background-size:contain;
}
.main1 .offset .list .li1 .font .btn .more {
	background: #ec8520;
}
.main1 .offset .list .li2 .font .btn .more {
	background: #058bd6;
}
 @media (max-width: 1024px) {
.main1 .offset .list > li {
	width: 50%;
}
.main1 .offset .list > li:nth-child(n) {
	clear: none;
}
.main1 .offset .list > li:nth-child(2n+1) {
	clear: both;
}
.main1 .offset .list > li .pic {
	margin-left: auto;
	margin-right: auto;
}
}
 @media (max-width: 600px) {
.main1 .offset .list > li {
	width: 100%;
}
.main1 .offset .list > li:nth-child(n) {
	clear: none;
}
}
 @media (max-width: 300px) {
.main1 .offset .list > li .pic {
	height: auto;
	width: auto;
}
}
.main2 {
background:url(../image/teacher_bg.jpg) no-repeat center center;
height:780px;
padding-top:70px;
margin-top:120px;
}
.main2 .right {
	float: right;
	background: #ec8718;
}
.main2 .intro .font {
	max-width: 750px;
	padding-top: 70px;
}
.main2 .intro .font .h1 {
	font-size: 18px;
	color: #333;
	padding-bottom: 40px;
}
.main2 .intro .font .p1 {
	color: #666;
	line-height: 30px;
}
.main2 .intro .font .more {
	color: #df3d47;
	margin-top: 20px;
	display: block;
}
.main2 .intro .list {
	overflow: hidden;
	margin-left: -24px;
	margin-bottom: -20px;
	margin-top: 60px;
}
.main2 .intro .list > li {
	float: left;
	padding-left: 24px;
	padding-bottom: 20px;
}
.main2 .intro .list > li .box {
	display: block;
	position: relative;
}
.main2 .intro .list > li .box img {
	border-radius: 20px;
	display: inline-block;
	max-width: 156px;
}
.main2 .intro .list > li .box:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 4px solid #ec8718;
	opacity: 0;
	border-radius: 20px;
}
.main2 .intro .list > li .box:hover:before {
	opacity: 1;
	transition: ease .4s;
}
 @media (max-width: 950px) {
.main2 {
	background: #fbefe1;
	height: auto;
	padding-bottom: 50px;
}
.main2 .intro .font {
	max-width: none;
	text-align: center;
}
.main2 .intro .list > li {
	width: 25%;
}
.main2 .intro .list > li .box img {
	width: 100%;
	max-width: none;
}

}
 @media (max-width: 600px) {
.main2 .intro .list > li {
	width: 33.33%;
}
.main2 .intro .list > li:last-child {
	display:none;
	 
}
}
 @media (max-width: 350px) {
.main2 .intro .list > li {
	width: 50%;
}
}
.main3 {
	margin-top: 90px;
}
.main3 .top {
	overflow: hidden;
	padding-top: 70px;
}
.main3 .top .pic {
	float: left;
	padding-right: 60px;
	position: relative;
}
.main3 .top .pic .bg {
	width: 576px;
	height: 325px;
	background: #ec8520;
	display: block;
	border-radius: 20px;
}
.main3 .top .pic .tp {
	display: block;
	position: absolute;
	left: 20px;
	top: -20px;
}
.main3 .top .pic .tp img {
	border-radius: 20px;
}
.main3 .top .font {
	float: left;
	max-width: 542px;
}
.main3 .top .font .nav {
	overflow: hidden;
	padding: 14px 0;
	background: #0b8f54;
	display: inline-block;
	border-radius: 30px
}
.main3 .top .font .nav > li {
	float: left;
	padding: 0 40px;
}
.main3 .top .font .nav > li .box {
	display: block;
	color: #fff;
}
.main3 .top .font .con {
}
.main3 .top .font .con .p1 {
	font-size: 18px;
	color: #333;
	padding: 54px 0 24px 0;
}
.main3 .top .font .con .p2 {
	color: #666;
	line-height: 24px;
}
.main3 .top .font .con .more {
	color: #df3d47;
	padding-top: 20px;
	display: block;
}
.main3 .bottom {
	margin-top: 50px;
	overflow: hidden;
}
.main3 .bottom .list {
	margin-left: -40px;
	margin-bottom: -30px;
}
.main3 .bottom .list > li {
	float: left;
	width: 33.33%;
	padding-left: 40px;
	padding-bottom: 30px;
}
.main3 .bottom .list > li .box {
	background: #f1f1f1;
	display: block;
	border-radius: 20px;
	padding: 36px 40px 30px 36px;
}
.main3 .bottom .list > li .box .time {
	font-size: 18px;
	color: #999;
	padding-bottom: 15px;
}
.main3 .bottom .list > li .box .line {
	width: 34px;
	height: 2px;
	background: #ec8520;
	display: inline-block;
}
.main3 .bottom .list > li .box .p1 {
	font-size: 16px;
	color: #333;
	padding: 18px 0;
}
.main3 .bottom .list > li .box .p2 {
	color: #999;
	line-height: 24px;
}
.main3 .bottom .list > li .box:hover {
	background: #ec8520;
}
.main3 .bottom .list > li .box:hover .time {
	color: rgba(255,255,255,.6);
}
.main3 .bottom .list > li .box:hover .line {
	background: #fff;
}
.main3 .bottom .list > li .box:hover .p1 {
	color: #fff;
}
.main3 .bottom .list > li .box:hover .p2 {
	color: rgba(255,255,255,.6);
}
 @media (max-width: 1024px) {
.main3 .top .pic {
	float: none;
	padding-right: 0;
}
.main3 .top .pic .bg {
	display: none;
}
.main3 .top .pic .tp {
	position: unset;
	text-align: center;
}
.main3 .top .font {
	float: none;
	max-width: none;
	padding-top: 30px;
}
.main3 .top .font .nav {
	display: block;
	margin: 0 100px;
}
.main3 .top .font .nav > li {
	width: 50%;
}
.main3 .top .font .nav > li .box {
	text-align: center;
}
.main3 .top .font .con .more {
	text-align: center;
}
.main3 .bottom .list > li {
	width: 50%;
}
.main3 .bottom .list > li .box {
	padding: 20px 20px;
}
}
 @media (max-width: 700px) {
.main3 .top .font .nav {
	margin: 0;
}
.main3 .bottom .list > li {
	width: 100%;
}
.main3 .bottom .list > li .box {
	padding: 20px 10px;
}
}
